.weapon_7, .armor_6, .head_6, .shield_6 {
    /*background: url("../img/sprites/backer-only/BackerOnly-SpriteSheet.png") no-repeat*/
    width: 105px;
    height: 105px;

    /*FIXME - not he best way of handling the alignment issues*/
    margin-left: -3px;
    margin-top: -18px;
}

.head_6 {
    background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeHelmet.gif") no-repeat;
}

.armor_6 {
    background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeArmor.gif") no-repeat;
}

.shield_6 {
    background: url("../img/sprites/backer-only/BackerOnly-Shield-TormentedSkull.gif") no-repeat;
}

.weapon_7 {
    background: url("../img/sprites/backer-only/BackerOnly-Weapon-DarkSoulsBlade.gif") no-repeat;
}

.Pet-Wolf-Cerberus {
    width: 105px;
    height: 72px;
    background: url("../img/sprites/backer-only/BackerOnly-Pet-CerberusPup.gif") no-repeat;
}

.shop_shield_6 {background-position: -1040px 0}
.shop_weapon_7 {background-position: -1080px 0}
.shop_armor_6 {background-position: -1160px 0}
.shop_head_6 {background-position: -1120px 0}

