/* These sprites are oversized until a move to 105 avatar box happens*/

/* Backer */
.weapon_special_0, .head_special_0 {
  width: 105px;
  height: 105px;
  margin-left: -3px;
  margin-top: -18px;
}
.slim_armor_special_0, .broad_armor_special_0, .shield_special_0 {
  width: 90px;
  height: 90px;
}

/* This is oversized until a move to 105 avatar box happens*/
.weapon_special_1 {
  height: 105px;
  margin-left: -11px;
  margin-top: 6px;
}
.broad_armor_special_1, .slim_armor_special_1, .head_special_1 {
  width: 90px;
  height: 90px;
}

.head_special_0 {
  background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeHelmet.gif") no-repeat;
}
.head_special_1 {
  background: url("../img/sprites/backer-only/ContributorOnly-Equip-CrystalHelmet.gif") no-repeat;
  margin-top: 3px;
}

.broad_armor_special_0,.slim_armor_special_0 {
  background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeArmor.gif") no-repeat;
}
.broad_armor_special_1,.slim_armor_special_1 {
  background: url("../img/sprites/backer-only/ContributorOnly-Equip-CrystalArmor.gif") no-repeat;
}

.shield_special_0 {
  background: url("../img/sprites/backer-only/BackerOnly-Shield-TormentedSkull.gif") no-repeat;
}

.weapon_special_0 {
  background: url("../img/sprites/backer-only/BackerOnly-Weapon-DarkSoulsBlade.gif") no-repeat;
}

.Pet-Wolf-Cerberus {
  width: 105px;
  height: 72px;
  background: url("../img/sprites/backer-only/BackerOnly-Pet-CerberusPup.gif") no-repeat;
}
/*.Pet-Dragon-Hydra {
  width: 106px;
  height: 89px;
}*/