/* These sprites are oversized until a move to 105 avatar box happens*/
.weapon_7, .head_6 {
  width: 105px;
  height: 105px;
  margin-left: -3px;
  margin-top: -18px;
}

.armor_6, .shield_6 {
  width: 90px;
  height: 90px;
}

/* This is oversized until a move to 105 avatar box happens*/
.weapon_8 {
  width: 105px;
  height: 105px;
  margin-left: -9px;
  margin-top: -15px;
}
.armor_7, .head_7, .shield_7 {
  width: 90px;
  height: 90px;
}

.head_6 {
  background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeHelmet.gif") no-repeat;
}
.head_7 {
  background: url("../img/sprites/backer-only/ContributorOnly-Equip-CrystalHelmet.gif") no-repeat;
}

.armor_6 {
  background: url("../img/sprites/backer-only/BackerOnly-Equip-ShadeArmor.gif") no-repeat;
}
.armor_7 {
  background: url("../img/sprites/backer-only/ContributorOnly-Equip-CrystalArmor.gif") no-repeat;
}

.shield_6 {
  background: url("../img/sprites/backer-only/BackerOnly-Shield-TormentedSkull.gif") no-repeat;
}
.shield_7 {
  background: url("../img/sprites/backer-only/ContributorOnly-Shield-Crystal.png") no-repeat;
}

.weapon_7 {
  background: url("../img/sprites/backer-only/BackerOnly-Weapon-DarkSoulsBlade.gif") no-repeat;
}
.weapon_8 {
  background: url("../img/sprites/backer-only/ContributorOnly-Weapon-CrystalBlade.png") no-repeat;
}

.Pet-Wolf-Cerberus {
  width: 105px;
  height: 72px;
  background: url("../img/sprites/backer-only/BackerOnly-Pet-CerberusPup.gif") no-repeat;
}
.Pet-Dragon-Hydra {
  width: 106px;
  height: 89px;
  background: url("../img/sprites/backer-only/ContributorOnly-Pet-Hydra.png") no-repeat;
}

.shop_shield_6 {background-position: -1040px 0}
.shop_weapon_7 {background-position: -1080px 0}
.shop_head_6 {background-position: -1120px 0}
.shop_armor_6 {background-position: -1160px 0}

.shop_shield_7 {background-position: -1320px 0}
.shop_weapon_8 {background-position: -1360px 0}
.shop_head_7 {background-position: -1400px 0}
.shop_armor_7 {background-position: -1440px 0}

