/* Female */
.customize-menu .f_head_0       {width: 60px; height: 60px; background-position: -1917px -9px;}
.customize-menu .f_armor_0_v2   {width: 60px; height: 60px; background-position: -2819px -38px;}
.customize-menu .f_armor_0_v1   {width: 60px; height: 60px; background-position: -2909px -38px;}

.customize-menu .f_hair_white   {width: 60px; height: 60px; background-position: -2009px -8px;}
.customize-menu .f_hair_brown   {width: 60px; height: 60px; background-position: -2099px -8px;}
.customize-menu .f_hair_black   {width: 60px; height: 60px; background-position: -2189px -8px;}
.customize-menu .f_hair_blond   {width: 60px; height: 60px; background-position: -2279px -8px;}
.customize-menu .f_hair_red     {width: 60px; height: 60px; background-position: -4979px -8px;}

.customize-menu .f_skin_dead    {width: 60px; height: 60px; background-position: -2997px -20px;}
.customize-menu .f_skin_orc     {width: 60px; height: 60px; background-position: -3087px -20px;}
.customize-menu .f_skin_asian   {width: 60px; height: 60px; background-position: -3177px -20px;}
.customize-menu .f_skin_black   {width: 60px; height: 60px; background-position: -3267px -20px;}
.customize-menu .f_skin_white   {width: 60px; height: 60px; background-position: -3357px -20px;}
.customize-menu .f_skin_ea8349  {width: 60px; height: 60px; background-position: -3448px -21px;}
.customize-menu .f_skin_c06534  {width: 60px; height: 60px; background-position: -3539px -21px;}
.customize-menu .f_skin_98461a  {width: 60px; height: 60px; background-position: -3629px -21px;}

.customize-menu .f_skin_eb052b   {width: 60px; height: 60px; background-position: -3719px -20px;}
.customize-menu .f_skin_f69922   {width: 60px; height: 60px; background-position: -3809px -20px;}
.customize-menu .f_skin_f5d70f   {width: 60px; height: 60px; background-position: -3899px -20px;}
.customize-menu .f_skin_0ff591   {width: 60px; height: 60px; background-position: -3989px -20px;}
.customize-menu .f_skin_2b43f6   {width: 60px; height: 60px; background-position: -4079px -20px;}
.customize-menu .f_skin_d7a9f7   {width: 60px; height: 60px; background-position: -4169px -21px;}
.customize-menu .f_skin_800ed0   {width: 60px; height: 60px; background-position: -4259px -21px;}
.customize-menu .f_skin_rainbow  {width: 60px; height: 60px; background-position: -4349px -21px;}

.customize-menu .f_skin_monster   {width: 60px; height: 60px; background-position: -4439px -20px;}
.customize-menu .f_skin_pumpkin   {width: 60px; height: 60px; background-position: -4529px -20px;}
.customize-menu .f_skin_skeleton  {width: 60px; height: 60px; background-position: -4619px -20px;}
.customize-menu .f_skin_zombie    {width: 60px; height: 60px; background-position: -4709px -20px;}
.customize-menu .f_skin_ghost     {width: 60px; height: 60px; background-position: -4799px -20px;}
.customize-menu .f_skin_shadow    {width: 60px; height: 60px; background-position: -4889px -21px;}

/* Male */
.customize-menu .m_head_0       {width: 60px; height: 60px; background-position: -1557px -9px;}

.customize-menu .m_hair_blond   {width: 60px; height: 60px; background-position: -1649px -6px;}
.customize-menu .m_hair_black   {width: 60px; height: 60px; background-position: -1737px -6px;}
.customize-menu .m_hair_brown   {width: 60px; height: 60px; background-position: -1827px -6px;}
.customize-menu .m_hair_white   {width: 60px; height: 60px; background-position: -1917px -6px;}
.customize-menu .m_hair_red     {width: 60px; height: 60px; background-position: -4528px -6px;}

.customize-menu .m_skin_dead    {width: 60px; height: 60px; background-position: -2547px -20px;}
.customize-menu .m_skin_orc     {width: 60px; height: 60px; background-position: -2637px -20px;}
.customize-menu .m_skin_asian   {width: 60px; height: 60px; background-position: -2727px -20px;}
.customize-menu .m_skin_black   {width: 60px; height: 60px; background-position: -2817px -20px;}
.customize-menu .m_skin_white   {width: 60px; height: 60px; background-position: -2907px -20px;}
.customize-menu .m_skin_ea8349  {width: 60px; height: 60px; background-position: -2999px -20px;}
.customize-menu .m_skin_c06534  {width: 60px; height: 60px; background-position: -3087px -20px;}
.customize-menu .m_skin_98461a  {width: 60px; height: 60px; background-position: -3178px -20px;}

.customize-menu .m_skin_eb052b  {width: 60px; height: 60px; background-position: -3268px -20px;}
.customize-menu .m_skin_f69922  {width: 60px; height: 60px; background-position: -3358px -20px;}
.customize-menu .m_skin_f5d70f  {width: 60px; height: 60px; background-position: -3448px -20px;}
.customize-menu .m_skin_0ff591  {width: 60px; height: 60px; background-position: -3538px -20px;}
.customize-menu .m_skin_2b43f6  {width: 60px; height: 60px; background-position: -3628px -20px;}
.customize-menu .m_skin_d7a9f7  {width: 60px; height: 60px; background-position: -3718px -20px;}
.customize-menu .m_skin_800ed0  {width: 60px; height: 60px; background-position: -3808px -20px;}
.customize-menu .m_skin_rainbow {width: 60px; height: 60px; background-position: -3898px -20px;}

.customize-menu .m_skin_monster  {width: 60px; height: 60px; background-position: -3988px -20px;}
.customize-menu .m_skin_pumpkin  {width: 60px; height: 60px; background-position: -4078px -20px;}
.customize-menu .m_skin_skeleton {width: 60px; height: 60px; background-position: -4168px -20px;}
.customize-menu .m_skin_zombie   {width: 60px; height: 60px; background-position: -4258px -20px;}
.customize-menu .m_skin_ghost    {width: 60px; height: 60px; background-position: -4348px -20px;}
.customize-menu .m_skin_shadow   {width: 60px; height: 60px; background-position: -4438px -20px;}

/* Both */
.customize-menu .locked {
  background-color: #727272;
}