.f_weapon_6,
.f_weapon_5,
.f_weapon_4,
.f_weapon_3,
.f_weapon_2,
.f_weapon_1,
.f_weapon_0,
.f_shield_5,
.f_shield_4,
.f_shield_3,
.f_shield_2,
.f_shield_1,
.f_head_5_v2,
.f_head_5_v1,
.f_head_4_v2,
.f_head_4_v1,
.f_head_3_v2,
.f_head_3_v1,
.f_head_2_v2,
.f_head_2_v1,
.f_head_1,
.f_head_0,
.f_hair_white,
.f_hair_brown,
.f_hair_black,
.f_hair_blond,
.f_armor_5,
.f_armor_4,
.f_armor_3,
.f_armor_2,
.f_armor_1,
.f_armor_0_v2,
.f_armor_0_v1,
.f_skin_dead,
.f_skin_orc,
.f_skin_asian,
.f_skin_black,
.f_skin_white,
.f_skin_ea8349,
.f_skin_c06534,
.f_skin_98461a {
    background: url("../img/sprites/female_sprites.png") no-repeat;
}

.f_weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.f_weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.f_weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.f_weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.f_weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.f_weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.f_weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.f_shield_5 {background-position: -630px 0; width: 90px; height: 90px}
.f_shield_4 {background-position: -720px 0; width: 90px; height: 90px}
.f_shield_3 {background-position: -810px 0; width: 90px; height: 90px}
.f_shield_2 {background-position: -900px 0; width: 90px; height: 90px}
.f_shield_1 {background-position: -990px 0; width: 90px; height: 90px}
.f_head_5_v2 {background-position: -1080px 0; width: 90px; height: 90px}
.f_head_5_v1 {background-position: -1170px 0; width: 90px; height: 90px}
.f_head_4_v2 {background-position: -1260px 0; width: 90px; height: 90px}
.f_head_4_v1 {background-position: -1350px 0; width: 90px; height: 90px}
.f_head_3_v2 {background-position: -1440px 0; width: 90px; height: 90px}
.f_head_3_v1 {background-position: -1530px 0; width: 90px; height: 90px}
.f_head_2_v2 {background-position: -1620px 0; width: 90px; height: 90px}
.f_head_2_v1 {background-position: -1710px 0; width: 90px; height: 90px}
.f_head_1 {background-position: -1800px 0; width: 90px; height: 90px}
.f_head_0 {background-position: -1890px 0; width: 90px; height: 90px}
.f_hair_white {background-position: -1980px 0; width: 90px; height: 90px}
.f_hair_brown {background-position: -2070px 0; width: 90px; height: 90px}
.f_hair_black {background-position: -2160px 0; width: 90px; height: 90px}
.f_hair_blond {background-position: -2250px 0; width: 90px; height: 90px}
.f_armor_5 {background-position: -2340px 0; width: 90px; height: 90px}
.f_armor_4 {background-position: -2430px 0; width: 90px; height: 90px}
.f_armor_3 {background-position: -2520px 0; width: 90px; height: 90px}
.f_armor_2 {background-position: -2610px 0; width: 90px; height: 90px}
.f_armor_1 {background-position: -2700px 0; width: 90px; height: 90px}
.f_armor_0_v2 {background-position: -2790px 0; width: 90px; height: 90px}
.f_armor_0_v1 {background-position: -2880px 0; width: 90px; height: 90px}
.f_skin_dead {background-position: -2970px 0; width: 90px; height: 90px}
.f_skin_orc {background-position: -3060px 0; width: 90px; height: 90px}
.f_skin_asian {background-position: -3150px 0; width: 90px; height: 90px}
.f_skin_black {background-position: -3240px 0; width: 90px; height: 90px}
.f_skin_white {background-position: -3330px 0; width: 90px; height: 90px}
.f_skin_ea8349 {background-position: -3420px 0; width: 90px; height: 90px}
.f_skin_c06534 {background-position: -3510px 0; width: 90px; height: 90px}
.f_skin_98461a {background-position: -3600px 0; width: 90px; height: 90px}