.m_weapon_6,
.m_weapon_5,
.m_weapon_4,
.m_weapon_3,
.m_weapon_2,
.m_weapon_1,
.m_weapon_0,
.m_shield_5,
.m_shield_4,
.m_shield_3,
.m_shield_2,
.m_shield_1,
.m_head_5,
.m_head_4,
.m_head_3,
.m_head_2,
.m_head_1,
.m_head_0,
.m_hair_blond,
.m_hair_black,
.m_hair_brown,
.m_hair_white,
.m_armor_5,
.m_armor_4,
.m_armor_3,
.m_armor_2,
.m_armor_1,
.m_armor_0,
.m_skin_dead,
.m_skin_orc,
.m_skin_asian,
.m_skin_black,
.m_skin_white, 
.m_skin_ea8349,
.m_skin_c06534,
.m_skin_98461a {
    background: url("../img/sprites/male_sprites.png") no-repeat;
}

.m_weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.m_weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.m_weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.m_weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.m_weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.m_weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.m_weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.m_shield_5 {background-position: -630px 0; width: 90px; height: 90px}
.m_shield_4 {background-position: -720px 0; width: 90px; height: 90px}
.m_shield_3 {background-position: -810px 0; width: 90px; height: 90px}
.m_shield_2 {background-position: -900px 0; width: 90px; height: 90px}
.m_shield_1 {background-position: -990px 0; width: 90px; height: 90px}
.m_head_5 {background-position: -1080px 0; width: 90px; height: 90px}
.m_head_4 {background-position: -1170px 0; width: 90px; height: 90px}
.m_head_3 {background-position: -1260px 0; width: 90px; height: 90px}
.m_head_2 {background-position: -1350px 0; width: 90px; height: 90px}
.m_head_1 {background-position: -1440px 0; width: 90px; height: 90px}
.m_head_0 {background-position: -1530px 0; width: 90px; height: 90px}
.m_hair_blond {background-position: -1620px 0; width: 90px; height: 90px}
.m_hair_black {background-position: -1710px 0; width: 90px; height: 90px}
.m_hair_brown {background-position: -1800px 0; width: 90px; height: 90px}
.m_hair_white {background-position: -1890px 0; width: 90px; height: 90px}
.m_armor_5 {background-position: -1980px 0; width: 90px; height: 90px}
.m_armor_4 {background-position: -2070px 0; width: 90px; height: 90px}
.m_armor_3 {background-position: -2160px 0; width: 90px; height: 90px}
.m_armor_2 {background-position: -2250px 0; width: 90px; height: 90px}
.m_armor_1 {background-position: -2340px 0; width: 90px; height: 90px}
.m_armor_0 {background-position: -2430px 0; width: 90px; height: 90px}
.m_skin_dead {background-position: -2520px 0; width: 90px; height: 90px}
.m_skin_orc {background-position: -2610px 0; width: 90px; height: 90px}
.m_skin_asian {background-position: -2700px 0; width: 90px; height: 90px}
.m_skin_black {background-position: -2790px 0; width: 90px; height: 90px}
.m_skin_white {background-position: -2880px 0; width: 90px; height: 90px}
.m_skin_ea8349 {background-position: -2970px 0; width: 90px; height: 90px}
.m_skin_c06534 {background-position: -3060px 0; width: 90px; height: 90px}
.m_skin_98461a {background-position: -3150px 0; width: 90px; height: 90px}