.Pet-Wolf-Zombie, .Pet-Wolf-White, .Pet-Wolf-Veteran, .Pet-Wolf-Skeleton, .Pet-Wolf-Shade, .Pet-Wolf-Red, .Pet-Wolf-Golden, .Pet-Wolf-Desert, .Pet-Wolf-CottonCandyPink, .Pet-Wolf-CottonCandyBlue, .Pet-TigerCub-Zombie, .Pet-TigerCub-White, .Pet-TigerCub-Skeleton, .Pet-TigerCub-Shade, .Pet-TigerCub-Red, .Pet-TigerCub-Golden, .Pet-TigerCub-Desert, .Pet-TigerCub-CottonCandyPink, .Pet-TigerCub-CottonCandyBlue, .Pet-TigerCub-Base, .Pet-PolarBearCub-Base, .Pet-PandaCub-Zombie, .Pet-PandaCub-White, .Pet-PandaCub-Skeleton, .Pet-PandaCub-Shade, .Pet-PandaCub-Red, .Pet-PandaCub-Golden, .Pet-PandaCub-Desert, .Pet-PandaCub-CottonCandyPink, .Pet-PandaCub-CottonCandyBlue, .Pet-PandaCub-Base, .Pet-LionCub-Zombie, .Pet-LionCub-White, .Pet-LionCub-Skeleton, .Pet-LionCub-Shade, .Pet-LionCub-Red, .Pet-LionCub-Golden, .Pet-LionCub-Desert, .Pet-LionCub-CottonCandyPink, .Pet-LionCub-CottonCandyBlue, .Pet-LionCub-Base, .Pet-Fox-Zombie, .Pet-Fox-White, .Pet-Fox-Skeleton, .Pet-Fox-Shade, .Pet-Fox-Red, .Pet-Fox-Golden, .Pet-Fox-Desert, .Pet-Fox-CottonCandyPink, .Pet-Fox-CottonCandyBlue, .Pet-Fox-Base, .Pet-FlyingPig-Zombie, .Pet-FlyingPig-White, .Pet-FlyingPig-Skeleton, .Pet-FlyingPig-Shade, .Pet-FlyingPig-Red, .Pet-FlyingPig-Golden, .Pet-FlyingPig-Desert, .Pet-FlyingPig-CottonCandyPink, .Pet-FlyingPig-CottonCandyBlue, .Pet-FlyingPig-Base, .Pet-Dragon-Zombie, .Pet-Dragon-White, .Pet-Dragon-Skeleton, .Pet-Dragon-Shade, .Pet-Dragon-Red, .Pet-Dragon-Golden, .Pet-Dragon-Desert, .Pet-Dragon-CottonCandyPink, .Pet-Dragon-CottonCandyBlue, .Pet-Dragon-Base, .Pet-Cactus-Skeleton, .Pet-Cactus-Red, .Pet-Cactus-Zombie, .Pet-Cactus-Shade, .Pet-Cactus-Golden, .Pet-Cactus-White, .Pet-Cactus-CottonCandyPink, .Pet-Cactus-CottonCandyBlue, .Pet-Cactus-Desert, .Pet-Cactus-Base, .Pet-BearCub-Zombie, .Pet-BearCub-White, .Pet-BearCub-Skeleton, .Pet-BearCub-Shade, .Pet-BearCub-Red, .Pet-BearCub-Golden, .Pet-BearCub-Desert, .Pet-BearCub-CottonCandyPink, .Pet-BearCub-CottonCandyBlue, .Pet-BearCub-Base, .Pet-Wolf-Base {background: url("../img/sprites/pet_sprites.png") no-repeat}

.Pet-Wolf-Zombie {background-position: 0 0; width: 81px; height: 99px}
.Pet-Wolf-White {background-position: -81px 0; width: 81px; height: 99px}
.Pet-Wolf-Veteran {background-position: -162px 0; width: 81px; height: 99px}
.Pet-Wolf-Skeleton {background-position: -243px 0; width: 81px; height: 99px}
.Pet-Wolf-Shade {background-position: -324px 0; width: 81px; height: 99px}
.Pet-Wolf-Red {background-position: -405px 0; width: 81px; height: 99px}
.Pet-Wolf-Golden {background-position: -486px 0; width: 81px; height: 99px}
.Pet-Wolf-Desert {background-position: -567px 0; width: 81px; height: 99px}
.Pet-Wolf-CottonCandyPink {background-position: -648px 0; width: 81px; height: 99px}
.Pet-Wolf-CottonCandyBlue {background-position: -729px 0; width: 81px; height: 99px}
.Pet-TigerCub-Zombie {background-position: -810px 0; width: 81px; height: 99px}
.Pet-TigerCub-White {background-position: -891px 0; width: 81px; height: 99px}
.Pet-TigerCub-Skeleton {background-position: -972px 0; width: 81px; height: 99px}
.Pet-TigerCub-Shade {background-position: -1053px 0; width: 81px; height: 99px}
.Pet-TigerCub-Red {background-position: -1134px 0; width: 81px; height: 99px}
.Pet-TigerCub-Golden {background-position: -1215px 0; width: 81px; height: 99px}
.Pet-TigerCub-Desert {background-position: -1296px 0; width: 81px; height: 99px}
.Pet-TigerCub-CottonCandyPink {background-position: -1377px 0; width: 81px; height: 99px}
.Pet-TigerCub-CottonCandyBlue {background-position: -1458px 0; width: 81px; height: 99px}
.Pet-TigerCub-Base {background-position: -1539px 0; width: 81px; height: 99px}
.Pet-PolarBearCub-Base {background-position: -1620px 0; width: 81px; height: 99px}
.Pet-PandaCub-Zombie {background-position: -1701px 0; width: 81px; height: 99px}
.Pet-PandaCub-White {background-position: -1782px 0; width: 81px; height: 99px}
.Pet-PandaCub-Skeleton {background-position: -1863px 0; width: 81px; height: 99px}
.Pet-PandaCub-Shade {background-position: -1944px 0; width: 81px; height: 99px}
.Pet-PandaCub-Red {background-position: -2025px 0; width: 81px; height: 99px}
.Pet-PandaCub-Golden {background-position: -2106px 0; width: 81px; height: 99px}
.Pet-PandaCub-Desert {background-position: -2187px 0; width: 81px; height: 99px}
.Pet-PandaCub-CottonCandyPink {background-position: -2268px 0; width: 81px; height: 99px}
.Pet-PandaCub-CottonCandyBlue {background-position: -2349px 0; width: 81px; height: 99px}
.Pet-PandaCub-Base {background-position: -2430px 0; width: 81px; height: 99px}
.Pet-LionCub-Zombie {background-position: -2511px 0; width: 81px; height: 99px}
.Pet-LionCub-White {background-position: -2592px 0; width: 81px; height: 99px}
.Pet-LionCub-Skeleton {background-position: -2673px 0; width: 81px; height: 99px}
.Pet-LionCub-Shade {background-position: -2754px 0; width: 81px; height: 99px}
.Pet-LionCub-Red {background-position: -2835px 0; width: 81px; height: 99px}
.Pet-LionCub-Golden {background-position: -2916px 0; width: 81px; height: 99px}
.Pet-LionCub-Desert {background-position: -2997px 0; width: 81px; height: 99px}
.Pet-LionCub-CottonCandyPink {background-position: -3078px 0; width: 81px; height: 99px}
.Pet-LionCub-CottonCandyBlue {background-position: -3159px 0; width: 81px; height: 99px}
.Pet-LionCub-Base {background-position: -3240px 0; width: 81px; height: 99px}
.Pet-Fox-Zombie {background-position: -3321px 0; width: 81px; height: 99px}
.Pet-Fox-White {background-position: -3402px 0; width: 81px; height: 99px}
.Pet-Fox-Skeleton {background-position: -3483px 0; width: 81px; height: 99px}
.Pet-Fox-Shade {background-position: -3564px 0; width: 81px; height: 99px}
.Pet-Fox-Red {background-position: -3645px 0; width: 81px; height: 99px}
.Pet-Fox-Golden {background-position: -3726px 0; width: 81px; height: 99px}
.Pet-Fox-Desert {background-position: -3807px 0; width: 81px; height: 99px}
.Pet-Fox-CottonCandyPink {background-position: -3888px 0; width: 81px; height: 99px}
.Pet-Fox-CottonCandyBlue {background-position: -3969px 0; width: 81px; height: 99px}
.Pet-Fox-Base {background-position: -4050px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Zombie {background-position: -4131px 0; width: 81px; height: 99px}
.Pet-FlyingPig-White {background-position: -4212px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Skeleton {background-position: -4293px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Shade {background-position: -4374px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Red {background-position: -4455px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Golden {background-position: -4536px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Desert {background-position: -4617px 0; width: 81px; height: 99px}
.Pet-FlyingPig-CottonCandyPink {background-position: -4698px 0; width: 81px; height: 99px}
.Pet-FlyingPig-CottonCandyBlue {background-position: -4779px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Base {background-position: -4860px 0; width: 81px; height: 99px}
.Pet-Dragon-Zombie {background-position: -4941px 0; width: 81px; height: 99px}
.Pet-Dragon-White {background-position: -5022px 0; width: 81px; height: 99px}
.Pet-Dragon-Skeleton {background-position: -5103px 0; width: 81px; height: 99px}
.Pet-Dragon-Shade {background-position: -5184px 0; width: 81px; height: 99px}
.Pet-Dragon-Red {background-position: -5265px 0; width: 81px; height: 99px}
.Pet-Dragon-Golden {background-position: -5346px 0; width: 81px; height: 99px}
.Pet-Dragon-Desert {background-position: -5427px 0; width: 81px; height: 99px}
.Pet-Dragon-CottonCandyPink {background-position: -5508px 0; width: 81px; height: 99px}
.Pet-Dragon-CottonCandyBlue {background-position: -5589px 0; width: 81px; height: 99px}
.Pet-Dragon-Base {background-position: -5670px 0; width: 81px; height: 99px}
.Pet-Cactus-Zombie {background-position: -5913px 0; width: 81px; height: 99px}
.Pet-Cactus-White {background-position: -6156px 0; width: 81px; height: 99px}
.Pet-Cactus-Skeleton {background-position: -5751px 0; width: 81px; height: 99px}
.Pet-Cactus-Red {background-position: -5832px 0; width: 81px; height: 99px}
.Pet-Cactus-Shade {background-position: -5994px 0; width: 81px; height: 99px}
.Pet-Cactus-Golden {background-position: -6075px 0; width: 81px; height: 99px}
.Pet-Cactus-Desert {background-position: -6399px 0; width: 81px; height: 99px}
.Pet-Cactus-CottonCandyPink {background-position: -6237px 0; width: 81px; height: 99px}
.Pet-Cactus-CottonCandyBlue {background-position: -6318px 0; width: 81px; height: 99px}
.Pet-Cactus-Base {background-position: -6480px 0; width: 81px; height: 99px}
.Pet-BearCub-Zombie {background-position: -6561px 0; width: 81px; height: 99px}
.Pet-BearCub-White {background-position: -6642px 0; width: 81px; height: 99px}
.Pet-BearCub-Skeleton {background-position: -6723px 0; width: 81px; height: 99px}
.Pet-BearCub-Shade {background-position: -6804px 0; width: 81px; height: 99px}
.Pet-BearCub-Red {background-position: -6885px 0; width: 81px; height: 99px}
.Pet-BearCub-Golden {background-position: -6966px 0; width: 81px; height: 99px}
.Pet-BearCub-Desert {background-position: -7047px 0; width: 81px; height: 99px}
.Pet-BearCub-CottonCandyPink {background-position: -7128px 0; width: 81px; height: 99px}
.Pet-BearCub-CottonCandyBlue {background-position: -7209px 0; width: 81px; height: 99px}
.Pet-BearCub-Base {background-position: -7290px 0; width: 81px; height: 99px}
.Pet-Wolf-Base {background-position: -7371px 0; width: 81px; height: 99px}
.Pet-Egg {background: url("../img/sprites/egg.png") no-repeat; width: 39px; height: 42px;}
.Gems{background: url("../img/sprites/Egg_Sprite_Sheet.png"); background-position: -57px 50px; display:inline-block; margin-right:5px;border-style:none; width: 30px; height: 30px}
