.weapon_6, .weapon_5, .weapon_4, .weapon_3, .weapon_2, .weapon_1, .weapon_0, .skin_white, .skin_pale, .skin_orc, .skin_dead, .skin_black, .skin_asian, .shield_5_v1, .shield_5_v0, .shield_4_v0, .shield_3_v1, .shield_3_v0, .shield_2_v1, .shield_2_v0, .shield_1_v1, .shield_1_v0, _shield_4_v1, .nh_hair_white_v1, .nh_hair_white_v0, .nh_hair_brown_v1, .nh_hair_brown_v0, .nh_hair_blond_v1, .nh_hair_blond_v0, .nh_hair_black_v1, .nh_hair_black_v0, .head_5_v2, .head_5_v1, .head_5_v0, .head_4_v2, .head_4_v1, .head_4_v0, .head_3_v2, .head_3_v1, .head_3_v0, .head_2_v2, .head_2_v1, .head_2_v0, .head_1_v1, .head_1_v0, .head_0_v1, .head_0_v0, .hair_white_v1, .hair_white_v0, .hair_brown_v1, .hair_brown_v0, .hair_blond_v1, .hair_blond_v0, .hair_black_v1, .hair_black_v0, .armor_5_v1, .armor_5_v0, .armor_4_v1, .armor_4_v0, .armor_3_v1, .armor_3_v0, .armor_2_v0, .armor_1_v1, .armor_1_v0, .armor_0_v11, .armor_0_v10, .armor_0_v9, .armor_0_v8, .armor_0_v7, .armor_0_v6, .armor_0_v5, .armor_0_v4, .armor_0_v3, .armor_0_v2, .armor_0_v1, .armor_0_v0 {background: url(../img/sprites/player_sprites.png) no-repeat}
.weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.skin_white {background-position: -630px 0; width: 90px; height: 90px}
.skin_pale {background-position: -720px 0; width: 90px; height: 90px}
.skin_orc {background-position: -810px 0; width: 90px; height: 90px}
.skin_dead {background-position: -900px 0; width: 90px; height: 90px}
.skin_black {background-position: -990px 0; width: 90px; height: 90px}
.skin_asian {background-position: -1080px 0; width: 90px; height: 90px}
.shield_5_v1 {background-position: -1170px 0; width: 90px; height: 90px}
.shield_5_v0 {background-position: -1260px 0; width: 90px; height: 90px}
.shield_4_v0 {background-position: -1350px 0; width: 90px; height: 90px}
.shield_3_v1 {background-position: -1440px 0; width: 90px; height: 90px}
.shield_3_v0 {background-position: -1530px 0; width: 90px; height: 90px}
.shield_2_v1 {background-position: -1620px 0; width: 90px; height: 90px}
.shield_2_v0 {background-position: -1710px 0; width: 90px; height: 90px}
.shield_1_v1 {background-position: -1800px 0; width: 90px; height: 90px}
.shield_1_v0 {background-position: -1890px 0; width: 90px; height: 90px}
._shield_4_v1 {background-position: -1980px 0; width: 90px; height: 90px}
.nh_hair_white_v1 {background-position: -2070px 0; width: 90px; height: 90px}
.nh_hair_white_v0 {background-position: -2160px 0; width: 90px; height: 90px}
.nh_hair_brown_v1 {background-position: -2250px 0; width: 90px; height: 90px}
.nh_hair_brown_v0 {background-position: -2340px 0; width: 90px; height: 90px}
.nh_hair_blond_v1 {background-position: -2430px 0; width: 90px; height: 90px}
.nh_hair_blond_v0 {background-position: -2520px 0; width: 90px; height: 90px}
.nh_hair_black_v1 {background-position: -2610px 0; width: 90px; height: 90px}
.nh_hair_black_v0 {background-position: -2700px 0; width: 90px; height: 90px}
.head_5_v2 {background-position: -2790px 0; width: 90px; height: 90px}
.head_5_v1 {background-position: -2880px 0; width: 90px; height: 90px}
.head_5_v0 {background-position: -2970px 0; width: 90px; height: 90px}
.head_4_v2 {background-position: -3060px 0; width: 90px; height: 90px}
.head_4_v1 {background-position: -3150px 0; width: 90px; height: 90px}
.head_4_v0 {background-position: -3240px 0; width: 90px; height: 90px}
.head_3_v2 {background-position: -3330px 0; width: 90px; height: 90px}
.head_3_v1 {background-position: -3420px 0; width: 90px; height: 90px}
.head_3_v0 {background-position: -3510px 0; width: 90px; height: 90px}
.head_2_v2 {background-position: -3600px 0; width: 90px; height: 90px}
.head_2_v1 {background-position: -3690px 0; width: 90px; height: 90px}
.head_2_v0 {background-position: -3780px 0; width: 90px; height: 90px}
.head_1_v1 {background-position: -3870px 0; width: 90px; height: 90px}
.head_1_v0 {background-position: -3960px 0; width: 90px; height: 90px}
.head_0_v1 {background-position: -4050px 0; width: 90px; height: 90px}
.head_0_v0 {background-position: -4140px 0; width: 90px; height: 90px}
.hair_white_v1 {background-position: -4230px 0; width: 90px; height: 90px}
.hair_white_v0 {background-position: -4320px 0; width: 90px; height: 90px}
.hair_brown_v1 {background-position: -4410px 0; width: 90px; height: 90px}
.hair_brown_v0 {background-position: -4500px 0; width: 90px; height: 90px}
.hair_blond_v1 {background-position: -4590px 0; width: 90px; height: 90px}
.hair_blond_v0 {background-position: -4680px 0; width: 90px; height: 90px}
.hair_black_v1 {background-position: -4770px 0; width: 90px; height: 90px}
.hair_black_v0 {background-position: -4860px 0; width: 90px; height: 90px}
.armor_5_v1 {background-position: -4950px 0; width: 90px; height: 90px}
.armor_5_v0 {background-position: -5040px 0; width: 90px; height: 90px}
.armor_4_v1 {background-position: -5130px 0; width: 90px; height: 90px}
.armor_4_v0 {background-position: -5220px 0; width: 90px; height: 90px}
.armor_3_v1 {background-position: -5310px 0; width: 90px; height: 90px}
.armor_3_v0 {background-position: -5400px 0; width: 90px; height: 90px}
.armor_2_v0 {background-position: -5490px 0; width: 90px; height: 90px}
.armor_1_v1 {background-position: -5580px 0; width: 90px; height: 90px}
.armor_1_v0 {background-position: -5670px 0; width: 90px; height: 90px}
.armor_0_v11 {background-position: -5760px 0; width: 90px; height: 90px}
.armor_0_v10 {background-position: -5850px 0; width: 90px; height: 90px}
.armor_0_v9 {background-position: -5940px 0; width: 90px; height: 90px}
.armor_0_v8 {background-position: -6030px 0; width: 90px; height: 90px}
.armor_0_v7 {background-position: -6120px 0; width: 90px; height: 90px}
.armor_0_v6 {background-position: -6210px 0; width: 90px; height: 90px}
.armor_0_v5 {background-position: -6300px 0; width: 90px; height: 90px}
.armor_0_v4 {background-position: -6390px 0; width: 90px; height: 90px}
.armor_0_v3 {background-position: -6480px 0; width: 90px; height: 90px}
.armor_0_v2 {background-position: -6570px 0; width: 90px; height: 90px}
.armor_0_v1 {background-position: -6660px 0; width: 90px; height: 90px}
.armor_0_v0 {background-position: -6750px 0; width: 90px; height: 90px}
