div(class="quest_{{::group.quest.key}}")
h4=env.t('collected') + ':'
table.table.table-striped
  tr(ng-repeat='(item,number) in group.quest.progress.collect',
    class='quest_collected_{{number >= Content.quests[group.quest.key].collect[item].count}}')
    td
      .pull-left(class='quest_{{::group.quest.key}}_{{::item}}')
      | {{::Content.quests[group.quest.key].collect[item].text()}}
    td
      | {{number}} / {{Content.quests[group.quest.key].collect[item].count}}
