include ./participants

mixin boss(tavern, mobile)
  //-.panel.panel-default(bindonce='group', ng-if='group.type==="party" && group.quest.key')
  div(class=mobile ? '' : 'panel panel-default' ng-if='group.quest.key')
    div(class = mobile ? 'item item-divider' : 'panel-heading')
      h3.panel-title(ng-if='group.quest.active==false')=env.t('questInvitation') + ' {{::Content.quests[group.quest.key].text()}}'
      h3.panel-title(ng-if='group.quest.active==true') {{::Content.quests[group.quest.key].text()}}
    .panel-body.modal-fixed-height
      include ./questNotActive

      include ./questActive
