div(ng-if='group.quest.active===true')
  unless tavern
    tabset
      tab(heading=env.t('questDetails'))
        div(ng-if='::Content.quests[group.quest.key].boss',ng-init='boss=Content.quests[group.quest.key].boss;progress=group.quest.progress')
          include ./bossStats

        div(ng-if='::Content.quests[group.quest.key].collect')
          include ./collectionStats

        div(ng-bind-html='::Content.quests[group.quest.key].notes()')
          quest-rewards(key='{{::group.quest.key}}')

      tab(heading=env.t('questParticipants'))
        +participants(true)

  if tavern
    include ./bossStats
    div(ng-bind-html='::Content.quests[group.quest.key].notes()')

  hr

  include ./ianQuestInfo

  unless tavern
    button.btn.btn-sm.btn-warning(ng-if='::canEditQuest()',
      ng-click='questAbort()')=env.t('abort')
    button.btn.btn-sm.btn-warning(ng-if='!(group.quest.leader && group.quest.leader === user._id) && isMemberOfRunningQuest(user._id,group)',
      ng-click='questLeave()')=env.t('leaveQuest')
