/*[class*='Pet_'] {
  margin-left: 1.25em;
}*/

/* Comment out for holiday events */
.npc_ian {
  background: url("/common/img/sprites/npc_ian.gif") no-repeat;
  width: 78px;
  height: 135px;
}

.Gems {
  display:inline-block;
  margin-right:5px;
  border-style:none;
  margin-left:0px;
  margin-top:2px;
}

.inline-gems {
  vertical-align: middle;
  margin-left: 0px;
  display: inline-block;
}

/* Both */
.customize-menu .locked {
  background-color: #727272;
}

/* FIXME figure out how to handle customize menu!! */
/*.customize-menu .f_head_0       {width: 60px; height: 60px; background-position: -1917px -9px;}*/

.achievement {
  float:left;
  clear:right;
  margin-right: 10px;
}

.multi-achievement {
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

[class*="Mount_Head_"], [class*="Mount_Body_"]{
  margin-top:18px; /* Sprite accommodates 105x123 box */
}

.Pet_Currency_Gem {
  margin-top: 5px;
  margin-bottom: 5px
}
