a.pull-right.gem-wallet(ng-click='modals.buyGems = true', popover-trigger='mouseenter', popover-title='Gems', popover="Used for buying special items and services (eggs, hatching potions, Fortify, etc.). You'll need to unlock those features before being able to use Gems.", popover-placement='bottom')
  span.task-action-btn.tile.flush.bright.add-gems-btn ＋
  span.task-action-btn.tile.flush.neutral
    .Gems
    | {{user.balance * 4 | number:0}} Gems