<modals:>


    <!-- Buy more Gems modal -->
    <app:modals:modal modalId='more-gems-modal' header="Out Of Gems">
        <app:rewards:user-gems />
        <p>Oops, out of Gems, which are used to buy special items! Habit is an open source project, and can use all the help it can get - buy more Gems to receive this pet, and consider it a donation to the contributors.</p>
        <@footer>
        <a data-dismiss="modal" x-bind="click:showStripe" class="btn btn-success btn-large">Buy More Gems</a><span class='gem-cost'>Not enough Gems</span>
    </@footer>
    </app:modals:modal>

    <app:modals:modal modalId="why-ads-modal" header="Why Ads?">
        <p>
            Habit is an open source project, and can use all the help it can get - consider this a donation to the contributors. You also get 20 Gems from the purchase, which you can use to buy special items.
        </p>
        <p>
            "Hey, I backed the Kickstarter!" - follow <a target="_blank" href="http://community.habitrpg.com/node/22">these instructions</a>.
        </p>
        <@footer>
            <button data-dismiss="modal" class="btn btn-success">Ok</button>
        </@footer>
    </app:modals:modal>



<!-- $modal-template -->
<modal: nonvoid>
    {{#if @noDismiss}}
        <div data-action="backdrop" class="modal-backdrop"></div>
    {{/}}
    <div class="modal {{#unless @noDismiss}}hide{{/}}" id={{@modalId}} role="dialog">
        {#if @header}
            <div class="modal-header">
                {{#unless @noDismiss}}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>{{/}}
                <h3>{unescaped @header}</h3>
            </div>
        {/}
        <div class="modal-body">{@content}</div>
        {{#if @footer}}
            <div class="modal-footer">{{@footer}}</div>
        {{/}}
    </div>
