
// Streak Achievement
div(modal='modals.streakAchievement', header='Achievement!')
  .modal-header
    h3 Achievement!
  .modal-body
    .achievement.achievement-thermometer
    | You have stacked your "Streaker" Achievement! Every 21 days of streak, you gain 1 achievement point here.
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.modals.streakAchievement = false') Cancel

