noscript
  display: block
  padding: 20px
  text-align: center

  p
    margin-top: 5px

    a
      display: block
      margin-top: 5px

noscript.banner
  background-color: #fff9ca
  border: 1px solid #dfd8c2
