fieldset.option-group
  label.option-title=env.t('text')
  input.form-control(type='text', ng-model='task._edit.text', required, ng-disabled='task._edit.challenge.id')

fieldset.option-group
  label.option-title=env.t('extraNotes')
  textarea.form-control(rows='3', ng-model='task._edit.notes')
