<div ng-controller="StatsCtrl"></div>

<div ng-controller="TaskDetailsCtrl">

    <!-- Details Page -->
    <div ng-hide="editing">
        <a ng-click='goBack()'>Back</a> | <a ng-click="edit()">Edit</a>

        <h2><span ng-show="task.completed">√ </span>{{task.text}}</h2>
        <p>{{task.notes}}</p>


        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <input type="button" value="+" ng-click="score(task,'up')"/>
            <input type="button" value="-" ng-click="score(task,'down')"/>
        </span>

        {{task.title}}

        <!-- Daily, Todo -->
        <input class="toggle" type="checkbox" ng-model="task.completed" ng-show="task.type == 'daily' || task.type == 'todo'" ng-cloak />

        <input type="button" value="Buy ({{task.value}})" ng-show="task.type == 'reward'" ng-cloak />

        <!-- Rewards -->
        <span></span>

    </div>

    <!-- Edit Page -->
    <div ng-show="editing">
        <a ng-click='cancel()'>Cancel</a> | <a ng-click='save()'>Save</a> | <a ng-click='delete()'>Delete</a>

        Title: <input type='input' ng-model="task.text" /><br/>
        Notes: <textarea ng-model="task.notes" />

        <!-- Habits -->
        <span ng-show="task.type == 'habit'" ng-cloak>
            <input type="checkbox" ng-model='task.up'> Up<br/>
            <input type="checkbox" ng-model='task.down'> Down
        </span>

        <!-- Dailies -->
        <div ng-show="task.type == 'daily'">
            TODO: Repeat
        </div>

        <!-- Todos -->
        <div ng-show="task.type == 'todo'">
            TODO: Due Date
        </div>

        <!-- Rewards -->
        <div ng-hide="task.type == 'reward'">
            TODO: Difficulty
        </div>

    </div>

</div>
