body {
  width:100%;
  overflow-x:hidden;
}

.navbar-brand img {
  height:40px;
  float:left;
  vertical-align: middle;
  margin:-10px 10px 10px;
}

.navbar-right {
  margin-right:0px!important;
}

section {
  height:100%;
  position:relative;
  padding:5% 0 5% 0;
}

section .well {
  margin-top:-4rem;
}


#intro {
  text-align:center;
  padding-bottom:5rem;
}

#intro h1 {
  font-size:30px;
  margin:3rem 0 4rem 0;
}

#intro-text {
  margin-bottom:3rem;
  padding-top:4rem;
  border-top:1px solid #ccc;
}

h1, h2, h3, h4, p.sectioninfo {
  text-align: center;
}

.featuretext h4, .footer h4 {
  text-align:left;
}

.footer {
  background-color:#fff!important;
}

.footer .shoutout {
  padding:4rem 0 6rem 0;
  background-color:#ebebeb;
}

.footer .shoutout h4 {
  text-align:center;
  padding-bottom:2rem;
}

.footer .shoutout img {
  max-height:40px;
  display:block;
  margin:0 auto;
  }

.footer .footer-content {
  padding-top:2rem;
}

#quest-intro {
  background:#fff url("images/Habitica_banner_by_uncommoncriminal.png") no-repeat center bottom;
}


p.sectioninfo {
  display:block;
  margin:100px auto 0 auto;
  font-size:16px;
}

#uses .btn-toolbar {
    text-align: center;
}

.presslogos {
  padding:10px 0;
}

.presslogos img {
    max-height:30px;
    max-width:120px;
    vertical-align: middle;
    margin:20px 20px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}


img#myAvatar {
  z-index:1;
}


.scroll-armor {
  z-index:2;
}
.scroll-armor img {
  position:absolute;
  top:0%;
  right:10%;
}


.quest-pet img {
  width:100px;
}


button.gamifybutton {
  margin: 20px;
}

#rewards {
  margin-top:200px;
}

.tweet.popover {
  position:relative;
  display:block;
  max-width:76%!important;
}

.scrolltweet {
  margin:80px 0;
}

.scrolltweet-image {
  width:100px;
  text-align:right;
}

.headline {
  display:block;
}

.avatarscroll {
  display:block;
  text-align: center;
}

.avatarscroll img {
  display:inline-block;
  margin-top:20px;
}



#myCarousel {
  margin-top:2rem;
}

#myCarousel .nav a small
{
    display: block;
}

#myCarousel .nav a {
    border-radius:10px;
    margin:10px;
}
#myCarousel .nav-justified > li > a
{
    border-radius: 10px;
    background-color:#eee;
}

#myCarousel .nav-justified > li > a:hover
{
    background-color:#ccc;
}

#myCarousel .nav-pills >li.active a { background-color: #16a085; }

.carousel-content {
    width:100%;
    height:450px;
    min-width:100%;
    min-height:450px;
    max-width:100%;
    max-height:450px;
    overflow:hidden;
    display:block;
}

.carousel-content .sampletasks .task-btn {
  font-size:1.41em;
}

.carousel-content .sampletasks .task-desc {
  font-size:1em;
}

.carousel-content img {
  width:300px;
}


.sampletasks {
  display:block;
  float:left;
  background-color: #eee;
  padding:20px;
}

#myCarousel img.sample-img {
  display:inline-block;
  margin-left:10px;
}

.usetweet-groups {
  display:block;
  float:right;
}

.usetweet-group {
  clear:both;
  width:100%;
  padding:50px 0;
}

.usetweet-group img {
  float:left;
  width:80px;
}

#features h2 {
  margin-top:0;
}

.featuretext h4 {
  text-align: center;
}

#features .row {
  margin:4rem auto;
}

.feature-img {
  display:block;
  height:80px;
  text-align: center;
  line-height:100px;
}

.feature-img img {
  max-height:100px;
}

.carousel-content .usetweet {
  float:right;
  max-width:300px;
}

#footercall {
  padding:5rem 0 3rem;
}

#footercall button {
  margin-top:6rem;
}

.footer {
  background-color:#eee;
}

/*Quote carousel for Testimonials*/
/* Carousel */

#testimonial-carousel img.img-say{
  margin-top:7rem;
}

#quote-carousel {
    padding-bottom:30px;
    margin-top: 15rem;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-color: #004080;
    opacity: 1;
    overflow: hidden;
}
#quote-carousel .carousel-inner {
    min-height: 300px;
}
#quote-carousel .item blockquote {
    border-left: none;
    margin: 0;
    padding:0;
}
#quote-carousel .item blockquote p:before {
    content: "\201C";
    float: left;
    font-size:100px;
    margin: -30px 10px 0 0;
}

/* Health bar CSS*/
.health-progress {
  display:block;
}

.meter-label {
  float:left;
  background-color:#b0c3c7;
  width:30px;
  height:28px;
  text-align: center;
  padding:2px 5px;
  border:1px solid #fff;
  outline:#999 solid 1px;
  color:#fff;
  text-shadow:-1px -1px 1px #2f3f42,1px -1px 1px #2f3f42,-1px 1px 1px #2f3f42,1px 1px 1px #2f3f42;
}
.health .bar {
  margin-left:40px;
  height:28px;
  border:1px solid #fff;
  background-color:#fff;
  outline:#999 solid 1px;
}
.health .bar div {
  background:#da5353;
  height:100%;
}

#quest .quest-friend {
  position:absolute;
  width:45%;
  display:block;
  top:20%;
}


#quest .quest-friend-img{
  position:relative;
  display:block;
  float:left;
  margin-top:10px;
  width:150px;
}

#quest .quest-friend-health {
  position:relative;
  top:-10%;
  left:45%;
  width:200px;
}

#features {
  padding-top:3rem;
}

#features h4 {
  padding-top:3rem;
}


/*Fixed CTA*/
.fixedcta {
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 300;
}



@media only screen and (max-width: 992px) {
  p.sectioninfo, .scrolltweet {
    margin:10px auto;
  }

  section {
    height:auto;
    position:relative;
    padding:2% 0;
  }

  section .well {
    margin-top:2rem;
    clear:both;
  }

  button.gamifybutton {
    margin: 40px auto 20px auto;
    width:80%;
    position: static;
    display:block;
    cursor: pointer;
    z-index: 300;
  }

  #features .row {
    margin:4rem auto 8rem auto;
  }

  .footer .shoutout img {
    margin:20px auto;
  }

}

@media only screen and (max-width: 767px) {
  .mobile-container {
  max-width:100%;
  overflow-x:hidden;
} 

  #myCarousel .nav > li {
    width:30%;
    display:inline-block;
  }

  .introcall {
    padding-top:10px;
    margin-top:10px;
  }

  #quote-carousel {
    padding-bottom:1rem;
    margin-top: 5rem;
  }

  #quote-carousel .carousel-indicators {
    padding-bottom:5rem;
  }

 #quote-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 50px;
    height: 50px;
}
#quote-carousel .carousel-inner {
    min-height: 350px;
    width::90%;
}
 
  .carousel-content .sampletasks .task-desc {
    font-size:0.8em;
  }
}



