mixin achievWithOptionalMasterCount(isEarned, spriteName, mType)
  - var mCount = 'profile.achievements.' + mType + 'Count'
  +simpleAchiev(isEarned, spriteName,
    env.t(mType + 'Name'), env.t(mType + 'Text'))(ng-if='::!#{mCount}')
  +simpleAchiev(isEarned, spriteName,
    env.t(mType + 'Name'),
    env.t(mType + 'Text') + env.t(mType + 'Text2', {count: '{{::' + mCount + '}}'}), mCount)(ng-if='::#{mCount}')

+achievWithSingularPlural('profile.achievements.streak', 'achievement-thermometer',
  'streakSingular', 'streakSingularText', 'streakName', 'streakText')

+achievWithSingularPlural('profile.achievements.perfect', 'achievement-perfect',
  'perfectSingular', 'perfectSingularText', 'perfectName', 'perfectText')

+simpleAchiev('profile.achievements.partyUp', 'achievement-partyUp', env.t('partyUpName'), env.t('partyUpText'))

+simpleAchiev('profile.achievements.partyOn', 'achievement-partyOn', env.t('partyOnName'), env.t('partyOnText'))

-
  var masterTypes = {
    beastMaster: {sprite:'achievement-rat'},
    mountMaster: {sprite:'achievement-wolf'},
    triadBingo: {sprite:'achievement-triadbingo'}
  }
each masterType, label in masterTypes
  +achievWithOptionalMasterCount('profile.achievements.' + label, masterType.sprite, label)

each ultClass in ['healer', 'rogue', 'warrior']
  +simpleAchiev('profile.achievements.ultimateGearSets.' + ultClass, 'achievement-ultimate-' + ultClass,
    env.t('ultimGearName', {ultClass: env.t(ultClass)}), env.t(ultClass + 'UltimGearText'))

+simpleAchiev('profile.achievements.ultimateGearSets.wizard', 'achievement-ultimate-mage',
  env.t('ultimGearName', {ultClass: env.t('mage')}), env.t('mageUltimGearText'))

-
  var titleStates = {
    singularCase: {
      checkStr: '!(profile.achievements.rebirths > 1)',
      displayStr: env.t('rebirthBegan')
    },
    pluralCase: {
      checkStr: '(profile.achievements.rebirths > 1)',
      displayStr: env.t('rebirthText', {rebirths: "{{::profile.achievements.rebirths}}"})
    }
  }
-
  var descStates = {
    noLevel: {
      checkStr: '!profile.achievements.rebirthLevel',
      displayStr: env.t('rebirthOrbNoLevel')
    },
    lessThan100: {
      checkStr: 'profile.achievements.rebirthLevel < 100',
      displayStr: env.t('rebirthOrb', {level: "{{::profile.achievements.rebirthLevel}}"})
    },
    atLeast100: {
      checkStr: 'profile.achievements.rebirthLevel >= 100',
      displayStr: env.t('rebirthOrb100')
    }
  }
each tInfo, tLabel in titleStates
  each dInfo, dLabel in descStates
    +simpleAchiev('profile.achievements.rebirths', 'achievement-sun',
      tInfo.displayStr, dInfo.displayStr, 'profile.achievements.rebirths')(ng-if='::(#{tInfo.checkStr}) && (#{dInfo.checkStr})')
