div
  .achievement.achievement-alien(ng-if='::profile.achievements.quests')
  div(ng-class='::{muted: !profile.achievements.quests}')
    h5=env.t('completedQuests')
    table.table.table-striped
      tr(ng-repeat='(k,v) in profile.achievements.quests')
        td {{::Content.quests[k].text()}}
        td x{{::v}}
  hr
