+achievWithSingularPlural('profile.achievements.habiticaDays', 'achievement-habiticaDay',
  'habiticaDay', 'habiticaDaySingularText', 'habiticaDay', 'habiticaDayPluralText')

+achievWithSingularPlural('profile.achievements.habitBirthdays', 'achievement-habitBirthday',
  'habitBirthday', 'habitBirthdayText', 'habitBirthday', 'habitBirthdayPluralText')

+achievWithSimpleCount('profile.achievements.snowball', 'achievement-snowball',
  'annoyingFriends', 'annoyingFriendsText')

+achievWithSimpleCount('profile.achievements.spookySparkles', 'achievement-spookySparkles',
  'alarmingFriends', 'alarmingFriendsText')

+achievWithSimpleCount('profile.achievements.shinySeed', 'achievement-shinySeed',
  'agriculturalFriends', 'agriculturalFriendsText')

+achievWithSimpleCount('profile.achievements.seafoam', 'achievement-seafoam',
  'aquaticFriends', 'aquaticFriendsText')

+simpleAchiev('profile.achievements.quests.dilatory', 'achievement-dilatory',
  env.t('achievementDilatory'), env.t('achievementDilatoryText'))

+simpleAchiev('profile.achievements.quests.stressbeast', 'achievement-stoikalm',
  env.t('achievementStressbeast'), env.t('achievementStressbeastText'))

+simpleAchiev('profile.achievements.quests.burnout', 'achievement-burnout',
  env.t('achievementBurnout'), env.t('achievementBurnoutText'))

+simpleAchiev('profile.achievements.quests.bewilder', 'achievement-bewilder',
  env.t('achievementBewilder'), env.t('achievementBewilderText'))

+achievWithSingularPlural('profile.achievements.costumeContests', 'achievement-costumeContest',
  'costumeContest', 'costumeContestText', 'costumeContest', 'costumeContestTextPlural')

each card in ['greeting', 'thankyou', 'nye', 'valentine', 'birthday']
  +achievWithSimpleCount('profile.achievements.' + card, 'achievement-' + card,
    card + 'CardAchievementTitle', card + 'CardAchievementText')
