+achievWithSingularPlural('profile.achievements.habiticaDays', 'achievement-habiticaDay',
  'habiticaDay', 'habiticaDaySingularText', 'habiticaDay', 'habiticaDayPluralText')

+achievWithSingularPlural('profile.achievements.habitBirthdays', 'achievement-habitBirthday',
  'habitBirthday', 'habitBirthdayText', 'habitBirthday', 'habitBirthdayPluralText')

+achievWithSimpleCount('profile.achievements.snowball', 'achievement-snowball',
  'annoyingFriends', 'annoyingFriendsText')

+achievWithSimpleCount('profile.achievements.spookySparkles', 'achievement-spookySparkles',
  'alarmingFriends', 'alarmingFriendsText')

+achievWithSimpleCount('profile.achievements.shinySeed', 'achievement-shinySeed',
  'agriculturalFriends', 'agriculturalFriendsText')

+achievWithSimpleCount('profile.achievements.seafoam', 'achievement-seafoam',
  'aquaticFriends', 'aquaticFriendsText')

+achiev('profile.achievements.quests.dilatory', 'achievement-dilatory')
  h5=env.t('achievementDilatory')
  small
    =env.t('achievementDilatoryText')

+achiev('profile.achievements.quests.stressbeast', 'achievement-stoikalm')
  h5=env.t('achievementStressbeast')
  small
    =env.t('achievementStressbeastText')

+achiev('profile.achievements.quests.burnout', 'achievement-burnout')
  h5=env.t('achievementBurnout')
  small
    =env.t('achievementBurnoutText')

+achiev('profile.achievements.quests.bewilder', 'achievement-bewilder')
  h5=env.t('achievementBewilder')
  small
    =env.t('achievementBewilderText')

+achievWithSingularPlural('profile.achievements.costumeContests', 'achievement-costumeContest',
  'costumeContest', 'costumeContestText', 'costumeContest', 'costumeContestTextPlural')

each card in ['greeting', 'thankyou', 'nye', 'valentine', 'birthday']
  +achievWithSimpleCount('profile.achievements.' + card, 'achievement-' + card,
    card + 'CardAchievementTitle', card + 'CardAchievementText')
