.DS_Store
website/public/gen
website/public/common
website/transpiled-babel/
common/transpiled-babel/
node_modules
*.swp
.idea*
config.json
npm-debug.log*
lib
website/public/bower_components
website/public/new-stuff.html
website/build
newrelic_agent.log
.bower-tmp
.bower-registry
.bower-cache
.vagrant
Vagrantfile
TODO
*.log
src/*/*.map
src/*/*/*.map
test/*.js
test/*.map
website/public/docs
*.sublime-workspace
coverage
coverage.html
common/dist/scripts/*
common/dist/sprites/habitrpg-shared.css

test/spec/mocks/translations.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
