[submodule "public/vendor/bootstrap-datepicker"]
	path = public/vendor/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
[submodule "public/vendor/bootstrap-growl"]
	path = public/vendor/bootstrap-growl
	url = https://github.com/ifightcrime/bootstrap-growl.git
[submodule "public/vendor/bootstrap"]
	path = public/vendor/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "public/vendor/github-buttons"]
	path = public/vendor/github-buttons
	url = https://github.com/mdo/github-buttons.git
[submodule "public/vendor/jquery-cookie"]
	path = public/vendor/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "public/vendor/jquery-ui"]
	path = public/vendor/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "public/vendor/BrowserQuest"]
	path = public/vendor/BrowserQuest
	url = https://github.com/mozilla/BrowserQuest.git
