.DS_Store
website/build
website/transpiled-babel/
website/common/transpiled-babel/
node_modules
content_cache
i18n_cache
apidoc/html
*.swp
.idea*
config.json
npm-debug.log*
lib
newrelic_agent.log
.bower-tmp
.bower-registry
.bower-cache
.vagrant
Vagrantfile
TODO
*.log
src/*/*.map
src/*/*/*.map
*.sublime-workspace
coverage
coverage.html
common/dist/scripts/*
dist
dist-client
website/client/dist
test/client/unit/coverage
test/client/e2e/reports
test/client-old/spec/mocks/translations.js
yarn.lock
.gitattributes

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/.vscode

# webstorm fake webpack for path intellisense
webpack.webstorm.config

# mongodb replica set for local dev
mongodb-*.tgz
/mongodb-data
