{
  "ACCOUNT_MIN_CHAT_AGE": "0",
  "ADMIN_EMAIL": "you@example.com",
  "AMAZON_PAYMENTS_CLIENT_ID": "CLIENT_ID",
  "AMAZON_PAYMENTS_MODE": "sandbox",
  "AMAZON_PAYMENTS_MWS_KEY": "MWS_KEY",
  "AMAZON_PAYMENTS_MWS_SECRET": "MWS_SECRET",
  "AMAZON_PAYMENTS_SELLER_ID": "SELLER_ID",
  "AMPLITUDE_KEY": "AMPLITUDE_KEY",
  "AMPLITUDE_SECRET": "AMPLITUDE_SECRET",
  "BASE_URL": "http://localhost:3000",
  "CRON_SAFE_MODE": "false",
  "CRON_SEMI_SAFE_MODE": "false",
  "DISABLE_REQUEST_LOGGING": "true",
  "EMAILS_COMMUNITY_MANAGER_EMAIL": "admin@habitica.com",
  "EMAILS_PRESS_ENQUIRY_EMAIL": "admin@habitica.com",
  "EMAILS_TECH_ASSISTANCE_EMAIL": "admin@habitica.com",
  "EMAIL_SERVER_AUTH_PASSWORD": "password",
  "EMAIL_SERVER_AUTH_USER": "user",
  "EMAIL_SERVER_URL": "http://example.com",
  "ENABLE_CONSOLE_LOGS_IN_PROD": "false",
  "ENABLE_CONSOLE_LOGS_IN_TEST": "false",
  "FACEBOOK_KEY": "123456789012345",
  "FACEBOOK_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "FLAG_REPORT_EMAIL": "email@example.com, email2@example.com",
  "GA_ID": "GA_ID",
  "GOOGLE_CLIENT_ID": "123456789012345",
  "GOOGLE_CLIENT_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "IAP_GOOGLE_KEYDIR": "/path/to/google/public/key/dir/",
  "IGNORE_REDIRECT": "true",
  "ITUNES_SHARED_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "LOGGLY_CLIENT_TOKEN": "token",
  "LOGGLY_SUBDOMAIN": "example-subdomain",
  "LOGGLY_TOKEN": "example-token",
  "LOG_REQUESTS_EXCESSIVE_MODE": "false",
  "MAINTENANCE_MODE": "false",
  "NODE_DB_URI": "mongodb://localhost:27017/habitica-dev?replicaSet=rs",
  "TEST_DB_URI": "mongodb://localhost:27017/habitica-test?replicaSet=rs",
  "MONGODB_POOL_SIZE": "10",
  "MONGODB_SOCKET_TIMEOUT": "20000",
  "NODE_ENV": "development",
  "PATH": "bin:node_modules/.bin:/usr/local/bin:/usr/bin:/bin",
  "PAYPAL_BILLING_PLANS_basic_12mo": "basic_12mo",
  "PAYPAL_BILLING_PLANS_basic_3mo": "basic_3mo",
  "PAYPAL_BILLING_PLANS_basic_6mo": "basic_6mo",
  "PAYPAL_BILLING_PLANS_basic_earned": "basic_earned",
  "PAYPAL_BILLING_PLANS_google_6mo": "google_6mo",
  "PAYPAL_CLIENT_ID": "client_id",
  "PAYPAL_CLIENT_SECRET": "client_secret",
  "PAYPAL_EXPERIENCE_PROFILE_ID": "xp_profile_id",
  "PAYPAL_MODE": "sandbox",
  "PLAY_API_ACCESS_TOKEN": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_CLIENT_ID": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_CLIENT_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_REFRESH_TOKEN": "aaaabbbbccccddddeeeeffff00001111",
  "PORT": 3000,
  "PUSH_CONFIGS_APN_ENABLED": "false",
  "PUSH_CONFIGS_APN_KEY": "xxxxxxxxxx",
  "PUSH_CONFIGS_APN_KEY_ID": "xxxxxxxxxx",
  "PUSH_CONFIGS_APN_TEAM_ID": "aaabbbcccd",
  "PUSH_CONFIGS_FCM_SERVER_API_KEY": "aaabbbcccd",
  "S3_ACCESS_KEY_ID": "accessKeyId",
  "S3_BUCKET": "bucket",
  "S3_SECRET_ACCESS_KEY": "secretAccessKey",
  "SESSION_SECRET": "YOUR SECRET HERE",
  "SESSION_SECRET_IV": "12345678912345678912345678912345",
  "SESSION_SECRET_KEY": "1234567891234567891234567891234567891234567891234567891234567891",
  "SITE_HTTP_AUTH_ENABLED": "false",
  "SITE_HTTP_AUTH_PASSWORDS": "password,wordpass,passkey",
  "SITE_HTTP_AUTH_USERNAMES": "admin,tester,contributor",
  "SLACK_FLAGGING_FOOTER_LINK": "https://habitrpg.github.io/flag-o-rama/",
  "SLACK_FLAGGING_URL": "https://hooks.slack.com/services/id/id/id",
  "SLACK_SUBSCRIPTIONS_URL": "https://hooks.slack.com/services/id/id/id",
  "SLACK_URL": "https://hooks.slack.com/services/some-url",
  "STRIPE_API_KEY": "aaaabbbbccccddddeeeeffff00001111",
  "STRIPE_PUB_KEY": "22223333444455556666777788889999",
  "STRIPE_WEBHOOKS_ENDPOINT_SECRET": "111111",
  "TRANSIFEX_SLACK_CHANNEL": "transifex",
  "WEB_CONCURRENCY": 1,
  "SKIP_SSL_CHECK_KEY": "key",
  "ENABLE_STACKDRIVER_TRACING": "false",
  "APPLE_AUTH_PRIVATE_KEY": "",
  "APPLE_TEAM_ID": "",
  "APPLE_AUTH_CLIENT_ID": "",
  "APPLE_AUTH_KEY_ID": "",
  "BLOCKED_IPS": "",
  "LOG_AMPLITUDE_EVENTS": "false",
  "RATE_LIMITER_ENABLED": "false",
  "LIVELINESS_PROBE_KEY": "",
  "REDIS_HOST": "aaabbbcccdddeeefff",
  "REDIS_PORT": "1234",
  "REDIS_PASSWORD": "12345678",
  "TRUSTED_DOMAINS": "localhost,https://habitica.com",
  "TIME_TRAVEL_ENABLED": "false",
  "DEBUG_ENABLED": "false",
  "CONTENT_SWITCHOVER_TIME_OFFSET": 8,
  "SLOW_REQUEST_THRESHOLD": 1000
}
