.Mount_Head_Lion, .Mount_Body_Lion, .Mount_Head_PolarBear, .Mount_Body_PolarBear, .Mount_Head_Panda, .Mount_Body_Panda, .Mount_Head_Tiger, .Mount_Body_Tiger, .Mount_Head_Bear, .Mount_Body_Bear, .Mount_Head_EtherealLion, .Mount_Body_EtherealLion {background: url('img/sprites/Mount-SpriteSheet.png') no-repeat; }
.Mount_Head_Lion {background-position: 0 0; width: 105px; height: 123px}
.Mount_Body_Lion {background-position: -105 0; width: 105px; height: 123px}
.Mount_Head_PolarBear {background-position: -210 0; width: 105px; height: 123px}
.Mount_Body_PolarBear {background-position: -315 0; width: 105px; height: 123px}
.Mount_Head_Panda {background-position: -420 0; width: 105px; height: 123px}
.Mount_Body_Panda {background-position: -525 0; width: 105px; height: 123px}
.Mount_Head_Tiger {background-position: -630 0; width: 105px; height: 123px}
.Mount_Body_Tiger {background-position: -735 0; width: 105px; height: 123px}
.Mount_Head_Bear {background-position: -840 0; width: 105px; height: 123px}
.Mount_Body_Bear {background-position: -945 0; width: 105px; height: 123px}
.Mount_Head_EtherealLion {background-position: -1050 0; width: 105px; height: 123px}
.Mount_Body_EtherealLion {background-position: -1155 0; width: 105px; height: 123px}
.Pet_Egg_Wolf, .Pet_Egg_TigerCub, .Pet_Egg_PolarBear, .Pet_Egg_PandaCub, .Pet_Egg_LionCub, .Pet_Egg_Fox, .Pet_Egg_FlyingPig, .Pet_Egg_Dragon, .Pet_Egg_Cactus, .Pet_Egg_BearCub, .Pet_HatchingPotion_Base, .Pet_HatchingPotion_White, .Pet_HatchingPotion_Desert, .Pet_HatchingPotion_Red, .Pet_HatchingPotion_Shade, .Pet_HatchingPotion_Skeleton, .Pet_HatchingPotion_Zombie, .Pet_HatchingPotion_CottonCandyPink, .Pet_HatchingPotion_CottonCandyBlue, .Pet_HatchingPotion_Golden, .Pet_Currency_Gem, .Pet_Currency_Gem2x, .Pet_Currency_Gem1x {background: url('img/sprites/Egg_Sprite_Sheet.png') no-repeat}
.Pet_Egg_Wolf {background-position: 0px 0px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_TigerCub {background-position: 0px -51px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_PolarBear {background-position: 0px -102px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_PandaCub {background-position: 0px -153px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_LionCub {background-position: 0px -204px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_Fox {background-position: 0px -255px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_FlyingPig {background-position: 0px -306px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_Dragon {background-position: 0px -357px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_Cactus {background-position: 0px -408px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_Egg_BearCub {background-position: 0px -459px; width: 48px; height: 53px; margin-left: 1.25em;}

.Pet_HatchingPotion_Base {background-position: -48px -0px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_White {background-position: -48px -51px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Desert {background-position: -48px -102px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Red {background-position: -48px -153px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Shade {background-position: -48px -204px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Skeleton {background-position: -48px -255px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Zombie {background-position: -48px -306px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_CottonCandyPink {background-position: -48px -357px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_CottonCandyBlue {background-position: -48px -408px; width: 48px; height: 53px; margin-left: 1.25em;}
.Pet_HatchingPotion_Golden {background-position: -48px -459px; width: 48px; height: 53px; margin-left: 1.25em;}

.Pet_Currency_Gem {background-position: 0px -510px; width: 51px; height: 45px} /* Not an egg or potion so has a different size */
.Pet_Currency_Gem2x {background-position: -55px -513px; width: 34px; height: 30px}
.Pet_Currency_Gem1x {background-position: -63px -542px; width: 19px; height: 17px}
.achievements-container {
    margin: 20px;
}

.achievement {
    background: url('img/sprites/achievements.png') no-repeat;
    width: 24px;
    height: 26px;
    float:left;
    clear:right;
    margin-right: 10px;
}

.achievement-sword {background-position:0px 0px}
.achievement-tree {background-position:-24px 0px}
.achievement-rat {background-position:-48px 0px}
.achievement-comment {background-position:-72px 0px}
.achievement-armor {background-position:-96px 0px}
.achievement-cave {background-position:-120px 0px}
.achievement-sun {background-position:-144px 0px}
.achievement-boot {background-position:-168px 0px}
.achievement-coffin {background-position:-192px 0px}
.achievement-alien {background-position:-216px 0px}
.achievement-ninja {background-position:-240px 0px}
.achievement-cactus {background-position:-264px 0px}
.achievement-bow {background-position:-288px 0px}
.achievement-heart {background-position:-312px 0px}
.achievement-shield {background-position:-336px 0px}
.achievement-thermometer {background-position:-360px 0px}
.achievement-helm {background-position:-384px 0px}
.achievement-firefox {background-position:0px -26px}
.achievement-cake {background-position:-24px -26px}
.achievement-karaoke {background-position:-48px -26px}
.weapon_7, .armor_6, .head_6, .shield_6 {
    /*background: url('img/sprites/backer-only/BackerOnly-SpriteSheet.png') no-repeat*/
    width: 105px;
    height: 105px;

    /*FIXME - not he best way of handling the alignment issues*/
    margin-left: -3px;
    margin-top: -18px;
}

.head_6 {
    background: url('img/sprites/backer-only/BackerOnly-Equip-ShadeHelmet.gif') no-repeat;
}

.armor_6 {
    background: url('img/sprites/backer-only/BackerOnly-Equip-ShadeArmor.gif') no-repeat;
}

.shield_6 {
    background: url('img/sprites/backer-only/BackerOnly-Shield-TormentedSkull.gif') no-repeat;
}

.weapon_7 {
    background: url('img/sprites/backer-only/BackerOnly-Weapon-DarkSoulsBlade.gif') no-repeat;
}

.Pet-Wolf-Cerberus {
    width: 105px;
    height: 72px;
    background: url('img/sprites/backer-only/BackerOnly-Pet-CerberusPup.gif') no-repeat;
}

.shop_shield_6 {background-position: -1040px 0}
.shop_weapon_7 {background-position: -1080px 0}
.shop_armor_6 {background-position: -1160px 0}
.shop_head_6 {background-position: -1120px 0}

.f_weapon_6,
.f_weapon_5,
.f_weapon_4,
.f_weapon_3,
.f_weapon_2,
.f_weapon_1,
.f_weapon_0,
.f_shield_5,
.f_shield_4,
.f_shield_3,
.f_shield_2,
.f_shield_1,
.f_head_5_v2,
.f_head_5_v1,
.f_head_4_v2,
.f_head_4_v1,
.f_head_3_v2,
.f_head_3_v1,
.f_head_2_v2,
.f_head_2_v1,
.f_head_1,
.f_head_0,
.f_hair_white,
.f_hair_brown,
.f_hair_black,
.f_hair_blond,
.f_armor_5,
.f_armor_4,
.f_armor_3,
.f_armor_2,
.f_armor_1,
.f_armor_0_v2,
.f_armor_0_v1,
.f_skin_dead,
.f_skin_orc,
.f_skin_asian,
.f_skin_black,
.f_skin_white {
    background: url('img/sprites/female_sprites.png') no-repeat;
}

.f_weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.f_weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.f_weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.f_weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.f_weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.f_weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.f_weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.f_shield_5 {background-position: -630px 0; width: 90px; height: 90px}
.f_shield_4 {background-position: -720px 0; width: 90px; height: 90px}
.f_shield_3 {background-position: -810px 0; width: 90px; height: 90px}
.f_shield_2 {background-position: -900px 0; width: 90px; height: 90px}
.f_shield_1 {background-position: -990px 0; width: 90px; height: 90px}
.f_head_5_v2 {background-position: -1080px 0; width: 90px; height: 90px}
.f_head_5_v1 {background-position: -1170px 0; width: 90px; height: 90px}
.f_head_4_v2 {background-position: -1260px 0; width: 90px; height: 90px}
.f_head_4_v1 {background-position: -1350px 0; width: 90px; height: 90px}
.f_head_3_v2 {background-position: -1440px 0; width: 90px; height: 90px}
.f_head_3_v1 {background-position: -1530px 0; width: 90px; height: 90px}
.f_head_2_v2 {background-position: -1620px 0; width: 90px; height: 90px}
.f_head_2_v1 {background-position: -1710px 0; width: 90px; height: 90px}
.f_head_1 {background-position: -1800px 0; width: 90px; height: 90px}
.f_head_0 {background-position: -1890px 0; width: 90px; height: 90px}
.f_hair_white {background-position: -1980px 0; width: 90px; height: 90px}
.f_hair_brown {background-position: -2070px 0; width: 90px; height: 90px}
.f_hair_black {background-position: -2160px 0; width: 90px; height: 90px}
.f_hair_blond {background-position: -2250px 0; width: 90px; height: 90px}
.f_armor_5 {background-position: -2340px 0; width: 90px; height: 90px}
.f_armor_4 {background-position: -2430px 0; width: 90px; height: 90px}
.f_armor_3 {background-position: -2520px 0; width: 90px; height: 90px}
.f_armor_2 {background-position: -2610px 0; width: 90px; height: 90px}
.f_armor_1 {background-position: -2700px 0; width: 90px; height: 90px}
.f_armor_0_v2 {background-position: -2790px 0; width: 90px; height: 90px}
.f_armor_0_v1 {background-position: -2880px 0; width: 90px; height: 90px}
.f_skin_dead {background-position: -2970px 0; width: 90px; height: 90px}
.f_skin_orc {background-position: -3060px 0; width: 90px; height: 90px}
.f_skin_asian {background-position: -3150px 0; width: 90px; height: 90px}
.f_skin_black {background-position: -3240px 0; width: 90px; height: 90px}
.f_skin_white {background-position: -3330px 0; width: 90px; height: 90px}.m_weapon_6,
.m_weapon_5,
.m_weapon_4,
.m_weapon_3,
.m_weapon_2,
.m_weapon_1,
.m_weapon_0,
.m_shield_5,
.m_shield_4,
.m_shield_3,
.m_shield_2,
.m_shield_1,
.m_head_5,
.m_head_4,
.m_head_3,
.m_head_2,
.m_head_1,
.m_head_0,
.m_hair_blond,
.m_hair_black,
.m_hair_brown,
.m_hair_white,
.m_armor_5,
.m_armor_4,
.m_armor_3,
.m_armor_2,
.m_armor_1,
.m_armor_0,
.m_skin_dead,
.m_skin_orc,
.m_skin_asian,
.m_skin_black,
.m_skin_white {
    background: url('img/sprites/male_sprites.png') no-repeat;
}

.m_weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.m_weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.m_weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.m_weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.m_weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.m_weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.m_weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.m_shield_5 {background-position: -630px 0; width: 90px; height: 90px}
.m_shield_4 {background-position: -720px 0; width: 90px; height: 90px}
.m_shield_3 {background-position: -810px 0; width: 90px; height: 90px}
.m_shield_2 {background-position: -900px 0; width: 90px; height: 90px}
.m_shield_1 {background-position: -990px 0; width: 90px; height: 90px}
.m_head_5 {background-position: -1080px 0; width: 90px; height: 90px}
.m_head_4 {background-position: -1170px 0; width: 90px; height: 90px}
.m_head_3 {background-position: -1260px 0; width: 90px; height: 90px}
.m_head_2 {background-position: -1350px 0; width: 90px; height: 90px}
.m_head_1 {background-position: -1440px 0; width: 90px; height: 90px}
.m_head_0 {background-position: -1530px 0; width: 90px; height: 90px}
.m_hair_blond {background-position: -1620px 0; width: 90px; height: 90px}
.m_hair_black {background-position: -1710px 0; width: 90px; height: 90px}
.m_hair_brown {background-position: -1800px 0; width: 90px; height: 90px}
.m_hair_white {background-position: -1890px 0; width: 90px; height: 90px}
.m_armor_5 {background-position: -1980px 0; width: 90px; height: 90px}
.m_armor_4 {background-position: -2070px 0; width: 90px; height: 90px}
.m_armor_3 {background-position: -2160px 0; width: 90px; height: 90px}
.m_armor_2 {background-position: -2250px 0; width: 90px; height: 90px}
.m_armor_1 {background-position: -2340px 0; width: 90px; height: 90px}
.m_armor_0 {background-position: -2430px 0; width: 90px; height: 90px}
.m_skin_dead {background-position: -2520px 0; width: 90px; height: 90px}
.m_skin_orc {background-position: -2610px 0; width: 90px; height: 90px}
.m_skin_asian {background-position: -2700px 0; width: 90px; height: 90px}
.m_skin_black {background-position: -2790px 0; width: 90px; height: 90px}
.m_skin_white {background-position: -2880px 0; width: 90px; height: 90px}.Pet-Wolf-Zombie, .Pet-Wolf-White, .Pet-Wolf-Veteran, .Pet-Wolf-Skeleton, .Pet-Wolf-Shade, .Pet-Wolf-Red, .Pet-Wolf-Golden, .Pet-Wolf-Desert, .Pet-Wolf-CottonCandyPink, .Pet-Wolf-CottonCandyBlue, .Pet-TigerCub-Zombie, .Pet-TigerCub-White, .Pet-TigerCub-Skeleton, .Pet-TigerCub-Shade, .Pet-TigerCub-Red, .Pet-TigerCub-Golden, .Pet-TigerCub-Desert, .Pet-TigerCub-CottonCandyPink, .Pet-TigerCub-CottonCandyBlue, .Pet-TigerCub-Base, .Pet-PolarBearCub-Base, .Pet-PandaCub-Zombie, .Pet-PandaCub-White, .Pet-PandaCub-Skeleton, .Pet-PandaCub-Shade, .Pet-PandaCub-Red, .Pet-PandaCub-Golden, .Pet-PandaCub-Desert, .Pet-PandaCub-CottonCandyPink, .Pet-PandaCub-CottonCandyBlue, .Pet-PandaCub-Base, .Pet-LionCub-Zombie, .Pet-LionCub-White, .Pet-LionCub-Skeleton, .Pet-LionCub-Shade, .Pet-LionCub-Red, .Pet-LionCub-Golden, .Pet-LionCub-Desert, .Pet-LionCub-CottonCandyPink, .Pet-LionCub-CottonCandyBlue, .Pet-LionCub-Base, .Pet-Fox-Zombie, .Pet-Fox-White, .Pet-Fox-Skeleton, .Pet-Fox-Shade, .Pet-Fox-Red, .Pet-Fox-Golden, .Pet-Fox-Desert, .Pet-Fox-CottonCandyPink, .Pet-Fox-CottonCandyBlue, .Pet-Fox-Base, .Pet-FlyingPig-Zombie, .Pet-FlyingPig-White, .Pet-FlyingPig-Skeleton, .Pet-FlyingPig-Shade, .Pet-FlyingPig-Red, .Pet-FlyingPig-Golden, .Pet-FlyingPig-Desert, .Pet-FlyingPig-CottonCandyPink, .Pet-FlyingPig-CottonCandyBlue, .Pet-FlyingPig-Base, .Pet-Dragon-Zombie, .Pet-Dragon-White, .Pet-Dragon-Skeleton, .Pet-Dragon-Shade, .Pet-Dragon-Red, .Pet-Dragon-Golden, .Pet-Dragon-Desert, .Pet-Dragon-CottonCandyPink, .Pet-Dragon-CottonCandyBlue, .Pet-Dragon-Base, .Pet-Cactus-Skeleton, .Pet-Cactus-Red, .Pet-Cactus-Zombie, .Pet-Cactus-Shade, .Pet-Cactus-Golden, .Pet-Cactus-White, .Pet-Cactus-CottonCandyPink, .Pet-Cactus-CottonCandyBlue, .Pet-Cactus-Desert, .Pet-Cactus-Base, .Pet-BearCub-Zombie, .Pet-BearCub-White, .Pet-BearCub-Skeleton, .Pet-BearCub-Shade, .Pet-BearCub-Red, .Pet-BearCub-Golden, .Pet-BearCub-Desert, .Pet-BearCub-CottonCandyPink, .Pet-BearCub-CottonCandyBlue, .Pet-BearCub-Base, .Pet-Wolf-Base {background: url('img/sprites/pet_sprites.png') no-repeat}

.Pet-Wolf-Zombie {background-position: 0 0; width: 81px; height: 99px}
.Pet-Wolf-White {background-position: -81px 0; width: 81px; height: 99px}
.Pet-Wolf-Veteran {background-position: -162px 0; width: 81px; height: 99px}
.Pet-Wolf-Skeleton {background-position: -243px 0; width: 81px; height: 99px}
.Pet-Wolf-Shade {background-position: -324px 0; width: 81px; height: 99px}
.Pet-Wolf-Red {background-position: -405px 0; width: 81px; height: 99px}
.Pet-Wolf-Golden {background-position: -486px 0; width: 81px; height: 99px}
.Pet-Wolf-Desert {background-position: -567px 0; width: 81px; height: 99px}
.Pet-Wolf-CottonCandyPink {background-position: -648px 0; width: 81px; height: 99px}
.Pet-Wolf-CottonCandyBlue {background-position: -729px 0; width: 81px; height: 99px}
.Pet-TigerCub-Zombie {background-position: -810px 0; width: 81px; height: 99px}
.Pet-TigerCub-White {background-position: -891px 0; width: 81px; height: 99px}
.Pet-TigerCub-Skeleton {background-position: -972px 0; width: 81px; height: 99px}
.Pet-TigerCub-Shade {background-position: -1053px 0; width: 81px; height: 99px}
.Pet-TigerCub-Red {background-position: -1134px 0; width: 81px; height: 99px}
.Pet-TigerCub-Golden {background-position: -1215px 0; width: 81px; height: 99px}
.Pet-TigerCub-Desert {background-position: -1296px 0; width: 81px; height: 99px}
.Pet-TigerCub-CottonCandyPink {background-position: -1377px 0; width: 81px; height: 99px}
.Pet-TigerCub-CottonCandyBlue {background-position: -1458px 0; width: 81px; height: 99px}
.Pet-TigerCub-Base {background-position: -1539px 0; width: 81px; height: 99px}
.Pet-PolarBearCub-Base {background-position: -1620px 0; width: 81px; height: 99px}
.Pet-PandaCub-Zombie {background-position: -1701px 0; width: 81px; height: 99px}
.Pet-PandaCub-White {background-position: -1782px 0; width: 81px; height: 99px}
.Pet-PandaCub-Skeleton {background-position: -1863px 0; width: 81px; height: 99px}
.Pet-PandaCub-Shade {background-position: -1944px 0; width: 81px; height: 99px}
.Pet-PandaCub-Red {background-position: -2025px 0; width: 81px; height: 99px}
.Pet-PandaCub-Golden {background-position: -2106px 0; width: 81px; height: 99px}
.Pet-PandaCub-Desert {background-position: -2187px 0; width: 81px; height: 99px}
.Pet-PandaCub-CottonCandyPink {background-position: -2268px 0; width: 81px; height: 99px}
.Pet-PandaCub-CottonCandyBlue {background-position: -2349px 0; width: 81px; height: 99px}
.Pet-PandaCub-Base {background-position: -2430px 0; width: 81px; height: 99px}
.Pet-LionCub-Zombie {background-position: -2511px 0; width: 81px; height: 99px}
.Pet-LionCub-White {background-position: -2592px 0; width: 81px; height: 99px}
.Pet-LionCub-Skeleton {background-position: -2673px 0; width: 81px; height: 99px}
.Pet-LionCub-Shade {background-position: -2754px 0; width: 81px; height: 99px}
.Pet-LionCub-Red {background-position: -2835px 0; width: 81px; height: 99px}
.Pet-LionCub-Golden {background-position: -2916px 0; width: 81px; height: 99px}
.Pet-LionCub-Desert {background-position: -2997px 0; width: 81px; height: 99px}
.Pet-LionCub-CottonCandyPink {background-position: -3078px 0; width: 81px; height: 99px}
.Pet-LionCub-CottonCandyBlue {background-position: -3159px 0; width: 81px; height: 99px}
.Pet-LionCub-Base {background-position: -3240px 0; width: 81px; height: 99px}
.Pet-Fox-Zombie {background-position: -3321px 0; width: 81px; height: 99px}
.Pet-Fox-White {background-position: -3402px 0; width: 81px; height: 99px}
.Pet-Fox-Skeleton {background-position: -3483px 0; width: 81px; height: 99px}
.Pet-Fox-Shade {background-position: -3564px 0; width: 81px; height: 99px}
.Pet-Fox-Red {background-position: -3645px 0; width: 81px; height: 99px}
.Pet-Fox-Golden {background-position: -3726px 0; width: 81px; height: 99px}
.Pet-Fox-Desert {background-position: -3807px 0; width: 81px; height: 99px}
.Pet-Fox-CottonCandyPink {background-position: -3888px 0; width: 81px; height: 99px}
.Pet-Fox-CottonCandyBlue {background-position: -3969px 0; width: 81px; height: 99px}
.Pet-Fox-Base {background-position: -4050px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Zombie {background-position: -4131px 0; width: 81px; height: 99px}
.Pet-FlyingPig-White {background-position: -4212px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Skeleton {background-position: -4293px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Shade {background-position: -4374px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Red {background-position: -4455px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Golden {background-position: -4536px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Desert {background-position: -4617px 0; width: 81px; height: 99px}
.Pet-FlyingPig-CottonCandyPink {background-position: -4698px 0; width: 81px; height: 99px}
.Pet-FlyingPig-CottonCandyBlue {background-position: -4779px 0; width: 81px; height: 99px}
.Pet-FlyingPig-Base {background-position: -4860px 0; width: 81px; height: 99px}
.Pet-Dragon-Zombie {background-position: -4941px 0; width: 81px; height: 99px}
.Pet-Dragon-White {background-position: -5022px 0; width: 81px; height: 99px}
.Pet-Dragon-Skeleton {background-position: -5103px 0; width: 81px; height: 99px}
.Pet-Dragon-Shade {background-position: -5184px 0; width: 81px; height: 99px}
.Pet-Dragon-Red {background-position: -5265px 0; width: 81px; height: 99px}
.Pet-Dragon-Golden {background-position: -5346px 0; width: 81px; height: 99px}
.Pet-Dragon-Desert {background-position: -5427px 0; width: 81px; height: 99px}
.Pet-Dragon-CottonCandyPink {background-position: -5508px 0; width: 81px; height: 99px}
.Pet-Dragon-CottonCandyBlue {background-position: -5589px 0; width: 81px; height: 99px}
.Pet-Dragon-Base {background-position: -5670px 0; width: 81px; height: 99px}
.Pet-Cactus-Zombie {background-position: -5913px 0; width: 81px; height: 99px}
.Pet-Cactus-White {background-position: -6156px 0; width: 81px; height: 99px}
.Pet-Cactus-Skeleton {background-position: -5751px 0; width: 81px; height: 99px}
.Pet-Cactus-Red {background-position: -5832px 0; width: 81px; height: 99px}
.Pet-Cactus-Shade {background-position: -5994px 0; width: 81px; height: 99px}
.Pet-Cactus-Golden {background-position: -6075px 0; width: 81px; height: 99px}
.Pet-Cactus-Desert {background-position: -6399px 0; width: 81px; height: 99px}
.Pet-Cactus-CottonCandyPink {background-position: -6237px 0; width: 81px; height: 99px}
.Pet-Cactus-CottonCandyBlue {background-position: -6318px 0; width: 81px; height: 99px}
.Pet-Cactus-Base {background-position: -6480px 0; width: 81px; height: 99px}
.Pet-BearCub-Zombie {background-position: -6561px 0; width: 81px; height: 99px}
.Pet-BearCub-White {background-position: -6642px 0; width: 81px; height: 99px}
.Pet-BearCub-Skeleton {background-position: -6723px 0; width: 81px; height: 99px}
.Pet-BearCub-Shade {background-position: -6804px 0; width: 81px; height: 99px}
.Pet-BearCub-Red {background-position: -6885px 0; width: 81px; height: 99px}
.Pet-BearCub-Golden {background-position: -6966px 0; width: 81px; height: 99px}
.Pet-BearCub-Desert {background-position: -7047px 0; width: 81px; height: 99px}
.Pet-BearCub-CottonCandyPink {background-position: -7128px 0; width: 81px; height: 99px}
.Pet-BearCub-CottonCandyBlue {background-position: -7209px 0; width: 81px; height: 99px}
.Pet-BearCub-Base {background-position: -7290px 0; width: 81px; height: 99px}
.Pet-Wolf-Base {background-position: -7371px 0; width: 81px; height: 99px}
.Pet-Egg {background: url('img/sprites/egg.png') no-repeat; width: 39px; height: 42px;}
.Gems{background: url('img/sprites/Egg_Sprite_Sheet.png'); background-position: -57px 50px; display:inline-block; margin-right:5px;border-style:none; width: 30px; height: 30px}
.weapon_6, .weapon_5, .weapon_4, .weapon_3, .weapon_2, .weapon_1, .weapon_0, .skin_white, .skin_pale, .skin_orc, .skin_dead, .skin_black, .skin_asian, .shield_5_v1, .shield_5_v0, .shield_4_v0, .shield_3_v1, .shield_3_v0, .shield_2_v1, .shield_2_v0, .shield_1_v1, .shield_1_v0, _shield_4_v1, .nh_hair_white_v1, .nh_hair_white_v0, .nh_hair_brown_v1, .nh_hair_brown_v0, .nh_hair_blond_v1, .nh_hair_blond_v0, .nh_hair_black_v1, .nh_hair_black_v0, .head_5_v2, .head_5_v1, .head_5_v0, .head_4_v2, .head_4_v1, .head_4_v0, .head_3_v2, .head_3_v1, .head_3_v0, .head_2_v2, .head_2_v1, .head_2_v0, .head_1_v1, .head_1_v0, .head_0_v1, .head_0_v0, .hair_white_v1, .hair_white_v0, .hair_brown_v1, .hair_brown_v0, .hair_blond_v1, .hair_blond_v0, .hair_black_v1, .hair_black_v0, .armor_5_v1, .armor_5_v0, .armor_4_v1, .armor_4_v0, .armor_3_v1, .armor_3_v0, .armor_2_v0, .armor_1_v1, .armor_1_v0, .armor_0_v11, .armor_0_v10, .armor_0_v9, .armor_0_v8, .armor_0_v7, .armor_0_v6, .armor_0_v5, .armor_0_v4, .armor_0_v3, .armor_0_v2, .armor_0_v1, .armor_0_v0 {background: url('img/sprites/player_sprites.png') no-repeat}
.weapon_6 {background-position: 0 0; width: 90px; height: 90px}
.weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
.weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
.weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
.weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
.weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
.weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
.skin_white {background-position: -630px 0; width: 90px; height: 90px}
.skin_pale {background-position: -720px 0; width: 90px; height: 90px}
.skin_orc {background-position: -810px 0; width: 90px; height: 90px}
.skin_dead {background-position: -900px 0; width: 90px; height: 90px}
.skin_black {background-position: -990px 0; width: 90px; height: 90px}
.skin_asian {background-position: -1080px 0; width: 90px; height: 90px}
.shield_5_v1 {background-position: -1170px 0; width: 90px; height: 90px}
.shield_5_v0 {background-position: -1260px 0; width: 90px; height: 90px}
.shield_4_v0 {background-position: -1350px 0; width: 90px; height: 90px}
.shield_3_v1 {background-position: -1440px 0; width: 90px; height: 90px}
.shield_3_v0 {background-position: -1530px 0; width: 90px; height: 90px}
.shield_2_v1 {background-position: -1620px 0; width: 90px; height: 90px}
.shield_2_v0 {background-position: -1710px 0; width: 90px; height: 90px}
.shield_1_v1 {background-position: -1800px 0; width: 90px; height: 90px}
.shield_1_v0 {background-position: -1890px 0; width: 90px; height: 90px}
._shield_4_v1 {background-position: -1980px 0; width: 90px; height: 90px}
.nh_hair_white_v1 {background-position: -2070px 0; width: 90px; height: 90px}
.nh_hair_white_v0 {background-position: -2160px 0; width: 90px; height: 90px}
.nh_hair_brown_v1 {background-position: -2250px 0; width: 90px; height: 90px}
.nh_hair_brown_v0 {background-position: -2340px 0; width: 90px; height: 90px}
.nh_hair_blond_v1 {background-position: -2430px 0; width: 90px; height: 90px}
.nh_hair_blond_v0 {background-position: -2520px 0; width: 90px; height: 90px}
.nh_hair_black_v1 {background-position: -2610px 0; width: 90px; height: 90px}
.nh_hair_black_v0 {background-position: -2700px 0; width: 90px; height: 90px}
.head_5_v2 {background-position: -2790px 0; width: 90px; height: 90px}
.head_5_v1 {background-position: -2880px 0; width: 90px; height: 90px}
.head_5_v0 {background-position: -2970px 0; width: 90px; height: 90px}
.head_4_v2 {background-position: -3060px 0; width: 90px; height: 90px}
.head_4_v1 {background-position: -3150px 0; width: 90px; height: 90px}
.head_4_v0 {background-position: -3240px 0; width: 90px; height: 90px}
.head_3_v2 {background-position: -3330px 0; width: 90px; height: 90px}
.head_3_v1 {background-position: -3420px 0; width: 90px; height: 90px}
.head_3_v0 {background-position: -3510px 0; width: 90px; height: 90px}
.head_2_v2 {background-position: -3600px 0; width: 90px; height: 90px}
.head_2_v1 {background-position: -3690px 0; width: 90px; height: 90px}
.head_2_v0 {background-position: -3780px 0; width: 90px; height: 90px}
.head_1_v1 {background-position: -3870px 0; width: 90px; height: 90px}
.head_1_v0 {background-position: -3960px 0; width: 90px; height: 90px}
.head_0_v1 {background-position: -4050px 0; width: 90px; height: 90px}
.head_0_v0 {background-position: -4140px 0; width: 90px; height: 90px}
.hair_white_v1 {background-position: -4230px 0; width: 90px; height: 90px}
.hair_white_v0 {background-position: -4320px 0; width: 90px; height: 90px}
.hair_brown_v1 {background-position: -4410px 0; width: 90px; height: 90px}
.hair_brown_v0 {background-position: -4500px 0; width: 90px; height: 90px}
.hair_blond_v1 {background-position: -4590px 0; width: 90px; height: 90px}
.hair_blond_v0 {background-position: -4680px 0; width: 90px; height: 90px}
.hair_black_v1 {background-position: -4770px 0; width: 90px; height: 90px}
.hair_black_v0 {background-position: -4860px 0; width: 90px; height: 90px}
.armor_5_v1 {background-position: -4950px 0; width: 90px; height: 90px}
.armor_5_v0 {background-position: -5040px 0; width: 90px; height: 90px}
.armor_4_v1 {background-position: -5130px 0; width: 90px; height: 90px}
.armor_4_v0 {background-position: -5220px 0; width: 90px; height: 90px}
.armor_3_v1 {background-position: -5310px 0; width: 90px; height: 90px}
.armor_3_v0 {background-position: -5400px 0; width: 90px; height: 90px}
.armor_2_v0 {background-position: -5490px 0; width: 90px; height: 90px}
.armor_1_v1 {background-position: -5580px 0; width: 90px; height: 90px}
.armor_1_v0 {background-position: -5670px 0; width: 90px; height: 90px}
.armor_0_v11 {background-position: -5760px 0; width: 90px; height: 90px}
.armor_0_v10 {background-position: -5850px 0; width: 90px; height: 90px}
.armor_0_v9 {background-position: -5940px 0; width: 90px; height: 90px}
.armor_0_v8 {background-position: -6030px 0; width: 90px; height: 90px}
.armor_0_v7 {background-position: -6120px 0; width: 90px; height: 90px}
.armor_0_v6 {background-position: -6210px 0; width: 90px; height: 90px}
.armor_0_v5 {background-position: -6300px 0; width: 90px; height: 90px}
.armor_0_v4 {background-position: -6390px 0; width: 90px; height: 90px}
.armor_0_v3 {background-position: -6480px 0; width: 90px; height: 90px}
.armor_0_v2 {background-position: -6570px 0; width: 90px; height: 90px}
.armor_0_v1 {background-position: -6660px 0; width: 90px; height: 90px}
.armor_0_v0 {background-position: -6750px 0; width: 90px; height: 90px}
[class^="shop_"], [class^="zzz"] {
    background: url('img/sprites/shop_sprites.png') no-repeat;
}

[class^="shop_weapon_"], [class^="shop_shield_"], [class^="shop_head_"], [class^="shop_armor_"], [class^="zzz"] {
    width: 40px;
    height: 40px;
}

.shop_weapon_6 {background-position: 0 0}
.shop_weapon_5 {background-position: -40px 0}
.shop_weapon_4 {background-position: -80px 0}
.shop_weapon_3 {background-position: -120px 0}
.shop_weapon_2 {background-position: -160px 0}
.shop_weapon_1 {background-position: -200px 0}
.shop_shield_5 {background-position: -240px 0}
.shop_shield_4 {background-position: -280px 0}
.shop_shield_3 {background-position: -320px 0}
.shop_shield_2 {background-position: -360px 0}
.shop_shield_1 {background-position: -400px 0}
.shop_head_5 {background-position: -440px 0}
.shop_head_4 {background-position: -480px 0}
.shop_head_3 {background-position: -520px 0}
.shop_head_2 {background-position: -560px 0}
.shop_head_1 {background-position: -600px 0}
.shop_armor_5 {background-position: -640px 0}
.shop_armor_4 {background-position: -680px 0}
.shop_armor_3 {background-position: -720px 0}
.shop_armor_2 {background-position: -760px 0}
.shop_armor_1 {background-position: -800px 0}
.shop_reroll {background-position: -840px 0; width: 40px; height: 40px}
.shop_potion {background-position: -880px 0; width: 40px; height: 40px}
.shop_copper {background-position: -923px -8px; width: 32px; height: 22px}
.shop_silver {background-position: -963px -8px; width: 32px; height: 22px}
.shop_gold {background-position: -1003px -8px; width: 32px; height: 22px}
.zzz{background-position: -1200px 0}
.zzz-light{background-position: -1280px 0}