.header-wrap(ng-controller='HeaderCtrl')
  a.label.label-default.undo-button(x-bind='click:undo', ng-show='_undo')=env.t('undo')

  header.site-header(ng-hide='user.preferences.hideHeader', role='banner', data-partysize='{{party.members.length>1 ? truarr(party.members.length) : 0}}')
    // avatar
    .herobox-wrap.main-herobox(ng-controller='UserCtrl')
      include avatar

    // stat bars
    .hero-stats
      .meter.health(title=env.t('health'))
        .bar(style='width: {{Shared.percent(user.stats.hp, 50)}}%;')
        span.meter-text
          span.glyphicon.glyphicon-heart
          | &nbsp;
          | {{Math.ceil(user.stats.hp)}} / 50
      .meter.experience(title=env.t('experience'))
        .bar(style='width: {{Shared.percent(user.stats.exp,Shared.tnl(user.stats.lvl))}}%;')
        span.meter-text
          span.glyphicon.glyphicon-star
          | &nbsp;
          | {{Math.floor(user.stats.exp) | number:0}} / {{Shared.tnl(user.stats.lvl) | number:0}}
          // FIXME doesn't look great here, but the "Experience" CSS title rollover covers it where it was before
          span(ng-show='user.history.exp')
            a(ng-click='toggleChart("exp")', tooltip=env.t('progress'))
              | &nbsp;
              span.glyphicon.glyphicon-signal
      .meter.mana(title='Mana', ng-if='user.flags.classSelected && !user.preferences.disableClasses')
        .bar(style='width: {{user.stats.mp / user._statsComputed.maxMP * 100}}%;')
        span.meter-text
          span.glyphicon.glyphicon-fire
          | &nbsp;
          | {{Math.floor(user.stats.mp)}} / {{user._statsComputed.maxMP}}

    // party
    span(ng-controller='PartyCtrl')
      .herobox-wrap(ng-repeat='profile in partyMinusSelf')
        include avatar
