.header-wrap(ng-controller='HeaderCtrl', data-spy="affix", data-offset-top="148")
  a.label.undo-button(x-bind='click:undo', ng-show='_undo') Undo
  div(ng-if='!user.preferences.hideHeader')
    include menu

  header.site-header(ng-hide='user.preferences.hideHeader', role='banner', data-partysize='{{party.members.length>1 ? truarr(party.members.length) : 0}}')
    // avatar
    .herobox-wrap.main-herobox(ng-controller='UserCtrl')
      include avatar

    // stat bars
    .hero-stats
      .meter.health(title='Health')
        .bar(style='width: {{Shared.percent(user.stats.hp, 50)}}%;')
        span.meter-text
          i.icon-heart
          | {{user.stats.hp | number:0}} / 50
      .meter.experience(title='Experience')
        .bar(style='width: {{Shared.percent(user.stats.exp,Shared.tnl(user.stats.lvl))}}%;')
        span.meter-text
          i.icon-star
          | {{user.stats.exp | number:0}} / {{Shared.tnl(user.stats.lvl) | number:0}}
          // FIXME doesn't look great here, but the "Experience" CSS title rollover covers it where it was before
          span(ng-show='user.history.exp')
            a(ng-click='toggleChart("exp")', tooltip='Progress')
              i.icon-signal
      .meter.mana(title='Mana', ng-if='user.flags.classSelected')
        .bar(style='width: {{percent(user.stats.mp, user.stats.int+10)}}%;')
        span.meter-text
          i.icon-fire
          | {{user.stats.mp || 0 | number:0}} / {{user.stats.int+10}}

    // party
    span(ng-controller='PartyCtrl')
      .herobox-wrap(ng-repeat='profile in partyMinusSelf')
        include avatar

    .npc_bailey.npc_bailey_head(ng-show='user.flags.newStuff', tooltip='Psst', tooltip-placement='top', ng-click='modals.newStuff=true')

