.user-menu(ng-controller='AuthCtrl')
  button.task-action-btn.tile.solid(ng-hide='authenticated()', style='cursor: pointer;', ng-click="modals.login = true") Login / Register
  ul.nav.site-nav(ng-show='authenticated()')
    li.flyout(ng-controller='MenuCtrl')
      h1.task-action-btn.tile.solid.user-reporter {{username(user.auth, user.profile.name)}}
      ul.flyout-content.nav.stacked
        li
          a.task-action-btn.tile.solid
            span(ng-show='viewingOptions', ng-click='gotoTasks()')
              i.icon-ok
              | Tasks
            span(ng-hide='viewingOptions', ng-click='gotoOptions()')
              i.icon.icon-wrench
              |  Options
        li
          a.task-action-btn.tile.solid(ng-click='sync()')
            i.icon.icon-refresh
            |  Sync
        li
          a.task-action-btn.tile.solid(ng-click='logout()')
            i.icon-share-alt
            |  Logout
    // party invitation notification
    a(ng-show='user.party.invitation', style='cursor: pointer;', x-bind='click:gotoPartyChat')
      i.icon-user
    // party chat notification
    a(ng-show='newChatMessages(_party.chat,user.party.lastMessageSeen)', style='cursor: pointer;', x-bind='click:gotoPartyChat')
      i.icon-comment(tooltip='New Party Messages')
