form.task-add(name='new{{list.type}}form', ng-hide='obj._locked', ng-submit='addTask(list, obj)', novalidate)
  textarea(rows='6', focus-element='list.bulk && list.focus', ng-model='list.newTask', placeholder='{{list.placeHolderBulk}}', ng-if='list.bulk', ui-keydown='{"meta-enter ctrl-enter":"addTask(list, obj)"}', required)
  input(type='text', focus-element='!list.bulk && list.focus', ng-model='list.newTask', placeholder='{{list.placeHolder}}', ng-if='!list.bulk', required)
  button(type='submit', ng-disabled='new{{list.type}}form.$invalid')
    div(ng-show='new{{list.type}}form.$invalid', tooltip=env.t("emptyTask"))
      span.glyphicon.glyphicon-plus
    span.glyphicon.glyphicon-plus(ng-show='!new{{list.type}}form.$invalid')
  small.help-block.btn-link.pull-right(ng-click='toggleBulk(list)')
    span(ng-if='!list.bulk')=env.t('addmultiple')
    span(ng-if='list.bulk')=env.t('addsingle')
