script(id='modals/buyGems.html', type='text/ng-template')
  .modal-body
    .buy-gems
      +gemButton(true)
      .well
        h3=env.t('buyGems')
        table.table
          tr
            td
              span.dashed-underline(popover=env.t('donateText1'),popover-trigger='mouseenter',popover-placement='right')
                | +20 <span class="Pet_Currency_Gem1x inline-gems"/>
          tr
            td
              span.dashed-underline(popover=env.t('donateText3'),popover-trigger='mouseenter',popover-placement='right')
                =env.t('donateText2')
          tr
            td.alert.alert-info $5&nbsp;
              =env.t('USD')
          tr
            td
              p
                small.muted=env.t('paymentMethods')
              .btn.btn-primary(ng-click='Payments.showStripe({})')=env.t('card')
              a.btn.btn-warning(href='/paypal/checkout?_id={{user._id}}&apiToken={{user.apiToken}}') PayPal
              div#AmazonPayButtonDonation(ng-init="Payments.initAmazonDonation()")
              div#AmazonPayWalletDonation(ng-show="Payments.amazonDonationLoggedIn", style="width: 400px; height: 228px;")
              a.btn.btn-warning(ng-show="Payments.amazonDonationPaymentSelected", ng-click="Payments.amazonDonationCheckout()") Checkout
      
      div(ng-include="'partials/options.settings.subscription.html'")

  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('cancel')
