script(type='text/ng-template', id='modals/booted-from-group.html')
  .modal-header
    h4=env.t('bootedFromGroupHeader', {groupBootedFromName: '{{groupBootedFrom.name}}'})
  .modal-body
    p=env.t('bootedFromGroupMessage', {groupBootedFromMessage: '{{groupBootedFrom.message}}'})
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('close')
