include ./message-modal
include ./achievements
include ./reroll
include ./death
include ./new-stuff
include ./buy-gems
include ./amazon-payments
include ./members
include ./settings
include ./drops
include ./classes
include ./quests
include ./rebirth
include ./limited
include ./invite-friends
include ./welcome.jade
include ./low-health.jade
include ./level-up.jade
include ./hatch-pet.jade
include ./raise-pet.jade
include ./won-challenge.jade
include ./modify-inventory.jade
include ./enable-desktop-notifications.jade

//- Settings
script(type='text/ng-template', id='modals/change-day-start.html')
  include ./settings/change-day-start.jade
