script(id='modals/cards.html', type='text/ng-template')
  .modal-header
    .pull-right(class='inventory_special_{{::cardType}}')
    h4 {{::env.t(cardType + 'Card')}}
  .modal-body
    .bg-info(style='padding:10px')
      p {{::env.t('toAndFromCard', { toName: user.profile.name, fromName: user.items.special[cardType + 'Received'][0]})}}
      hr
      markdown(text='::cardMessage')
  .modal-footer
    small.pull-left {{::env.t(cardType + 'CardExplanation')}}
    button.btn.btn-default(ng-click='user.ops.readCard({params: {cardType: cardType}}); $close()')=env.t('ok')
