script(id='modals/login-incentives.html', type='text/ng-template')
  .modal-header.text-center
    h2 {{data.message}}
  .modal-body
    .row
      div.text-center.col-md-4
        h3 {{user.loginIncentives}} total points
      div.text-center.col-md-4
        button.customize-option(class='shop_{{::reward.key}}')
      div.text-center.col-md-4
        h3 {{data.nextRewardAt - user.loginIncentives}} more points left
    .row
      .col-md-6.col-md-offset-3.text-center
        p When it comes to building habits, consistency is key. Each day you check-in you get closer to a prize.
      .col-md-12.text-center
        p You have {{user.loginIncentives}} check-in points.
      .col-md-12.text-center
        p Your next prize will unlock in {{data.nextRewardAt - user.loginIncentives}} more check-ins!
  .modal-footer
    a.btn.btn-primary.col-md-6.col-md-offset-3(ng-click='$close()') Awesome!
