script(type='text/ng-template', id='modals/newStuff.html')
  .modal-header
    | #{env.t('newStuff')} by&nbsp;
    a(target='_blank', href='https://twitter.com/Mihakuu') Bailey
  .modal-body.new-stuff-modal.modal-fixed-height
    div(class="#{env.worldDmg.bailey ? 'npc_bailey_broken' : 'npc_bailey'}")
    br
    br
    div(ng-bind-html='latestBaileyMessage')
  .modal-footer
    a.btn.btn-info(href='http://habitica.wikia.com/wiki/Whats_New', target='_blank')=env.t('newsArchive')
    button.btn.btn-default(ng-click='$close()')=env.t('cool')
    button.btn.btn-warning(ng-click='dismissAlert(); $close()')=env.t('dismissAlert')
