script(id='partials/options.social.party.quest-rewards.html', type='text/ng-template')
  hr
  h5 {{::header}}
  table.table.table-striped
    tr(ng-repeat='drop in quest.drop.items')
      td {{::drop.text()}}
    tr(ng-if='::quest.drop.exp > 0')
      td {{::quest.drop.exp}}
        =env.t('experience')
    tr(ng-if='::quest.drop.gp > 0')
      td {{::quest.drop.gp}}
        =env.t('gold')
    tr(ng-if='::quest.drop.unlock()')
      td {{::quest.drop.unlock()}}
