script(id='partials/options.social.party.quest-rewards.html', type='text/ng-template')
  hr
  h5 {{::headerParticipant}}
  table.table.table-striped
    tr(ng-repeat='drop in _.reject(quest.drop.items, \'onlyOwner\')')
      td {{::drop.text()}}
    tr(ng-if='::quest.drop.exp > 0')
      td {{::quest.drop.exp}}
        =env.t('experience')
    tr(ng-if='::quest.drop.gp > 0')
      td {{::quest.drop.gp}}
        =env.t('gold')
    tr(ng-if='::quest.drop.unlock()')
      td {{::quest.drop.unlock()}}
  div(ng-if='_.filter(quest.drop.items, \'onlyOwner\').length > 0')
    h5 {{::headerQuestOwner}}
    table.table.table-striped
      tr(ng-repeat='drop in _.filter(quest.drop.items, \'onlyOwner\')')
        td {{::drop.text()}}
