// Re-Roll modal
script(type='text/ng-template', id='modals/reroll.html')
  .modal-header
    h4=env.t('fortify')
  .modal-body
    +gemButton
    p=env.t('fortifyText')

  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('neverMind')
    span(ng-if='user.balance < 1')
      a.btn.btn-success(ng-click='openModal("buyGems",{track:"Gems > Reroll"})')=env.t('buyMoreGems')
      span.gem-cost=env.t('notEnoughGems')
    span(ng-if='user.balance >= 1', ng-controller='SettingsCtrl')
      a.btn.btn-danger(ng-click='clickReroll($event)')=env.t('fortify')
      span.gem-cost
        | 4&nbsp;
        = env.t('gems')

