script(id='modals/task-notes.html', type='text/ng-template')
  .modal-header
    h4 Task Notes

  .modal-body
    textarea.form-control(ng-model="task.scoreNotes", row="10")

  .modal-footer
    .btn.btn-default(ng-click='$close()')=env.t('cancel')
    .btn.btn-primary(ng-click="$close(task)")=env.t('save')
