script(id='modals/task-extra-notes.html', type='text/ng-template')
  .modal-header
    h4=env.t('taskNotes')

  .modal-body
    div
      | {{task.notes}}

  .modal-footer
    .btn.btn-primary(ng-click="$close()")=env.t('close')
