li(ng-repeat='message in group.chat', ng-class='{highlight: indexOf(message.text, user.profile.name)}')
  a.label.chat-message(class='{{nameTagClasses(message)}}', tooltip='{{message.contributor}}', ng-click='clickMember(message.uuid, true)')
    | {{message.user}}
  span 
  span(ng-bind-html="message.text | linky:'_blank'") -
  span 
  span.muted.time
    | {{relativeDate(message.timestamp, _currentTime) + ' '}}
  a(ng-show='user.backer.admin || message.uuid == user.id', ng-click='deleteChatMessage(group, message)')
    i.icon-remove(tooltip='Delete')
