.row-fluid(ng-controller='TavernCtrl')
  .span4
    .tavern-pane
      table
        tr
          td
            .NPC-Daniel
          td
            .popover.static-popover.fade.right.in
              .arrow
              h3.popover-title Daniel Johansson
              .popover-content
                | Welcome to the Tavern! I'm
                a(target='_blank', href='http://www.kickstarter.com/profile/2014640723') Daniel
                | , the bar keep. If you want to rest a while (going on vacation? sudden illness?), I'll set you up at the inn - dailies won't hurt you while you're resting. Stay a while & meet the locals.
                div
                  button.btn.btn-large.btn-success(ng-class='{active: user.flags.rest}', ng-click='rest()')
                    span(ng-show='user.flags.rest') Check Out of Inn
                    span(ng-hide='user.flags.rest') Rest In The Inn
    .alert.alert-info(ng-show='user.flags.rest')
      | Whilst resting, your dailies are saved and aren't affected by day turn-over. Whether you check out tomorrow or in a week's time, you'll continue in the same state as when you checked in.
    .well
      h3 Resources
      ul.unstyled
        li
          h4
            a(target='_blank', href='http://community.habitrpg.com/forums/lfg') LFG Posts
        li
          h4
            a(target='_blank', href='http://www.youtube.com/watch?feature=player_embedded&v=cT5ghzZFfao') Tutorial
        li
          h4
            a(target='_blank', href='http://community.habitrpg.com/faq-page') FAQ
        li
          h4
            a(target='_blank', href='http://community.habitrpg.com/node/280') Report a Problem
        li
          h4
            a(target='_blank', href='https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6') Request a Feature
        li
          h4
            a(target='_blank', href='http://community.habitrpg.com/forum') Community Forum
  .span8
    h3 Tavern Talk & LFG
    .row-fluid
      .span3
        ul.unstyled.buttonList
          li
            a.btn.btn-info(style='width:100%', target='_blank', href='http://community.habitrpg.com/faq-page') FAQ
          li
            a.btn.btn-info(style='width:100%', target='_blank', href='http://community.habitrpg.com/node/280') Report a Problem
          li
            a.btn.btn-info(style='width:100%', target='_blank', href='https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6') Request a Feature
      .span9
        include ./chat-box
    ul.unstyled.tavern-chat
      include ./chat-message
