weapon_6, weapon_5, weapon_4, weapon_3, weapon_2, weapon_1, weapon_0, shield_5, shield_4, shield_3, shield_2, shield_1, head_5_v2, head_5_v1, head_4_v2, head_4_v1, head_3_v2, head_3_v1, head_2_v2, head_2_v1, head_1, head_0, hair_white, hair_brown, hair_black, hair_blond, armor_5, armor_4, armor_3, armor_2, armor_1, armor_0_v2, armor_0_v1, skin_dead, skin_orc, skin_asian, skin_black, skin_white { background: url('../../img/sprites/female_sprites.png') no-repeat; }
weapon_6 {background-position: 0 0; width: 90px; height: 90px}
weapon_5 {background-position: -90px 0; width: 90px; height: 90px}
weapon_4 {background-position: -180px 0; width: 90px; height: 90px}
weapon_3 {background-position: -270px 0; width: 90px; height: 90px}
weapon_2 {background-position: -360px 0; width: 90px; height: 90px}
weapon_1 {background-position: -450px 0; width: 90px; height: 90px}
weapon_0 {background-position: -540px 0; width: 90px; height: 90px}
shield_5 {background-position: -630px 0; width: 90px; height: 90px}
shield_4 {background-position: -720px 0; width: 90px; height: 90px}
shield_3 {background-position: -810px 0; width: 90px; height: 90px}
shield_2 {background-position: -900px 0; width: 90px; height: 90px}
shield_1 {background-position: -990px 0; width: 90px; height: 90px}
head_5_v2 {background-position: -1080px 0; width: 90px; height: 90px}
head_5_v1 {background-position: -1170px 0; width: 90px; height: 90px}
head_4_v2 {background-position: -1260px 0; width: 90px; height: 90px}
head_4_v1 {background-position: -1350px 0; width: 90px; height: 90px}
head_3_v2 {background-position: -1440px 0; width: 90px; height: 90px}
head_3_v1 {background-position: -1530px 0; width: 90px; height: 90px}
head_2_v2 {background-position: -1620px 0; width: 90px; height: 90px}
head_2_v1 {background-position: -1710px 0; width: 90px; height: 90px}
head_1 {background-position: -1800px 0; width: 90px; height: 90px}
head_0 {background-position: -1890px 0; width: 90px; height: 90px}
hair_white {background-position: -1980px 0; width: 90px; height: 90px}
hair_brown {background-position: -2070px 0; width: 90px; height: 90px}
hair_black {background-position: -2160px 0; width: 90px; height: 90px}
hair_blond {background-position: -2250px 0; width: 90px; height: 90px}
armor_5 {background-position: -2340px 0; width: 90px; height: 90px}
armor_4 {background-position: -2430px 0; width: 90px; height: 90px}
armor_3 {background-position: -2520px 0; width: 90px; height: 90px}
armor_2 {background-position: -2610px 0; width: 90px; height: 90px}
armor_1 {background-position: -2700px 0; width: 90px; height: 90px}
armor_0_v2 {background-position: -2790px 0; width: 90px; height: 90px}
armor_0_v1 {background-position: -2880px 0; width: 90px; height: 90px}
skin_dead {background-position: -2970px 0; width: 90px; height: 90px}
skin_orc {background-position: -3060px 0; width: 90px; height: 90px}
skin_asian {background-position: -3150px 0; width: 90px; height: 90px}
skin_black {background-position: -3240px 0; width: 90px; height: 90px}
skin_white {background-position: -3330px 0; width: 90px; height: 90px}
