script(type='text/ng-template', id='partials/options.inventory.html')
  include ./menu

script(type='text/ng-template', id='partials/options.inventory.equipment.html')
  include ./equipment

script(type='text/ng-template', id='partials/options.inventory.seasonalshop.html')
  include ./seasonalShop

script(type='text/ng-template', id='partials/options.inventory.timetravelers.html')
  include ./timeTravelers

script(type='text/ng-template', id='partials/options.inventory.drops.html')
  include ./drops

script(type='text/ng-template', id='partials/options.inventory.pets.html')
  include ./pets

script(type='text/ng-template', id='partials/options.inventory.mounts.html')
  include ./mounts
