script(type='text/ng-template', id='partials/options.inventory.html')
  include ./menu

script(type='text/ng-template', id='partials/options.inventory.equipment.html')
  include ./equipment

script(type='text/ng-template', id='partials/options.inventory.seasonalshop.html')
  include ./seasonal-shop

script(type='text/ng-template', id='partials/options.inventory.timetravelers.html')
  include ./time-travelers

script(type='text/ng-template', id='partials/options.inventory.drops.html')
  include ./drops

script(type='text/ng-template', id='partials/options.inventory.quests.html')
  include ./quests

script(type='text/ng-template', id='partials/options.inventory.pets.html')
  include ./pets

script(type='text/ng-template', id='partials/options.inventory.mounts.html')
  include ./mounts
