form(ng-submit='postChat(group,_chatMessage)')
  .-options
    //FIXME ng-model makes this painfully slow! using jquery for now, which is really non-angular-like
    .control-group.option-large(ng-controller='AutocompleteCtrl')
      textarea.chat-textarea.option-content(style='height:6em;', ui-keypress='{13:"postChat(group,_chatMessage)"}', ng-model='_chatMessage', flag='@', at-user, auto-complete)
      span.user-list(ng-show='!isAtListHidden')
        ul.list-at-user
          li(ng-repeat='user in users | filter:query.text | limitTo: 5', ng-click='autoComplete(user)')
            span.username.label(class='label-contributor-{{user.contributor.level}}') {{user.user}}
    table.pull-right
      tr
        td
          input.btn.chat-btn(type='submit', value='Send Chat', ng-class='{disabled: _sending == true}')
        td
          button.btn(type="button", ng-click='sync(group)', tooltip='Fetch Recent Messages')
            i(class='pull-right icon-refresh')


