li.chat-message(ng-repeat='message in group.chat', ng-class=':: {highlight: isUserMentioned(user,message) || message.uuid=="system", "own-message": user._id == message.uuid}')
  .scrollable-message
    span(ng-if='::message.uuid!="system"')
      a.label.label-default.chat-message.hidden-label
        span {{::message.user}}
      | &nbsp;
    markdown(ng-model='::message.text')
    | -
    span.muted.time(from-now='::message.timestamp')
    span
      a.label.label-default(ng-show='countExists(message.likes)', ng-class='{"label-success":message.likes[user._id]}', ng-click='likeChatMessage(group,message)') +{{countExists(message.likes)}}
      a.chat-plus-one.muted(ng-show='!countExists(message.likes)', ng-click='likeChatMessage(group,message)') +1
    | &nbsp;
    a(ng-if=':: user.contributor.admin || message.uuid == user.id', ng-click='deleteChatMessage(group, message)')
      span.glyphicon.glyphicon-trash(tooltip=env.t('delete'))
  a.label.label-default.chat-message(ng-if=':: message.user', class='float-label', ng-class=':: {"label-npc": message.backer.npc, "label-contributor-{{message.contributor.level}}":message.contributor.level}', ng-click='clickMember(message.uuid, true)')
      span(tooltip='{{::contribText(message.contributor, message.backer)}}') {{::message.user}}&nbsp;
