form.chat-form(ng-submit='postChat(group,message.content)')
  div(ng-controller='AutocompleteCtrl')
    textarea.form-control(rows=4, ui-keypress='{13:"postChat(group,message.content)"}', ng-model='message.content', updateinterval='250', flag='@', at-user, auto-complete)
    span.user-list(ng-show='!isAtListHidden')
      ul.list-at-user
        li(ng-repeat='user in response | filter:query.text | limitTo: 5', ng-click='autoComplete(user)')
          span.username.label.label-default(ng-class=':: userLevelStyle(user)') {{::user.user}}
  .chat-controls
    .chat-formatting
      include ../../shared/formatting-help
    .chat-buttons
      input(type='submit', value=env.t('sendChat'), ng-class='{disabled: _sending == true}')
      button(type="button", ng-click='sync(group)', tooltip=env.t('toolTipMsg'))
        span.glyphicon.glyphicon-refresh