<div id="{{task.id}}-edit" class="task-options">
    <form x-bind=submit:toggleTaskEdit data-toggle-id="{{task.id}}-edit">
        <!-- text & notes -->
        <fieldset class="option-group">
            <label class="option-title">Text</label><input class="option-content" type=text ng-model="task.text">
            <label class="option-title">Extra Notes</label><textarea class="option-content" rows=3 ng-model="task.notes"></textarea>
        </fieldset>

        <!-- if Habit, plus/minus command options -->
        <fieldset ng-show="task.type=='habit'" class="option-group">
            <legend class="option-title">Direction/Actions</legend>
                    <span class="task-checker action-plusminus select-toggle">
                        <input class="visuallyhidden focusable" type=checkbox id="{{task.id}}-option-plus" ng-model="task.up">
                        <label for="{{task.id}}-option-plus"></label>
                    </span>
                    <span class="task-checker action-plusminus select-toggle">
                        <input class="visuallyhidden focusable" type=checkbox id="{{task.id}}-option-minus" ng-model="task.down">
                        <label for="{{task.id}}-option-minus"></label>
                    </span>
        </fieldset>

        <!-- if Daily, calendar -->
        <fieldset ng-show="task.type=='daily'"class="option-group">
            <legend class="option-title">Repeat</legend>
            <div class="task-controls tile-group repeat-days">
                <!-- note, does not use  data-toggle="buttons-checkbox" - it would interfere with our own click binding -->
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.su}" ng-click="task.repeat.su=!task.repeat.su">Su</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.m}" ng-click="task.repeat.m=!task.repeat.m">M</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.t}" ng-click="task.repeat.t=!task.repeat.t">T</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.w}" ng-click="task.repeat.w=!task.repeat.w">W</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.th}" ng-click="task.repeat.th=!task.repeat.th">Th</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.f}" ng-click="task.repeat.f=!task.repeat.f">F</button>
                <button type="button" class="task-action-btn tile" ng-class="{active: task.repeat.s}" ng-click="task.repeat.s=!task.repeat.s">S</button>
            </div>
        </fieldset>

        <!-- if Todo, the due date -->
        <fieldset ng-show="task.type=='todo'"class="option-group">
            <legend class="option-title">Due Date</legend>
            <input class="option-content datepicker" type="text" value="{task.date}" data-date-format="mm/dd/yyyy">
        </fieldset>

        <!-- if Reward, pricing -->
        <fieldset ng-show="task.type=='reward'"class="option-group option-short">
            <legend class="option-title">Price</legend>
            <input class="option-content" size="16" type="number" min="0" ng-model="task.value">
            <div class="money input-suffix"><span class='shop_gold'></span></div>
        </fieldset>

        <!-- Advanced Options -->
        <span ng-hide="task.type=='reward'">
            <p><a ng-click="task.showAdvanced=!task.showAdvanced" class="option-title mega">Advanced Options</a></p>
            <fieldset ng-show="task.showAdvanced" class="option-group advanced-option">
                <legend class="option-title"><a class='priority-multiplier-help' href="https://trello.com/card/priority-multiplier/50e5d3684fe3a7266b0036d6/17" target="_blank"><i class='icon-question-sign'></i></a> Difficulty</legend>
                <div class="task-controls tile-group priority-multiplier" data-id="{{task.id}}">
                    <button type="button" class="task-action-btn tile"  ng-click="task.priority='!'" ng-class="{active: task.priority=='!'}">Easy</button>
                    <button type="button" class="task-action-btn tile"  ng-click="task.priority='!!'" ng-class="{active: task.priority=='!!'}">Medium</button>
                    <button type="button" class="task-action-btn tile"  ng-click="task.priority='!!!'" ng-class="{active: task.priority=='!!!'}">Hard</button>                            </div>
            </fieldset>
        </span>
        <button type=submit class="task-action-btn tile spacious" ng-click="task.taskEdit=false">Save & Close</button>
    </form>
</div>

<div style="display:none;" id={{task.id}}-chart></div>