.promo_mystery_201611 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -1083px;
  width: 90px;
  height: 99px;
}
.promo_mystery_201612 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -586px 0px;
  width: 558px;
  height: 294px;
}
.promo_mystery_201701 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1712px -300px;
  width: 90px;
  height: 105px;
}
.promo_mystery_201702 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -584px -1538px;
  width: 279px;
  height: 147px;
}
.promo_mystery_201703 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1040px -1247px;
  width: 282px;
  height: 147px;
}
.promo_mystery_201704 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1680px -992px;
  width: 90px;
  height: 90px;
}
.promo_mystery_201705 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -301px -1538px;
  width: 282px;
  height: 147px;
}
.promo_mystery_201706 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -934px;
  width: 111px;
  height: 90px;
}
.promo_mystery_3014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1381px;
  width: 217px;
  height: 90px;
}
.promo_new_hair_fall2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1429px -442px;
  width: 140px;
  height: 441px;
}
.promo_orca {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -783px;
  width: 105px;
  height: 105px;
}
.promo_orcas {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -844px;
  width: 219px;
  height: 147px;
}
.promo_partyhats {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -1025px;
  width: 115px;
  height: 47px;
}
.promo_pastel_skin {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1110px -1422px;
  width: 330px;
  height: 83px;
}
.customize-option.promo_pastel_skin {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1135px -1437px;
  width: 60px;
  height: 60px;
}
.promo_pastel_skin_hair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -824px -1096px;
  width: 354px;
  height: 147px;
}
.customize-option.promo_pastel_skin_hair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -849px -1111px;
  width: 60px;
  height: 60px;
}
.promo_peppermint_flame {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1953px -1085px;
  width: 140px;
  height: 147px;
}
.promo_pet_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1085px;
  width: 140px;
  height: 147px;
}
.customize-option.promo_pet_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1837px -1100px;
  width: 60px;
  height: 60px;
}
.promo_pyromancer {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -632px;
  width: 113px;
  height: 113px;
}
.promo_rainbow_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1712px -196px;
  width: 92px;
  height: 103px;
}
.promo_seafoam {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1287px 0px;
  width: 141px;
  height: 441px;
}
.promo_seasonal_shop_fall_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -864px -1538px;
  width: 279px;
  height: 147px;
}
.promo_shimmer_hair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1144px -1538px;
  width: 330px;
  height: 83px;
}
.promo_shimmer_potions {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1429px 0px;
  width: 141px;
  height: 441px;
}
.promo_shinySeeds {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1287px -442px;
  width: 141px;
  height: 441px;
}
.promo_splashy_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -725px -562px;
  width: 375px;
  height: 186px;
}
.customize-option.promo_splashy_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -750px -577px;
  width: 60px;
  height: 60px;
}
.promo_splashyskins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1472px;
  width: 198px;
  height: 91px;
}
.customize-option.promo_splashyskins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1837px -1487px;
  width: 60px;
  height: 60px;
}
.promo_spooky_sparkles_fall_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -196px;
  width: 140px;
  height: 294px;
}
.promo_spring_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -687px -984px;
  width: 362px;
  height: 102px;
}
.promo_spring_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -730px -1247px;
  width: 309px;
  height: 147px;
}
.promo_springclasses2014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -91px;
  width: 288px;
  height: 90px;
}
.promo_springclasses2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px 0px;
  width: 288px;
  height: 90px;
}
.promo_staff_spotlight_Lemoness {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -330px;
  width: 102px;
  height: 146px;
}
.promo_staff_spotlight_Viirus {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1969px -182px;
  width: 119px;
  height: 147px;
}
.promo_staff_spotlight_paglias {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1963px -481px;
  width: 99px;
  height: 147px;
}
.promo_steampunk_3017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -282px -1096px;
  width: 140px;
  height: 441px;
}
.promo_summer_classes_2014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -257px -984px;
  width: 429px;
  height: 102px;
}
.promo_summer_classes_2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1689px;
  width: 300px;
  height: 88px;
}
.promo_summer_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -1096px;
  width: 400px;
  height: 150px;
}
.promo_summer_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1145px 0px;
  width: 141px;
  height: 588px;
}
.promo_takeThis_gear {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1640px;
  width: 114px;
  height: 87px;
}
.promo_takethis_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1927px -1640px;
  width: 114px;
  height: 87px;
}
.promo_task_planning {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px 0px;
  width: 240px;
  height: 195px;
}
.promo_turkey_day_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -141px -1096px;
  width: 140px;
  height: 441px;
}
.promo_unconventional_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1951px -1309px;
  width: 60px;
  height: 60px;
}
.promo_unconventional_armor2 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -2030px -1381px;
  width: 70px;
  height: 74px;
}
.promo_updos {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -182px;
  width: 156px;
  height: 147px;
}
.promo_veteran_pets {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1951px -1233px;
  width: 146px;
  height: 75px;
}
.promo_winter_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -749px -1422px;
  width: 360px;
  height: 90px;
}
.promo_winter_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -257px -839px;
  width: 432px;
  height: 144px;
}
.promo_winter_fireworks {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1233px;
  width: 138px;
  height: 147px;
}
.promo_winterclasses2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -1422px;
  width: 325px;
  height: 110px;
}
.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1096px;
  width: 140px;
  height: 441px;
}
.customize-option.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -25px -1111px;
  width: 60px;
  height: 60px;
}
.promo_winteryhair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -1564px;
  width: 152px;
  height: 75px;
}
.avatar_variety {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -690px -839px;
  width: 498px;
  height: 95px;
}
.npc_viirus {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -992px;
  width: 108px;
  height: 90px;
}
.party_preview {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -499px -312px;
  width: 451px;
  height: 219px;
}
.promo_backtoschool {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -330px;
  width: 150px;
  height: 150px;
}
.promo_cooking {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -328px -562px;
  width: 396px;
  height: 219px;
}
.promo_startingover {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -783px;
  width: 150px;
  height: 150px;
}
.promo_valentines {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1179px -1096px;
  width: 309px;
  height: 147px;
}
.promo_working_out {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1538px;
  width: 300px;
  height: 150px;
}
.scene_arts_crafts {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -839px;
  width: 256px;
  height: 256px;
}
.scene_buying_rewards {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -663px;
  width: 207px;
  height: 180px;
}
.scene_coding {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -632px;
  width: 150px;
  height: 150px;
}
.scene_dailies {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -562px;
  width: 327px;
  height: 276px;
}
.scene_eco_friendly {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1571px -491px;
  width: 222px;
  height: 171px;
}
.scene_guilds {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -312px;
  width: 498px;
  height: 249px;
}
.scene_habitica_house {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px 0px;
  width: 585px;
  height: 311px;
}
.scene_habits {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -1247px;
  width: 306px;
  height: 174px;
}
.scene_meditation {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -481px;
  width: 150px;
  height: 150px;
}
.scene_phone_peek {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1812px -934px;
  width: 150px;
  height: 150px;
}
