.Pet_HatchingPotion_Base {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -49px 0px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -49px -104px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -98px 0px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Desert {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: 0px -52px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Floral {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -49px -52px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -98px -52px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Golden {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -147px 0px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Holly {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -147px -52px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: 0px -104px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Purple {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: 0px 0px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Red {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -98px -104px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -147px -104px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Shade {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -196px 0px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -196px -52px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -196px -104px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: 0px -156px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_White {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -49px -156px;
  width: 48px;
  height: 51px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url(/static/sprites/spritesmith-main-16.png);
  background-position: -98px -156px;
  width: 48px;
  height: 51px;
}
