.scene_coding {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px -715px;
  width: 150px;
  height: 150px;
}
.scene_dailies {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: 0px -562px;
  width: 327px;
  height: 276px;
}
.scene_eco_friendly {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px -392px;
  width: 222px;
  height: 171px;
}
.scene_guilds {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: 0px -312px;
  width: 498px;
  height: 249px;
}
.scene_habitica_house {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: 0px 0px;
  width: 585px;
  height: 311px;
}
.scene_habits {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -328px -562px;
  width: 306px;
  height: 174px;
}
.scene_meditation {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px -564px;
  width: 150px;
  height: 150px;
}
.scene_pet_hatching {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -586px -343px;
  width: 315px;
  height: 195px;
}
.scene_phone_peek {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px -866px;
  width: 150px;
  height: 150px;
}
.scene_raking_leaves {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: 0px -839px;
  width: 246px;
  height: 198px;
}
.scene_studying {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -926px 0px;
  width: 220px;
  height: 232px;
}
.scene_task_list {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px 0px;
  width: 240px;
  height: 195px;
}
.scene_todos {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -1147px -196px;
  width: 240px;
  height: 195px;
}
.scene_video_games {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -586px 0px;
  width: 339px;
  height: 342px;
}
.welcome_basic_avatars {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -635px -562px;
  width: 246px;
  height: 165px;
}
.welcome_promo_party {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -247px -839px;
  width: 270px;
  height: 180px;
}
.welcome_sample_tasks {
  background-image: url(/static/sprites/spritesmith-largeSprites-2.png);
  background-position: -518px -839px;
  width: 246px;
  height: 165px;
}
