.Pet-Wolf-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -82px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -492px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -164px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -82px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -164px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -246px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -246px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -82px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -164px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -246px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -328px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -328px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -328px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -82px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -164px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -246px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -328px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -410px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Veggie {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -410px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Veteran {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -410px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -410px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -492px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -492px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -492px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -492px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -82px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -164px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -246px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -328px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -410px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px 0px;
  width: 81px;
  height: 99px;
}
.Pet_HatchingPotion_Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -69px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Base {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -138px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -207px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -276px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -345px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -414px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -483px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -414px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -574px -483px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: 0px -500px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -69px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -138px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -207px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -276px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -345px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -414px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -483px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -552px -569px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -414px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-25.png');
  background-position: -643px -483px;
  width: 68px;
  height: 68px;
}
