.promo_summer_classes_2014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px -591px;
  width: 429px;
  height: 102px;
}
.promo_summer_classes_2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -553px -615px;
  width: 300px;
  height: 88px;
}
.promo_summer_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -452px -145px;
  width: 400px;
  height: 150px;
}
.promo_takeThis_gear {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -361px -882px;
  width: 114px;
  height: 87px;
}
.promo_takethis_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -476px -882px;
  width: 114px;
  height: 87px;
}
.promo_task_planning {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px -96px;
  width: 240px;
  height: 195px;
}
.promo_turkey_day_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -141px -440px;
  width: 140px;
  height: 441px;
}
.promo_unconventional_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1315px -591px;
  width: 60px;
  height: 60px;
}
.promo_unconventional_armor2 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1283px -694px;
  width: 70px;
  height: 74px;
}
.promo_updos {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1195px -292px;
  width: 156px;
  height: 147px;
}
.promo_veteran_pets {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -706px -704px;
  width: 146px;
  height: 75px;
}
.promo_winter_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -882px;
  width: 360px;
  height: 90px;
}
.promo_winter_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -452px 0px;
  width: 432px;
  height: 144px;
}
.promo_winter_fireworks {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -302px -973px;
  width: 138px;
  height: 147px;
}
.promo_winterclasses2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -452px -296px;
  width: 325px;
  height: 110px;
}
.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -440px;
  width: 140px;
  height: 441px;
}
.customize-option.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -25px -455px;
  width: 60px;
  height: 60px;
}
.promo_winteryhair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -553px -704px;
  width: 152px;
  height: 75px;
}
.avatar_variety {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px 0px;
  width: 498px;
  height: 95px;
}
.npc_viirus {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -441px -973px;
  width: 108px;
  height: 90px;
}
.party_preview {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px 0px;
  width: 451px;
  height: 219px;
}
.promo_backtoschool {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1186px -440px;
  width: 150px;
  height: 150px;
}
.promo_cooking {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -220px;
  width: 396px;
  height: 219px;
}
.promo_startingover {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1132px -694px;
  width: 150px;
  height: 150px;
}
.promo_valentines {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px -292px;
  width: 309px;
  height: 147px;
}
.promo_working_out {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px -440px;
  width: 300px;
  height: 150px;
}
.scene_coding {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -151px -973px;
  width: 150px;
  height: 150px;
}
.scene_eco_friendly {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -589px -440px;
  width: 222px;
  height: 171px;
}
.scene_habits {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -282px -440px;
  width: 306px;
  height: 174px;
}
.scene_phone_peek {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -973px;
  width: 150px;
  height: 150px;
}
.welcome_basic_avatars {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -885px -694px;
  width: 246px;
  height: 165px;
}
.welcome_promo_party {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -282px -615px;
  width: 270px;
  height: 180px;
}
.welcome_sample_tasks {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1126px -96px;
  width: 246px;
  height: 165px;
}
