.promo_aquatic_glass_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -995px 0px;
  width: 141px;
  height: 441px;
}
.promo_armoire_backgrounds_201807 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -735px;
  width: 141px;
  height: 441px;
}
.promo_ios {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -477px 0px;
  width: 375px;
  height: 361px;
}
.promo_mystery_201806 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1137px -442px;
  width: 121px;
  height: 114px;
}
.promo_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1137px 0px;
  width: 141px;
  height: 441px;
}
.promo_seaserpent {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 476px;
  height: 364px;
}
.promo_seasonal_shop_summer {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -649px -549px;
  width: 162px;
  height: 138px;
}
.promo_splashy_skins {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -477px -362px;
  width: 375px;
  height: 186px;
}
.customize-option.promo_splashy_skins {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -502px -377px;
  width: 60px;
  height: 60px;
}
.promo_summer_splash_2018 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -853px 0px;
  width: 141px;
  height: 588px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1137px -557px;
  width: 96px;
  height: 69px;
}
.scene_party_healing {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -365px;
  width: 393px;
  height: 369px;
}
.scene_reading {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -477px -549px;
  width: 171px;
  height: 144px;
}
