.weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -737px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -646px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -828px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -919px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -100px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -282px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -464px -1529px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -555px -1529px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -276px -1629px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -735px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -307px -407px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1791px -1529px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -479px -1629px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -531px -1629px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1529px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1449px -1315px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1249px -1315px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1349px -1315px;
  width: 99px;
  height: 99px;
}
.empty_bottles {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -414px -1629px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -373px -1529px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -944px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -341px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -435px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -504px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -655px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -138px -1629px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -207px -1629px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -345px -1629px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -272px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -573px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -724px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -793px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -875px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -1013px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1320px -1095px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1320px -1164px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1320px -1233px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1549px -1315px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1101px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1170px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1239px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1308px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1377px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1584px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1653px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1722px -1529px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1629px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -69px -1629px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1249px -1415px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -203px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1515px -1529px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1010px -1529px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1446px -1529px;
  width: 68px;
  height: 68px;
}
.snowman {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -191px -1529px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -578px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -537px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -925px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1549px -1384px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -619px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -648px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -677px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1802px -706px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -751px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -780px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -809px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -838px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -867px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1793px -896px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -838px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -867px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -896px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -751px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -925px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1817px -1237px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -780px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1822px -809px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1698px;
  width: 60px;
  height: 72px;
}
.npc_justin {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1746px -1379px;
  width: 84px;
  height: 120px;
}
.npc_matt {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -1098px;
  width: 195px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px -627px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -527px -220px;
  width: 201px;
  height: 195px;
}
.quest_alligator {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -880px;
  width: 201px;
  height: 213px;
}
.quest_armadillo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -1095px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -696px -1315px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -959px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px 0px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -435px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -1237px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -660px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -307px -220px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -220px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -875px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -537px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1095px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -1091px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -947px -1315px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -1095px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -220px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -1095px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -751px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -1379px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -220px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -1095px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px 0px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1315px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -1095px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -875px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -445px -1315px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -203px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -359px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -660px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -440px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px -440px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px 0px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -875px;
  width: 219px;
  height: 219px;
}
.quest_kangaroo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -875px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1627px -181px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -875px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -440px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1098px -1315px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px 0px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -655px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -655px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -440px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -655px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -655px;
  width: 219px;
  height: 219px;
}
.quest_moonstone1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px -220px;
  width: 219px;
  height: 219px;
}
.quest_moonstone2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px 0px;
  width: 219px;
  height: 219px;
}
.quest_moonstone3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -435px;
  width: 219px;
  height: 219px;
}
.quest_nudibranch {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -657px;
  width: 216px;
  height: 216px;
}
.quest_octopus {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -222px -1315px;
  width: 222px;
  height: 177px;
}
.quest_owl {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -435px;
  width: 219px;
  height: 219px;
}
.quest_peacock {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -874px;
  width: 216px;
  height: 216px;
}
