.promo_mystery_201712 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -679px;
  width: 279px;
  height: 147px;
}
.promo_nye_card {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -600px -536px;
  width: 117px;
  height: 123px;
}
.promo_nye_seasonal_shop {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -704px -679px;
  width: 162px;
  height: 138px;
}
.promo_snowball {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -741px -589px;
  width: 48px;
  height: 51px;
}
.promo_starry_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -679px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -883px -566px;
  width: 114px;
  height: 87px;
}
.promo_winter_quests {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -883px 0px;
  width: 141px;
  height: 441px;
}
.promo_winter_retreat {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 740px;
  height: 309px;
}
.promo_winter_seasonal_shop {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -437px -536px;
  width: 162px;
  height: 138px;
}
.promo_winter_subscriptions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -827px;
  width: 237px;
  height: 150px;
}
.promo_winter_tavern {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -883px -442px;
  width: 135px;
  height: 123px;
}
.promo_winter_wonderland_2018 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -741px 0px;
  width: 141px;
  height: 588px;
}
.scene_calendar {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -310px;
  width: 436px;
  height: 368px;
}
.scene_winter_cleaning {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -437px -310px;
  width: 276px;
  height: 225px;
}
