.Pet_Currency_Gem {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1163px -1477px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1908px -422px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1893px -1238px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1876px -1265px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1876px -1317px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1878px -1397px;
  width: 51px;
  height: 51px;
}
.inventory_present {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -661px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_05 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -514px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_06 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1878px -1449px;
  width: 48px;
  height: 51px;
}
.inventory_present_07 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -563px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_08 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -465px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_09 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -612px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_10 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -808px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_11 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -759px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_present_12 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -710px -1546px;
  width: 48px;
  height: 51px;
}
.inventory_special_birthday {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -956px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1232px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -473px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1370px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -404px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -749px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -818px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -887px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1025px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1094px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1646px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1577px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1508px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1439px -1477px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1301px -1477px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1112px -1326px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -611px -1477px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -680px -1477px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -930px -1326px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -542px -1477px;
  width: 68px;
  height: 68px;
}
.snowman {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -839px -1326px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1429px -1203px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1470px -1203px;
  width: 40px;
  height: 40px;
}
.npc_alex {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -724px;
  width: 162px;
  height: 138px;
}
.npc_aprilFool {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -1397px;
  width: 120px;
  height: 120px;
}
.npc_bailey {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -404px -1546px;
  width: 60px;
  height: 72px;
}
.npc_daniel {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -1141px;
  width: 135px;
  height: 123px;
}
.npc_ian {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1353px -1112px;
  width: 75px;
  height: 135px;
}
.npc_justin {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -1518px;
  width: 84px;
  height: 120px;
}
.npc_justin_head {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1893px -1141px;
  width: 36px;
  height: 96px;
}
.npc_matt {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -643px -1326px;
  width: 195px;
  height: 138px;
}
.npc_sabe {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1429px -1112px;
  width: 90px;
  height: 90px;
}
.npc_timetravelers {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -251px -1326px;
  width: 195px;
  height: 138px;
}
.npc_timetravelers_active {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -447px -1326px;
  width: 195px;
  height: 138px;
}
.npc_tyler {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1021px -1326px;
  width: 90px;
  height: 90px;
}
.npc_vicky {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1842px -1518px;
  width: 59px;
  height: 82px;
}
.seasonalshop_closed {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -863px;
  width: 162px;
  height: 138px;
}
.seasonalshop_open {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -1002px;
  width: 162px;
  height: 138px;
}
.quest_armadillo {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1100px -892px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -1326px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -1176px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -817px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -440px -232px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -214px -1477px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -428px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -630px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -660px 0px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -452px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px 0px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -660px -452px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -217px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -573px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -880px 0px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -220px -452px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -660px -672px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -214px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -1265px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1100px -440px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -220px -892px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -880px -892px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -1112px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1320px 0px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1320px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1102px -1112px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px 0px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px -998px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -660px -892px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -442px -1112px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -892px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1100px -660px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -885px -1112px;
  width: 216px;
  height: 177px;
}
.quest_mayhemMistiflying1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1757px -422px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1100px -220px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1100px 0px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -880px -672px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1540px 0px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -440px -672px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -220px -672px;
  width: 219px;
  height: 219px;
}
.quest_moonstone1 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -672px;
  width: 219px;
  height: 219px;
}
.quest_moonstone2 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -880px -440px;
  width: 219px;
  height: 219px;
}
.quest_moonstone3 {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -880px -220px;
  width: 219px;
  height: 219px;
}
.quest_nudibranch {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1320px -874px;
  width: 216px;
  height: 216px;
}
.quest_octopus {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -662px -1112px;
  width: 222px;
  height: 177px;
}
.quest_owl {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -440px -452px;
  width: 219px;
  height: 219px;
}
.quest_peacock {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1320px -440px;
  width: 216px;
  height: 216px;
}
.quest_penguin {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -1652px;
  width: 190px;
  height: 183px;
}
.quest_rat {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -660px -220px;
  width: 219px;
  height: 219px;
}
.quest_rock {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -1320px -657px;
  width: 216px;
  height: 216px;
}
.quest_rooster {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -1477px;
  width: 213px;
  height: 174px;
}
.quest_sabretooth {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -220px -232px;
  width: 219px;
  height: 219px;
}
.quest_sheep {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: 0px -232px;
  width: 219px;
  height: 219px;
}
.quest_slime {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_sloth {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -440px -892px;
  width: 219px;
  height: 219px;
}
.quest_snail {
  background-image: url(/static/sprites/spritesmith-main-9.png);
  background-position: -222px -1112px;
  width: 219px;
  height: 213px;
}
