.promo_armoire_background_201804 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -142px -244px;
  width: 141px;
  height: 441px;
}
.promo_hugabug_bundle {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -284px -244px;
  width: 141px;
  height: 441px;
}
.promo_mystery_201803 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -915px -148px;
  width: 114px;
  height: 90px;
}
.promo_rainbow_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -532px 0px;
  width: 141px;
  height: 441px;
}
.promo_seasonalshop_spring {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -674px -344px;
  width: 162px;
  height: 138px;
}
.promo_shiny_seeds {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -674px 0px;
  width: 360px;
  height: 147px;
}
.promo_spring_fling_2018 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -244px;
  width: 141px;
  height: 588px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -915px -239px;
  width: 114px;
  height: 87px;
}
.scene_positivity {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 531px;
  height: 243px;
}
.scene_todos {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -674px -148px;
  width: 240px;
  height: 195px;
}
