.Mount_Head_BearCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -121px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Head_BearCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -681px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -681px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -681px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -681px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -681px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1105px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1484px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1741px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Butterfly-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -366px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -366px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -469px -124px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -363px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -366px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -469px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Cactus-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -787px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -893px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -242px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Cactus-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -999px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cuttlefish-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -575px -345px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -490px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -469px -248px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -363px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -242px -121px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -366px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -366px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -575px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -575px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -575px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Deer-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dolphin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1211px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1317px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Dragon-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1423px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1378px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1529px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1378px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -121px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_FlyingPig-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1635px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1378px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1484px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1590px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1741px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Fox-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-17.png');
  background-position: -1741px -212px;
  width: 105px;
  height: 105px;
}
