.head_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -182px -1086px;
  width: 90px;
  height: 90px;
}
.head_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px 0px;
  width: 90px;
  height: 90px;
}
.head_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -455px;
  width: 90px;
  height: 90px;
}
.head_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -546px;
  width: 90px;
  height: 90px;
}
.head_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -273px;
  width: 90px;
  height: 90px;
}
.head_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -364px;
  width: 90px;
  height: 90px;
}
.head_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -455px;
  width: 90px;
  height: 90px;
}
.head_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -546px;
  width: 90px;
  height: 90px;
}
.head_special_bardHat {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -637px;
  width: 90px;
  height: 90px;
}
.head_special_clandestineCowl {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -728px;
  width: 90px;
  height: 90px;
}
.head_special_dandyHat {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -910px;
  width: 90px;
  height: 90px;
}
.head_special_fireCoralCirclet {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -1001px;
  width: 90px;
  height: 90px;
}
.head_special_kabuto {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -273px -1268px;
  width: 90px;
  height: 90px;
}
.head_special_lunarWarriorHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -364px -1268px;
  width: 90px;
  height: 90px;
}
.head_special_mammothRiderHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -1092px;
  width: 90px;
  height: 90px;
}
.head_special_namingDay2017 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -91px -1359px;
  width: 90px;
  height: 90px;
}
.head_special_pageHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -911px -986px;
  width: 90px;
  height: 90px;
}
.head_special_pyromancersTurban {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1002px -986px;
  width: 90px;
  height: 90px;
}
.head_special_roguishRainbowMessengerHood {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1093px -986px;
  width: 90px;
  height: 90px;
}
.head_special_snowSovereignCrown {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1086px;
  width: 90px;
  height: 90px;
}
.head_special_spikedHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -91px -1086px;
  width: 90px;
  height: 90px;
}
.head_special_turkeyHelmBase {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -223px;
  width: 114px;
  height: 90px;
}
.head_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -364px -1086px;
  width: 90px;
  height: 90px;
}
.head_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -455px -1086px;
  width: 90px;
  height: 90px;
}
.head_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -637px -1086px;
  width: 90px;
  height: 90px;
}
.head_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -728px -1086px;
  width: 90px;
  height: 90px;
}
.head_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -819px -1086px;
  width: 90px;
  height: 90px;
}
.head_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -910px -1086px;
  width: 90px;
  height: 90px;
}
.head_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1001px -1086px;
  width: 90px;
  height: 90px;
}
.head_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1092px -1086px;
  width: 90px;
  height: 90px;
}
.head_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -273px;
  width: 90px;
  height: 90px;
}
.head_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -364px;
  width: 90px;
  height: 90px;
}
.shop_head_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1104px -1519px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -138px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -207px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -345px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -414px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -483px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -828px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -897px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -966px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1035px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1104px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1173px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1242px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_bardHat {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1311px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_clandestineCowl {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1380px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_dandyHat {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1449px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_fireCoralCirclet {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1518px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_kabuto {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1587px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_special_lunarWarriorHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px 0px;
  width: 68px;
  height: 68px;
}
.shop_head_special_mammothRiderHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -69px;
  width: 68px;
  height: 68px;
}
.shop_head_special_namingDay2017 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1319px;
  width: 40px;
  height: 40px;
}
.shop_head_special_pageHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -207px;
  width: 68px;
  height: 68px;
}
.shop_head_special_pyromancersTurban {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -276px;
  width: 68px;
  height: 68px;
}
.shop_head_special_roguishRainbowMessengerHood {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -345px;
  width: 68px;
  height: 68px;
}
.shop_head_special_snowSovereignCrown {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -414px;
  width: 68px;
  height: 68px;
}
.shop_head_special_spikedHelm {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -483px;
  width: 68px;
  height: 68px;
}
.shop_head_special_turkeyHelmBase {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -552px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -621px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -759px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -690px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -759px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -621px -1588px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1173px -1519px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1035px -1519px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -966px -1519px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -897px -1519px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -828px -1519px;
  width: 68px;
  height: 68px;
}
.headAccessory_special_bearEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -637px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_bearEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1217px -652px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_cactusEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -728px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_cactusEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1217px -743px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_foxEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -819px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_foxEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1217px -834px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_lionEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -910px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_lionEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1217px -925px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pandaEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -1001px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pandaEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1217px -1016px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pigEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1177px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pigEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -25px -1192px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_tigerEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -91px -1177px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_tigerEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -116px -1192px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_wolfEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -182px -1177px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_wolfEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -207px -1192px;
  width: 60px;
  height: 60px;
}
.shop_headAccessory_special_bearEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -759px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_cactusEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -690px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_foxEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -621px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_lionEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -552px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_pandaEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -483px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_pigEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -414px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_tigerEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -345px -1519px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_wolfEars {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -276px -1519px;
  width: 68px;
  height: 68px;
}
.shield_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1001px -1177px;
  width: 90px;
  height: 90px;
}
.shield_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1092px -1177px;
  width: 90px;
  height: 90px;
}
.shield_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1183px -1177px;
  width: 90px;
  height: 90px;
}
.shield_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px 0px;
  width: 90px;
  height: 90px;
}
.shield_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -91px;
  width: 90px;
  height: 90px;
}
.shield_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -182px;
  width: 90px;
  height: 90px;
}
.shield_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -400px -986px;
  width: 103px;
  height: 90px;
}
.shield_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -504px -986px;
  width: 103px;
  height: 90px;
}
.shield_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -132px;
  width: 114px;
  height: 90px;
}
.shield_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -814px -986px;
  width: 96px;
  height: 90px;
}
.shield_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -496px;
  width: 114px;
  height: 90px;
}
.shield_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -405px;
  width: 114px;
  height: 90px;
}
.shield_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -819px;
  width: 90px;
  height: 90px;
}
.shield_special_diamondStave {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -608px -986px;
  width: 102px;
  height: 90px;
}
.shield_special_goldenknight {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -844px;
  width: 111px;
  height: 90px;
}
.shield_special_lootBag {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -1092px;
  width: 90px;
  height: 90px;
}
.shield_special_mammothRiderHorn {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1268px;
  width: 90px;
  height: 90px;
}
.shield_special_moonpearlShield {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -91px -1268px;
  width: 90px;
  height: 90px;
}
.shield_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -182px -1268px;
  width: 90px;
  height: 90px;
}
.shield_special_wakizashi {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -698px -847px;
  width: 114px;
  height: 87px;
}
.shield_special_wintryMirror {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -583px -847px;
  width: 114px;
  height: 87px;
}
.shield_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -455px -1268px;
  width: 90px;
  height: 90px;
}
.shield_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -546px -1268px;
  width: 90px;
  height: 90px;
}
.shield_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -637px -1268px;
  width: 90px;
  height: 90px;
}
.shield_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -728px -1268px;
  width: 90px;
  height: 90px;
}
.shield_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -819px -1268px;
  width: 90px;
  height: 90px;
}
.shop_shield_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -207px -1519px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -138px -1519px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -69px -1519px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1519px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1449px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1380px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1311px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1242px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1173px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1104px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -1035px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -966px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -897px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -828px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_diamondStave {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -759px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_goldenknight {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -690px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_lootBag {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -621px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_mammothRiderHorn {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -552px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_moonpearlShield {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -483px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -414px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wakizashi {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -345px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wintryMirror {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -276px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -207px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -138px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px -69px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1556px 0px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1449px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1380px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1311px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1242px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1173px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1104px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1035px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -966px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -897px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1209px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1588px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px 0px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -138px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -243px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -312px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -381px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -519px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -588px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_aetherCrystals {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -657px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_bardInstrument {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -726px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_critical {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -795px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_fencingFoil {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -864px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_lunarScythe {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -933px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_mammothRiderSpear {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1002px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_nomadsScimitar {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1071px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_pageBanner {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1140px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -828px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_skeletonKey {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1278px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tachi {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -1347px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_taskwoodsLantern {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -1274px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tridentOfCrashingTides {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1283px -1183px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -1092px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -69px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -138px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -207px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -276px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -345px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -414px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -483px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -552px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -621px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -690px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -759px -1450px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -828px -1450px;
  width: 68px;
  height: 68px;
}
.weapon_healer_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1365px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1274px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1183px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1092px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1001px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -910px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_healer_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -819px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -728px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -637px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -546px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -455px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -364px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -273px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -182px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -711px -986px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -1359px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -1183px;
  width: 90px;
  height: 90px;
}
.weapon_special_aetherCrystals {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -314px;
  width: 114px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -1001px;
  width: 90px;
  height: 90px;
}
.weapon_special_fencingFoil {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -910px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -819px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -728px;
  width: 90px;
  height: 90px;
}
.weapon_special_nomadsScimitar {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -637px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -546px;
  width: 90px;
  height: 90px;
}
.weapon_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -455px;
  width: 90px;
  height: 90px;
}
.weapon_special_skeletonKey {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -364px;
  width: 90px;
  height: 90px;
}
.weapon_special_tachi {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -273px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -182px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px -91px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1374px 0px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1274px -1268px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1183px -1268px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1092px -1268px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1001px -1268px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -910px -1268px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -910px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -819px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -728px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -637px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -546px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -455px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -364px -1177px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -273px -1177px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -69px -1588px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1746px -1122px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1723px -1517px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1122px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1174px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1226px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -200px -986px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -100px -986px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -986px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -300px -986px;
  width: 99px;
  height: 99px;
}
.empty_bottles {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1067px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -182px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -483px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1242px -1519px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1311px -1519px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1380px -1519px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1449px -1519px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1518px -1519px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -174px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -69px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -138px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -207px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -276px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -345px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -414px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -552px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -621px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -690px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -759px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -828px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -897px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -966px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1035px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1104px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1173px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1242px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1311px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1380px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1449px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1625px -1518px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -813px -847px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -276px -1588px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -552px -1588px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px -91px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -690px -1588px;
  width: 68px;
  height: 68px;
}
.snowman {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1192px 0px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1360px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1278px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1723px -1430px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1517px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1723px -1488px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1488px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1723px -1459px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1731px -970px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1459px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1430px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1723px -1401px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1401px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1731px -1028px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1731px -999px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1546px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1736px -1546px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -1571px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1735px -1319px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1715px -1571px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1735px -1278px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1715px -1546px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1735px -1360px;
  width: 20px;
  height: 24px;
}
.npc_alex {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -163px -847px;
  width: 162px;
  height: 138px;
}
.npc_aprilFool {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -462px -847px;
  width: 120px;
  height: 120px;
}
.npc_bailey {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -897px;
  width: 60px;
  height: 72px;
}
.npc_daniel {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -326px -847px;
  width: 135px;
  height: 123px;
}
.npc_ian {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -587px;
  width: 75px;
  height: 135px;
}
.npc_justin {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px -723px;
  width: 84px;
  height: 120px;
}
.npc_justin_head {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1694px -970px;
  width: 36px;
  height: 96px;
}
.npc_matt {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px -417px;
  width: 195px;
  height: 138px;
}
.npc_sabe {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -546px -1086px;
  width: 90px;
  height: 90px;
}
.npc_timetravelers {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px -139px;
  width: 195px;
  height: 138px;
}
.npc_timetravelers_active {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px -278px;
  width: 195px;
  height: 138px;
}
.npc_tyler {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -273px -1086px;
  width: 90px;
  height: 90px;
}
.npc_vicky {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1465px -91px;
  width: 59px;
  height: 82px;
}
.seasonalshop_closed {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -847px;
  width: 162px;
  height: 138px;
}
.seasonalshop_open {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px -698px;
  width: 162px;
  height: 138px;
}
.quest_armadillo {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -428px -660px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px 0px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -211px -660px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -220px -220px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -865px -556px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -660px 0px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -660px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px 0px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -220px -440px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -660px -202px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -440px -440px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -679px -660px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -220px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -440px -220px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: 0px -440px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -660px -416px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~assets/images/sprites/spritesmith-main-9.png');
  background-position: -1073px 0px;
  width: 118px;
  height: 131px;
}
