.promo_armoire_backgrounds_201903 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -220px;
  width: 423px;
  height: 147px;
}
.promo_mystery_201902 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -220px;
  width: 240px;
  height: 147px;
}
.promo_mythical_marvels_bundle {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -368px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -368px;
  width: 96px;
  height: 69px;
}
.promo_valentines_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -516px;
  width: 420px;
  height: 147px;
}
.scene_achievement {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -397px 0px;
  width: 339px;
  height: 210px;
}
.scene_cooking {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 396px;
  height: 219px;
}
