.promo_peppermint_flame {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1195px -590px;
  width: 140px;
  height: 147px;
}
.promo_pet_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1195px -442px;
  width: 140px;
  height: 147px;
}
.customize-option.promo_pet_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1220px -457px;
  width: 60px;
  height: 60px;
}
.promo_pyromancer {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -755px -1481px;
  width: 113px;
  height: 113px;
}
.promo_rainbow_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -869px -1481px;
  width: 92px;
  height: 103px;
}
.promo_seasonal_shop_fall_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -446px;
  width: 279px;
  height: 147px;
}
.promo_shimmer_hair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -784px -1172px;
  width: 330px;
  height: 83px;
}
.promo_shimmer_potions {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1053px 0px;
  width: 141px;
  height: 441px;
}
.promo_shinySeeds {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1195px 0px;
  width: 141px;
  height: 441px;
}
.promo_splashyskins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -830px -605px;
  width: 198px;
  height: 91px;
}
.customize-option.promo_splashyskins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -855px -620px;
  width: 60px;
  height: 60px;
}
.promo_spooky_sparkles_fall_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -151px;
  width: 140px;
  height: 294px;
}
.promo_spring_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -430px -1267px;
  width: 362px;
  height: 102px;
}
.promo_spring_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -725px -452px;
  width: 309px;
  height: 147px;
}
.promo_springclasses2014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1082px -1267px;
  width: 288px;
  height: 90px;
}
.promo_springclasses2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -793px -1267px;
  width: 288px;
  height: 90px;
}
.promo_staff_spotlight_Lemoness {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1478px -299px;
  width: 102px;
  height: 146px;
}
.promo_staff_spotlight_Viirus {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1053px -590px;
  width: 119px;
  height: 147px;
}
.promo_staff_spotlight_paglias {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1215px -976px;
  width: 99px;
  height: 147px;
}
.promo_steampunk_3017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -825px;
  width: 140px;
  height: 441px;
}
.promo_summer_classes_2014 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1267px;
  width: 429px;
  height: 102px;
}
.promo_summer_classes_2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -1098px;
  width: 300px;
  height: 88px;
}
.promo_summer_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -825px;
  width: 400px;
  height: 150px;
}
.promo_takeThis_gear {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1486px -1267px;
  width: 114px;
  height: 87px;
}
.promo_takethis_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1371px -1267px;
  width: 114px;
  height: 87px;
}
.promo_task_planning {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -976px;
  width: 240px;
  height: 195px;
}
.promo_turkey_day_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -282px -825px;
  width: 140px;
  height: 441px;
}
.promo_unconventional_armor {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1560px -1001px;
  width: 60px;
  height: 60px;
}
.promo_unconventional_armor2 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1560px -926px;
  width: 70px;
  height: 74px;
}
.promo_updos {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1478px -151px;
  width: 156px;
  height: 147px;
}
.promo_veteran_pets {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1490px -1187px;
  width: 146px;
  height: 75px;
}
.promo_winter_classes_2016 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -423px -1172px;
  width: 360px;
  height: 90px;
}
.promo_winter_classes_2017 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -397px -605px;
  width: 432px;
  height: 144px;
}
.promo_winter_fireworks {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1053px -442px;
  width: 138px;
  height: 147px;
}
.promo_winterclasses2015 {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1370px;
  width: 325px;
  height: 110px;
}
.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -141px -825px;
  width: 140px;
  height: 441px;
}
.customize-option.promo_wintery_skins {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -166px -840px;
  width: 60px;
  height: 60px;
}
.promo_winteryhair {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -1187px;
  width: 152px;
  height: 75px;
}
.avatar_variety {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -824px -825px;
  width: 498px;
  height: 95px;
}
.npc_viirus {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -326px -1370px;
  width: 108px;
  height: 90px;
}
.party_preview {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -385px;
  width: 451px;
  height: 219px;
}
.promo_backtoschool {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -453px -1481px;
  width: 150px;
  height: 150px;
}
.promo_cooking {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -605px;
  width: 396px;
  height: 219px;
}
.promo_startingover {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -604px -1481px;
  width: 150px;
  height: 150px;
}
.promo_valentines {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -905px -976px;
  width: 309px;
  height: 147px;
}
.promo_working_out {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px 0px;
  width: 300px;
  height: 150px;
}
.scene_arts_crafts {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px 0px;
  width: 384px;
  height: 384px;
}
.scene_coding {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: 0px -1481px;
  width: 150px;
  height: 150px;
}
.scene_dailies {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -725px 0px;
  width: 327px;
  height: 276px;
}
.scene_eco_friendly {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -926px;
  width: 222px;
  height: 171px;
}
.scene_habits {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -725px -277px;
  width: 306px;
  height: 174px;
}
.scene_meditation {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -302px -1481px;
  width: 150px;
  height: 150px;
}
.scene_phone_peek {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -151px -1481px;
  width: 150px;
  height: 150px;
}
.scene_todos {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -664px -976px;
  width: 240px;
  height: 195px;
}
.scene_video_games {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -385px 0px;
  width: 339px;
  height: 342px;
}
.welcome_basic_avatars {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -760px;
  width: 246px;
  height: 165px;
}
.welcome_promo_party {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -452px -385px;
  width: 270px;
  height: 180px;
}
.welcome_sample_tasks {
  background-image: url(/static/sprites/spritesmith-largeSprites-1.png);
  background-position: -1337px -594px;
  width: 246px;
  height: 165px;
}
