.promo_armoire_backgrounds_201901 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -422px;
  width: 423px;
  height: 147px;
}
.promo_bird_buddies_bundle {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -662px 0px;
  width: 420px;
  height: 147px;
}
.promo_birthday_2019 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -277px;
  width: 498px;
  height: 144px;
}
.promo_mystery_201901 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -662px -148px;
  width: 282px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -945px -148px;
  width: 96px;
  height: 69px;
}
.scene_apollo {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -662px -296px;
  width: 279px;
  height: 147px;
}
.scene_eating_healthy {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px 0px;
  width: 333px;
  height: 252px;
}
.scene_yesterdailies {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 327px;
  height: 276px;
}
