.weapon_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1183px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1373px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1427px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1001px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1092px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_special_aetherCrystals {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -679px;
  width: 114px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -1194px;
  width: 90px;
  height: 90px;
}
.weapon_special_fencingFoil {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1498px -1194px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1376px -1315px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1467px -1315px;
  width: 90px;
  height: 90px;
}
.weapon_special_nomadsScimitar {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -190px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -281px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -372px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_skeletonKey {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -463px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_tachi {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -554px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -645px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -827px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1009px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1191px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1282px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1464px -1454px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -91px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -182px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -273px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -455px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -546px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -728px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -819px -1596px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -910px -1596px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1412px -1596px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1743px -542px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1738px -989px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -473px -220px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -473px -272px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -473px -324px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1027px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1227px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1327px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1127px;
  width: 99px;
  height: 99px;
}
.empty_bottles {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -882px -1246px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1285px -1315px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1555px -1454px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -272px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -435px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -504px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1481px -1596px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1343px -1596px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -759px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -341px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -573px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -655px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -724px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -944px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -1013px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1619px -1596px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -690px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -621px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -552px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -483px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -414px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -345px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -276px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -207px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -138px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -69px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1687px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1688px -1596px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -203px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1550px -1596px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -1518px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1274px -1596px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -875px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -736px -1454px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -793px;
  width: 68px;
  height: 68px;
}
.snowman {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -918px -1454px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1168px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1127px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1743px -455px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1743px -426px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -587px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1709px -989px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1739px -737px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1739px -679px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -645px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -616px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -558px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1743px -513px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1743px -484px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1739px -708px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1254px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -1279px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1304px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1749px -1227px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -1304px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1227px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1279px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1745px -1254px;
  width: 20px;
  height: 24px;
}
.npc_alex {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -796px -1315px;
  width: 162px;
  height: 138px;
}
.npc_aprilFool {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -558px;
  width: 120px;
  height: 120px;
}
.npc_bailey {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1700px -770px;
  width: 71px;
  height: 101px;
}
.npc_daniel {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -302px;
  width: 135px;
  height: 123px;
}
.npc_ian {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -770px;
  width: 75px;
  height: 135px;
}
.npc_justin {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -906px;
  width: 84px;
  height: 120px;
}
.npc_justin_head {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1724px -1027px;
  width: 36px;
  height: 96px;
}
.npc_matt {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -404px -1315px;
  width: 195px;
  height: 138px;
}
.npc_sabe {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -637px -1596px;
  width: 90px;
  height: 90px;
}
.npc_timetravelers {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -208px -1315px;
  width: 195px;
  height: 138px;
}
.npc_timetravelers_active {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -600px -1315px;
  width: 195px;
  height: 138px;
}
.npc_tyler {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -364px -1596px;
  width: 90px;
  height: 90px;
}
.npc_vicky {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1709px -906px;
  width: 59px;
  height: 82px;
}
.seasonalshop_closed {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -959px -1315px;
  width: 162px;
  height: 138px;
}
.seasonalshop_open {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1122px -1315px;
  width: 162px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1700px -872px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -630px;
  width: 201px;
  height: 195px;
}
.quest_armadillo {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -967px -220px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -882px -1095px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1315px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -1013px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -435px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1454px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -428px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -826px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -747px -220px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -655px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -527px -220px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -875px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px -217px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px 0px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -875px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -967px -440px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1187px -440px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -307px -220px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -426px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -1095px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1095px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1187px -660px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -1095px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1187px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1187px 0px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1133px -1095px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -203px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -967px -660px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -875px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -875px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1187px -880px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -1095px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -967px 0px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -747px -440px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -655px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -655px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -655px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1624px -151px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -747px 0px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -435px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -435px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1407px 0px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -875px;
  width: 219px;
  height: 219px;
}
