.Mount_Head_Triceratops-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Triceratops-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -922px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turkey-Gilded {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -922px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Turtle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1028px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Unicorn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -514px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -620px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Velociraptor-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -816px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Whale-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -816px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Wolf-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1028px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Icon_Aether-Invisible {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -848px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1134px -948px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -726px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1134px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1240px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1732px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1234px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Polar {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1404px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1334px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1486px -1300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1476px -1434px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -1300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1568px -1400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1476px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1558px -1534px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1650px -1500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1732px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1732px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1732px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1322px -1100px;
  width: 81px;
  height: 99px;
}
