.Mount_Body_Gryphon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -529px -115px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -529px -221px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -529px -327px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -333px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -635px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -635px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -635px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -635px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -635px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -623px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippogriff-Hopeful {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -408px;
  width: 111px;
  height: 108px;
}
.Mount_Body_Horse-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -741px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_JackOLantern-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -1484px;
  width: 90px;
  height: 105px;
}
.Mount_Body_JackOLantern-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -1378px;
  width: 90px;
  height: 105px;
}
.Mount_Body_Jackalope-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -729px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -847px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -835px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ethereal {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -953px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -941px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -112px -408px;
  width: 111px;
  height: 105px;
}
.Mount_Body_LionCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -408px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Body_LionCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1059px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_MagicalBee-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -529px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Mammoth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -408px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Body_MantisShrimp-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -224px -408px;
  width: 108px;
  height: 105px;
}
.Mount_Body_Monkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1047px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1165px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1153px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Orca-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1271px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1259px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1377px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -408px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_PandaCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1365px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1483px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Phoenix-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1378px -1471px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1589px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1378px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1484px -1577px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1695px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sabretooth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
