.Mount_Body_Falcon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -666px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Falcon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Ferret-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1484px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -433px -357px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -560px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -560px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -560px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -560px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -472px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -666px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Body_FlyingPig-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -666px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -666px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_FlyingPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -666px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -578px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -772px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -121px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_Fox-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -684px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Fox-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -878px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Frog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -454px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -454px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -242px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -348px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -348px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -242px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -242px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -242px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -242px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Frog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -454px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Gryphon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -790px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -984px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -896px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1090px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1002px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_JackOLantern-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1726px -424px;
  width: 90px;
  height: 105px;
}
.Mount_Body_JackOLantern-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1726px -318px;
  width: 90px;
  height: 105px;
}
.Mount_Body_Jackalope-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1196px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -327px -357px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ethereal {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1166px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -357px;
  width: 111px;
  height: 105px;
}
.Mount_Body_LionCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1302px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -121px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Body_LionCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_MagicalBee-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -357px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Mammoth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -242px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_MantisShrimp-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -218px -357px;
  width: 108px;
  height: 105px;
}
.Mount_Body_Monkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1166px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1272px -1214px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1408px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Orca-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1166px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1272px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1378px -1320px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1514px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1166px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1272px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1378px -1426px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_PandaCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1620px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -212px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -318px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -424px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -530px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -636px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -742px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -848px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -954px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1060px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1166px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1272px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1378px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1484px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1590px -1532px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1726px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1726px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -106px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Phoenix-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: 0px -1108px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-12.png');
  background-position: -1726px -212px;
  width: 105px;
  height: 105px;
}
