.Mount_Head_Wolf-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -544px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -544px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -560px -544px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -242px -544px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -348px -544px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -454px -544px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Icon_Aether-Invisible {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -680px -530px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -680px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Alligator-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -786px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Armadillo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -868px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Axolotl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -780px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Badger-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -950px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -880px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Polar {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_BearCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -980px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Beetle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1114px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Bunny-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1080px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Butterfly-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1196px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cactus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1180px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cheetah-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1360px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cow-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Cuttlefish-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1280px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Deer-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1442px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dolphin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1380px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1524px -1300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Dragon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Egg-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1476px -1480px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Falcon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -700px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -800px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -900px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -1000px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -1100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -1200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -1300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1606px -1400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_Ferret-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -984px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1066px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1148px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1230px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1312px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1394px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1476px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1558px -1580px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px 0px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -100px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -200px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -300px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -400px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -500px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1688px -600px;
  width: 81px;
  height: 99px;
}
.Mount_Icon_FlyingPig-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -1278px -1000px;
  width: 81px;
  height: 99px;
}
