.slim_armor_special_winter2017Rogue {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -182px;
  width: 90px;
  height: 90px;
}
.slim_armor_special_winter2017Warrior {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1001px;
  width: 90px;
  height: 90px;
}
.slim_armor_special_yeti {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -1274px;
  width: 90px;
  height: 90px;
}
.weapon_special_candycane {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -910px -1282px;
  width: 90px;
  height: 90px;
}
.weapon_special_ski {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1001px -1282px;
  width: 90px;
  height: 90px;
}
.weapon_special_snowflake {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1092px -1282px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2015Healer {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1274px -1282px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2015Mage {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px 0px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2015Rogue {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -877px -1025px;
  width: 96px;
  height: 90px;
}
.weapon_special_winter2015Warrior {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -273px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2016Healer {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -974px -1025px;
  width: 93px;
  height: 90px;
}
.weapon_special_winter2016Mage {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -546px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2016Rogue {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -637px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2016Warrior {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -728px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2017Healer {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -819px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2017Mage {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -910px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2017Rogue {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -1001px;
  width: 90px;
  height: 90px;
}
.weapon_special_winter2017Warrior {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -91px -1282px;
  width: 90px;
  height: 90px;
}
.weapon_special_yeti {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -182px -1282px;
  width: 90px;
  height: 90px;
}
.back_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -273px -1282px;
  width: 90px;
  height: 90px;
}
.back_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -364px -1282px;
  width: 90px;
  height: 90px;
}
.body_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -455px -1282px;
  width: 90px;
  height: 90px;
}
.body_special_wondercon_gold {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -546px -1282px;
  width: 90px;
  height: 90px;
}
.body_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -637px -1282px;
  width: 90px;
  height: 90px;
}
.eyewear_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -728px -1282px;
  width: 90px;
  height: 90px;
}
.eyewear_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -819px -1282px;
  width: 90px;
  height: 90px;
}
.shop_back_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -820px -1646px;
  width: 40px;
  height: 40px;
}
.shop_back_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -861px -1646px;
  width: 40px;
  height: 40px;
}
.shop_body_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1107px;
  width: 40px;
  height: 40px;
}
.shop_body_special_wondercon_gold {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1066px;
  width: 40px;
  height: 40px;
}
.shop_body_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1025px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_wondercon_black {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -984px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_wondercon_red {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -943px;
  width: 40px;
  height: 40px;
}
.eyewear_special_blackTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -364px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_blackTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -379px;
  width: 60px;
  height: 60px;
}
.eyewear_special_blueTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -455px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_blueTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -470px;
  width: 60px;
  height: 60px;
}
.eyewear_special_greenTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -546px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_greenTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -561px;
  width: 60px;
  height: 60px;
}
.eyewear_special_pinkTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -637px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_pinkTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -652px;
  width: 60px;
  height: 60px;
}
.eyewear_special_redTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -1001px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_redTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -1016px;
  width: 60px;
  height: 60px;
}
.eyewear_special_whiteTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -1092px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_whiteTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -1107px;
  width: 60px;
  height: 60px;
}
.eyewear_special_yellowTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -1183px;
  width: 90px;
  height: 90px;
}
.customize-option.eyewear_special_yellowTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1409px -1198px;
  width: 60px;
  height: 60px;
}
.shop_eyewear_special_blackTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -902px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_blueTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -861px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_greenTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -820px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_pinkTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -779px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_redTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -738px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_whiteTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -697px;
  width: 40px;
  height: 40px;
}
.shop_eyewear_special_yellowTopFrame {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -656px;
  width: 40px;
  height: 40px;
}
.head_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -1183px;
  width: 90px;
  height: 90px;
}
.customize-option.head_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1500px -1198px;
  width: 60px;
  height: 60px;
}
.head_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -1274px;
  width: 90px;
  height: 90px;
}
.head_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -273px;
  width: 90px;
  height: 90px;
}
.head_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1068px -1025px;
  width: 90px;
  height: 90px;
}
.head_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1159px -1025px;
  width: 90px;
  height: 90px;
}
.head_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -561px -1146px;
  width: 90px;
  height: 90px;
}
.head_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -652px -1146px;
  width: 90px;
  height: 90px;
}
.head_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -743px -1146px;
  width: 90px;
  height: 90px;
}
.head_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -834px -1146px;
  width: 90px;
  height: 90px;
}
.head_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -925px -1146px;
  width: 90px;
  height: 90px;
}
.head_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1016px -1146px;
  width: 90px;
  height: 90px;
}
.head_special_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1107px -1146px;
  width: 90px;
  height: 90px;
}
.head_special_bardHat {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1198px -1146px;
  width: 90px;
  height: 90px;
}
.head_special_fireCoralCirclet {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px 0px;
  width: 90px;
  height: 90px;
}
.head_special_lunarWarriorHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -91px;
  width: 90px;
  height: 90px;
}
.head_special_mammothRiderHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -182px;
  width: 90px;
  height: 90px;
}
.head_special_pageHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -273px;
  width: 90px;
  height: 90px;
}
.head_special_pyromancersTurban {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -364px;
  width: 90px;
  height: 90px;
}
.head_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -455px;
  width: 90px;
  height: 90px;
}
.head_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -546px;
  width: 90px;
  height: 90px;
}
.head_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -637px;
  width: 90px;
  height: 90px;
}
.head_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -728px;
  width: 90px;
  height: 90px;
}
.head_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -819px;
  width: 90px;
  height: 90px;
}
.head_wizard_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -910px;
  width: 90px;
  height: 90px;
}
.head_wizard_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -1001px;
  width: 90px;
  height: 90px;
}
.head_wizard_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -1092px;
  width: 90px;
  height: 90px;
}
.head_wizard_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1293px -1183px;
  width: 90px;
  height: 90px;
}
.head_wizard_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1282px;
  width: 90px;
  height: 90px;
}
.shop_head_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -615px;
  width: 40px;
  height: 40px;
}
.shop_head_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -574px;
  width: 40px;
  height: 40px;
}
.shop_head_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -533px;
  width: 40px;
  height: 40px;
}
.shop_head_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -492px;
  width: 40px;
  height: 40px;
}
.shop_head_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -451px;
  width: 40px;
  height: 40px;
}
.shop_head_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -410px;
  width: 40px;
  height: 40px;
}
.shop_head_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -369px;
  width: 40px;
  height: 40px;
}
.shop_head_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -328px;
  width: 40px;
  height: 40px;
}
.shop_head_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -287px;
  width: 40px;
  height: 40px;
}
.shop_head_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -246px;
  width: 40px;
  height: 40px;
}
.shop_head_special_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -205px;
  width: 40px;
  height: 40px;
}
.shop_head_special_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -164px;
  width: 40px;
  height: 40px;
}
.shop_head_special_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -82px;
  width: 40px;
  height: 40px;
}
.shop_head_special_bardHat {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -41px;
  width: 40px;
  height: 40px;
}
.shop_head_special_fireCoralCirclet {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px 0px;
  width: 40px;
  height: 40px;
}
.shop_head_special_lunarWarriorHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1640px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_special_mammothRiderHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1599px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_special_pageHelm {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1558px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_special_pyromancersTurban {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1476px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1435px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1353px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1312px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1189px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1107px -1646px;
  width: 40px;
  height: 40px;
}
.shop_head_wizard_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1568px;
  width: 40px;
  height: 40px;
}
.shop_head_wizard_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1486px;
  width: 40px;
  height: 40px;
}
.shop_head_wizard_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1445px;
  width: 40px;
  height: 40px;
}
.shop_head_wizard_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1404px;
  width: 40px;
  height: 40px;
}
.shop_head_wizard_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1363px;
  width: 40px;
  height: 40px;
}
.headAccessory_special_bearEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_bearEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -25px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_cactusEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -91px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_cactusEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -116px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_foxEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -182px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_foxEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -207px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_lionEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -273px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_lionEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -298px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pandaEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -364px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pandaEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -389px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pigEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -455px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pigEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -480px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_tigerEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -546px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_tigerEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -571px -1388px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_wolfEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -637px -1373px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_wolfEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -662px -1388px;
  width: 60px;
  height: 60px;
}
.shop_headAccessory_special_bearEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1322px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_cactusEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1281px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_foxEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1240px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_lionEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1199px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_pandaEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1158px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_pigEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1117px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_tigerEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1076px;
  width: 40px;
  height: 40px;
}
.shop_headAccessory_special_wolfEars {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1035px;
  width: 40px;
  height: 40px;
}
.shield_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px 0px;
  width: 90px;
  height: 90px;
}
.shield_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -91px;
  width: 90px;
  height: 90px;
}
.shield_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -182px;
  width: 90px;
  height: 90px;
}
.shield_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -273px;
  width: 90px;
  height: 90px;
}
.shield_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -364px;
  width: 90px;
  height: 90px;
}
.shield_rogue_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -455px;
  width: 90px;
  height: 90px;
}
.shield_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -567px -1025px;
  width: 103px;
  height: 90px;
}
.shield_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -463px -1025px;
  width: 103px;
  height: 90px;
}
.shield_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -236px -1025px;
  width: 114px;
  height: 90px;
}
.shield_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -995px -754px;
  width: 96px;
  height: 90px;
}
.shield_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -121px -1025px;
  width: 114px;
  height: 90px;
}
.shield_rogue_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -880px -754px;
  width: 114px;
  height: 90px;
}
.shield_special_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -1092px;
  width: 90px;
  height: 90px;
}
.shield_special_diamondStave {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -774px -1025px;
  width: 102px;
  height: 90px;
}
.shield_special_goldenknight {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -351px -1025px;
  width: 111px;
  height: 90px;
}
.shield_special_mammothRiderHorn {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1475px -1365px;
  width: 90px;
  height: 90px;
}
.shield_special_moonpearlShield {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1464px;
  width: 90px;
  height: 90px;
}
.shield_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -91px -1464px;
  width: 90px;
  height: 90px;
}
.shield_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -182px -1464px;
  width: 90px;
  height: 90px;
}
.shield_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -273px -1464px;
  width: 90px;
  height: 90px;
}
.shield_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -364px -1464px;
  width: 90px;
  height: 90px;
}
.shield_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -455px -1464px;
  width: 90px;
  height: 90px;
}
.shop_shield_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -994px;
  width: 40px;
  height: 40px;
}
.shop_shield_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -953px;
  width: 40px;
  height: 40px;
}
.shop_shield_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -912px;
  width: 40px;
  height: 40px;
}
.shop_shield_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -871px;
  width: 40px;
  height: 40px;
}
.shop_shield_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -830px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -789px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -748px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -707px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -666px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -625px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -584px;
  width: 40px;
  height: 40px;
}
.shop_shield_rogue_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -543px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -502px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -461px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_diamondStave {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -420px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_goldenknight {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -379px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_mammothRiderHorn {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -338px;
  width: 40px;
  height: 40px;
}
.shop_shield_special_moonpearlShield {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -297px;
  width: 40px;
  height: 40px;
}
.shop_shield_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -256px;
  width: 40px;
  height: 40px;
}
.shop_shield_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -215px;
  width: 40px;
  height: 40px;
}
.shop_shield_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -174px;
  width: 40px;
  height: 40px;
}
.shop_shield_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -133px;
  width: 40px;
  height: 40px;
}
.shop_shield_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1148px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -92px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -123px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1517px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1394px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1066px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1025px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_healer_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -984px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -1527px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1055px -181px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1248px -378px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1233px -932px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1218px -973px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1055px -222px;
  width: 40px;
  height: 40px;
}
.shop_weapon_rogue_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1055px -263px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1055px -304px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1055px -345px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1250px -1025px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1250px -1066px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_bardInstrument {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_critical {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -41px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_lunarScythe {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -82px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_mammothRiderSpear {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -123px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_pageBanner {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -164px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_taskwoodsLantern {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -205px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_special_tridentOfCrashingTides {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -246px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -287px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -328px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -369px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -451px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -492px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -533px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_warrior_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -574px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -615px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -656px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -697px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -738px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -779px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -902px -1646px;
  width: 40px;
  height: 40px;
}
.shop_weapon_wizard_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -943px -1646px;
  width: 40px;
  height: 40px;
}
.weapon_healer_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -91px -1555px;
  width: 90px;
  height: 90px;
}
.weapon_healer_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1555px;
  width: 90px;
  height: 90px;
}
.weapon_healer_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1456px;
  width: 90px;
  height: 90px;
}
.weapon_healer_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1365px;
  width: 90px;
  height: 90px;
}
.weapon_healer_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1274px;
  width: 90px;
  height: 90px;
}
.weapon_healer_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1183px;
  width: 90px;
  height: 90px;
}
.weapon_healer_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -1092px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -910px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -819px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -728px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -637px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -546px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -455px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -364px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -671px -1025px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -182px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px -91px;
  width: 90px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1566px 0px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1456px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1365px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1274px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1183px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1092px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1001px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -910px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -819px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -728px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -637px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -546px -1464px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1365px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1274px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1183px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1092px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1001px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -910px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -819px -1373px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -728px -1373px;
  width: 90px;
  height: 90px;
}
.GrimReaper {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -182px -1555px;
  width: 57px;
  height: 66px;
}
.Pet_Currency_Gem {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px -52px;
  width: 45px;
  height: 39px;
}
.Pet_Currency_Gem1x {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1216px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1706px -1189px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -936px -1555px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -988px -1555px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1040px -1555px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -361px -1146px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -461px -1146px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -261px -1146px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -161px -1146px;
  width: 99px;
  height: 99px;
}
.empty_bottles {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1025px -947px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -910px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1435px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_01 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1288px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_02 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1582px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_03 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1657px 0px;
  width: 48px;
  height: 51px;
}
.inventory_present_04 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1533px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_05 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1337px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_06 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1046px -395px;
  width: 48px;
  height: 51px;
}
.inventory_present_07 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1190px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_08 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1092px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_present_09 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1046px -551px;
  width: 48px;
  height: 51px;
}
.inventory_present_10 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1046px -499px;
  width: 48px;
  height: 51px;
}
.inventory_present_11 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1046px -447px;
  width: 48px;
  height: 51px;
}
.inventory_present_12 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1484px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_quest_scroll {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1386px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_quest_scroll_locked {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1239px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_special_birthday {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -878px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_fortify {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -820px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_greeting {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -298px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_nye {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -704px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_opaquePotion {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -410px -1646px;
  width: 40px;
  height: 40px;
}
.inventory_special_seafoam {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -646px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_shinySeed {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -588px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_snowball {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -530px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_spookySparkles {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -472px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_thankyou {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -414px -1555px;
  width: 57px;
  height: 54px;
}
.inventory_special_trinket {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1141px -1555px;
  width: 48px;
  height: 51px;
}
.inventory_special_valentine {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -356px -1555px;
  width: 57px;
  height: 54px;
}
.knockout {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -973px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -240px -1555px;
  width: 57px;
  height: 54px;
}
.rebirth_orb {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -762px -1555px;
  width: 57px;
  height: 54px;
}
.seafoam_star {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -819px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1148px -1646px;
  width: 40px;
  height: 40px;
}
.snowman {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -728px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1271px -1646px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1230px -1646px;
  width: 40px;
  height: 40px;
}
.npc_alex {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -432px;
  width: 162px;
  height: 138px;
}
.npc_aprilFool {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1025px;
  width: 120px;
  height: 120px;
}
.npc_bailey {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1025px -874px;
  width: 60px;
  height: 72px;
}
.npc_daniel {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -849px;
  width: 135px;
  height: 123px;
}
.npc_ian {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -1146px;
  width: 75px;
  height: 135px;
}
.npc_justin {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -76px -1146px;
  width: 84px;
  height: 120px;
}
.npc_justin_head {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1248px -281px;
  width: 36px;
  height: 96px;
}
.npc_matt {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -710px -874px;
  width: 195px;
  height: 138px;
}
.npc_sabe {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1384px -91px;
  width: 90px;
  height: 90px;
}
.npc_timetravelers {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px 0px;
  width: 195px;
  height: 138px;
}
.npc_timetravelers_active {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -880px -603px;
  width: 201px;
  height: 150px;
}
.npc_tyler {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1183px -1282px;
  width: 90px;
  height: 90px;
}
.npc_vicky {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1233px -849px;
  width: 59px;
  height: 82px;
}
.seasonalshop_closed {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -710px;
  width: 162px;
  height: 138px;
}
.seasonalshop_open {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -571px;
  width: 162px;
  height: 138px;
}
.quest_armadillo {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -660px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -874px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -502px -874px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -880px 0px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px 0px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -139px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -433px -660px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -638px -660px;
  width: 210px;
  height: 186px;
}
.quest_cheetah {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -880px -181px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -440px -440px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -222px -660px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -1097px -281px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -660px -440px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -660px -220px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -880px -395px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -906px -874px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -220px -440px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -440px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -440px -220px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -660px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -220px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: 0px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url(/static/sprites/spritesmith-main-7.png);
  background-position: -251px -874px;
  width: 250px;
  height: 150px;
}
