.Pet-Wolf-Desert {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -82px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Ember {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -164px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Fairy {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -82px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Floral {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -164px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Ghost {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Golden {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -82px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Holly {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -164px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Peppermint {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -246px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Red {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -246px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-RoyalPurple {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shade {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shimmer {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -164px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Skeleton {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -246px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Spooky {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -328px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Thunderstorm {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -328px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Veteran {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -328px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-White {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Zombie {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -82px -300px;
  width: 81px;
  height: 99px;
}
.Pet_HatchingPotion_Aquatic {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -246px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Base {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -315px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -207px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -410px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Cupid {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -410px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Desert {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -410px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ember {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -410px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fairy {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Floral {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -69px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -138px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -207px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -276px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -345px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -479px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: 0px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -69px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -138px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url(/static/sprites/spritesmith-main-20.png);
  background-position: -410px 0px;
  width: 68px;
  height: 68px;
}
