.promo_armoire_background_201804 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -142px -587px;
  width: 141px;
  height: 441px;
}
.promo_ios {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -532px 0px;
  width: 325px;
  height: 336px;
}
.promo_mystery_201804 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -695px -337px;
  width: 114px;
  height: 90px;
}
.promo_rainbow_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -284px -587px;
  width: 141px;
  height: 441px;
}
.promo_seasonalshop_spring {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -532px -337px;
  width: 162px;
  height: 138px;
}
.promo_shimmer_pastel {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -426px -735px;
  width: 354px;
  height: 147px;
}
.promo_shiny_seeds {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -426px -587px;
  width: 360px;
  height: 147px;
}
.promo_spring_fling_2018 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -587px;
  width: 141px;
  height: 588px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -532px -476px;
  width: 114px;
  height: 87px;
}
.scene_positivity {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 531px;
  height: 243px;
}
.scene_video_games {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -244px;
  width: 339px;
  height: 342px;
}
