.shield_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -290px -1309px;
  width: 90px;
  height: 90px;
}
.shield_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -745px -1309px;
  width: 90px;
  height: 90px;
}
.shield_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1183px;
  width: 90px;
  height: 90px;
}
.shop_shield_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -552px -1542px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1104px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1173px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1311px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1380px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1449px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -207px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -276px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -345px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -414px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -483px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -552px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -621px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -690px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_diamondStave {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -759px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_goldenknight {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -828px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_lootBag {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -897px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_mammothRiderHorn {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -966px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_moonpearlShield {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1035px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1104px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wakizashi {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1173px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wintryMirror {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1242px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1311px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1380px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1449px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1518px -1611px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1587px -1611px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1656px -1611px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px 0px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -276px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -828px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -759px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -690px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -621px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -552px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -483px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -414px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -345px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -207px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -138px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -69px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -138px -1611px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1611px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -621px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -483px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_aetherCrystals {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -414px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_bardInstrument {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -345px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_critical {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -276px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_fencingFoil {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -207px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_lunarScythe {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -138px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_mammothRiderSpear {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -69px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_nomadsScimitar {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1542px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_pageBanner {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -1013px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -944px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_skeletonKey {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1100px -875px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tachi {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -793px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_taskwoodsLantern {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -724px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tridentOfCrashingTides {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -655px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -573px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -504px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -435px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -341px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -272px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -203px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1510px -1217px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1507px -1117px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1507px -1017px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1507px -917px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1492px -796px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1456px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -69px -1611px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -966px;
  width: 68px;
  height: 68px;
}
.weapon_healer_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1183px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_healer_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1274px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_healer_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1365px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_healer_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1456px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_healer_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px 0px;
  width: 90px;
  height: 90px;
}
.weapon_healer_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -91px;
  width: 90px;
  height: 90px;
}
.weapon_healer_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -182px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -273px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -364px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -455px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -546px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -637px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -728px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -819px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -1217px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1001px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1092px;
  width: 90px;
  height: 90px;
}
.weapon_special_aetherCrystals {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -705px;
  width: 114px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1274px;
  width: 90px;
  height: 90px;
}
.weapon_special_fencingFoil {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1092px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1001px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -910px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_nomadsScimitar {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -819px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -728px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_roguishRainbowMessage {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -637px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_skeletonKey {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -546px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_tachi {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -455px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -364px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -273px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -182px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -91px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1451px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1473px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1382px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1291px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1200px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1109px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1018px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -927px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -836px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -1365px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -654px -1309px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -563px -1309px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1035px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1794px -1094px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1506px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1094px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1146px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1198px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -190px -1309px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -1117px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -1017px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -917px;
  width: 99px;
  height: 99px;
}
.empty_bottles {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1039px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1582px -910px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1518px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -690px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -759px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -828px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -897px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -966px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1035px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1104px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1173px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1242px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1311px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1380px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1449px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1587px -1542px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px 0px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -69px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -138px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -207px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -276px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -345px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -414px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -483px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -552px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -621px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -690px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -759px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -828px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -897px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -1034px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1242px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1673px -1518px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -472px -1309px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -897px;
  width: 68px;
  height: 68px;
}
.snowman {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -381px -1309px;
  width: 90px;
  height: 90px;
}
.zzz {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1291px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1250px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1419px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1332px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1477px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1448px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1448px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1419px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1332px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1390px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1390px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1361px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1361px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1771px -1477px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1763px -1533px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1784px -1533px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1558px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1783px -1291px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1763px -1558px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1783px -1250px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1773px -1506px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -1533px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1742px -966px;
  width: 60px;
  height: 72px;
}
.npc_justin {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -796px;
  width: 84px;
  height: 120px;
}
.npc_matt {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1149px -1095px;
  width: 195px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1492px -865px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -660px;
  width: 201px;
  height: 195px;
}
.quest_alligator {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -431px;
  width: 201px;
  height: 213px;
}
.quest_armadillo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -435px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -690px -1095px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -941px -1095px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -527px -220px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px 0px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px 0px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1309px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -645px;
  width: 204px;
  height: 201px;
}
.quest_bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -655px;
  width: 219px;
  height: 219px;
}
.quest_bunny {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px -440px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -220px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -875px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px 0px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -875px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -220px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -422px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -875px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -880px -875px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -435px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -214px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1407px -573px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -660px -655px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -655px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -220px -655px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -1095px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -747px 0px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -439px -1095px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -203px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -307px -220px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: 0px -435px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -1187px -847px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -967px -440px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_kangaroo {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -440px -875px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~assets/images/sprites/spritesmith-main-11.png');
  background-position: -222px -1095px;
  width: 216px;
  height: 177px;
}
