.Mount_Body_PandaCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -544px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_PandaCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px -109px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px -215px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px -321px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px -427px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px -533px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -653px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -771px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Phoenix-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -759px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -865px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -983px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -971px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1089px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sabretooth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_SeaSerpent-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1077px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1195px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1183px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1301px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1289px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1407px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1395px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Squirrel-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -665px 0px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -544px -230px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -544px -339px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -544px -121px;
  width: 105px;
  height: 108px;
}
.Mount_Body_TRex-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TigerCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1513px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1484px -1501px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px -408px;
  width: 120px;
  height: 120px;
}
.Mount_Body_TigerCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1619px -1484px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1607px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1607px;
  width: 105px;
  height: 105px;
}
