.quest_atom2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -642px -1519px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -211px -1519px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -232px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -191px -1706px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1322px -1112px;
  width: 204px;
  height: 201px;
}
.quest_bunny {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1519px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -220px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -452px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px 0px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -452px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px -1085px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -573px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -440px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -452px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -672px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -214px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -1026px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -672px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -672px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px 0px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -1112px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -440px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -660px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1094px -1332px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px 0px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -1332px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -892px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -892px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1332px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1320px 0px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1320px -220px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -443px -1332px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1320px -660px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1112px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -875px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -1112px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px -1112px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -1112px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px -217px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1320px -880px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1320px -440px;
  width: 219px;
  height: 219px;
}
.quest_moonstone1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -892px;
  width: 219px;
  height: 219px;
}
.quest_moonstone2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -892px;
  width: 219px;
  height: 219px;
}
.quest_moonstone3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -892px;
  width: 219px;
  height: 219px;
}
.quest_nudibranch {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px -868px;
  width: 216px;
  height: 216px;
}
.quest_octopus {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -1332px;
  width: 222px;
  height: 177px;
}
.quest_owl {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1100px -220px;
  width: 219px;
  height: 219px;
}
.quest_peacock {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px -434px;
  width: 216px;
  height: 216px;
}
.quest_penguin {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: 0px -1706px;
  width: 190px;
  height: 183px;
}
.quest_pterodactyl {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -672px;
  width: 219px;
  height: 219px;
}
.quest_rat {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -672px;
  width: 219px;
  height: 219px;
}
.quest_rock {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px -651px;
  width: 216px;
  height: 216px;
}
.quest_rooster {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -428px -1519px;
  width: 213px;
  height: 174px;
}
.quest_sabretooth {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px -220px;
  width: 219px;
  height: 219px;
}
.quest_sheep {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -880px 0px;
  width: 219px;
  height: 219px;
}
.quest_slime {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -452px;
  width: 219px;
  height: 219px;
}
.quest_sloth {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -660px 0px;
  width: 219px;
  height: 219px;
}
.quest_snail {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1102px -1112px;
  width: 219px;
  height: 213px;
}
.quest_snake {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -877px -1332px;
  width: 216px;
  height: 177px;
}
.quest_spider {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1345px -1332px;
  width: 250px;
  height: 150px;
}
.quest_stoikalmCalamity1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -422px;
  width: 150px;
  height: 150px;
}
.quest_stoikalmCalamity2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -440px -232px;
  width: 219px;
  height: 219px;
}
.quest_stoikalmCalamity3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -232px;
  width: 219px;
  height: 219px;
}
.quest_taskwoodsTerror1 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1757px -724px;
  width: 150px;
  height: 150px;
}
.quest_taskwoodsTerror2 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -1540px 0px;
  width: 216px;
  height: 216px;
}
.quest_taskwoodsTerror3 {
  background-image: url('~assets/images/sprites/spritesmith-main-10.png');
  background-position: -220px -892px;
  width: 219px;
  height: 219px;
}
