.Mount_Body_Gryphon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Gryphon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -221px -257px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -363px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -363px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -363px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -363px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -363px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -363px;
  width: 105px;
  height: 105px;
}
.Mount_Body_GuineaPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -363px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -469px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -469px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -469px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -469px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -469px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -469px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -469px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -469px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -469px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hedgehog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -575px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -575px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -575px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -575px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -575px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -575px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Hippogriff-Hopeful {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -121px -136px;
  width: 111px;
  height: 108px;
}
.Mount_Body_Horse-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -681px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Horse-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_JackOLantern-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -409px -1635px;
  width: 90px;
  height: 105px;
}
.Mount_Body_JackOLantern-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1635px;
  width: 90px;
  height: 105px;
}
.Mount_Body_Jackalope-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -787px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ethereal {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -893px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -893px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Silver {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -257px;
  width: 111px;
  height: 105px;
}
.Mount_Body_LionCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -999px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_LionCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_MagicalBee-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -257px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Mammoth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -257px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_MantisShrimp-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -112px -257px;
  width: 108px;
  height: 105px;
}
.Mount_Body_Monkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -999px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1105px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1105px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1635px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Orca-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1211px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1211px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1317px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Silver {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -136px;
  width: 120px;
  height: 120px;
}
.Mount_Body_PandaCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1317px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1423px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1423px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Phoenix-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1529px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1484px -1529px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1635px -1484px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1635px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1635px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -787px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -681px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sabretooth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
