.Pet_HatchingPotion_Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -69px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -138px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: 0px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -69px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -138px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -138px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: 0px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -69px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: 0px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -207px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -207px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -207px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: 0px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -69px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -138px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-22.png');
  background-position: -207px -207px;
  width: 68px;
  height: 68px;
}
