.promo_aquatic_glass_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1168px 0px;
  width: 141px;
  height: 441px;
}
.promo_armoire_backgrounds_201806 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1026px 0px;
  width: 141px;
  height: 441px;
}
.promo_bundle_aquaticAmigos {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -346px -664px;
  width: 423px;
  height: 147px;
}
.promo_ios {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -327px;
  width: 325px;
  height: 336px;
}
.promo_mystery_201806 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1168px -442px;
  width: 121px;
  height: 114px;
}
.promo_seafoam {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -884px 0px;
  width: 141px;
  height: 441px;
}
.promo_seasonal_shop_summer {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -441px -301px;
  width: 162px;
  height: 138px;
}
.promo_summer_splash_2018 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -742px 0px;
  width: 141px;
  height: 588px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1168px -557px;
  width: 96px;
  height: 69px;
}
.scene_families {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -664px;
  width: 345px;
  height: 195px;
}
.scene_moderators {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -441px 0px;
  width: 300px;
  height: 300px;
}
.scene_tavern {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 440px;
  height: 326px;
}
