.Mount_Head_Fox-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Fox-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Frog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -408px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -529px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -635px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -408px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -635px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -408px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -529px -345px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -408px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px -245px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Frog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -529px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Gryphon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -635px -341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -109px -523px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -215px -523px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -321px -523px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Gryphon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -427px -523px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -533px -523px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -629px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_GuineaPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -741px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -735px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -847px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -841px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_JackOLantern-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -408px;
  width: 90px;
  height: 105px;
}
.Mount_Head_JackOLantern-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -1484px;
  width: 90px;
  height: 105px;
}
.Mount_Head_Jackalope-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -953px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ethereal {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -947px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1059px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -635px -230px;
  width: 105px;
  height: 110px;
}
.Mount_Head_LionCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Head_LionCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_MagicalBee-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -529px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Mammoth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -408px -121px;
  width: 105px;
  height: 123px;
}
.Mount_Head_MantisShrimp-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -523px;
  width: 108px;
  height: 105px;
}
.Mount_Head_Monkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1053px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1165px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1159px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Orca-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1271px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1265px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1377px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -257px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Head_PandaCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1371px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1483px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Phoenix-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1477px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1589px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1484px -1583px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-White {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -1695px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sabretooth-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-15.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
