.Mount_Body_Wolf-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -517px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -711px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -711px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -711px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -711px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -711px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -632px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Polar {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -817px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Head_BearCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -738px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -923px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -844px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1029px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Butterfly-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -393px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -393px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -393px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -393px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -393px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -393px -124px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -393px -248px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -499px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -499px -124px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -499px -248px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Cactus-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -950px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1135px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -121px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Cactus-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1056px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1241px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1771px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1162px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cuttlefish-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -517px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -517px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -242px -272px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -393px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -605px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -605px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -605px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -605px -345px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -517px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -517px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Deer-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1347px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Deer-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1268px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1453px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -272px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Dragon-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Dragon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1378px -1374px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Egg-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Falcon-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1559px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Ferret-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1378px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1484px -1480px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1665px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -272px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Head_FlyingPig-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-White {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -106px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_FlyingPig-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -212px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -318px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -424px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -530px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -742px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -848px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -954px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1060px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1166px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1272px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1378px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1484px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1590px -1586px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -1771px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Fox-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-14.png');
  background-position: -636px -738px;
  width: 105px;
  height: 105px;
}
