.Mount_Body_Sloth-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1060px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1166px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1272px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1482px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Squirrel-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -787px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -327px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -218px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -109px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px 0px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -257px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -681px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -575px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -469px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -363px -816px;
  width: 105px;
  height: 108px;
}
.Mount_Body_TRex-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TigerCub-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1166px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1272px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1378px -1482px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -542px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -648px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -754px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -952px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1058px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -816px;
  width: 120px;
  height: 120px;
}
.Mount_Body_TigerCub-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1058px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1164px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1060px -1164px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -952px -436px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turkey-Gilded {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1270px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1060px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1166px -1270px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1376px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1060px -1376px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Wolf-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Bronze {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Celestial {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Frost {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -544px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Glass {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Glow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-IcySnow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Rainbow {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -816px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -816px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-RoseQuartz {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -680px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-StarryNight {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Sunshine {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Watery {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1588px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: 0px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -106px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -212px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -318px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -424px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -530px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -636px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -742px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -848px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -954px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1060px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1166px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1272px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1378px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1484px -1588px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-White {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-16.png');
  background-position: -1694px -954px;
  width: 105px;
  height: 105px;
}
