.promo_armoire_backgrounds_201903 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -327px;
  width: 423px;
  height: 147px;
}
.promo_mystery_201902 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -327px;
  width: 240px;
  height: 147px;
}
.promo_mythical_marvels_bundle {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -475px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -665px -327px;
  width: 96px;
  height: 69px;
}
.scene_dailies {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -441px 0px;
  width: 327px;
  height: 276px;
}
.scene_tavern {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 440px;
  height: 326px;
}
