.Pet-TRex-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -100px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -100px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -100px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px 0px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -100px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -200px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -200px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -200px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -200px;
  width: 81px;
  height: 99px;
}
.Pet-TRex-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Treeling-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Treeling-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Treeling-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Triceratops-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Turkey-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Turkey-Gilded {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Turtle-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Unicorn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Whale-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -82px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -164px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -246px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -328px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Veteran {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -410px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -492px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -574px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -656px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -738px -700px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -300px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -400px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -500px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -600px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -700px;
  width: 81px;
  height: 99px;
}
.Pet_HatchingPotion_Aquatic {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -69px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Base {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -759px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -138px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -207px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Cupid {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -276px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Desert {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -345px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ember {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -414px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fairy {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -483px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Floral {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -552px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -621px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -690px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -828px -800px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -414px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -483px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -552px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url('~assets/images/sprites/spritesmith-main-20.png');
  background-position: -902px -621px;
  width: 68px;
  height: 68px;
}
