.achievement-costumeContest6x {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -295px -871px;
  width: 144px;
  height: 156px;
}
.promo_alligator {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 480px;
  height: 360px;
}
.promo_animal_tails {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -994px 0px;
  width: 141px;
  height: 441px;
}
.promo_armoire_backgrounds_201811 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -481px -420px;
  width: 423px;
  height: 147px;
}
.promo_frost_potions {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -723px;
  width: 417px;
  height: 147px;
}
.promo_ios {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -361px;
  width: 375px;
  height: 361px;
}
.promo_mystery_201810 {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -871px;
  width: 294px;
  height: 168px;
}
.promo_oddballs_bundle {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -481px -568px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -994px -442px;
  width: 96px;
  height: 69px;
}
.promo_veteran_pets {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -418px -723px;
  width: 363px;
  height: 141px;
}
.scene_nametag {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -481px 0px;
  width: 512px;
  height: 208px;
}
.scene_sleep {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -481px -209px;
  width: 390px;
  height: 210px;
}
.scene_veteran_pets {
  background-image: url('~assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -782px -723px;
  width: 242px;
  height: 62px;
}
