doctype 5
html
  head
    title HabitRPG | Your Life The Role Playing Game

    // ?v=1 needed to force refresh
    link(rel='shortcut icon' href='#{env.getBuildUrl("favicon.ico")}?v=2') 

    script(type='text/javascript').
      window.env = !{JSON.stringify(env)};

    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
      }

    != env.getManifestFiles("app")

    //webfonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')

  body(ng-app="habitrpg", ng-controller="RootCtrl", ng-cloak)
    div(ng-controller='GroupsCtrl')
      include ./shared/modals/index
      include ./shared/header/header

      include ./shared/tasks/lists
      include ./main/index
      include ./options/index

      #notification-area(ng-controller='NotificationCtrl')
      #wrap

        //if they hide the header, we still need user-menu visible
        div(ng-if='user.preferences.hideHeader')
          include ./shared/header/menu

        .exp-chart(ng-show='charts.exp')

        #main(ui-view)

      include ./shared/footer

      // Load audio last
      audio#sound-upscore(src="bower_components/BrowserQuest/client/audio%2Fsounds/chat.ogg", preload="auto")
      audio#sound-downscore(src="bower_components/BrowserQuest/client/audio%2Fsounds/hurt.ogg", preload="auto")
      audio#sound-revive(src="bower_components/BrowserQuest/client/audio%2Fsounds/revive.ogg", preload="auto")
      audio#sound-achievement(src="bower_components/BrowserQuest/client/audio%2Fsounds/achievement.ogg", preload="auto")
      audio#sound-kill1(src="bower_components/BrowserQuest/client/audio%2Fsounds/death.ogg", preload="auto")
      audio#sound-heal(src="bower_components/BrowserQuest/client/audio%2Fsounds/heal.ogg", preload="auto")
      audio#sound-loot(src="bower_components/BrowserQuest/client/audio%2Fsounds/loot.ogg", preload="auto")
      audio#sound-chest(src="bower_components/BrowserQuest/client/audio%2Fsounds/chest.ogg", preload="auto")
