doctype 5
html
  head
    title HabitRPG | Your Life The Role Playing Game

    // ?v=1 needed to force refresh
    link(rel='shortcut icon' href='/favicon.ico?v=1') 

    script(type='text/javascript').
      window.env = !{JSON.stringify(env)};

    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none;
      }

    // CSS Remember to update also in Grunfile.js cssmin task!
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap.css')
    
    link(rel='stylesheet', href='/app.css')

    // HabitRPG Shared
    link(rel='stylesheet', href='/bower_components/habitrpg-shared/dist/spritesheets.css')

    - if(env.NODE_ENV == 'production'){
      script(type='text/javascript', src='/app.js')
    - }else{
      // Remember to update the file list in Gruntfile.js!
      script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap-growl/jquery.bootstrap-growl.min.js')
      script(type='text/javascript', src='/bower_components/angular/angular.min.js')

      script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.min.js')
      script(type='text/javascript', src='/bower_components/marked/lib/marked.js')

      script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
      script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
      script(type='text/javascript', src='/bower_components/angular-ui/build/angular-ui.min.js')
      script(type='text/javascript', src='/bower_components/angular-ui-utils/modules/keypress/keypress.js')
      // we'll remove this once angular-bootstrap is fixed
      script(type='text/javascript', src='/bower_components/bootstrap/docs/assets/js/bootstrap.min.js')
      script(type='text/javascript', src='/bower_components/angular-bootstrap/ui-bootstrap.min.js')
      script(type='text/javascript', src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
      // Sortable
      script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/jquery.ui.core.min.js')
      script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/jquery.ui.widget.min.js')
      script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/jquery.ui.mouse.min.js')
      script(type='text/javascript', src='/bower_components/jquery-ui/ui/minified/jquery.ui.sortable.min.js')
      // habitrpg-shared
      script(type='text/javascript', src='/bower_components/habitrpg-shared/dist/habitrpg-shared.js')
      // app
      script(type='text/javascript', src='/js/app.js')
      script(type='text/javascript', src='/js/services/authServices.js')
      script(type='text/javascript', src='/js/services/notificationServices.js')
      script(type='text/javascript', src='/js/services/sharedServices.js')
      script(type='text/javascript', src='/js/services/userServices.js')
      script(type='text/javascript', src='/js/services/groupServices.js')
      script(type='text/javascript', src='/js/services/memberServices.js')

      script(type='text/javascript', src='/js/filters/filters.js')

      script(type='text/javascript', src='/js/directives/directives.js')

      script(type='text/javascript', src='/js/controllers/authCtrl.js')
      script(type='text/javascript', src='/js/controllers/menuCtrl.js')
      script(type='text/javascript', src='/js/controllers/notificationCtrl.js')
      script(type='text/javascript', src='/js/controllers/rootCtrl.js')
      script(type='text/javascript', src='/js/controllers/settingsCtrl.js')
      script(type='text/javascript', src='/js/controllers/statsCtrl.js')
      script(type='text/javascript', src='/js/controllers/tasksCtrl.js')
      script(type='text/javascript', src='/js/controllers/taskDetailsCtrl.js')
      script(type='text/javascript', src='/js/controllers/filtersCtrl.js')
      script(type='text/javascript', src='/js/controllers/userCtrl.js')
      script(type='text/javascript', src='/js/controllers/groupsCtrl.js')
      script(type='text/javascript', src='/js/controllers/petsCtrl.js')
      script(type='text/javascript', src='/js/controllers/inventoryCtrl.js')
      script(type='text/javascript', src='/js/controllers/marketCtrl.js')
      script(type='text/javascript', src='/js/controllers/footerCtrl.js')
    -}

    //webfonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')

  body(ng-app="habitrpg", ng-controller="RootCtrl", ng-cloak)
    div(ng-controller='GroupsCtrl')
      include ./shared/modals/index
      include ./shared/header/header

      #notification-area(ng-controller='NotificationCtrl')
      #wrap

        // Errors
        .unstyled.alert.alert-error(ng-repeat='error in flash.errors track by $index') {{error}}
        .unstyled.alert.alert-error(ng-repeat='error in flash.warnings track by $index') {{error}}

        //if they hide the header, we still need user-menu visible
        div(ng-if='user.preferences.hideHeader')
          include ./shared/header/menu

        .exp-chart(ng-show='page.charts.exp')

        #main(ng-view)

      include ./shared/footer

    // Modal backdrop for when loading big stuff
    #loading-indicator(style='display:none;')
      .modal-backdrop
      h1(style='position:absolute;top:50%;left:45%;color:white;z-index:9000') Loading...

