extends layout

block content
  div(ng-app="habitrpg", ng-controller="RootCtrl")
    include ./modals/index
    include ./header/header

    span(ng-hide='_gamePane')
      app:filters:filters

    br
    #notification-area
    #wrap
      app:alerts:flash
      //if they hide the header, we still need user-menu visible
      app:settings:menu(ng-show='_user.preferences.hideHeader')
      .exp-chart(ng-show='_page.charts.exp')
      #main.grid
        div(ng-hide='_gamePane')
          include ./tasks/task-list
        div(ng-show='_gamePane')
          app:game-pane:main
    app:footer:footer

