extends layout

block content
  div(ng-app="habitrpg", ng-controller="RootCtrl")
    include ./modals/index
    include ./header/header

    span(ng-hide='_gamePane')
      app:filters:filters

    br
    #notification-area
    #wrap
      app:alerts:flash
      //if they hide the header, we still need user-menu visible
      app:settings:menu(ng-show='_user.preferences.hideHeader')
      .exp-chart(ng-show='_page.charts.exp')
      #main.grid
        div(ng-hide='_gamePane')
          include ./tasks/task-list
        div(ng-show='_gamePane')
          app:game-pane:main
    app:footer:footer


    footer.footer
      .container

        h4 Todo
        ul
          li
            strong Notifications
          li
            strong Sort
          li Due Dates
          li Reroll
          li Graphs
          li Footer
          li Clear Completed (need API route)
          li Static Pages
          li Optimize (see <a href="https://github.com/HabitRPG/habitrpg-mobile/issues/90#issuecomment-23241019">performance conversation</a>)
            h4 Options
            ul
              li TODO - add roadmap for options pane
