doctype 5
html
  head
    title HabitRPG | Your Life The Role Playing Game

    // CSS
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/bower_components/angular-ui/build/angular-ui.css')
    != css('index')

    // HabitRPG Shared
    link(rel='stylesheet', href='/bower_components/habitrpg-shared/spritesheets.css')

    // JS
    script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
    script(type='text/javascript', src='/bower_components/lodash/lodash.js')
    script(type='text/javascript', src='/bower_components/moment/moment.js')
    script(type='text/javascript', src='/bower_components/angular/angular.js')
    script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.js')
    script(type='text/javascript', src='/bower_components/angular-ui/build/angular-ui.js')
    script(type='text/javascript', src='/bower_components/angular-bootstrap/ui-bootstrap.js')
    script(type='text/javascript', src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')

    script(type='text/javascript', src='/bower_components/habitrpg-shared/dist/habitrpg-shared.js')

    != js('app')

    != js('services/authServices')
    != js('services/notificationServices')
    != js('services/sharedServices')
    != js('services/userServices')

    != js('filters/filters')

    != js('directives/directives')

    != js('controllers/authCtrl')
    != js('controllers/characterCtrl')
    != js('controllers/menuCtrl')
    != js('controllers/notificationCtrl')
    != js('controllers/RootCtrl')
    != js('controllers/settingsCtrl')
    != js('controllers/statsCtrl')
    != js('controllers/tasksCtrl')
    != js('controllers/taskDetailsCtrl')
    != js('controllers/userAvatarCtrl')

    //webfonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')

  body
    block content