.filters
  
  margin-top: 5px
  margin-bottom: 5px
  
  .filter-description
    margin-top: 7px
    margin-right: 7px
    padding-left: 7px

  markdown
    display: inline-block

  .glyphicon-bullhorn
    margin-right: 5px

  .input-group 
    float: left
    width: 1px // Trick for proper alignment
    margin-left: 3px
    margin-right: 3px
    margin-top: 5px

    .form-control
      width: auto