/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}



/* HabitRPG Custom CSS
-------------------------------------------------- */

.footer {
    /*padding: 70px 0;*/
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.footer li {
    text-align: left;
}

.footer h4 {
    text-align: left;
}

.footer td {
    align: left !important;
}