.full-width
    width 100%

.border-right
    border-right 1px solid #ddd

.tab-notification
    color #fff
    background-color #51a351

.tavern-pane
    position relative
    height 250px

.tavern-chat, .party-chat

  li
    padding-top:15px
    padding-bottom:15px
    border-bottom 1px solid #ddd
    word-wrap:break-word

    &.highlight
      background #EEE
      
    label
        margin-right:5px

  .label-elite
    background-color: #077409
    color: black
  .label-champion
    background-color: #125BA2
    color: white
  .label-royal
    background-color: #7313B4
    color: white

#market-tab
    position relative
    height 500px

.buttonList li
    margin: 5px;
    
.option-group .option-time
    padding: 0px 5px

.chat-btn
    margin-right: 5px;

.personal-options .btn
    margin-right: 5px;