// color variables
$worst      =   rgb(230, 184, 175)
$worse      =   rgb(244, 204, 204)
$bad        =   rgb(252, 229, 205)
$neutral    =   rgb(255, 242, 204)
$good       =   rgb(217, 234, 211)
$better     =   rgb(208, 224, 227)
$best       =   rgb(201, 218, 248)
$completed  =   rgb(217, 217, 217)
// avatar background colors
$color-herobox = desaturate(lighten($better, 16%),32%)
// Navigation background colors
$color-toolbar = lighten($color-herobox, 70%)
$color-options-menu = lighten($color-herobox, 85%)
$color-options-submenu = lighten($color-herobox, 75%)

// button color variables
$color-button-style-one = $best