.subscription-features
  tr
    td
      //height 59px
      vertical-align middle
      text-align center
    th
      max-width: 150px
      font-weight normal
    th.feature-name
      text-align center
      font-weight: bold
.dashed-underline
  border-bottom:1px dashed #000
  text-decoration:none
  cursor pointer