.Mount_Head_Hedgehog-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -393px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hedgehog-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -393px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -387px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -387px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -387px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -387px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -502px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -502px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -502px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -502px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -493px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippo-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -493px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Hippogriff-Hopeful {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -272px;
  width: 105px;
  height: 111px;
}
.Mount_Head_Horse-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -493px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -493px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -493px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -608px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -608px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -608px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -608px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -608px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Horse-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_JackOLantern-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -200px -1659px;
  width: 90px;
  height: 105px;
}
.Mount_Head_JackOLantern-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -291px -1659px;
  width: 90px;
  height: 105px;
}
.Mount_Head_JackOLantern-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1659px;
  width: 93px;
  height: 105px;
}
.Mount_Head_Jackalope-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -599px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -714px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Kangaroo-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -705px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ethereal {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -820px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -811px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -926px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -272px;
  width: 105px;
  height: 110px;
}
.Mount_Head_LionCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px -136px;
  width: 120px;
  height: 120px;
}
.Mount_Head_LionCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_LionCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -917px;
  width: 105px;
  height: 105px;
}
.Mount_Head_MagicalBee-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -272px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Mammoth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px -121px;
  width: 105px;
  height: 123px;
}
.Mount_Head_MantisShrimp-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -393px 0px;
  width: 108px;
  height: 105px;
}
.Mount_Head_Monkey-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1032px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Monkey-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1023px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Nudibranch-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1138px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Octopus-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Orca-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1060px -1129px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Owl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1244px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1060px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1166px -1235px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -272px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Head_PandaCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1350px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1060px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1166px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1272px -1341px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1456px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Phoenix-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1060px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1166px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1272px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1378px -1447px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1562px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -106px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -212px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -318px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -424px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -530px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -636px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -742px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -848px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -954px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1060px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1166px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1272px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1378px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1484px -1553px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -1668px -1484px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -1659px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sabretooth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-20.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
