.Pet-Wolf-Veggie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Veteran {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -82px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -164px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Windup {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -82px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Wolf-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -164px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -246px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -246px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -82px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -164px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -246px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -328px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -328px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -328px -200px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -300px;
  width: 81px;
  height: 99px;
}
.Pet_HatchingPotion_Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -82px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -151px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -220px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_AutumnLeaf {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -289px -300px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -410px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -410px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_BlackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -410px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -410px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -410px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -69px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -138px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -207px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -276px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -345px -400px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -479px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -69px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -138px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Moonglow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -207px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_MossyStone {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -276px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -345px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_PolkaDot {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -414px -469px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -548px -414px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -69px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -138px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -207px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -276px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_SolarSystem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -345px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -414px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StainedGlass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -483px -538px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Sunset {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Turquoise {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Vampire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -414px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: -617px -483px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-31.png');
  background-position: 0px -607px;
  width: 68px;
  height: 68px;
}
