.Mount_Body_Wolf-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -136px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -272px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -408px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -544px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -680px -680px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Yarn-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Yarn-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1272px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1166px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1060px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Alligator-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -796px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Armadillo-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -940px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1058px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Axolotl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1046px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Badger-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1164px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1060px -1152px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Polar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1270px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px -257px;
  width: 120px;
  height: 120px;
}
.Mount_Head_BearCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_BearCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1060px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1166px -1258px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Beetle-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -690px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1376px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Bunny-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1364px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Butterfly-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px -626px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px -502px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px -378px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Butterfly-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -816px;
  width: 105px;
  height: 123px;
}
.Mount_Head_Cactus-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1482px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1060px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1166px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1272px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1378px -1470px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -816px -136px;
  width: 120px;
  height: 120px;
}
.Mount_Head_Cactus-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cactus-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1588px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: 0px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -106px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -212px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -318px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -424px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -530px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -636px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -848px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cheetah-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -954px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1060px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1166px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1272px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1378px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1484px -1576px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cow-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -1694px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Cuttlefish-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -742px -816px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -575px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -460px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -345px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Head_Cuttlefish-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-18.png');
  background-position: -952px 0px;
  width: 105px;
  height: 114px;
}
