.Pet_Currency_Gem2x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1931px -1025px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1929px -711px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1913px -854px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1905px -923px;
  width: 51px;
  height: 51px;
}
.pet_key {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1929px -642px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1935px -763px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -763px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -854px;
  width: 68px;
  height: 68px;
}
.zzz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1963px -551px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1963px -510px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1963px -592px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1981px -711px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1965px -854px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1957px -923px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -996px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1873px -996px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1902px -996px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1931px -996px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1960px -996px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -1025px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1873px -1025px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1902px -1025px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1989px -996px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1981px -740px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1965px -883px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1986px -923px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1986px -883px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1962px -1025px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1987px -1025px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -1054px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -923px;
  width: 60px;
  height: 72px;
}
.npc_justin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -642px;
  width: 84px;
  height: 120px;
}
.npc_matt {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -191px -1535px;
  width: 195px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1935px -832px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -1278px;
  width: 201px;
  height: 195px;
}
.quest_alligator {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -862px;
  width: 201px;
  height: 213px;
}
.quest_amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_armadillo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -885px -1315px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1387px -1315px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -967px -660px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -435px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -435px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1719px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -1076px;
  width: 204px;
  height: 201px;
}
.quest_bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -435px;
  width: 219px;
  height: 219px;
}
.quest_bunny {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1187px -880px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px 0px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px -220px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -307px -220px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -655px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -651px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -208px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -655px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -655px;
  width: 219px;
  height: 219px;
}
.quest_dolphin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -660px -655px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -967px 0px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px 0px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -510px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -967px -220px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -967px -440px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -875px;
  width: 219px;
  height: 219px;
}
.quest_fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -875px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -1315px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -875px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -660px -875px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1136px -1315px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -203px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px -440px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -880px -875px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1187px 0px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px -1100px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1187px -220px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1187px -440px;
  width: 219px;
  height: 219px;
}
.quest_kangaroo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1187px -660px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -527px -220px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1095px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -1095px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -1095px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1844px -359px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -660px -1095px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -880px -1095px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1100px -1095px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px 0px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px 0px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px -220px;
  width: 219px;
  height: 219px;
}
.quest_moonstone1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px -440px;
  width: 219px;
  height: 219px;
}
.quest_moonstone2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px -660px;
  width: 219px;
  height: 219px;
}
.quest_moonstone3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1407px -880px;
  width: 219px;
  height: 219px;
}
.quest_nudibranch {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -217px;
  width: 216px;
  height: 216px;
}
.quest_octopus {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -662px -1315px;
  width: 222px;
  height: 177px;
}
.quest_owl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1315px;
  width: 219px;
  height: 219px;
}
.quest_peacock {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1627px -434px;
  width: 216px;
  height: 216px;
}
.quest_penguin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1535px;
  width: 190px;
  height: 183px;
}
.quest_pterodactyl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -1315px;
  width: 219px;
  height: 219px;
}
