.quest_TEMPLATE_FOR_MISSING_IMAGE {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -502px -1519px;
  width: 221px;
  height: 39px;
}
.quest_dolphin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -362px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -1023px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -232px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -232px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px -232px;
  width: 219px;
  height: 219px;
}
.quest_fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px 0px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px 0px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -220px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -452px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1519px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px 0px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -443px -1332px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -452px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px -452px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1332px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -452px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px 0px;
  width: 219px;
  height: 219px;
}
.quest_kangaroo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px -220px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -1332px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px -440px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -672px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -672px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -570px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px -672px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -672px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px -672px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px -214px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px 0px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px -220px;
  width: 219px;
  height: 219px;
}
.quest_moonstone1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px -440px;
  width: 219px;
  height: 219px;
}
.quest_moonstone2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px -660px;
  width: 219px;
  height: 219px;
}
.quest_moonstone3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -892px;
  width: 219px;
  height: 219px;
}
.quest_nudibranch {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px -431px;
  width: 216px;
  height: 216px;
}
.quest_octopus {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -1332px;
  width: 222px;
  height: 177px;
}
.quest_owl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -892px;
  width: 219px;
  height: 219px;
}
.quest_peacock {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px -648px;
  width: 216px;
  height: 216px;
}
.quest_penguin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -178px;
  width: 190px;
  height: 183px;
}
.quest_pterodactyl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px -892px;
  width: 219px;
  height: 219px;
}
.quest_rat {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -892px;
  width: 219px;
  height: 219px;
}
.quest_robot {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px -892px;
  width: 219px;
  height: 219px;
}
.quest_rock {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px -865px;
  width: 216px;
  height: 216px;
}
.quest_rooster {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1528px -1332px;
  width: 213px;
  height: 174px;
}
.quest_ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px -892px;
  width: 219px;
  height: 219px;
}
.quest_sabretooth {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px 0px;
  width: 219px;
  height: 219px;
}
.quest_seaserpent {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px -220px;
  width: 219px;
  height: 219px;
}
.quest_sheep {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px -440px;
  width: 219px;
  height: 219px;
}
.quest_silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px -660px;
  width: 219px;
  height: 219px;
}
.quest_slime {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px -880px;
  width: 219px;
  height: 219px;
}
.quest_sloth {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1112px;
  width: 219px;
  height: 219px;
}
.quest_snail {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1320px -1112px;
  width: 219px;
  height: 213px;
}
.quest_snake {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -877px -1332px;
  width: 216px;
  height: 177px;
}
.quest_spider {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -251px -1519px;
  width: 250px;
  height: 150px;
}
.quest_squirrel {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -220px -1112px;
  width: 219px;
  height: 219px;
}
.quest_stoikalmCalamity1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -721px;
  width: 150px;
  height: 150px;
}
.quest_stoikalmCalamity2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -440px -1112px;
  width: 219px;
  height: 219px;
}
.quest_stoikalmCalamity3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -660px -1112px;
  width: 219px;
  height: 219px;
}
.quest_stone {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -880px -1112px;
  width: 219px;
  height: 219px;
}
.quest_taskwoodsTerror1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px -872px;
  width: 150px;
  height: 150px;
}
.quest_taskwoodsTerror2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1540px -1082px;
  width: 216px;
  height: 216px;
}
.quest_taskwoodsTerror3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1100px -1112px;
  width: 219px;
  height: 219px;
}
.quest_treeling {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1094px -1332px;
  width: 216px;
  height: 177px;
}
.quest_trex {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1762px 0px;
  width: 204px;
  height: 177px;
}
.quest_trex_undead {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1311px -1332px;
  width: 216px;
  height: 177px;
}
