.shop_weapon_healer_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1616px -531px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1616px -637px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1616px -743px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1610px -849px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1595px -940px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1595px -1040px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1595px -1140px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1595px -1240px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1423px -422px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -513px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -604px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -695px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_aetherCrystals {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -786px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_bardInstrument {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -877px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_critical {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -968px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_fencingFoil {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -1059px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_lunarScythe {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1411px -1150px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_mammothRiderSpear {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1274px -1487px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_nomadsScimitar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1343px -1487px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_pageBanner {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1412px -1487px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1481px -1487px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_skeletonKey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1550px -1487px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tachi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -72px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_taskwoodsLantern {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -141px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tridentOfCrashingTides {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -210px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -279px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -348px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -417px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -486px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -555px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -624px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -693px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -762px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -831px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -900px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -969px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1038px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1107px -1578px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1176px -1578px;
  width: 68px;
  height: 68px;
}
.weapon_healer_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -513px;
  width: 90px;
  height: 90px;
}
.weapon_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -604px;
  width: 90px;
  height: 90px;
}
.weapon_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -695px;
  width: 90px;
  height: 90px;
}
.weapon_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -786px;
  width: 90px;
  height: 90px;
}
.weapon_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -877px;
  width: 90px;
  height: 90px;
}
.weapon_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -968px;
  width: 90px;
  height: 90px;
}
.weapon_healer_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -1059px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -1150px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1176px -1257px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1267px -1257px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1358px -1257px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -91px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -182px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -422px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -273px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -364px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_aetherCrystals {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -849px;
  width: 114px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -455px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_fencingFoil {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -546px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -637px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -728px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_nomadsScimitar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -819px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -910px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1001px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_skeletonKey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1092px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_tachi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1183px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1274px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1365px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1456px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1547px -1396px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -91px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -182px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -273px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -364px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -455px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -546px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -637px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -728px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -819px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -910px -1487px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1001px -1487px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1518px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1795px -600px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -856px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -444px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -496px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -548px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -940px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -1040px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -1140px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -1240px;
  width: 99px;
  height: 99px;
}
.avatar_snowball_healer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -425px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_rogue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -531px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_warrior {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -637px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_wizard {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -743px;
  width: 120px;
  height: 105px;
}
.empty_bottles {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -138px -1680px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1092px -1487px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -414px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1245px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1314px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1383px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1452px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1521px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1590px -1578px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px 0px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -69px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -138px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -207px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -276px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -345px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -483px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -552px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -621px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -690px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -759px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -828px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -897px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -966px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1035px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1104px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1173px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1242px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1311px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1380px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1449px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -1340px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1685px -1587px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1680px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1183px -1487px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -69px -1680px;
  width: 68px;
  height: 68px;
}
.zzz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -641px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -600px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -682px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -682px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -711px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -711px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -740px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -740px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -769px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -769px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -798px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -798px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -827px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1783px -827px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1775px -883px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -935px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1775px -935px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -883px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -958px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1785px -856px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -910px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1775px -910px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -219px;
  width: 60px;
  height: 72px;
}
.npc_bailey_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1614px -293px;
  width: 63px;
  height: 93px;
}
.npc_bailey_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px 0px;
  width: 60px;
  height: 72px;
}
.npc_bailey_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -371px;
  width: 54px;
  height: 72px;
}
.npc_bailey_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1616px -425px;
  width: 54px;
  height: 93px;
}
.npc_bailey_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -73px;
  width: 60px;
  height: 72px;
}
.npc_bailey_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1578px;
  width: 71px;
  height: 101px;
}
.npc_bailey_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -146px;
  width: 60px;
  height: 72px;
}
.npc_bailey_valentines {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1619px -1487px;
  width: 63px;
  height: 66px;
}
.npc_bailey_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1754px -292px;
  width: 54px;
  height: 78px;
}
.npc_matt {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -980px -1257px;
  width: 195px;
  height: 138px;
}
.npc_matt_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -710px -1106px;
  width: 195px;
  height: 138px;
}
.npc_matt_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -906px -1106px;
  width: 195px;
  height: 138px;
}
.npc_matt_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1102px -1106px;
  width: 195px;
  height: 138px;
}
.npc_matt_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1257px;
  width: 195px;
  height: 138px;
}
.npc_matt_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -196px -1257px;
  width: 195px;
  height: 138px;
}
.npc_matt_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -392px -1257px;
  width: 195px;
  height: 138px;
}
.npc_matt_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -588px -1257px;
  width: 195px;
  height: 138px;
}
.npc_matt_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -784px -1257px;
  width: 195px;
  height: 138px;
}
.quest_alligator {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1100px -648px;
  width: 201px;
  height: 213px;
}
.quest_amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px 0px;
  width: 219px;
  height: 219px;
}
.quest_armadillo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1106px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -502px -1106px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -858px -892px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -232px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -232px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px 0px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -222px -892px;
  width: 204px;
  height: 201px;
}
.quest_blackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1100px -220px;
  width: 216px;
  height: 216px;
}
.quest_bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -232px;
  width: 219px;
  height: 219px;
}
.quest_bunny {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -647px -892px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px 0px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -220px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px 0px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -452px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1100px -437px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -142px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -452px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -452px;
  width: 219px;
  height: 219px;
}
.quest_dolphin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -452px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px 0px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1320px -214px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1495px -293px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px -220px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px -440px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -672px;
  width: 219px;
  height: 219px;
}
.quest_fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -672px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -892px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -672px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -672px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -251px -1106px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px 0px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1075px -892px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px -672px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1100px 0px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -427px -892px;
  width: 219px;
  height: 186px;
}
