.headAccessory_special_bearEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -91px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_bearEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -106px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_blackHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -870px -824px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_blueHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -985px -824px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_cactusEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -182px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_cactusEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -197px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_foxEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -273px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_foxEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -288px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_greenHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -190px -963px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_lionEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -364px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_lionEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -379px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pandaEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -455px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pandaEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -470px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pigEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -546px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_pigEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -561px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_pinkHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -305px -963px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_redHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -420px -963px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_tigerEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -637px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_tigerEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -652px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_whiteHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -535px -963px;
  width: 114px;
  height: 90px;
}
.headAccessory_special_wolfEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -728px;
  width: 90px;
  height: 90px;
}
.customize-option.headAccessory_special_wolfEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1285px -743px;
  width: 60px;
  height: 60px;
}
.headAccessory_special_yellowHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -650px -963px;
  width: 114px;
  height: 90px;
}
.shop_headAccessory_special_bearEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -207px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_blackHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -276px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_blueHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -345px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_cactusEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -414px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_foxEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -483px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_greenHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -552px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_lionEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -621px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_pandaEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -690px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_pigEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -759px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_pinkHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -828px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_redHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -897px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_tigerEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -966px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_whiteHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1035px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_wolfEars {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1104px -1447px;
  width: 68px;
  height: 68px;
}
.shop_headAccessory_special_yellowHeadband {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1173px -1447px;
  width: 68px;
  height: 68px;
}
.head_special_snowSovereignCrown {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -200px -1105px;
  width: 90px;
  height: 90px;
}
.head_special_spikedHelm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -291px -1105px;
  width: 90px;
  height: 90px;
}
.head_special_turkeyHelmBase {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px -549px;
  width: 114px;
  height: 90px;
}
.head_special_turkeyHelmGilded {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -755px -824px;
  width: 114px;
  height: 90px;
}
.head_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -382px -1105px;
  width: 90px;
  height: 90px;
}
.head_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -473px -1105px;
  width: 90px;
  height: 90px;
}
.head_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -564px -1105px;
  width: 90px;
  height: 90px;
}
.head_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -655px -1105px;
  width: 90px;
  height: 90px;
}
.head_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -746px -1105px;
  width: 90px;
  height: 90px;
}
.head_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -837px -1105px;
  width: 90px;
  height: 90px;
}
.head_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -928px -1105px;
  width: 90px;
  height: 90px;
}
.head_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1019px -1105px;
  width: 90px;
  height: 90px;
}
.head_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1110px -1105px;
  width: 90px;
  height: 90px;
}
.head_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px 0px;
  width: 90px;
  height: 90px;
}
.shop_head_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -1288px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -1031px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -862px -549px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -203px;
  width: 68px;
  height: 68px;
}
.shop_head_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -272px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -341px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -657px -423px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -657px -492px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -657px -561px;
  width: 68px;
  height: 68px;
}
.shop_head_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -872px -643px;
  width: 68px;
  height: 68px;
}
.shop_head_special_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -872px -712px;
  width: 68px;
  height: 68px;
}
.shop_head_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1274px -1196px;
  width: 68px;
  height: 68px;
}
.shop_head_special_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1365px -1287px;
  width: 68px;
  height: 68px;
}
.shop_head_special_bardHat {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_clandestineCowl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -69px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_dandyHat {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -138px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_fireCoralCirclet {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -207px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_kabuto {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -276px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_lunarWarriorHelm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -345px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_mammothRiderHelm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -414px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_namingDay2017 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -483px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_pageHelm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -552px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_pyromancersTurban {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -621px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_roguishRainbowMessengerHood {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -690px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_snowSovereignCrown {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -759px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_spikedHelm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -828px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_turkeyHelmBase {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -897px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_special_turkeyHelmGilded {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -966px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1035px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1104px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1173px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1242px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1311px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1380px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1449px -1378px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1447px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -69px -1447px;
  width: 68px;
  height: 68px;
}
.shop_head_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -138px -1447px;
  width: 68px;
  height: 68px;
}
.shield_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -819px;
  width: 90px;
  height: 90px;
}
.shield_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -910px;
  width: 90px;
  height: 90px;
}
.shield_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -1001px;
  width: 90px;
  height: 90px;
}
.shield_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1260px -1092px;
  width: 90px;
  height: 90px;
}
.shield_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1196px;
  width: 90px;
  height: 90px;
}
.shield_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -91px -1196px;
  width: 90px;
  height: 90px;
}
.shield_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -758px;
  width: 103px;
  height: 90px;
}
.shield_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -849px;
  width: 103px;
  height: 90px;
}
.shield_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -765px -963px;
  width: 114px;
  height: 90px;
}
.shield_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -103px -1105px;
  width: 96px;
  height: 90px;
}
.shield_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -880px -963px;
  width: 114px;
  height: 90px;
}
.shield_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -995px -963px;
  width: 114px;
  height: 90px;
}
.shield_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -182px -1196px;
  width: 90px;
  height: 90px;
}
.shield_special_diamondStave {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -940px;
  width: 102px;
  height: 90px;
}
.shield_special_goldenknight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -91px;
  width: 111px;
  height: 90px;
}
.shield_special_lootBag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -273px -1196px;
  width: 90px;
  height: 90px;
}
.shield_special_mammothRiderHorn {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -364px -1196px;
  width: 90px;
  height: 90px;
}
.shield_special_moonpearlShield {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -455px -1196px;
  width: 90px;
  height: 90px;
}
.shield_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -546px -1196px;
  width: 90px;
  height: 90px;
}
.shield_special_wakizashi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -182px;
  width: 114px;
  height: 87px;
}
.shield_special_wintryMirror {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -270px;
  width: 114px;
  height: 87px;
}
.shield_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -637px -1196px;
  width: 90px;
  height: 90px;
}
.shield_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -728px -1196px;
  width: 90px;
  height: 90px;
}
.shield_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -819px -1196px;
  width: 90px;
  height: 90px;
}
.shield_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -910px -1196px;
  width: 90px;
  height: 90px;
}
.shield_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1001px -1196px;
  width: 90px;
  height: 90px;
}
.shop_shield_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1242px -1447px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1311px -1447px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1380px -1447px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1449px -1447px;
  width: 68px;
  height: 68px;
}
.shop_shield_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px 0px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -69px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -138px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -207px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -276px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -345px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -414px;
  width: 68px;
  height: 68px;
}
.shop_shield_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -483px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -552px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -621px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_diamondStave {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -690px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_goldenknight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -759px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_lootBag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -828px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_mammothRiderHorn {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -897px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_moonpearlShield {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -966px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1035px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wakizashi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1104px;
  width: 68px;
  height: 68px;
}
.shop_shield_special_wintryMirror {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1173px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1242px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1311px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1380px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1516px;
  width: 68px;
  height: 68px;
}
.shop_shield_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -69px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -138px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -207px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -276px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -345px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -414px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -483px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_healer_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -552px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -621px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -690px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -759px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -828px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -897px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -966px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1035px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1104px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1173px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1242px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1311px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_aetherCrystals {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1380px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_bardInstrument {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1449px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_critical {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1518px -1516px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_fencingFoil {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px 0px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_lunarScythe {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -69px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_mammothRiderSpear {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -138px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_nomadsScimitar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -207px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_pageBanner {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -276px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -345px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_skeletonKey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -414px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tachi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -483px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_taskwoodsLantern {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -552px;
  width: 68px;
  height: 68px;
}
.shop_weapon_special_tridentOfCrashingTides {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -621px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -690px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -759px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -828px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -897px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -966px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1035px;
  width: 68px;
  height: 68px;
}
.shop_weapon_warrior_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1104px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1173px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1242px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1311px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1380px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1449px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1585px;
  width: 68px;
  height: 68px;
}
.shop_weapon_wizard_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -69px -1585px;
  width: 68px;
  height: 68px;
}
.weapon_healer_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1092px -1196px;
  width: 90px;
  height: 90px;
}
.weapon_healer_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1183px -1196px;
  width: 90px;
  height: 90px;
}
.weapon_healer_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px 0px;
  width: 90px;
  height: 90px;
}
.weapon_healer_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -91px;
  width: 90px;
  height: 90px;
}
.weapon_healer_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -182px;
  width: 90px;
  height: 90px;
}
.weapon_healer_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -273px;
  width: 90px;
  height: 90px;
}
.weapon_healer_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -364px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -455px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -546px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -637px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -728px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -819px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -910px;
  width: 90px;
  height: 90px;
}
.weapon_rogue_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -1001px;
  width: 90px;
  height: 90px;
}
.weapon_special_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1105px;
  width: 102px;
  height: 90px;
}
.weapon_special_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -1092px;
  width: 90px;
  height: 90px;
}
.weapon_special_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1351px -1183px;
  width: 90px;
  height: 90px;
}
.weapon_special_aetherCrystals {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px 0px;
  width: 114px;
  height: 90px;
}
.weapon_special_bardInstrument {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_fencingFoil {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -91px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_lunarScythe {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -182px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_mammothRiderSpear {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -273px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_nomadsScimitar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -364px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_pageBanner {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -455px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_roguishRainbowMessage {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -546px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_skeletonKey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -637px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_tachi {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -728px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_taskwoodsLantern {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -819px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_special_tridentOfCrashingTides {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -910px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1001px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1092px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1183px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1274px -1287px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px 0px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -91px;
  width: 90px;
  height: 90px;
}
.weapon_warrior_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -182px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_0 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -273px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -364px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -455px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -546px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_4 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -637px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_5 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -728px;
  width: 90px;
  height: 90px;
}
.weapon_wizard_6 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -819px;
  width: 90px;
  height: 90px;
}
.Pet_Currency_Gem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -414px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1723px -1256px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1547px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1256px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1308px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1360px;
  width: 51px;
  height: 51px;
}
.avatar_floral_healer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -358px;
  width: 99px;
  height: 99px;
}
.avatar_floral_rogue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -458px;
  width: 99px;
  height: 99px;
}
.avatar_floral_warrior {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -558px;
  width: 99px;
  height: 99px;
}
.avatar_floral_wizard {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1145px -658px;
  width: 99px;
  height: 99px;
}
.avatar_snowball_healer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px -695px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_rogue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -392px -824px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_warrior {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -513px -824px;
  width: 120px;
  height: 105px;
}
.avatar_snowball_wizard {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -634px -824px;
  width: 120px;
  height: 105px;
}
.empty_bottles {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1201px;
  width: 64px;
  height: 54px;
}
.ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -910px;
  width: 90px;
  height: 90px;
}
.inventory_present {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -966px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -138px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -207px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -276px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -345px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -414px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -483px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -552px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -621px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -690px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -759px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -828px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -897px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1035px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1104px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1173px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1242px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1311px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1380px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1449px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1518px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1587px -1585px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px 0px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -69px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -138px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -207px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -276px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -345px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -190px -1054px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -483px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -552px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -1001px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -621px;
  width: 68px;
  height: 68px;
}
.zzz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1453px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1412px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1494px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1700px -1494px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1523px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1700px -1523px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1552px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1700px -1552px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1581px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1700px -1581px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1610px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1700px -1610px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1602px -1518px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1631px -1518px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1633px -1547px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1575px -1449px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1474px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1712px -1453px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1554px -1474px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1712px -1412px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1533px -1449px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1554px -1449px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -909px;
  width: 60px;
  height: 72px;
}
.npc_bailey_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -1194px;
  width: 63px;
  height: 93px;
}
.npc_bailey_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -690px;
  width: 60px;
  height: 72px;
}
.npc_bailey_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1128px;
  width: 54px;
  height: 72px;
}
.npc_bailey_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1070px -695px;
  width: 54px;
  height: 93px;
}
.npc_bailey_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -763px;
  width: 60px;
  height: 72px;
}
.npc_bailey_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -1092px;
  width: 71px;
  height: 101px;
}
.npc_bailey_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -836px;
  width: 60px;
  height: 72px;
}
.npc_bailey_valentines {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -1061px;
  width: 63px;
  height: 66px;
}
.npc_bailey_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1671px -982px;
  width: 54px;
  height: 78px;
}
.npc_matt {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -196px -824px;
  width: 195px;
  height: 138px;
}
.npc_matt_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px -410px;
  width: 195px;
  height: 138px;
}
.npc_matt_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -676px -643px;
  width: 195px;
  height: 138px;
}
.npc_matt_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px 0px;
  width: 195px;
  height: 138px;
}
.npc_matt_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px -139px;
  width: 195px;
  height: 138px;
}
.npc_matt_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px -278px;
  width: 195px;
  height: 138px;
}
.npc_matt_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px -417px;
  width: 195px;
  height: 138px;
}
.npc_matt_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -949px -556px;
  width: 195px;
  height: 138px;
}
.npc_matt_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -824px;
  width: 195px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -1442px -1357px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px -214px;
  width: 201px;
  height: 195px;
}
.quest_alligator {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -747px 0px;
  width: 201px;
  height: 213px;
}
.quest_amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -203px;
  width: 219px;
  height: 219px;
}
.quest_armadillo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -217px -643px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -468px -643px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -643px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -423px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: 0px -963px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -527px -220px;
  width: 204px;
  height: 201px;
}
.quest_blackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -440px -423px;
  width: 216px;
  height: 216px;
}
.quest_bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -220px -423px;
  width: 219px;
  height: 219px;
}
.quest_bunny {
  background-image: url('~@/assets/images/sprites/spritesmith-main-13.png');
  background-position: -307px -220px;
  width: 210px;
  height: 186px;
}
