.Mount_Head_PandaCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -408px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -544px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -544px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -544px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -544px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -408px -136px;
  width: 120px;
  height: 120px;
}
.Mount_Head_PandaCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -514px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -650px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -650px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -650px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_PandaCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -650px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -650px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -620px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Parrot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -756px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Peacock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -726px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -862px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Penguin-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Phoenix-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -832px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Pterodactyl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -968px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rat-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -938px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Robot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1074px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1044px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Rooster-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sabretooth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Head_Sabretooth-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Head_SeaSerpent-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1166px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_SeaSerpent-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1180px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Seahorse-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1150px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1286px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sheep-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Slime-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1166px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1272px -1256px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Sloth-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1392px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snail-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1166px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1272px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1378px -1362px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Snake-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Spider-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1498px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_Squirrel-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1166px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1272px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1378px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1484px -1468px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1604px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: 0px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -106px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -212px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -318px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -424px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -530px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -636px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -742px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -848px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -954px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1060px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1166px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1272px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1378px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1484px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1590px -1574px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -408px -257px;
  width: 120px;
  height: 120px;
}
.Mount_Head_TigerCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1710px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1710px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Head_TigerCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-21.png');
  background-position: -1710px -212px;
  width: 105px;
  height: 105px;
}
