.Mount_Body_Alligator-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -560px -345px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Alligator-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -490px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -666px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -666px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -666px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -666px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Armadillo-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -666px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -596px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Axolotl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -772px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Badger-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -702px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -878px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -808px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Polar {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -984px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -914px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_BearCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_BearCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1090px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Beetle-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1020px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Bunny-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Butterfly-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -242px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -348px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -242px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -454px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -454px -124px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -366px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Butterfly-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -366px;
  width: 105px;
  height: 123px;
}
.Mount_Body_Cactus-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1196px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1126px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1302px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -121px 0px;
  width: 120px;
  height: 120px;
}
.Mount_Body_Cactus-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cactus-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1232px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cheetah-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1408px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cow-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Cuttlefish-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -454px -248px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -348px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -242px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -121px -121px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -366px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -366px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -366px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -560px 0px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -560px -115px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Cuttlefish-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -560px -230px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Deer-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1338px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Deer-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1514px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dolphin-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1484px -1444px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1620px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -106px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -212px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -318px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -424px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -530px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -636px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: 0px -121px;
  width: 120px;
  height: 120px;
}
.Mount_Body_Dragon-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -742px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -848px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -954px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1060px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Dragon-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1166px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1272px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1378px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1484px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1590px -1550px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1726px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1726px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1726px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Egg-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-15.png');
  background-position: -1726px -318px;
  width: 105px;
  height: 105px;
}
