.Pet-Yarn-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -82px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -164px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -82px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -164px -100px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -246px 0px;
  width: 81px;
  height: 99px;
}
.Pet-Yarn-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -246px -100px;
  width: 81px;
  height: 99px;
}
.Pet_HatchingPotion_Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -200px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -69px -200px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -138px -200px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_AutumnLeaf {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -207px -200px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -328px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -328px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_BlackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -328px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -269px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -69px -269px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -138px -269px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -207px -269px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -276px -269px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -397px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -397px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -397px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -397px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -69px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -138px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -207px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -276px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -345px -338px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -466px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -466px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -466px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_PolkaDot {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -466px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Purple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -466px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -69px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -138px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -207px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -276px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -345px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -414px -407px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px 0px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px -69px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px -138px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px -207px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px -276px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StainedGlass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -535px -345px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: 0px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -69px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -138px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Turquoise {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -207px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Vampire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -276px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -345px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -414px -476px;
  width: 68px;
  height: 68px;
}
.Pet_HatchingPotion_Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-30.png');
  background-position: -483px -476px;
  width: 68px;
  height: 68px;
}
