.promo_armoire_backgrounds_202007 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -376px 0px;
  width: 423px;
  height: 147px;
}
.promo_armoire_backgrounds_202008 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -376px -148px;
  width: 423px;
  height: 147px;
}
.promo_golden_achievements {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -295px -383px;
  width: 246px;
  height: 112px;
}
.promo_mystery_202008 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -383px;
  width: 294px;
  height: 156px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -800px -168px;
  width: 96px;
  height: 69px;
}
.promo_time_travelers {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 375px;
  height: 186px;
}
.scene_CernyPie {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -800px 0px;
  width: 141px;
  height: 167px;
}
.scene_public_space {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -187px;
  width: 345px;
  height: 195px;
}
.scene_reading {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -208px -540px;
  width: 171px;
  height: 144px;
}
.scene_rewards {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -540px;
  width: 207px;
  height: 180px;
}
