.promo_achievement_CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px -316px;
  width: 204px;
  height: 102px;
}
.promo_armoire_backgrounds_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -445px;
  width: 423px;
  height: 147px;
}
.promo_cosplay {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 623px;
  height: 167px;
}
.promo_hugabug_bundle {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -445px;
  width: 420px;
  height: 147px;
}
.promo_mystery_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -624px -211px;
  width: 282px;
  height: 147px;
}
.promo_pi_day {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -593px;
  width: 273px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -624px -359px;
  width: 96px;
  height: 69px;
}
.scene_dailies {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -168px;
  width: 327px;
  height: 276px;
}
.scene_gaining_achievement {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -624px 0px;
  width: 339px;
  height: 210px;
}
.scene_shanaqui {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px -168px;
  width: 282px;
  height: 147px;
}
