.promo_achievement_CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px -740px;
  width: 204px;
  height: 102px;
}
.promo_armoire_backgrounds_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -340px -659px;
  width: 423px;
  height: 147px;
}
.promo_cosplay {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 623px;
  height: 167px;
}
.promo_egg_quest {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px -296px;
  width: 354px;
  height: 147px;
}
.promo_hugabug_bundle {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px -148px;
  width: 420px;
  height: 147px;
}
.promo_mystery_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px -444px;
  width: 282px;
  height: 147px;
}
.promo_pi_day {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -624px -277px;
  width: 273px;
  height: 147px;
}
.promo_seasonal_shop_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -316px -168px;
  width: 162px;
  height: 138px;
}
.promo_spring_2019 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -430px -475px;
  width: 432px;
  height: 162px;
}
.promo_spring_2020 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -475px;
  width: 429px;
  height: 183px;
}
.promo_spring_potions_2020 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px 0px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -1235px -444px;
  width: 96px;
  height: 69px;
}
.scene_QuartzFox {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -316px -307px;
  width: 141px;
  height: 147px;
}
.scene_dailies {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -624px 0px;
  width: 327px;
  height: 276px;
}
.scene_gaining_achievement {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -659px;
  width: 339px;
  height: 210px;
}
.scene_shanaqui {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -952px -592px;
  width: 282px;
  height: 147px;
}
.scene_tough_times {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -168px;
  width: 315px;
  height: 306px;
}
