.Mount_Body_Rock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1634px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1634px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sabretooth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -136px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -272px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -408px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -544px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -544px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -544px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -544px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -408px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -136px -544px;
  width: 135px;
  height: 135px;
}
.Mount_Body_SeaSerpent-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_SeaSerpent-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px -324px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px -430px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px -536px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Seahorse-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -680px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -786px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sheep-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -892px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Slime-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -892px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sloth-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -998px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snail-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -998px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Snake-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1104px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Spider-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1104px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Squirrel-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px -109px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px 0px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px -545px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px -436px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -499px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -393px -544px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px -327px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px 0px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px -218px;
  width: 105px;
  height: 108px;
}
.Mount_Body_Squirrel-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -680px -109px;
  width: 105px;
  height: 108px;
}
.Mount_Body_TRex-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -408px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -408px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -272px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -136px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TRex-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_TigerCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1210px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1210px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -786px -218px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1316px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -272px -544px;
  width: 120px;
  height: 120px;
}
.Mount_Body_TigerCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_TigerCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1316px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Treeling-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1422px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1378px -1422px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Triceratops-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turkey-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turkey-Gilded {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1528px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Turtle-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -106px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -212px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -318px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -424px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -530px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -636px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -742px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -848px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -954px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Unicorn-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1060px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1166px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1272px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1378px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1484px -1528px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Velociraptor-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -1634px -1484px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Whale-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: 0px -1634px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Wolf-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -408px -272px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Wolf-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-17.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
