.promo_achievement_CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -668px -444px;
  width: 204px;
  height: 102px;
}
.promo_armoire_backgrounds_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -277px;
  width: 423px;
  height: 147px;
}
.promo_hugabug_bundle {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -425px;
  width: 420px;
  height: 147px;
}
.promo_mystery_202003 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -668px 0px;
  width: 282px;
  height: 147px;
}
.promo_pi_day {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -668px -296px;
  width: 273px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -277px;
  width: 96px;
  height: 69px;
}
.scene_dailies {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 327px;
  height: 276px;
}
.scene_gaining_achievement {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px 0px;
  width: 339px;
  height: 210px;
}
.scene_shanaqui {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -668px -148px;
  width: 282px;
  height: 147px;
}
