.Pet_Currency_Gem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1369px;
  width: 68px;
  height: 68px;
}
.Pet_Currency_Gem1x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1921px -557px;
  width: 15px;
  height: 13px;
}
.Pet_Currency_Gem2x {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -1065px;
  width: 30px;
  height: 26px;
}
.PixelPaw-Gold {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -817px;
  width: 51px;
  height: 51px;
}
.PixelPaw {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -886px;
  width: 51px;
  height: 51px;
}
.PixelPaw002 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -955px;
  width: 51px;
  height: 51px;
}
.inventory_present {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -817px;
  width: 68px;
  height: 68px;
}
.inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1893px -576px;
  width: 68px;
  height: 68px;
}
.inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -817px;
  width: 68px;
  height: 68px;
}
.inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -886px;
  width: 68px;
  height: 68px;
}
.inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -886px;
  width: 68px;
  height: 68px;
}
.inventory_special_fortify {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -955px;
  width: 68px;
  height: 68px;
}
.inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -955px;
  width: 68px;
  height: 68px;
}
.inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1024px;
  width: 68px;
  height: 68px;
}
.inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1024px;
  width: 68px;
  height: 68px;
}
.inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1093px;
  width: 68px;
  height: 68px;
}
.inventory_special_opaquePotion {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1093px;
  width: 68px;
  height: 68px;
}
.inventory_special_seafoam {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1162px;
  width: 68px;
  height: 68px;
}
.inventory_special_shinySeed {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1162px;
  width: 68px;
  height: 68px;
}
.inventory_special_snowball {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1231px;
  width: 68px;
  height: 68px;
}
.inventory_special_spookySparkles {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1231px;
  width: 68px;
  height: 68px;
}
.inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1300px;
  width: 68px;
  height: 68px;
}
.inventory_special_trinket {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1300px;
  width: 68px;
  height: 68px;
}
.inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1369px;
  width: 68px;
  height: 68px;
}
.knockout {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -769px;
  width: 120px;
  height: 47px;
}
.pet_key {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1438px;
  width: 68px;
  height: 68px;
}
.rebirth_orb {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1438px;
  width: 68px;
  height: 68px;
}
.seafoam_star {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -576px;
  width: 90px;
  height: 90px;
}
.shop_armoire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1507px;
  width: 68px;
  height: 68px;
}
.zzz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -1024px;
  width: 40px;
  height: 40px;
}
.zzz_light {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1923px -769px;
  width: 40px;
  height: 40px;
}
.notif_inventory_present_01 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -142px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_02 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -171px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_03 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -200px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_04 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -229px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_05 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -258px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_06 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -293px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_07 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -322px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_08 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -351px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_09 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -380px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_10 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1953px -409px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_11 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1962px -576px;
  width: 28px;
  height: 28px;
}
.notif_inventory_present_12 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1962px -605px;
  width: 28px;
  height: 28px;
}
.notif_inventory_special_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -1093px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_congrats {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1961px -1118px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_getwell {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -1162px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_goodluck {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1971px -1065px;
  width: 20px;
  height: 26px;
}
.notif_inventory_special_greeting {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1961px -1162px;
  width: 20px;
  height: 22px;
}
.notif_inventory_special_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1964px -769px;
  width: 24px;
  height: 26px;
}
.notif_inventory_special_thankyou {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1961px -1093px;
  width: 20px;
  height: 24px;
}
.notif_inventory_special_valentine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1940px -1118px;
  width: 20px;
  height: 24px;
}
.npc_bailey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1924px -1576px;
  width: 60px;
  height: 72px;
}
.npc_bailey_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1921px -444px;
  width: 63px;
  height: 93px;
}
.npc_bailey_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1929px -667px;
  width: 60px;
  height: 72px;
}
.npc_bailey_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1682px -422px;
  width: 54px;
  height: 72px;
}
.npc_bailey_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1874px -667px;
  width: 54px;
  height: 93px;
}
.npc_bailey_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -1576px;
  width: 60px;
  height: 72px;
}
.npc_bailey_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -667px;
  width: 71px;
  height: 101px;
}
.npc_bailey_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1863px -1576px;
  width: 60px;
  height: 72px;
}
.npc_bailey_valentines {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1871px -1507px;
  width: 63px;
  height: 66px;
}
.npc_bailey_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1627px -422px;
  width: 54px;
  height: 78px;
}
.npc_matt {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1372px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_birthday {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1366px -1315px;
  width: 195px;
  height: 138px;
}
.npc_matt_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_habitoween {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -196px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_nye {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -392px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_spring {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -588px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_summer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -784px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_thanksgiving {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -980px -1529px;
  width: 195px;
  height: 138px;
}
.npc_matt_winter {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1176px -1529px;
  width: 195px;
  height: 138px;
}
.background_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px 0px;
  width: 306px;
  height: 202px;
}
.banner_flair_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1921px -538px;
  width: 69px;
  height: 18px;
}
.phobia_dysheartener {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -747px -440px;
  width: 201px;
  height: 195px;
}
.quest_alligator {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px -1085px;
  width: 201px;
  height: 213px;
}
.quest_amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -307px 0px;
  width: 219px;
  height: 219px;
}
.quest_armadillo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -527px 0px;
  width: 219px;
  height: 219px;
}
.quest_atom1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -656px -1315px;
  width: 250px;
  height: 150px;
}
.quest_atom2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1158px -1315px;
  width: 207px;
  height: 138px;
}
.quest_atom3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -307px -220px;
  width: 216px;
  height: 180px;
}
.quest_axolotl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -435px;
  width: 219px;
  height: 219px;
}
.quest_badger {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -435px;
  width: 219px;
  height: 219px;
}
.quest_basilist {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px 0px;
  width: 189px;
  height: 141px;
}
.quest_beetle {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1187px -880px;
  width: 204px;
  height: 201px;
}
.quest_blackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px -440px;
  width: 216px;
  height: 216px;
}
.quest_bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -435px;
  width: 219px;
  height: 219px;
}
.quest_bunny {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -527px -220px;
  width: 210px;
  height: 186px;
}
.quest_butterfly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -747px 0px;
  width: 219px;
  height: 219px;
}
.quest_cheetah {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -747px -220px;
  width: 219px;
  height: 219px;
}
.quest_cow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1627px 0px;
  width: 174px;
  height: 213px;
}
.quest_dilatory {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -655px;
  width: 219px;
  height: 219px;
}
.quest_dilatoryDistress1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px -874px;
  width: 210px;
  height: 210px;
}
.quest_dilatoryDistress2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -142px;
  width: 150px;
  height: 150px;
}
.quest_dilatoryDistress3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -655px;
  width: 219px;
  height: 219px;
}
.quest_dilatory_derby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -655px;
  width: 219px;
  height: 219px;
}
.quest_dolphin {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -655px;
  width: 219px;
  height: 219px;
}
.quest_dustbunnies {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -967px 0px;
  width: 219px;
  height: 219px;
}
.quest_egg {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1627px -214px;
  width: 165px;
  height: 207px;
}
.quest_evilsanta {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -444px;
  width: 118px;
  height: 131px;
}
.quest_evilsanta2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -967px -220px;
  width: 219px;
  height: 219px;
}
.quest_falcon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -967px -440px;
  width: 219px;
  height: 219px;
}
.quest_ferret {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -875px;
  width: 219px;
  height: 219px;
}
.quest_fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -875px;
  width: 219px;
  height: 219px;
}
.quest_frog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1315px;
  width: 221px;
  height: 213px;
}
.quest_ghost_stag {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -875px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -875px;
  width: 219px;
  height: 219px;
}
.quest_goldenknight2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -907px -1315px;
  width: 250px;
  height: 150px;
}
.quest_goldenknight3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -203px;
  width: 219px;
  height: 231px;
}
.quest_gryphon {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -222px -1315px;
  width: 216px;
  height: 177px;
}
.quest_guineapig {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px -875px;
  width: 219px;
  height: 219px;
}
.quest_harpy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1187px 0px;
  width: 219px;
  height: 219px;
}
.quest_hedgehog {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -967px -660px;
  width: 219px;
  height: 186px;
}
.quest_hippo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1187px -220px;
  width: 219px;
  height: 219px;
}
.quest_horse {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1187px -440px;
  width: 219px;
  height: 219px;
}
.quest_kangaroo {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1187px -660px;
  width: 219px;
  height: 219px;
}
.quest_kraken {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -439px -1315px;
  width: 216px;
  height: 177px;
}
.quest_lostMasterclasser1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: 0px -1095px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -220px -1095px;
  width: 219px;
  height: 219px;
}
.quest_lostMasterclasser3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -440px -1095px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1802px -293px;
  width: 150px;
  height: 150px;
}
.quest_mayhemMistiflying2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -660px -1095px;
  width: 219px;
  height: 219px;
}
.quest_mayhemMistiflying3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -880px -1095px;
  width: 219px;
  height: 219px;
}
.quest_monkey {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1100px -1095px;
  width: 219px;
  height: 219px;
}
.quest_moon1 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px -657px;
  width: 216px;
  height: 216px;
}
.quest_moon2 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px 0px;
  width: 219px;
  height: 219px;
}
.quest_moon3 {
  background-image: url('~@/assets/images/sprites/spritesmith-main-14.png');
  background-position: -1407px -220px;
  width: 219px;
  height: 219px;
}
