.promo_armoire_backgrounds_202001 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -175px;
  width: 423px;
  height: 147px;
}
.promo_g1g1_2019 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -471px;
  width: 357px;
  height: 144px;
}
.promo_mystery_202001 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -241px -616px;
  width: 279px;
  height: 147px;
}
.promo_snowballs {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 420px;
  height: 174px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -358px -471px;
  width: 96px;
  height: 69px;
}
.promo_winter_potions_2020 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -175px;
  width: 423px;
  height: 147px;
}
.promo_winter_quests_bundle {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -323px;
  width: 423px;
  height: 147px;
}
.promo_winter_wonderland_2019 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -323px;
  width: 402px;
  height: 147px;
}
.promo_winter_wonderland_2020 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -421px 0px;
  width: 468px;
  height: 147px;
}
.scene_list {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -616px;
  width: 240px;
  height: 195px;
}
