.promo_armoire_backgrounds_201910 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -576px;
  width: 423px;
  height: 147px;
}
.promo_costume_achievement {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -737px -387px;
  width: 144px;
  height: 156px;
}
.promo_desert_pet_achievements {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -205px -872px;
  width: 204px;
  height: 102px;
}
.promo_fall_festival_2018 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -395px;
  width: 372px;
  height: 180px;
}
.promo_fall_festival_2019 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -376px 0px;
  width: 360px;
  height: 189px;
}
.promo_fall_skins {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -187px;
  width: 336px;
  height: 207px;
}
.customize-option.promo_fall_skins {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -25px -202px;
  width: 60px;
  height: 60px;
}
.promo_habitoween_2019 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -373px -395px;
  width: 279px;
  height: 147px;
}
.promo_mystery_201910 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -376px -190px;
  width: 282px;
  height: 147px;
}
.promo_seasonal_shop_fall {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -994px 0px;
  width: 162px;
  height: 138px;
}
.promo_shadow_spooky_potions {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -724px;
  width: 423px;
  height: 147px;
}
.promo_spooky_sparkles {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -424px -576px;
  width: 423px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -994px -139px;
  width: 96px;
  height: 69px;
}
.promo_witchy_familiars {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -724px;
  width: 423px;
  height: 147px;
}
.promo_zombie_achievements {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -872px;
  width: 204px;
  height: 102px;
}
.scene_arts_crafts {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -737px 0px;
  width: 256px;
  height: 256px;
}
.scene_quest_shop {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 375px;
  height: 186px;
}
.scene_strength {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -737px -257px;
  width: 192px;
  height: 129px;
}
