.Mount_Body_Kangaroo-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -408px -239px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -109px -393px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -215px -393px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Kangaroo-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -321px -393px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -514px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -514px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -514px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-AutumnLeaf {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -514px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -499px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -499px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-BlackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -499px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -499px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -499px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -620px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -620px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -620px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -620px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -620px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ethereal {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -605px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Moonglow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -726px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-MossyStone {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Onyx {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-PolkaDot {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -711px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -832px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -242px -272px;
  width: 111px;
  height: 105px;
}
.Mount_Body_LionCub-SolarSystem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-StainedGlass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Body_LionCub-Sunset {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Turquoise {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Vampire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -817px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Windup {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_LionCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_MagicalBee-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -408px -124px;
  width: 105px;
  height: 114px;
}
.Mount_Body_Mammoth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -408px 0px;
  width: 105px;
  height: 123px;
}
.Mount_Body_MantisShrimp-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -393px;
  width: 108px;
  height: 105px;
}
.Mount_Body_Monkey-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -938px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Monkey-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -923px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Nudibranch-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1044px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Octopus-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Orca-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1029px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Owl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Amber {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1150px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Aquatic {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Aurora {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-AutumnLeaf {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-BirchBark {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-BlackPearl {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Bronze {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Celestial {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Cupid {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1060px -1135px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ember {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Fairy {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Floral {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Fluorite {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Frost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ghost {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Glow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Holly {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1256px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-IcySnow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Moonglow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-MossyStone {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Onyx {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Peppermint {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-PolkaDot {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Rainbow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoseQuartz {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-RoyalPurple {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Ruby {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1060px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-SandSculpture {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1166px -1241px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shadow {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Shimmer {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Silver {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-SolarSystem {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Spooky {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StainedGlass {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-StarryNight {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -121px -272px;
  width: 120px;
  height: 120px;
}
.Mount_Body_PandaCub-Sunset {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Sunshine {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Thunderstorm {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Turquoise {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1362px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Vampire {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Watery {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Windup {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_PandaCub-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1060px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1166px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1272px -1347px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Parrot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Peacock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1468px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Penguin-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Phoenix-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1060px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1166px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1272px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1378px -1453px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Pterodactyl-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1574px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rat-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -212px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -318px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -424px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -530px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -636px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -742px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -848px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -954px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1060px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Robot-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1166px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1272px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1378px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1484px -1559px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px 0px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -106px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -212px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -318px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -424px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -530px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rock-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -636px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -742px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -848px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -954px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -1060px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -1166px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -1272px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Shade {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -1378px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Skeleton {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -1680px -1484px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-White {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -1665px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Rooster-Zombie {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -106px -1665px;
  width: 105px;
  height: 105px;
}
.Mount_Body_Sabretooth-Base {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyBlue {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -136px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-CottonCandyPink {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: 0px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Desert {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -136px -136px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Golden {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -272px 0px;
  width: 135px;
  height: 135px;
}
.Mount_Body_Sabretooth-Red {
  background-image: url('~@/assets/images/sprites/spritesmith-main-19.png');
  background-position: -272px -136px;
  width: 135px;
  height: 135px;
}
