.promo_armoire_backgrounds_202002 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px 0px;
  width: 423px;
  height: 147px;
}
.promo_mystery_022020 {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px -277px;
  width: 282px;
  height: 147px;
}
.promo_take_this {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -533px -148px;
  width: 96px;
  height: 69px;
}
.scene_cake {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: -328px -148px;
  width: 204px;
  height: 102px;
}
.scene_dailies {
  background-image: url('~@/assets/images/sprites/spritesmith-largeSprites-0.png');
  background-position: 0px 0px;
  width: 327px;
  height: 276px;
}
