<import: src="head">
<import: src="header">
<import: src="../app/footer">

<Title:>
    HabitRPG | Team

<Head:>
    <app:head:head active="team" />

<Body:>
    <div id="wrap">
        <app:header:header />
        <div class='container'>
            <section>
                <div class="page-header">
                    <h1>Team</h1>
                    <p class="lead">The HabitRPG team has developed organically in a meritocratic fashion. We're still figuring it all out, but the members we have listed here have contributed greatly.  If you want to be part of the team, contribute to the repository, and if you're a big asset we'll likely adopt you :) See the <a href="https://github.com/lefnire/habitrpg/wiki/Business-Model">Count Me In</a></p>
                </div>
            </section>

            <section>
                <div class="page-header">
                    <h2 id="developers">Developers</h2>
                    <ul>
                        <li><a href="https://github.com/lefnire">Tyler Renelle</a></li>
                        <li><a href="https://github.com/switz">Daniel Saewitz</a></li>
                        <li><a href="https://github.com/SlappyBag">Stan Lindsey</a></li>
                        <li><a href="https://github.com/MrConcept">Philip How</a></li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="page-header">
                    <h2 id="pixel-artists">Pixel Artists</h2>
                    <ul>
                        <li><a href="https://github.com/pandoro">Alex Hermans</a></li>
                        <li><a href="https://github.com/Shaners">Shane Listers</a></li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="page-header">
                    <h2 id="mobile-developers">Mobile Developers</h2>
                    <ul>
                        <li><a href="https://github.com/litenull">Tomaz Korenika</a></li>
                        <li><a href="https://github.com/lefnire">Tyler Renelle</a></li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="page-header">
                    <h2 id="designers">Designers</h2>
                    <ul>
                        <li><a href="https://github.com/zakkain">Zachary Kain</a></li>
                    </ul>
                </div>
            </section>

            <section>
                <div class="page-header">
                    <h2 id="community-managers">Community Management</h2>
                    <ul>
                        <li><a href="https://github.com/wc8">@wc8</a></li>
                        <li><a href="https://github.com/horusofoz">Jeff Smith</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <app:footer:footer />