<!-- Habits -->
<% if (habit_type==1) { %>
  <a href="#" class="vote-up"><img src="assets/add.png" /></a>
  <a href="#" class="vote-down"><img src="assets/remove.png" /></a>
<% } else { %>
  
  <!-- Daily & Todos -->
  <% if (done) { %>
    <input class="vote-down" type="checkbox" checked="checked"/>
  <% } else { %>
    <input class="vote-up" type="checkbox"/>
  <% } %>
<% } %>

<span class="habit-text"><%= name %></span>
<div class='edit'>
  <% if (notes) { %>
    <!-- TODO how to make this assets-aware? image_tag('comment.png', :class=>'comment') -->
    <img src='/assets/comment.png' class="comment" />
    <div class='qtip'><%= notes %></div>
  <% } %>
  <a href="#/<%= id %>/edit">Edit</a>
</div>
