<!-- Habits -->
<% if (habit_type==1) { %>
  <a href="#" class="vote-up"><img src="assets/add.png" /></a>
  <a href="#" class="vote-down"><img src="assets/remove.png" /></a>
<% } else { %>
  
  <!-- Daily & Todos -->
  <input type="checkbox" <%= done ? "class='vote-down' checked='checked'" : "class='vote-up'" %>/>
  
<% } %>

<span class="habit-text"><%= name %></span>
<div class='edit'>
  <% if (notes) { %>
    <img src='/assets/comment.png' class="comment" />
    <div class='qtip'><%= notes %></div>
  <% } %>
  <a href="#/<%= id %>/edit">Edit</a>
</div>
