<h1>Listing habits</h1>

<table id="habits-table">
  <tr>
    <th>Name</th>
    <th>Habit type</th>
    <th>Score</th>
    <th>Notes</th>
    <th>Up</th>
    <th>Down</th>
    <th>Done</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Habit</a>