<a href="#/new">New Habit</a>

<table id="layout">
  <tr>
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Habits</h2>
          <div class='inner'>
            <ul id="habits-habits" />
          </div>
        </div>
      </div>
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Daily</h2>
          <div class='inner'>
            <ul id="habits-daily" />
          </div>
        </div>
      </div>
    </td>

    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Todos</h2>
          <div class='inner'>
            
            <div id="habits-todos">
              <ul>
                <li><a href="#tabs-1">Remaining</a></li>
                <li><a href="#tabs-2">Done</a></li>
              </ul>
              <div id="tabs-1">
                <ul id="habits-todos-remaining" />
              </div>
              <div id="tabs-2">
                <ul id="habits-todos-done" />
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!-- TODO link_to 'View Completed', :action=>'completed' -->
    </td>
    
    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Rewards
            <div id="money"></div> 
          </h2>
          <div class='inner'>
            <!-- TODO rewards code block (see old code) -->
            <ul id="rewards" />
          </div>
        </div>
      </div>
      <!-- TODO link_to 'New Reward', new_reward_path --> 
    </td>
  </tr>
</table>


<br/>
