<div id="layout">
  <div class="panel">
    <h2 class='title'>Habits</h2>
    <div class='inner'>
      <ul id="habits-habits" class="sortable" />
        <input class="new-habit" data-type="1" placeholder="New Habit" type="text" />
    </div>
  </div>
    
  <div class="panel">
    <h2 class='title'>Daily</h2>
    <div class='inner'>
      <ul id="habits-daily" class="sortable" />
        <input class="new-habit" data-type="2" placeholder="New Daily" type="text" />
    </div>
  </div>

  <div class="panel">
    <h2 class='title'>Todos</h2>
    <div class='inner'>
      
      <div id="habits-todos">
        <ul>
          <li><a href="#tabs-1">Remaining</a></li>
          <li><a href="#tabs-2">Done</a></li>
        </ul>
        <div id="tabs-1">
          <ul id="habits-todos-remaining" class="sortable" />
        </div>
        <div id="tabs-2">
          <ul id="habits-todos-done" class="sortable" />
          <a href="#" class="clear-completed">Clear Completed</a>
        </div>
      </div>
      <input class="new-habit" data-type="3" placeholder="New Todo" type="text" />
    </div>
  </div>
    
    <div class="panel">
      <h2 class='title'>Rewards
        <div id="money"></div> 
      </h2>
      <div class='inner'>
        <ul id="rewards" class="sortable" />
        <input class="new-habit" data-type="4" placeholder="New Reward" type="text" />
      </div>
    </div>
</div>


<br/>
