commands:
  01_sym:
    command: "ln -sf $(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin/node /bin/node"
container_commands:
  01_makeBabel:
    command: "touch /tmp/.babel.json"
  02_ownBabel:
    command: "chmod a+rw /tmp/.babel.json"
  03_installBower:
    command: "$NODE_HOME/bin/npm install -g bower"
  04_installGulp:
    command: "$NODE_HOME/bin/npm install -g gulp"
  05_runBower:
    command: "$NODE_HOME/lib/node_modules/bower/bin/bower --config.interactive=false --allow-root install -f"
  06_runGulp:
    command: "$NODE_HOME/lib/node_modules/gulp/bin/gulp.js build"
