commands:
  01_sym_node:
    command: "ln -sf $(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin/node /bin/node"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41update_npm.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      $(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin/npm install -g npm@3
container_commands:
  01_makeBabel:
    command: "touch /tmp/.babel.json"
  02_ownBabel:
    command: "chmod a+rw /tmp/.babel.json"
  03_installBower:
    command: "npm install -g bower"
  04_installGulp:
    command: "npm install -g gulp"
  05_runBower:
    command: "$NODE_HOME/lib/node_modules/bower/bin/bower --config.interactive=false --allow-root install -f"
  06_runGulp:
    command: "$NODE_HOME/lib/node_modules/gulp/bin/gulp.js build"