// Colors taken from the Habitica Color Palette
// The palette is available at TODO ADD LINK TO PALETTE PDF
// The colors are named from the darkest to the lightest

$white: #FFFFFF;
$black: #1A181D;

$header-color: #D5C8FF;
$header-dark-background: #271B3D;

$gray-10: #34313A;
$gray-50: #4E4A57;
$gray-100: #686274;
$gray-200: #878190;
$gray-300: #A5A1AC;
$gray-400: #C3C0C7;
$gray-500: #E1E0E3;
$gray-600: #EDECEE;
$gray-700: #F9F9F9;

$purple-50: #36205D;
$purple-100: #432874;
$purple-200: #4F2A93;
$purple-300: #6133B4;
$purple-400: #9A62FF;
$purple-500: #BDA8FF;

$red-10: #F23035;
$red-50: #F74E52;
$red-100: #FF6165;
$red-500: #FFB6B8;

$maroon-10: #B01515;
$maroon-50: #C92B2B;
$maroon-100: #DE3F3F;
$maroon-500: #F19595;

$yellow-10: #FFA623;
$yellow-50: #FFB445;
$yellow-100: #FFBE5D;
$yellow-500: #FFD9A0;

$orange-10: #F47825;
$orange-50: #FA8537;
$orange-100: #FF944C;
$orange-500: #FFBF98;

$blue-10: #2995CD;
$blue-50: #46A7D9;
$blue-100: #50B5E9;
$blue-500: #A9DCF6;

$teal-10: #20B2BF;
$teal-50: #3BCAD7;
$teal-100: #5EDDE9;
$teal-500: #A5F7FF;

$green-10: #24CC8F;
$green-50: #3FDAA2;
$green-100: #5AEAB2;
$green-500: #A6FFDF;

$suggested-item-color: #D5C8FF;
