// Task colors
$worst      =   rgb(230, 184, 175)
$worse      =   rgb(244, 204, 204)
$bad        =   rgb(252, 229, 205)
$neutral    =   rgb(255, 242, 204)
$good       =   rgb(217, 234, 211)
$better     =   rgb(208, 224, 227)
$best       =   rgb(201, 218, 248)
$completed  =   rgb(217, 217, 217)
//Label colors
$color-purple = #b881b9
// Avatar background colors
$color-herobox = desaturate(lighten($better, 16%),32%)
// Header status bar
$color-hp = $worse
$color-xp = $neutral
$color-mp = $best
// Navigation background colors
$color-toolbar = lighten($color-herobox, 70%)
$color-options-menu = lighten($color-herobox, 85%)
$color-options-submenu = lighten($color-herobox, 75%)
$color-options-blurb = $color-options-submenu
// Button colors
$color-button-highlight = $best
// Task background
$color-tasks = lighten($color-herobox, 65%)
// Task filter colors
$color-filter-tag = lighten($good,60%)
$color-filter-tag-challenge = lighten($color-purple,70%)
// Contributor colors
$color-contributor-one = #f57a9d
$color-contributor-two = #b93030
$color-contributor-three = #ff3300
$color-contributor-four = #ff9500
$color-contributor-five = #fff700
$color-contributor-six = #5eff00
$color-contributor-seven = #00aaff
$color-contributor-mod = #130ead
$color-contributor-staff = #88108f
$color-contributor-npc = #000
$color-contributor-npc-font = #00FF00
