.quest_collected_true
  color: #ccc
  text-decoration:line-through

quest-rewards
  hr
    clear:both

.quest-icon
  margin: .6em

.quest-participants .accepted
  color: #2DB200

.quest-participants .rejected
  color: #B30409
