.subscription-features
  tr
    td
      //height 59px
      vertical-align middle
      text-align center
    th
      max-width: 150px
      font-weight normal
    th.feature-name
      text-align center
      font-weight: bold
.dashed-underline
  border-bottom:1px dashed #000
  text-decoration:none
  cursor pointer

// Required by angular-ui-bootstrap
.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

.nav-tabs
  margin-bottom: 15px

img
  max-width: 100%

.hint
  border-bottom:1px dotted #009999
  text-decoration: none
  cursor: help
a.hint
  border-bottom:1px dotted #009999
  text-decoration: none
  cursor: pointer
a.hint:hover
  text-decoration: none;
.vertical-20
  vertical-align: 20%

.popover
  hr
    margin: 10px 0
  ul
    padding-left: 10px

.group-leave-join
  .glyphicon-ban-circle
    color: white;
    margin-right: 5px;

@media (max-width: 768px)
  .container-fluid
    padding-right: 5px
    padding-left: 5px
    > .row
      margin-left: -5px
      margin-right: -5px
  .tasks-lists .row .col-md-3
    padding-right: 0
    padding-left: 0
