.Pet_Egg_Wolf, .Pet_Egg_TigerCub, .Pet_Egg_PolarBear, .Pet_Egg_PandaCub, .Pet_Egg_LionCub, .Pet_Egg_Fox, .Pet_Egg_FlyingPig, .Pet_Egg_Dragon, .Pet_Egg_Cactus, .Pet_Egg_BearCub, .Pet_HatchingPotion_Base, .Pet_HatchingPotion_White, .Pet_HatchingPotion_Desert, .Pet_HatchingPotion_Red, .Pet_HatchingPotion_Shade, .Pet_HatchingPotion_Skeleton, .Pet_HatchingPotion_Zombie, .Pet_HatchingPotion_CottonCandyPink, .Pet_HatchingPotion_CottonCandyBlue, .Pet_HatchingPotion_Golden {background: url("/img/sprites/Egg_Sprite_Sheet.png") no-repeat}
.Pet_Egg_Wolf {background-position: 0px 0px; width: 48px; height: 51px}
.Pet_Egg_TigerCub {background-position: 0px -51px; width: 48px; height: 51px}
.Pet_Egg_PolarBear {background-position: 0px -102px; width: 48px; height: 51px}
.Pet_Egg_PandaCub {background-position: 0px -153px; width: 48px; height: 51px}
.Pet_Egg_LionCub {background-position: 0px -204px; width: 48px; height: 51px}
.Pet_Egg_Fox {background-position: 0px -255px; width: 48px; height: 51px}
.Pet_Egg_FlyingPig {background-position: 0px -306px; width: 48px; height: 51px}
.Pet_Egg_Dragon {background-position: 0px -357px; width: 48px; height: 51px}
.Pet_Egg_Cactus {background-position: 0px -408px; width: 48px; height: 51px}
.Pet_Egg_BearCub {background-position: 0px -459px; width: 48px; height: 51px}

.Pet_HatchingPotion_Base {background-position: -48px -0px; width: 48px; height: 51px}
.Pet_HatchingPotion_White {background-position: -48px -51px; width: 48px; height: 51px}
.Pet_HatchingPotion_Desert {background-position: -48px -102px; width: 48px; height: 51px}
.Pet_HatchingPotion_Red {background-position: -48px -153px; width: 48px; height: 51px}
.Pet_HatchingPotion_Shade {background-position: -48px -204px; width: 48px; height: 51px}
.Pet_HatchingPotion_Skeleton {background-position: -48px -255px; width: 48px; height: 51px}
.Pet_HatchingPotion_Zombie {background-position: -48px -306px; width: 48px; height: 51px}
.Pet_HatchingPotion_CottonCandyPink {background-position: -48px -357px; width: 48px; height: 51px}
.Pet_HatchingPotion_CottonCandyBlue {background-position: -48px -408px; width: 48px; height: 51px}
.Pet_HatchingPotion_Golden {background-position: -48px -459px; width: 48px; height: 54px} /* This sprite was a bit taller than everything else, will affect the math of anything inserted below it */

/* Temporary until we get the other hatching potions */
/* Commenting this out since it's no longer needed, feel free to completely remove -Shaners
.Pet_HatchingPotion_Zombie, .Pet_HatchingPotion_CottonCandyPink, .Pet_HatchingPotion_CottonCandyBlue, .Pet_HatchingPotion_Golden  {background-position: -48px -0px; width: 48px; height: 51px}
.Pet_HatchingPotion_Zombie  {
    -webkit-filter: invert(1);
}
.Pet_HatchingPotion_CottonCandyPink  {
    -webkit-filter: hue-rotate(120deg);
}
.Pet_HatchingPotion_CottonCandyBlue  {
    -webkit-filter: saturate(3);
}
.Pet_HatchingPotion_Golden  {
    -webkit-filter: hue-rotate(220deg);
}
*/