.text-center
  .modal-header
    h3=env.t('changeCustomDayStart')

  .modal-body
    p!=env.t('nextCron', {time: '<strong class="text-danger">{{::nextCron | date: user.preferences.dateFormat + " @ h:mm a"}}</strong>'})

  .modal-footer
    p.pull-left-sm=env.t('sureChangeCustomDayStart')
    a.btn.btn-default(ng-click='$close()')=env.t('close')
    a.btn.btn-primary(ng-click='saveDayStart(); $close()')=env.t('confirm')
