script(id='partials/main.html', type="text/ng-template")
  include ./filters
  div(ng-controller='TasksCtrl', ng-mouseenter="hoverIn()", ng-mouseleave="hoverout()")
    habitrpg-tasks(main='true', obj='user')
