.container-fluid(ng-show='user.invitations.parties.length > 0')
  h3=env.t('partyInvitationsText', {numberInvites: '{{user.invitations.parties.length}}'})

  div(ng-repeat='partyInvite in user.invitations.parties')
    h2=env.t('invitedTo', {name: '{{partyInvite.name}}'})
    a.btn.btn-success(
      data-type='party',
      ng-click='join(partyInvite)'
    )=env.t('accept')
    a.btn.btn-danger(ng-click='reject(partyInvite)')=env.t('reject')
