include ./profile/index
include ./social/index
include ./inventory/index
include ./settings/index

script(id='partials/options.html', type="text/ng-template")
  .container-fluid
    .row
      .col-md-12
        .tab-content.row
          .tab-pane.active
            div(ui-view)
