// CSS that doesn't belong to any specific Vue compoennt
@import './utilities';
@import './loading-screen';

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}