.container-fluid
  .row 
    .filters.col-md-12(ng-controller='FiltersCtrl')
      .pull-left.filter-description
        =env.t('tags')
        |:
      ul.nav.nav-pills
        li
          a(rel='tooltip', title=env.t('editTags'), ng-click='saveOrEdit()')
            span.glyphicon(ng-class='{"glyphicon-ok": _editing, "glyphicon-pencil": !_editing}')
        li(bindonce='user.tags', ng-class='{active: user.filters[tag.id]}', ng-repeat='tag in user.tags')
          .input-group(ng-show='_editing')
            input.form-control.input-sm(type='text', ng-model='tag.name')
            span.input-group-addon
              a(ng-click='user.ops.deleteTag({params:{id:tag.id}})')
                span.glyphicon.glyphicon-trash
          a(ng-hide='_editing', ng-click='toggleFilter(tag)')
            span.glyphicon.glyphicon-bullhorn(bo-if="tag.challenge")
            markdown(ng-model='tag.name')
        li
          form.form-inline(ng-show='_editing', ng-submit='createTag(_newTag)')
            .input-group
              input.form-control.input-sm(type='text', ng-model='_newTag', placeholder=env.t('newTag'))
              span.input-group-addon(ng-click='createTag(_newTag)')
                =env.t('add')
        // <li class="{#unless activeFilters(users[_userId].filters)}hidden{/}">
        li
          a(rel='tooltip', title=env.t('clearFilters'), ng-click='user.filters = {}')
            span.glyphicon.glyphicon-remove-sign
