.filters(ng-controller='FiltersCtrl')
  .pull-left.filter-description
    | Tags:
  ul.nav.nav-pills
    li
      a(rel='tooltip', title='Edit Tags', ng-click='saveOrEdit()')
        i(ng-class='{"icon-ok": _editing, "icon-pencil": !_editing}')
    li(ng-class='{active: user.filters[tag.id]}', ng-repeat='tag in user.tags', style='position: relative;')
      .input-append.option-group.tag-editing(ng-show='_editing && !tag.challenge')
        input.input.input-small.option-content.tag-editing-pill(type='text', ng-model='tag.name')
        span.add-on.tag-editing-pill
          a.pull-right(ng-click='delete(tag,$index)')
            i.icon-trash
      a(ng-hide='_editing', ng-click='toggleFilter(tag)')
        i.icon-bullhorn(ng-if="tag.challenge")
        | {{tag.name}}
    li
      form.form-inline(ng-show='_editing', ng-submit='createTag(_newTag)')
        .input-append.tag-editing
          input.span2.tag-editing-pill(type='text', ng-model='_newTag', placeholder='New Tag')
          button.add-on.tag-editing-pill(type='submit') Add
    // <li class="{#unless activeFilters(users[_userId].filters)}hidden{/}">
    li
      a(rel='tooltip', title='Clear Filters', ng-click='user.filters = {}')
        i.icon-remove-sign
