script(type='text/ng-template', id='partials/options.challenges.detail.close.html')
  a.btn.btn-small.btn-danger(ng-click="delete(closingChal)") Delete
  h5 - Or -
  small Select a winner and close the challenge:
  select(ng-model='closingChal.winner', name='Winner', ng-options='u._id as u.profile.name for u in closingChal.members', ng-change='selectWinner(closingChal)')
  small.pull-right
    a(ng-click='cancelClosing(closingChal)') cancel

script(type='text/ng-template', id='partials/options.challenges.detail.html')
  // Edit button
  ul.unstyled
    li(ng-show='challenge.leader==user._id', ng-hide='challenge._locked==false')
      button.btn.btn-small.btn-default(ng-click='challenge._locked = false') Edit
    li(ng-show='challenge._locked==false')
      button.btn.btn-small.btn-primary(ng-click='save(challenge)') Save
      button.btn.btn-small.btn-default(ng-click='challenge._locked=true') Cancel
      button.btn.btn-small.btn-default(ng-click='close(challenge, $event)', tooltip='Delete or select winner') Close

  div(ng-show='challenge._locked==false')
    .-options
      input.option-content(type='text', ng-model='challenge.name')
      textarea.option-content(cols='3', placeholder='Description', ng-model='challenge.description')
  hr

  .well(ng-if='challenge.description') {{challenge.description}}
  habitrpg-tasks(obj='challenge', main=false)
  .accordion(ng-if='challenge.members')
    .accordion-group
      .accordion-heading
        a.accordion-toggle(data-toggle='collapse', data-target='#collapse-members-{{challenge._id}}')
          h4 How's everyone doing?
      .accordion-body.collapse(id='collapse-members-{{challenge._id}}')
        .accordion-inner
          div(ng-repeat='member in challenge.members', ng-init='member._locked = true; obj=member')
            h4 {{member.profile.name}}
            habitrpg-tasks(main=false)

script(type='text/ng-template', id='partials/options.challenges.html')
  .row-fluid
    .span2.well
      h4 Groups
      label.checkbox(ng-repeat='group in groups')
        input(type='checkbox', ng-model='search.group[group._id]')
        | {{group.name}}
      h4 Membership
      label.radio
        input(type='radio', name='search-participation-radio', ng-click='search._isMember = true')
        | Participating
      label.radio
        input(type='radio', name='search-participation-radio', ng-click='search._isMember = false')
        | Not Participating
      label.radio
        input(type='radio', name='search-participation-radio', ng-click='search._isMember = undefined', checked='checked')
        | Either
    .span10
      // Creation form
      button.btn.btn-success(ng-click='create()', ng-hide='newChallenge') Create Challenge
      .create-challenge-from.well(ng-if='newChallenge')
        form(ng-submit='save(newChallenge)')
          div
            input.btn.btn-success(type='submit', value='Save')
            input.btn.btn-danger(type='button', ng-click='discard()', value='Discard')
            select(ng-model='newChallenge.group', ng-required='required', name='Group', ng-options='g._id as g.name for g in groups')
          .challenge-options
            input.option-content(type='text', ng-model='newChallenge.name', placeholder='Challenge Title', required='required')
          .challenge-options
            textarea.option-content(cols='3', placeholder='Description', ng-model='newChallenge.description')

          .challenge-options
            .option-group.option-medium
              input.option-content(type='number', min="0", max="{{maxPrize}}", ng-model='newChallenge.prize', placeholder='Prize')
              span.input-suffix.Pet_Currency_Gem1x.inline-gems
              i.icon-question-sign(popover="If someone can 'win' your challenge, you can optionally award that winner a Gem prize. Max = #gems you own (+ guild.gems, if you created this challenge's guild). Note: This prize can't be changed later.", popover-trigger='mouseenter', popover-placement='right')

        habitrpg-tasks(main=false, obj='newChallenge')

      // Challenges list
      .accordion-group(ng-repeat='challenge in challenges|filter:filterChallenges')
        .accordion-heading
          ul.pull-right.challenge-accordion-header-specs
            li {{challenge.memberCount}} Participants
            li(ng-show='challenge.prize')
              // prize
              table(ng-show='challenge.prize')
                tr
                  td {{challenge.prize}}
                  td
                    span.Pet_Currency_Gem1x
                  td  Prize
            li
              // leave / join
              a.btn.btn-small.btn-danger(ng-show='challenge._isMember', ng-click='clickLeave(challenge, $event)')
                i.icon-ban-circle
                | Leave
              a.btn.btn-small.btn-success(ng-hide='challenge._isMember', ng-click='join(challenge)')
                i.icon-ok
                | Join
          a.accordion-toggle(ui-sref='options.challenges.detail({cid:challenge._id})') {{challenge.name}}
        .accordion-body(ng-class='{collapse: !$stateParams.cid == challenge._id}')
          .accordion-inner(ng-if='$stateParams.cid == challenge._id')
            div(ui-view)