.module.full-width
  span.option-box.pull-right.wallet
    app:rewards:user-gems
  ul.nav.nav-tabs.game-tabs
    li.active
      a(data-toggle='tab', data-target='#profile-customize')
        i.icon-user
        | Profile
    li
      a#party-tab-link(data-toggle='tab', data-target='#profile-groups')
        i.icon-heart
        | Groups
    li(ng-show='user.flags.dropsEnabled')
      a(data-toggle='tab', data-target='#profile-inventory')
        i.icon-gift
        | Inventory
    li(ng-show='user.flags.dropsEnabled')
      a(data-toggle='tab', data-target='#profile-stable')
        i.icon-leaf
        | Stable
    li
      a(data-toggle='tab', data-target='#profile-tavern')
        i.icon-eye-close
        | Tavern
    li
      a(data-toggle='tab', data-target='#profile-achievements')
        i.icon-certificate
        | Achievements
    // <li><a data-toggle='tab' data-target="#profile-challenges" id='profile-challenges-tab-link' ><i class='icon-bullhorn'></i> Challenges</a></li>
    li
      a(data-toggle='tab', data-target='#profile-settings')
        i.icon-wrench
        | Settings
  .tab-content
    #profile-customize.tab-pane.active
      .row-fluid
        .span4.border-right
          app:avatar:customize
        .span4.border-right
          app:avatar:profile-stats(profile='{_user}')
        .span4
          app:avatar:profile-edit
    #profile-groups.tab-pane
      app:groups:groups-pane
    #profile-achievements.tab-pane
      app:avatar:achievements(profile='{{_user}}')
    #profile-inventory.tab-pane
      .row-fluid
        .span6.border-right
          h2 Inventory
          app:avatar:inventory
        .span6
          h2 Market
          app:game-pane:market
    #profile-stable.tab-pane
      app:pets:stable
    #profile-tavern.tab-pane
      app:groups:group(group='{_habitRPG}')
    #profile-challenges.tab-pane
      app:challenges:main
    #profile-settings.tab-pane
      app:settings:settings-pane
