include ./profile
include ./social/index
include ./inventory/index
include ./settings

script(id='partials/options.html', type="text/ng-template")
  .grid
    .module.full-width
      span.option-box.pull-right.wallet
        include ../shared/gems

      ul.nav.nav-tabs
        li(ng-class="{ active: $state.includes('options.profile') }")
          a(ui-sref='options.profile')
            span.glyphicon.glyphicon-user
            =env.t('profile')
        li(ng-class="{ active: $state.includes('options.social') }")
          a(ui-sref='options.social')
            span.glyphicon.glyphicon-heart
            =env.t('social')
        li(ng-class="{ active: $state.includes('options.inventory') }", ng-if='user.flags.dropsEnabled')
          a(ui-sref='options.inventory')
            span.glyphicon.glyphicon-gift
            =env.t('inventory')
        li(ng-class="{ active: $state.includes('options.settings') }")
          a(ui-sref='options.settings')
            span.glyphicon.glyphicon-wrench
            =env.t('settings')

      .tab-content
        .tab-pane.active
          div(ui-view)
