.grid(ng-controller='UserAvatarCtrl')
  .module.full-width
    span.option-box.pull-right.wallet
      include ../shared/gems

    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', data-target='#profile-tab')
          i.icon-user
          | Profile
      li
        a(data-toggle='tab',data-target='#groups-tab', ng-click='fetchParty()')
          i.icon-heart
          | Groups
      li(ng-show='user.flags.dropsEnabled')
        a(data-toggle='tab',data-target='#inventory-tab')
          i.icon-gift
          | Inventory
      li(ng-show='user.flags.dropsEnabled')
        a(data-toggle='tab',data-target='#stable-tab')
          i.icon-leaf
          | Stable
      li
        a(data-toggle='tab',data-target='#tavern-tab',ng-click='fetchTavern()')
          i.icon-eye-close
          | Tavern
      li
        a(data-toggle='tab',data-target='#achievements-tab')
          i.icon-certificate
          | Achievements

      li
        a(data-toggle='tab',data-target='#settings-tab')
          i.icon-wrench
          | Settings

    .tab-content
      .tab-pane.active#profile-tab
        include ./profile

      .tab-pane#groups-tab
        include ./groups/index

      .tab-pane#inventory-tab
        .row-fluid
          .span6.border-right
            h2 Inventory
            include ./inventory
          .span6
            h2 Market
            h4.well
              | Coming soon.
              a(href='https://github.com/lefnire/habitrpg/wiki/Contributing#website', target='blank')  Help us port this feature!
            //app:game-pane:market

      .tab-pane#stable-tab
        h4.well
          | Coming soon.
          a(href='https://github.com/lefnire/habitrpg/wiki/Contributing#website', target='blank')  Help us port this feature!
        //app:pets:stable

      .tab-pane#tavern-tab
        include ./groups/tavern

      .tab-pane#achievements-tab
        include ../shared/profiles/achievements

      // <li><a data-toggle='tab' data-target="#profile-challenges" id='profile-challenges-tab-link' ><i class='icon-bullhorn'></i> Challenges</a></li>
      // app:challenges:main

      .tab-pane#settings-tab
        include ./settings