include ./profile
include ./social/index
include ./inventory/index
include ./settings

script(id='partials/options.html', type="text/ng-template")
  .grid
    .module.full-width
      span.option-box.pull-right.wallet
        include ../shared/gems

      ul.nav.nav-tabs
        li(ng-class="{ active: $state.includes('options.profile') }")
          a(ui-sref='options.profile')
            i.icon-user
            | Profile
        li(ng-class="{ active: $state.includes('options.social') }")
          a(ui-sref='options.social')
            i.icon-heart
            | Social
        li(ng-class="{ active: $state.includes('options.inventory') }", ng-if='user.flags.dropsEnabled')
          a(ui-sref='options.inventory')
            i.icon-gift
            | Inventory
        li(ng-class="{ active: $state.includes('options.settings') }")
          a(ui-sref='options.settings')
            i.icon-wrench
            | Settings

      .tab-content
        .tab-pane.active
          div(ui-view)
