script(id='templates/habitrpg-options.html', type="text/ng-template")
  .grid
    .module.full-width
      span.option-box.pull-right.wallet
        include ../shared/gems

      ul.nav.nav-tabs
        li.active
          a(data-toggle='tab', data-target='#profile-tab')
            i.icon-user
            | Profile
        li
          a(data-toggle='tab',data-target='#groups-tab', ng-click='fetchParty()')
            i.icon-heart
            | Groups
        li(ng-show='user.flags.dropsEnabled')
          a(data-toggle='tab',data-target='#inventory-tab')
            i.icon-gift
            | Inventory
        li(ng-show='user.flags.dropsEnabled')
          a(data-toggle='tab',data-target='#stable-tab')
            i.icon-leaf
            | Stable
        li
          a(data-toggle='tab',data-target='#tavern-tab', ng-click='fetchTavern()')
            i.icon-eye-close
            | Tavern
        li
          a(data-toggle='tab',data-target='#achievements-tab')
            i.icon-certificate
            | Achievements
        //-li
          a(data-toggle='tab',data-target='#challenges-tab')
            i.icon-bullhorn
            | Challenges
        li
          a(data-toggle='tab',data-target='#settings-tab')
            i.icon-wrench
            | Settings

      .tab-content
        .tab-pane.active#profile-tab
          include ./profile

        .tab-pane#groups-tab
          include ./groups/index

        .tab-pane#inventory-tab
          include ./inventory

        .tab-pane#stable-tab
          include ./pets

        .tab-pane#tavern-tab
          include ./groups/tavern

        .tab-pane#achievements-tab(ng-controller='UserCtrl')
          include ../shared/profiles/achievements

        .tab-pane#challenges-tab
          include ./challenges/index

        .tab-pane#settings-tab
          include ./settings