.row-fluid(ng-controller='MarketCtrl')
  table.NPC-Alex-container
    tr
      td
        .NPC-Alex.pull-left
      td
        .popover.static-popover.fade.right.in
          .arrow
          h3.popover-title Alexander Augustin
          .popover-content
            | Welcome to the Market! I'm the merchant,
            a(target='_blank', href='http://www.kickstarter.com/profile/523661924') Alexander
            | . Dying to get that particular pet you're after, but don't want to wait for it to drop? Buy it here!

  menu.inventory-list(type='list')
    li.customize-menu
      menu.pets-menu(label='Eggs')
        div(ng-repeat='egg in eggs track by $index')
          button.customize-option(tooltip='{{egg.text}}', ng-click='buy("egg", egg)', class='Pet_Egg_{{egg.name}}')
          p {{egg.text}}

    li.customize-menu
      menu.pets-menu(label='Hatching Potions')
        div(ng-repeat='hatchingPotion in hatchingPotions track by $index')
          button.customize-option(tooltip='{{hatchingPotion.text}}', ng-click='buy("hatchingPotion", hatchingPotion)', class='Pet_HatchingPotion_{{hatchingPotion.name}}')
          p {{hatchingPotion.text}}


  
