<market:>

    <!-- pets pane -->
    <div id="market-tab">
        <table><tr>
            <td><div class="NPC-Alex pull-left"></div></td>
            <td>
                <div class="popover static-popover fade right in">
                    <div class="arrow"></div>
                    <h3 class="popover-title">Alexander Augustin</h3>
                    <div class="popover-content">Welcome to the Market! I'm the merchant, <a target="_blank" href="http://www.kickstarter.com/profile/523661924">Alexander</a>. Dying to get that particular pet you're after, but don't want to wait for it to drop? Buy it here!</div>
                </div>
            </td>
        </tr></table>

        <h4>Eggs</h4>
        {#with _items.pets as :egg}
        <table class="tab-pane pet-grid">
            <tr>
                {#with :egg[0]}<app:pets:egg />{/}
                {#with :egg[1]}<app:pets:egg />{/}
                {#with :egg[2]}<app:pets:egg />{/}
                {#with :egg[3]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[4]}<app:pets:egg />{/}
                {#with :egg[5]}<app:pets:egg />{/}
                {#with :egg[6]}<app:pets:egg />{/}
                {#with :egg[7]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[8]}<app:pets:egg />{/}
            </tr>
        </table>
        {/}
        <h4>Hatching Potions</h4>
        {#with _items.hatchingPotions as :hatchingPotion}
        <table class="tab-pane pet-grid">
            <tr>
                {#with :hatchingPotion[0]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[1]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[2]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[3]}<app:pets:hatchingPotion />{/}
            </tr>
            <tr>
                {#with :hatchingPotion[4]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[5]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[6]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[7]}<app:pets:hatchingPotion />{/}
            </tr>
            <tr>
                {#with :hatchingPotion[8]}<app:pets:hatchingPotion />{/}
                {#with :hatchingPotion[9]}<app:pets:hatchingPotion />{/}
            </tr>
        </table>
        {/}
    </div>
