script(id='partials/options.settings.html', type="text/ng-template")
  ul.nav.nav-tabs
    li(ng-class="{ active: $state.includes('options.settings.settings') }")
      a(ui-sref='options.settings.settings')
        | Settings
    li(ng-class="{ active: $state.includes('options.settings.api') }")
      a(ui-sref='options.settings.api')
        | API
    li(ng-class="{ active: $state.includes('options.settings.export') }")
      a(ui-sref='options.settings.export')
        | Data Export

  .tab-content
    .tab-pane.active
      div(ui-view)

script(type='text/ng-template', id='partials/options.settings.settings.html')
  .row-fluid
    .personal-options.span6
      h2 Settings
      h4 Custom Day Start
      .option-group.option-short
        input.option-content.option-time(type='number', min='0', max='24', ng-model='user.preferences.dayStart', ng-change='saveDayStart()')
        span.input-suffix :00 (24h clock)
      div
        small
          | Habit defaults to check and reset your dailies at midnight in your time zone each day. You can customize the hour here (enter a number between 0 and 24).
      hr
      h4 Language
      select(ng-model='language.code', ng-options='lang.code as lang.name for lang in avalaibleLanguages', ng-change='changeLanguage()')
      hr
      h4 Misc
      button.btn(ng-hide='user.preferences.hideHeader', ng-click='set({"preferences.hideHeader":true})', popover-trigger='mouseenter', popover-placement='right', popover='Hide your avatar, Health/Experience bars, and party.') Hide Header
      button.btn(ng-show='user.preferences.hideHeader', ng-click='set({"preferences.hideHeader":false})', popover-trigger='mouseenter', popover='Display your avatar, Health/Experience bars, and party.') Show Header
      button.btn(ng-click='showTour()', popover-trigger='mouseenter', popover='Restart the introductory tour from when you first joined HabitRPG.') Show Tour
      button.btn(ng-click='showBailey()', popover-trigger='mouseenter', popover='Bring Bailey the Town Crier out of hiding so you can review past news.') Show Bailey
      button.btn(ng-click='modals.restore = true', popover-trigger='mouseenter', popover='Manually change values like Health, Level, and Gold.') Fix Character Values

      div(ng-show='user.auth.local')
        hr
        h4 Change Password
        form(ng-submit='changePassword(changePass)', ng-show='user.auth.local')
          .control-group
            input(type='password', placeholder='Old Password', ng-model='changePass.oldPassword', required)
          .control-group
            input(type='password', placeholder='New Password', ng-model='changePass.newPassword', required)
          .control-group
            input(type='password', placeholder='Confirm New Password', ng-model='changePass.confirmNewPassword', required)
          input.btn(type='submit', value='Submit')

      hr
      h4 Danger Zone
      a.btn.btn-danger(ng-click='modals.reset = true', popover-trigger='mouseenter', popover-placement='right', popover='Start over, removing all levels, gold, gear, history, and tasks.') Reset Account
      a.btn.btn-danger(ng-click='modals.delete = true', popover-trigger='mouseenter', popover='Cancel and remove your HabitRPG account.') Delete Account

script(type='text/ng-template', id='partials/options.settings.api.html')
  .row.fluid
    .span6
      h2 API
      small Copy these for use in third party applications.
      h6 User ID
      pre.prettyprint {{user.id}}
      h6 API Token
      pre.prettyprint {{user.apiToken}}
      h6 QR Code
      img(src='https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=%7Baddress%3A%22https%3A%2F%2Fhabitrpg.com%22%2Cuser%3A%22{{user.id}}%22%2Ckey%3A%22{{user.apiToken}}%22%7D,&choe=UTF-8&chld=L', alt='qrcode')

script(id='partials/options.settings.export.html', type="text/ng-template")
  .row.fluid
    .span6
      h2 Data Export
      small Here are a few options for saving your Habit data.
      h4 Habit History
      Export History: &nbsp;
      a(href="/export/history.csv") (CSV) &nbsp;
      h4 User Data
      Export User Data: &nbsp;
      a(href="/export/userdata.xml") (XML) &nbsp;
      a(href="/export/userdata.json") (JSON) &nbsp;
