.filters
  .pull-left.filter-description
    | Tags:
  ul.nav.nav-pills
    li
      a(rel='tooltip', title='Edit Tags', x-bind='click:toggleEditingTags')
        i(ng-class='{"icon-ok": _editingTags, "icon-pencil": !_editingTags}')
    li(ng-class='{active: user.filters[tag.id]}', ng-repeat='tag in user.tags', style='position: relative;')
      .input-append.option-group.tag-editing(ng-show='_editingTags && !tag.challenge')
        input.input.input-small.option-content.tag-editing-pill(type='text', ng-model='tag.name')
        span.add-on.tag-editing-pill
          a.pull-right(x-bind='click:filtersDeleteTag', data-index='{{$index}}')
            i.icon-trash
      a(ng-hide='_editingTags && !tag.challenge', data-tag-id='{{tag.id}}', x-bind='click:toggleFilterByTag') {{tag.name}}
    li
      form.form-inline(ng-show='_editingTags', x-bind='submit:filtersNewTag')
        .input-append.tag-editing
          input.span2.tag-editing-pill(type='text', ng-model='_newTag', placeholder='New Tag')
          button.add-on.tag-editing-pill(type='submit') Add
    // <li class="{#unless activeFilters(users[_userId].filters)}hidden{/}">
    li
      a(rel='tooltip', title='Clear Filters', x-bind='click:clearFilters')
        i.icon-remove-sign
