<!--helpTitle & helpContent moved to tour -->

<!--
header="habits"
type="habit"
inputValue={_newHabit}
placeHolder="New Habit"
list={@habits}
main={{@main}}
editable={@editable}
-->

<!-- Habits Column -->
<div class="module" ng-class="'rewards-module': type=='reward'">
    <div class="task-column {{type}}s" ng-class="'tabbable tabs-below': type=='todo'">

        <!-- todos export/graph options -->
            <span ng-if="main && type=='todo'" class='option-box pull-right'>
                <a ng-show='user.history.todos' class="option-action" x-bind=click:toggleChart data-id="todos" rel=tooltip title="Progress"><i class=icon-signal></i></a>
                <a class="option-action" ng-href="/v1/users/{{user.id}}/calendar.ics?apiToken={{user.apiToken}}" rel=tooltip title="iCal"><i class=icon-calendar></i></a>
                <!-- <a href="https://www.google.com/calendar/render?cid={{encodeiCalLink(_user.id, _user.apiToken)}}" rel=tooltip title="Google Calendar"><i class=icon-calendar></i></a> -->
            </span>

        <!-- cash or gems -->
            <span ng-if="main && type=='reward'" class='option-box pull-right wallet'>
                <div class="money">
                    {{gold(floor(user.stats.gp))}}
                    <span class='shop_gold' rel='tooltip' title='Gold'></span>
                </div>
                <div class="money">
                    {{silver(user.stats.gp)}}
                    <span class='shop_silver' rel='tooltip' title='Silver'></span>
                </div>
            </span>

        <h2 class="task-column_title">{{header}}</h2>

        <div ng-if='type == "todo"' class='todos-chart' ng-class="hidden:_page.charts.todos"></div>

        <form ng-show='editable' class="addtask-form form-inline new-task-form" ng-class="hidden: _showCompleted && type=='todo'" data-task-type="{{type}}" x-bind="submit:addTask">
            <span class="addtask-field"><input value="{{inputValue}}" type="text" placeholder="{{placeHolder}}"/></span>
            <input class="addtask-btn" type="submit" value="＋">
        </form>
        <hr>
        <ul class="{{type}}s" ng-class="hidden: !list">
            <app:tasks:task ng-repeat='task in list' />
        </ul>

        <!-- Static Rewards -->
        <ul ng-show="main && type=='reward'" class='items' ng-class="hidden:!user.flags.itemsEnabled">
            <rewarditem data-item='{{_items.next.weapon}}' />
            <rewarditem data-item='{{_items.next.armor}}' />
            <rewarditem data-item='{{_items.next.head}}' />
            <rewarditem data-item='{{_items.next.shield}}' />
            <rewarditem data-item='{{_items.potion}}' />
            <rewarditem data-item='{{_items.reroll}}' />
        </ul>

        <br/>
        <!-- ads -->
        <div ng-if="authenticated() && user.flags.ads != hide && main">

                    <span class='pull-right'>
                        <a x-bind="click:showStripe" rel='tooltip' title='Remove Ads'><i class='icon-remove'></i></a><br/>
                        <a href="#" data-target="#why-ads-modal" data-toggle="modal" rel='tooltip' title='Why Ads?'><i class='icon-question-sign'></i></a>
                    </span>

            <a ng-if='type=="habit"' href="http://www.amazon.com/gp/product/1400069289/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1400069289&linkCode=as2&tag=ha0d2-20">The Power of Habit: Why We Do What We Do in Life and Business</a><img src="//www.assoc-amazon.com/e/ir?t=ha0d2-20&l=as2&o=1&a=1400069289" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a ng-if='type=="daily"' href="http://www.amazon.com/gp/product/0142000280/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0142000280&linkCode=as2&tag=ha0d2-20">Getting Things Done: The Art of Stress-Free Productivity</a><img src="//www.assoc-amazon.com/e/ir?t=ha0d2-20&l=as2&o=1&a=0142000280" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a ng-if='type=="todo"' href="http://www.amazon.com/gp/product/0312430000/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0312430000&linkCode=as2&tag=ha0d2-20">The Checklist Manifesto: How to Get Things Right</a><img src="//www.assoc-amazon.com/e/ir?t=ha0d2-20&l=as2&o=1&a=0312430000" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a ng-if='type="reward"' href="http://www.amazon.com/gp/product/1594484805/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1594484805&linkCode=as2&tag=ha0d2-20">Drive: The Surprising Truth About What Motivates Us</a><img src="//www.assoc-amazon.com/e/ir?t=ha0d2-20&l=as2&o=1&a=1594484805" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>


        <div ng-if="type='todo'">
            <button class='task-action-btn tile spacious bright' ng-show="_showCompleted" x-bind=click:clearCompleted>Clear Completed</button>

            <!-- remaining/completed tabs -->
            <ul class="nav nav-tabs">
                <li ng-class="active:!_showCompleted"><a x-bind="click:todosShowRemaining">Remaining</a></li>
                <li ng-class="active:_showCompleted"><a x-bind="click:todosShowCompleted">Complete</a></li>
            </ul>
        </div>

    </div>
</div>