// For those who have JavaScript disabled
noscript
  style.
    div, footer {
      display: none;
    }
  
  h3
    | Alas! Your browser doesn't have JavaScript enabled
  img(src='/front/images/coding_by_phoneix_faerie.png', alt='Coding placeholder image')  
  p
    | Habitica can't properly display the site without it!
    br
    a(href='http://www.enable-javascript.com/', target='_blank')
      | Please Enable JavaScript to continue!
