<modals:>
    <app:modals:modal modalId="avatar-modal">
        {#if _profileActiveMain}
            {#with _user.preferences}
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle='tab' href="#profileCustomize">Avatar</a></li>
                    <li><a data-toggle='tab' href="#profileEdit">Profile</a></li>
                    {#if _user.flags.dropsEnabled}
                        <li><a data-toggle='tab' href="#profileInventory">Inventory</a></li>
                        <li><a data-toggle='tab' href="#profileStable">Stable</a></li>
                    {/if}
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="profileCustomize">
                        <app:avatar:customize />
                    </div>

                    <div class="tab-pane" id="profileEdit">
                        <app:avatar:profile user="{_user}" main="true" />
                    </div>

                    <div class="tab-pane" id="profileInventory">
                        <span class='option-box pull-right wallet'>
                            <app:rewards:userTokens />
                        </span>

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle='tab' data-target="#profileInventoryInventory">Inventory</a></li>
                            <li><a data-toggle='tab' data-target="#profileInventoryMarket">Market</a></li>
                        </ul>

                        <div class='tab-content'>
                            <div class='tab-pane active' id='profileInventoryInventory'>
                                <app:avatar:inventory />
                            </div>
                            <div class='tab-pane' id='profileInventoryMarket'>
                                <app:avatar:market />
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="profileStable">
                        <app:pets:stable />
                    </div>
                </div>
             {/}
        {else}
            <app:avatar:profile profile={_profileActive} />
        {/}
        <@footer>
            <button data-dismiss="modal" class="btn btn-success">Ok</button>
        </@footer>
    </app:modals:modal>

<avatar:>
    <figure class="herobox"
                data-name="{username(@profile.auth)}"
                data-level="{@profile.stats.lvl}"
                data-checkpet="{#if @profile.items.pet}hasPet{/}"
                data-checkuser="{#if equal(@profile.id, _user.id)}isUser{/}"
                data-toggle='modal' data-target='#avatar-modal' data-uid="{@profile.id}" x-bind="click:profileChangeActive"
                rel="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="
                             <div>
                                <div class='progress progress-danger' style='height:5px;'>
                                    <div class='bar' style='height: 5px; width: {percent(@profile.stats.hp, 50)}%;'></div>
                                </div>
                                <div class='progress progress-warning' style='height:5px;'>
                                    <div class='bar' style='height: 5px; width: {percent(@profile.stats.exp, tnl(@profile.stats.lvl))}%;'></div>
                                </div>
                                <div>Level: {@profile.stats.lvl}</div>
                                <div>GP: {{floor(@profile.stats.gp)}}</div>
                            </div>
                        ">
        <div class='character-sprites'>
            {#with @profile.preferences as :p}
                <span class='{:p.gender}_skin_{:p.skin}'></span>
                <span class='{:p.gender}_hair_{:p.hair}'></span>
                <span class="{equipped(@profile, 'armor')}"></span>
                {#if :p.showHelm}
                    <span class="{equipped(@profile, 'head')}"></span>
                {else}
                    <span class="{:p.gender}_head_0"></span>
                {/}
                <span class='{:p.gender}_shield_{@profile.items.shield}'></span>
                <span class='{:p.gender}_weapon_{@profile.items.weapon}'></span>
            {/}
            {#if and(@profile.items.currentPet, not(@minimal))}
                <span class="Pet-{_user.items.currentPet.name}-{_user.items.currentPet.modifier} current-pet" ></span>
            {/}
        </div>
    </figure>

<customize:>
    <!-- user avatar preview -->
    <figure class="avatar-window">
        <app:avatar:avatar profile={_user} minimal="true" />
    </figure>

    <!-- customization options -->
    {#with _user.preferences as :p}
        <menu type="list">
            <!-- gender -->
            <li class="customize-menu">
                <menu label="Head">
                    <button type="button" class="m_head_0 customize-option" data-value="m" x-bind="click:customizeGender"></button>
                    <button type="button" class="f_head_0 customize-option" data-value="f" x-bind="click:customizeGender"></button>
                </menu>
                <label class="checkbox">
                    <input type=checkbox checked="{_user.preferences.showHelm}" /> Show Helm
                </label>

            </li>

            <!-- hair -->
            <li class="customize-menu">
                <menu label="Hair">
                    <button type="button" class="{:p.gender}_hair_blond customize-option" data-value="blond" x-bind="click:customizeHair"></button>
                    <button type="button" class="{:p.gender}_hair_black customize-option" data-value="black" x-bind="click:customizeHair"></button>
                    <button type="button" class="{:p.gender}_hair_brown customize-option" data-value="brown" x-bind="click:customizeHair"></button>
                    <button type="button" class="{:p.gender}_hair_white customize-option" data-value="white" x-bind="click:customizeHair"></button>
                </menu>
            </li>

            <!-- skin -->
            <li class="customize-menu">
                <menu label="Skin">
                    <button type="button" class='{:p.gender}_skin_dead customize-option' data-value="dead" x-bind="click:customizeSkin"></button>
                    <button type="button" class='{:p.gender}_skin_orc customize-option' data-value="orc" x-bind="click:customizeSkin"></button>
                    <button type="button" class='{:p.gender}_skin_asian customize-option' data-value="asian" x-bind="click:customizeSkin"></button>
                    <button type="button" class='{:p.gender}_skin_black customize-option' data-value="black" x-bind="click:customizeSkin"></button>
                    <button type="button" class='{:p.gender}_skin_white customize-option' data-value="white" x-bind="click:customizeSkin"></button>
                </menu>
            </li>
        </menu>

        {#if equal(_user.preferences.gender, 'f')} <!-- Sorry boys -->
            <menu type="list">
                <li class="customize-menu">
                    <menu label="Clothing">
                        <button type="button" class="f_armor_0_v1 customize-option" data-value="v1" x-bind="click:customizeArmorSet"></button>
                        <button type="button" class="f_armor_0_v2 customize-option" data-value="v2" x-bind="click:customizeArmorSet"></button>
                    </menu>
                </li>
            </menu>
        {/}
    {/}

<profile:>
    <div class='row-fluid'>
        <div class='span6 well'>
            {#if and(_profileEditing, _profileActiveMain)}
                <a class='btn btn-success' x-bind="click:profileSave">Save</a>
                <!-- TODO use photo-upload instead: https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/xMmADvxBOak -->
                <div class="control-group">
                    <label class="control-label" for="profileImageUrl">Photo Url</label>
                    <div class="controls">
                        <input type="url" id="profileImageUrl" value="{_user.profile.imageUrl}" placeholder="Image Url"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="profileFullName">Full Name</label>
                    <div class="controls">
                        <input type="text" id="profileFullName" placeholder="Full Name" value="{_user.profile.name}" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="profileBlurb">Blurb</label>
                    <div class="controls">
                        <textarea id="profileBlurb" placeholder="Blurb" >{_user.profile.blurb}</textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="profileWebsite">Websites</label>
                    <div class="controls">
                        <form x-bind="submit:profileAddWebsite">
                            <input type="url" id="profileWebsite" value="{_newProfileWebsite}" placeholder="Add Website"/>
                        </form>
                    </div>
                    <ul>
                        {#each _user.profile.websites as :website}
                        <!-- would prefer if there were and index in #each, instead using data-website to search with indexOf -->
                        <li>{:website} <a data-website="{:website}" x-bind="click:profileRemoveWebsite"><i class='icon-remove'></i></a></li>
                        {/}
                    </ul>

                </div>
                <a class='btn btn-success' x-bind="click:profileSave">Save</a>
            {else}
                <h3>
                    {#if _profileActive.profile.name}
                        {_profileActive.profile.name}
                    {else}
                        {username(_profileActive.auth)}
                    {/}
                    {#if _profileActiveMain}<a class='btn pull-right' x-bind="click:profileEdit">Edit</a>{/}
                </h3>
                {#if _profileActive.profile.imageUrl}
                    <img src="{@user.profile.imageUrl}" />
                {/}
                {#if _profileActive.profile.blurb}
                    <p>{_profileActive.profile.blurb}</p>
                {/}
                {#if _profileActive.profile.websites}
                    <ul>
                        {#each _profileActive.profile.websites as :website}
                            <li>{:website}</li>
                        {/}
                    </ul>
                {/}
            {/}
        </div>

        <div class='span6'>
            <h3>Achievements</h3>
            <app:avatar:achievements />
        </div>

    </div>

<achievements:>
    <!--TODO replce this in the future with HTML from BrowserQuest's index.html, which properly handles the achievements
        sprite-sheets (see BQ's achievements.css, main.css) -->
    <img src='/img/original_user.png' /> Original User!

<inventory:>
    <!-- we'll have other inventory here later too, like enchantments, quest scrolls, etc -->
    <app:pets:inventory/>

<market:>

    <!-- pets pane -->
    <div class="tab-pane pet-grid" id="market-tab">
        <h4>Welcome to the market!</h4>
        <small>Dying to get that particular pet you're after, but don't want to wait for it to drop? Buy it here!</small>
        <h4>Eggs</h4>
        {#with _view.items.pets as :egg}
        <table>
            <tr>
                {#with :egg[0]}<app:pets:egg />{/}
                {#with :egg[1]}<app:pets:egg />{/}
                {#with :egg[2]}<app:pets:egg />{/}
                {#with :egg[3]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[4]}<app:pets:egg />{/}
                {#with :egg[5]}<app:pets:egg />{/}
                {#with :egg[6]}<app:pets:egg />{/}
                {#with :egg[7]}<app:pets:egg />{/}
            </tr>
            <tr>
                {#with :egg[8]}<app:pets:egg />{/}
            </tr>
        </table>
        {/}
        <h4>Hatching Powder</h4>
        {#with _view.items.food as :food}
        <table>
            <tr>
                {#with :food[0]}<app:pets:food />{/}
                {#with :food[1]}<app:pets:food />{/}
                {#with :food[2]}<app:pets:food />{/}
                {#with :food[3]}<app:pets:food />{/}
            </tr>
            <tr>
                {#with :food[4]}<app:pets:food />{/}
                {#with :food[5]}<app:pets:food />{/}
                {#with :food[6]}<app:pets:food />{/}
                {#with :food[7]}<app:pets:food />{/}
            </tr>
            <tr>
                {#with :food[8]}<app:pets:food />{/}
                {#with :food[9]}<app:pets:food />{/}
            </tr>
        </table>
        {/}
    </div>


