<main:>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle='tab' data-target="#challengesView">Challenges</a></li>
        <li ><a data-toggle='tab' data-target="#challengesCreate">Create Challenge</a></li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="challengesView">
            <app:challenges:view />
        </div>

        <div class="tab-pane" id="challengesCreate">
            <app:challenges:create />
        </div>
    </div>

<view:>
    <div>
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle='tab' data-target="#challengesViewMine">Mine</a></li>
            <li><a data-toggle='tab' data-target="#challengesViewParty">Party</a></li>
            <li><a data-toggle='tab' data-target="#challengesViewGuild">Guild</a></li>
            <li><a data-toggle='tab' data-target="#challengesViewPublic">Public</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="challengesViewMine">
                Mine
            </div>

            <div class="tab-pane" id="challengesViewParty">
                {#each _party.challenges as :challenge}
                    <div class='pull-right'>
                        {#if indexOf(_user.challenges,:challenge.id)}
                            <a x-bind="click:challengeUnsubscribe" class='btn btn-large btn-danger'><i class='icon-ban-circle'></i> Unsubscribe</a>
                        {else}
                            <a x-bind="click:challengeSubscribe" class='btn btn-large btn-success'><i class='icon-ok'></i> Subscribe</a>
                        {/}
                    </div>
                    <h3 onClick="$(this).next().toggle();">{:challenge.name} (by {:challenge.user})</h3>


                    <div class="grid">
                        <app:tasks:task-lists
                            habits={:challenge.habits}
                            dailys={:challenge.dailys}
                            todos={:challenge.todos}
                            rewards={:challenge.rewards} />
                    </div>
                    <hr/>
                {/}
            </div>

            <div class="tab-pane" id="challengesViewGuild">
                Guild
            </div>

            <div class="tab-pane" id="challengesViewPublic">
                Public
            </div>

        </div>
    </div>

<create:>
    <div>
        {#unless _challenge.creating}
            <a x-bind='click:challengeCreate' class='btn btn-large btn-success'>Create New Challenge</a>
        {else}
            <input id='newChallengeName' type='text' value={_challenge.new.name} placeholder="Challenge Title" required/>

            <div class="grid">
                <app:tasks:task-lists
                        habits={_challenge.new.habits}
                        dailys={_challenge.new.dailys}
                        todos={_challenge.new.todos}
                        rewards={_challenge.new.rewards}
                        editable=true />
            </div>

            <fieldset>
                <div>
                    <select>
                        <option selected="{equal('Party',_challenge.new.assignTo)}" >Party</option>
                        <option selected="{equal('Guild',_challenge.new.assignTo)}" >Guild</option>
                        <option selected="{equal('Public',_challenge.new.assignTo)}" >Public</option>
                    </select>
                </div>
                <div>
                    {#if equal(_challenge.new.assignTo,'Party')}
                        <div class='row-fluid'>
                            <div class='span4 well'>
                                <div><input type='radio' name='challenge-party-selection' checked={_challenge.new.partyAssignees} >All Party</input></div>
                                <small>No individual privacy on the challenge, all party members can see progress even if they decline the challenge. Any new party members can subscribe to this challenge.</small>
                            </div>
                            <div class='span8 well'>
                                <div><input type='radio' name='challenge-party-selection' checked={not(_challenge.new.partyAssignees)} >Individual Members</input></div>
                                <div>
                                    <select multiple="multiple">
                                    {{#each _partyMembers as :member}}
                                        <option>{{username(:member.auth,:member.profile.name)}}</option>
                                    {{/}}
                                    </select>
                                </div>
                                <div><small>Only the invited party members can subscribe to this challenge. New party joins won't see this challenge.</small></div>
                            </div>
                        </div>

                    {/}
                    {#if equal(_challenge.new.assignTo,'Guild')}
                        Which Guild?
                    {/}
                </div>
            </fieldset>

            <input type='submit' x-bind="click:challengeSave" class='btn btn-large btn-success' value='Save' />
            <input type='button' x-bind='click:challengeDiscard' class='btn btn-large btn-danger' value=Discard />
        {/}

    </div>

