<filters:>
  <div class="well well-small filters">
    <div class="pull-left filter-description">
      Filter:
    </div>
    <ul class="nav nav-pills">
      {{#each _user.tags as :tag}}
        <li class="{#if _user.filters[:tag.id]}active{/}" style='position:relative;'>
            {#if _editingTags}
                <a style='float:left;' x-bind=click:filtersDeleteTag data-tag-id={:tag.id}><i class='icon-trash'></i></a>&nbsp
                <input type='text' value='{:tag.name}' />
            {else}
                <a data-tag-id="{:tag.id}" x-bind="click:toggleFilterByTag">{:tag.name}</a>
            {/}

        </li>
      {{/}}
      <li>
          {#if _editingTags}
              <form x-bind="submit:filtersNewTag">
                  <input type="text" value="{_newTag}" placeholder="New Tag"/>
              </form>
              <a x-bind=click:toggleEditingTags>[done]</a>
          {else}
            <a x-bind=click:toggleEditingTags>[edit]</a>
          {/}
      </li>
    </ul>
  </div>