<filters:>
  <div class="filters">
    <div class="pull-left filter-description">
      Tags:
    </div>
    <ul class="nav nav-pills">
      <li>
          <a rel=tooltip title='Edit Tags' x-bind="click:toggleEditingTags"><i class='{#if _editingTags}icon-ok{else}icon-pencil{/}'></i></a>
      </li>
      {#each _user.tags as :tag}
        <li class="{#if _user.filters[:tag.id]}active{/}" style='position:relative;'>
            {#if _editingTags}
                <div class="input-append option-group">
                    <input class="input input-small option-content" type="text" value='{:tag.name}' />
                    <span class="add-on"><a class='pull-right' x-bind=click:filtersDeleteTag data-tag-id={{:tag.id}}><i class='icon-trash'></i></a></span>
                </div>
            {else}
                <a data-tag-id="{{:tag.id}}" x-bind="click:toggleFilterByTag">{:tag.name}</a>
            {/}
        </li>
      {/}
      <li>
          {#if _editingTags}
              <form class='form-inline' x-bind="submit:filtersNewTag">
                  <div class="input-append">
                      <input class="span2" type="text" value={_newTag} placeholder="New Tag" />
                      <button class="add-on" type="submit">Add</button>
                  </div>
              </form>
          {/}
      </li>
    </ul>
  </div>

<applied-filters:>
    <!-- There's a very strange bug where live-bound #each here loses model.at reference on _{type}List alter -->
    &nbsp;
    {{#each _user.tags as :tag}}
        <span>
            {#if :task.tags[:tag.id]}
                <span data-tag-id="{{:tag.id}}" x-bind="click:toggleFilterByTag" class="label tag-label {#if _user.filters[:tag.id]}label-info{/}">{:tag.name}</span>
            {/}
        </span>
    {{/}}

<filter-fieldgroup:>
    <fieldset class='option-group'>
        <legend class="option-title">Tags</legend>
        <select multiple="multiple">
            {{#each _user.tags as :tag}}
                <option selected="{:task.tags[:tag.id]}">{:tag.name}</option>
            {{/}}
        </select>
    </fieldset>