<footer:>
    <footer class=footer>
        <div class=container>
            <div class='row'>

                <div class='span3'>
                    <h4>Company</h4>
                    <ul class='unstyled'>
                        <li><a href="/static/about">About</a></li>
                        <li><a target="_blank" href="http://habitrpg.tumblr.com/">Blog</a></li>
                        <li><a href="/static/team">Team</a></li>
                        <li><a href="/static/extensions">Extensions</a></li>
                        <li><a href="/static/faq">FAQ</a></li>
                    </ul>
                </div>

                <div class='span3'>
                    <h4>Legal</h4>
                    <ul class='unstyled'>
                        <li><a href="/static/privacy">Privacy</a></li>
                        <li><a href="/static/terms">Terms</a></li>
                        <li><strong>&copy; 2012 OCDevel LLC</strong></li>
                    </ul>
                </div>

                <div class='span3'>
                    <h4>Community</h4>
                    <ul class='unstyled'>
                        <li><a target="_blank" href="https://github.com/lefnire/habitrpg/issues?state=open">Submit Bug</a></li>
                        <li><a target="_blank" href="https://trello.com/board/habitrpg/50e5d3684fe3a7266b0036d6">Request Feature</a></li>
                        <li><a target="_blank" href="https://github.com/lefnire/habitrpg/wiki/API">API</a></li>
                        <li><a target="_blank" href="https://github.com/lefnire/habitrpg/wiki/Add-ons-and-Extensions">Add-ons / Extensions</a></li>
                        <li><a target="_blank" href="http://www.kickstarter.com/projects/lefnire/habitrpg-mobile">Kickstarter</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/Habitrpg">Facebook Page</a></li>
                        <li><a target="_blank" href="http://www.reddit.com/r/habitrpg/">Reddit</a></li>
                    </ul>


                </div>

                <div class='span3'>
                    {{#if equal(_view.nodeEnv, 'development')}}
                        <h4>Cheat</h4>
                        <ul class='unstyled'>
                            <li><button class='btn' x-bind="click:emulateNextDay">Emulate Next Day</button></li>
                            <li><button class='btn' x-bind="click:emulateTenDays">Emulate 10 Days</button></li>
                            <li><button class='btn' x-bind="click:cheat">Insta Level</button></li>
                            <li><button class='btn' x-bind='click:reset'>Reset Level</button></li>
                        </ul>
                    {{else}}
                        <h4>Social</h4>
                        <div class="addthis_toolbox addthis_default_style "
                             addthis:url="https://habitrpg.com"
                             addthis:title="HabitRPG - Gamify Your Life">
                            <table>
                                <tr><td><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a></td></tr>
                                <tr><td><a class="addthis_button_tweet" tw:via="habitrpg"></a></td></tr>
                                <tr><td align='left'>
                                    <iframe src="/vendor/github-buttons/github-btn.html?user=lefnire&repo=habitrpg&type=watch&count=true"
                                            allowtransparency="true" frameborder="0" scrolling="0" width="85px" height="20px" ></iframe>
                                </td></tr>
                                <tr><td><a class="addthis_button_google_plusone" g:plusone:size="medium"></a> </td></tr>
                            </table>
                        </div>
                    {{/}}

                </div>

            </div>
        </div>
    </footer>