<main:>
    <div class="module full-width">

        <span class='option-box pull-right wallet'>
            <app:rewards:userTokens />
        </span>

        <ul class="nav nav-tabs game-tabs">
            <li class="active"><a data-toggle='tab' data-target="#profileCustomize"><i class='icon-user'></i> Profile</a></li>
            <li class='{#if _user.party.invitation}tab-notification{/}'>
                <a data-toggle='tab' data-target="#profileParty"><i class='icon-heart'></i> Party</a>
            </li>
            {#if _user.flags.dropsEnabled}
                <li><a data-toggle='tab' data-target="#profileInventory"><i class='icon-gift'></i> Inventory</a></li>
                <li><a data-toggle='tab' data-target="#profileStable"><i class='icon-leaf'></i> Stable</a></li>
            {/if}
            <li><a data-toggle='tab' data-target="#profileTavern"><i class='icon-glass'></i> Tavern</a></li>
            <li><a data-toggle='tab' data-target="#profileAchievements"><i class='icon-certificate'></i> Achievements</a></li>
            <li><a data-toggle='tab' data-target="#profileSettings"><i class='icon-wrench'></i> Settings</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="profileCustomize">
                <div class='row-fluid'>
                    <div class='span6 border-right'>
                        <app:avatar:customize />
                    </div>
                    <div class='span6'>
                        <app:avatar:profile-edit />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="profileParty">
                <app:party:party />
            </div>

            <div class="tab-pane" id="profileAchievements">
                <app:avatar:achievements />
            </div>

            <div class="tab-pane" id="profileInventory">
                <div class='row-fluid'>
                    <div class='span6 border-right'>
                        <app:avatar:inventory />
                    </div>
                    <div class='span6'>
                        <app:avatar:market />
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="profileStable">
                <app:pets:stable />
            </div>

            <div class="tab-pane" id="profileTavern">
                <app:game-pane:tavern />
            </div>

            <div class="tab-pane" id="profileSettings">
                {{#if _loggedIn}}
                    <app:settings:settings-pane />
                {{/}}
            </div>
        </div>

    </div>

<tavern:>
    <div class='row-fluid tavern-pane'>
        <div class='span6'>
            <img src='/img/npcs/daniel.png' />
            <div class="popover fade right in" style="top: 0px; left: 135px; display: block;">
                <div class="arrow"></div>
                <h3 class="popover-title">Daniel Johansson</h3>
                <div class="popover-content">Welcome to the Tavern! I'm the bar keep, <a target="_blank" href="http://www.kickstarter.com/profile/2014640723">Daniel</a>. If you would like to rest a while (going on vacation?), I can set you up at the inn for 10gp. While you're resting, your dailies won't hurt you. The minimum stay is 24h, but you can check out whenever you want. In the future, you may find other adventurers here, looking meet and mingle (LFG anyone?)</div>
            </div>
        </div>
        <div class='span6'>
            <form>
                <fieldset>
                    <label class="checkbox">
                        <input type="checkbox" name="rest" checked={_user.flags.rest} >Rest in the inn
                    </label>
                </fieldset>
            </form>

        </div>
    </div>