<header:>
    <div class="row-fluid">
        <div class='char-status {#if gt(_partyMembers.length,1)}span8 offset2 has-party{else}span6 offset3{/}'>

            <!-- avatar -->
            <figure class="main-avatar-wrap">
                <app:avatar:avatar profile={_user} main="true" />
            </figure>

            <!-- party -->
            {{#each _partyMembers as :member}}
                {{#unless equal(:member.id, _userId)}}
                    <figure class="party-avatar-wrap" rel="popover" data-title="{{username(:member.auth)}}" data-placement="bottom" data-trigger="hover" data-html="true" data-content="
                         <div>
                            <div class='progress progress-danger' style='height:5px;'>
                                <div class='bar' style='height: 5px; width: {percent(:member.stats.hp, 50)}%;'></div>
                            </div>
                            <div class='progress progress-warning' style='height:5px;'>
                                <div class='bar' style='height: 5px; width: {percent(:member.stats.exp, tnl(:member.stats.lvl))}%;'></div>
                            </div>
                            <div>GP: {{floor(:member.stats.gp)}}</div>
                        </div>
                    ">
                        <!-- Yes that would have been way cleaner as a derby template `<app:party:member-stats profile={{:member}} />`, but I couldn't get it working -->
                        <app:avatar:avatar profile={{:member}} party="true" />
                    </figure>
                {{/}}
            {{/}}

            <!-- progress bars -->
            <div class="progress-bars">
                <div class="progress progress-danger" rel=tooltip data-placement=bottom title="Health">
                    <div class="bar" style="width: {percent(_user.stats.hp, 50)}%;"></div>
                    <span class="progress-text"><i class=icon-heart></i> {ceil(_user.stats.hp)} / 50</span>
                </div>

                <div class="progress progress-warning" rel=tooltip data-placement=bottom title="Experience">
                    <div class="bar" style="width: {percent(_user.stats.exp,tnl(_user.stats.lvl))}%;"></div>
                <span class="progress-text">
                  {#if _user.history.exp}
                    <a x-bind=click:toggleChart data-toggle-id="exp-chart" data-history-path="_user.history.exp" rel=tooltip title="Progress"><i class=icon-signal></i></a>&nbsp;
                  {/}
                  <i class=icon-star></i> {floor(_user.stats.exp)} / {tnl(_user.stats.lvl)}
                </span>
                </div>
                <div id="exp-chart" style="display:none;"></div>
            </div>
            <!-- end .char-status -->
        </div>
        <!-- end .row-fluid -->
    </div>