<modals:>

    <app:avatar:modals />
    <app:settings:modals />
    <app:pets:modals />
    <app:alerts:modals />
    <app:rewards:modals />
    <app:tasks:modals />

    <!-- Game Over Modal -->
    <div style="{#unless lt(_user.stats.hp,1)}display:none;{/}">
        <app:modals:modal noDismiss=true modalId='dead-modal'>
            <div class='row-fluid'>
                <div class='span4'>
                    <figure class="notification-character">
                        <img src="/img/sprites/dead.png">
                    </figure>
                </div>
                <div class='span8'>
                    <h2>{{t("deathTitle")}}</h2>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span4'>
                    <p><a x-bind=click:revive class="btn btn-danger btn-large notification-action">{{t("continue")}}</a></p>
                </div>
                <div class='span8'>
                    <p>{{t("deathText")}}</p>
                </div>
            </div>

        </app:modals:modal>
    </div>

    <!-- Re-Roll modal -->
    <app:modals:modal modalId='reroll-modal' header={{t("rerollModelHeader")}}>
        <app:rewards:user-gems />
        <p>{{t("rerollNotes")}}</p> <br />
        <p> {{t("rerollModelText1")}} (<a target="_blank" href="https://github.com/lefnire/habitrpg#all-my-tasks-are-red-im-dying-too-fast">{{t("rerollModelText2")}}</a>). {{t("rerollModelText3")}}</p>
        <@footer>   
            {#if lt(_user.balance,1)}
            <a data-dismiss="modal" x-bind="click:showStripe" class="btn btn-success btn-large">{{t("buyMoreGems")}}</a><span class='gem-cost'>Not enough Gems</span>
            {else}
            <a data-dismiss="modal" x-bind=click:buyReroll class="btn btn-danger btn-large">{{t("rerollName")}}</a><span class='gem-cost'>4 {{t("gems")}}</span>
            {/}
        </@footer>
    </app:modals:modal>

    <!-- Buy more Gems modal -->
    <app:modals:modal modalId='more-gems-modal' header={{t("outOfGems")}}>
        <app:rewards:user-gems />
        <p>{{t("petsOutOfGems")}}</p>
        <@footer>
        <a data-dismiss="modal" x-bind="click:showStripe" class="btn btn-success btn-large">{{t("buyMoreGems")}}</a><span class='gem-cost'>{{t("notEnoughGems")}}</span>
    </@footer>
    </app:modals:modal>

    <app:modals:modal modalId="why-ads-modal" header={{t("whyAds")}}>
        <p>{{t("whyAdsContent1")}}</p>
        <p>{{t("whyAdsContent2")}} <a target="_blank" href="http://community.habitrpg.com/node/22">{{t("whyAdsContent3")}}</a>.</p>
        <@footer>
            <button data-dismiss="modal" class="btn btn-success">{{t("ok")}}</button>
        </@footer>
    </app:modals:modal>



<!-- $modal-template -->
<modal: nonvoid>
    {{#if @noDismiss}}
        <div data-action="backdrop" class="modal-backdrop"></div>
    {{/}}
    <div class="modal {{#unless @noDismiss}}hide{{/}}" id={{@modalId}} role="dialog">
        {#if @header}
            <div class="modal-header">
                {{#unless @noDismiss}}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>{{/}}
                <h3>{unescaped @header}</h3>
            </div>
        {/}
        <div class="modal-body">{@content}</div>
        {{#if @footer}}
            <div class="modal-footer">{{@footer}}</div>
        {{/}}
    </div>