<modals:>

    <app:avatar:modals />
    <app:settings:modals />
    <app:pets:modals />
    <app:alerts:modals />
    <app:rewards:modals />
    <app:tasks:modals />

    <!-- Game Over Modal -->
    <div style="{#unless lt(_user.stats.hp,1)}display:none;{/}">
        <app:modals:modal noDismiss=true modalId='dead-modal'>
            <div class='row-fluid'>
                <div class='span4'>
                    <figure class="notification-character">
                        <img src="/img/sprites/dead.png">
                    </figure>
                </div>
                <div class='span8'>
                    <h2>You Died!</h2>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span4'>
                    <p><a x-bind=click:revive class="btn btn-danger btn-large notification-action">Continue</a></p>
                </div>
                <div class='span8'>
                    <p>You've lost your GP, 1 level and 1 gear piece. Be sure to complete your dailies to prevent this from happening again!</p>
                </div>
            </div>

        </app:modals:modal>
    </div>

    <!-- Re-Roll modal -->
    <app:modals:modal modalId='reroll-modal' header="Reset Your Tasks">
        <app:rewards:userTokens/>
        <p>Highly discouraged because red tasks provide good incentive to improve (<a target="_blank" href="https://github.com/lefnire/habitrpg#all-my-tasks-are-red-im-dying-too-fast">read more</a>). However, this becomes necessary after long bouts of bad habits.</p>
        <@footer>   
            {#if lt(_user.balance,1)}
            <a data-dismiss="modal" x-bind="click:showStripe" class="btn btn-success btn-large">Buy More Gems</a><span class='token-cost'>Not enough Gems</span>
            {else}
            <a data-dismiss="modal" x-bind=click:buyReroll class="btn btn-danger btn-large">Re-Roll</a><span class='token-cost'>4 Gems</span>
            {/}
        </@footer>
    </app:modals:modal>

    <!-- Buy more Gems modal -->
    <app:modals:modal modalId='more-tokens-modal' header="Out Of Gems">
        <app:rewards:userTokens/>
        <p>Oops, out of Gems, which are used to buy special items! Habit is an open source project, and can use all the help it can get - buy more Gems to receive this pet, and consider it a donation to the contributors</p>
        <@footer>
        <a data-dismiss="modal" x-bind="click:showStripe" class="btn btn-success btn-large">Buy More Gems</a><span class='token-cost'>Not enough Gems</span>
    </@footer>
    </app:modals:modal>

    <app:modals:modal modalId="why-ads-modal" header="Why Ads?">
        <p>
            Habit an open source project, and can use all the help it can get - consider this a donation to the contributors. You also get 20 Gems from the purchase, which you can use to buy special items.
        </p>
        <p>
            "Hey, I backed the Kickstarter!" - follow <a target="_blank" href="http://community.habitrpg.com/node/22">these instructions</a>.
        </p>
        <@footer>
            <button data-dismiss="modal" class="btn btn-success">Ok</button>
        </@footer>
    </app:modals:modal>



<!-- $modal-template -->
<modal: nonvoid>
    {{#if @noDismiss}}
        <div data-action="backdrop" class="modal-backdrop"></div>
    {{/}}
    <div class="modal {{#unless @noDismiss}}hide{{/}}" id={{@modalId}} role="dialog">
        {#if @header}
            <div class="modal-header">
                {{#unless @noDismiss}}<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>{{/}}
                <h3>{unescaped @header}</h3>
            </div>
        {/}
        <div class="modal-body">{@content}</div>
        {{#if @footer}}
            <div class="modal-footer">{{@footer}}</div>
        {{/}}
    </div>