<party:>
    {#if _partyMembers}
        <div class='row-fluid'>
            <div class="span6 border-right">
                <h3>{{_party.name}}</h3>
                <table class="table table-striped">
                    {{#each _partyMembers as :member}}
                    <tr><td>{{username(:member.auth, :member.profile.name)}}</td><td>({{:member.id}})</td></tr>
                    {{/}}
                </table>
                <form class=form-inline x-bind="submit: partyInvite">
                    {#if _partyError}
                    <div class='alert alert-danger'>{_partyError}</div>
                    {/}
                    <div class='control-group'>
                        <input type="text" class="input-medium" placeholder={{t("userId")}} value="{_newPartyMember}">
                        <input type="submit" class="btn" value={{t("invite")}} />
                    </div>
                </form>
                <a class='btn btn-danger' x-bind="click: partyLeave">{{t("leave")}}</a>
            </div>
            <div class="span6">
               <h3>{{t("chat")}}</h3>
                <form x-bind='submit:partySendChat'>
                    <textarea class="span6" rows="3" x-bind='keyup:partyMessageKeyup'>{_chatMessage}</textarea><br/>
                    <input class=btn type=submit value={{t("submit")}} />
                </form>
               <ul class='party-chat unstyled'>
               {#each _party.chat as :message}
                   <app:party:chat-message message={{:message}} />
               {/}
               </ul>
            </div>
        </div>

    {else if _user.party.invitation}
        <!-- TODO show by whom -->
        <h2>{{t("invitedTo")}} {_party.name}</h2>
        <a class='btn btn-success' x-bind="click: partyAccept">{{t("accept")}}</a>
        <a class='btn btn-danger' x-bind="click: partyReject">{{t("reject")}}</a>

    {else}
        <h2>{{t("createAParty")}}</h2>
        <!-- Not in a party , no invites - create a new one -->
        <p>{{t("noPartyText")}}</p>
        <pre class=prettyprint>{_user.id}</pre>
        <form class=form-inline x-bind="submit: partyCreate">
            {#if _partyError}
            <div class='alert alert-danger'>{_partyError}</div>
            {/}
            <div class=control-group>
                <input type="text" class="input-medium" placeholder={{t("partyName")}} value="{_newParty}" />
                <input type="submit" class="btn" value={{t("create")}} />
            </div>
        </form>

    {/}


<chat-message:>
    <li class="{{#if indexOf(:message.text, username(_user.auth, _user.profile.name))}}highlight{{/if}}">
        <span
            class="label {{#if @message.npc}}label-success{{else if @message.contributor}}label-inverse{{else if equal(@message.uuid,_user.id)}}label-info{{/}} chat-message"
            rel='tooltip' title="{{@message.contributor}}{{@message.npc}}">
            {{@message.user}}</span> {{@message.text}} - <span class='muted time'>{relativeDate(@message.timestamp, _currentTime)}
            {{#if equal(@message.uuid,_user.id)}}{{#with @message}}<a x-bind="click:deleteChatMessage"><i rel=tooltip title=Delete class=icon-remove></i></a>{{/}}{{/}}
        </span>
    </li>
