<party:>
    {#if _user.party.current}
        <div class='row-fluid'>
            <div class="span6 border-right">
                <h3>{{_party.name}}</h3>
                <table class="table table-striped">
                    {{#each _partyMembers as :member}}
                    <tr><td>{{username(:member.auth, :member.profile.name)}}</td><td>({{:member.id}})</td></tr>
                    {{/}}
                </table>
                <form class=form-inline x-bind="submit: partyInvite">
                    {#if _partyError}
                    <div class='alert alert-danger'>{_partyError}</div>
                    {/}
                    <div class='control-group'>
                        <input type="text" class="input-medium" placeholder="User Id" value="{_newPartyMember}">
                        <input type="submit" class="btn" value="Invite" />
                    </div>
                </form>
                <a class='btn btn-danger' x-bind="click: partyLeave">Leave</a>
            </div>
            <div class="span6">
               <h3>Chat</h3>
                <form x-bind='submit:partySendChat'>
                    <textarea>{_chatMessage}</textarea><br/>
                    <input class=btn type=submit value=Submit />
                </form>
               <ul class='unstyled'>
               {#each _party.chat as :message}
                   <li>
                       <hr/>
                       <span class='badge'>{:message.user}</span> {:message.text} - <span class='muted'>{friendlyTimestamp(:message.timestamp)}</span>
                   </li>
               {/}
               </ul>
            </div>
        </div>

    {else if _user.party.invitation}
        <!-- TODO show by whom -->
        <h2>You're Invited To {_party.name}</h2>
        <a class='btn btn-success' x-bind="click: partyAccept">Accept</a>
        <a class='btn btn-danger' x-bind="click: partyReject">Reject</a>

    {else}
        <h2>Create A Party</h2>
        <!-- Not in a party , no invites - create a new one -->
        <p>You are not in a party. You can either create one and invite friends, or if you want to join an existing party, have them enter:</p>
        <pre class=prettyprint>{_user.id}</pre>
        <form class=form-inline x-bind="submit: partyCreate">
            {#if _partyError}
            <div class='alert alert-danger'>{_partyError}</div>
            {/}
            <div class=control-group>
                <input type="text" class="input-medium" placeholder="Party Name" value="{_newParty}" />
                <input type="submit" class="btn" value="Create" />
            </div>
        </form>

    {/}
