<modals:>

  <app:modals:modal modalId='drops-enabled-modal' header="Drops Enabled!">
    <p>You've unlocked the drop system.</p>
    <p>Here's your first egg! {_user.items.eggs.0.text}</p>
    <p>Feed it some meat to get it to hatch.</p>
    <@footer>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </@footer>
  </app:modals:modal>

  <app:modals:modal modalId='item-dropped-modal' header="An item has dropped!">
    <p><span class="Pet_{_drop.type}_{_drop.name} item-drop-icon"></span>{_drop.dialog}</p>


    <@footer>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </@footer>
  </app:modals:modal>
