<modals:>

  <app:modals:modal modalId='drops-enabled-modal' header={{t("dropsEnabled")}}>
    <p><span class="Pet_Egg_{_user.items.eggs.0.name} item-drop-icon"></span> {{t("dropsEnabledText1")}} <strong>{_user.items.eggs.0.text} {{t("dropsEnabledText2")}}</strong>! {_user.items.eggs.0.notes}</p>
    <@footer>
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{t("close")}}</button>
    </@footer>
  </app:modals:modal>

  <app:modals:modal modalId='item-dropped-modal' header="{{t("itemDropped")}}">
    <p><span class="Pet_{_drop.type}_{_drop.name} item-drop-icon"></span>{_drop.dialog}</p>


    <@footer>
      <button class="btn" data-dismiss="modal" aria-hidden="true">{{t("close")}}</button>
    </@footer>
  </app:modals:modal>

    <app:modals:modal modalId='beastmaster-achievement-modal' header={{t("achievementUnlocked")}}>
        <p>
            <div class='achievement achievement-rat'></div>{{t("beastMastUnlocked")}}
        </p>
        <@footer>
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{t("close")}}</button>
        </@footer>
    </app:modals:modal>

<pet:>
    <td class="{#if _user.items.pets[.name]}active-pet{/}">
        <img rel=tooltip title="{.text} - {.value} Gems" x-bind="click:selectPet" data-pet='{.name}' src='img/sprites/{.icon}'/>
    </td>

<hatchingPotion:>
    <td class="active-hatchingPotion" x-bind="click:buyHatchingPotion" data-hatchingPotion='{.name}'>
        <div class="Pet_HatchingPotion_{.name}"></div>
        {.text}<br/><small>{.value} {{t("gems")}}<small>
    </td>

<egg:>
    <td class="active-egg" x-bind="click:buyEgg" data-egg='{.name}'>
        <div rel=tooltip class="Pet_Egg_{.name}"></div>
        {.text}<br/><small>{.value} {{t("gems")}}<small>
    </td>

<inventory:>
    <div class='row-fluid'>
        <div class='{#if _hatchEgg}span6{/}'>
            <menu type="list" class="inventory-list">
                <li class="customize-menu">
                    <menu label={{t("eggs")}} class='pets-menu'>
                        {#if not(_user.items.eggs)}
                            <p>{{t("noEggs")}}</p>
                        {/if}
                        {#each _user.items.eggs as :egg}
                            <div>
                                <button rel=tooltip title="{:egg.text}" class="customize-option Pet_Egg_{{:egg.name}}" x-bind="click: chooseEgg"></button>
                                <p>{:egg.text}</p>
                            </div>
                        {/each}
                    </menu>
                </li>
                <li class="customize-menu">
                    <menu label={{t("hatchingPotions")}} class='hatchingPotion-menu'>
                        {#if not(_user.items.hatchingPotions)}
                            <p>{{t("noHatchingPotions")}}</p>
                        {/if}
                        {#each _user.items.hatchingPotions as :hatchingPotion}
                            <div>
                                <button rel=tooltip title="{:hatchingPotion}" class="customize-option Pet_HatchingPotion_{{:hatchingPotion}}" x-bind="click: chooseHatching Potion"></button>
                                <p>{:hatchingPotion}</p>
                            </div>
                        {/each}
                    </menu>
                </li>
            </menu>
        </div>
        {#if _hatchEgg}
        <div class='span6'>
            <h3>{{t("hatchYourEgg")}}</h3>
            {#if not(_user.items.hatchingPotions)}
            <p>{{t("noHatchingPotions")}}</p>
            {else}
            <p>{{t("whichHatchingPotion1")}} {_hatchEgg.text} {{t("whichHatchingPotion2")}}</p>
            <form x-bind="submit:hatchEgg">
                <select>
                    {#each _user.items.hatchingPotions as :hatchingPotion}
                        <option>{:hatchingPotion}</option>
                    {/each}
                </select>
                <button type=submit>{{t("pour")}}</button>
            </form>
            {/if}
        </div>
        {/if}
    </div>

<stable:>
    <div>{count(_user.items.pets)} / 90 {{t("petsFound")}}</div>
    <table>
        {{#each _items.pets as :pet}}
            <tr>
                {{#each _items.hatchingPotions as :potion}}
                    <td>
                        <app:pets:stable-pet tooltip="{{:potion.text}} {{:pet.text}}" pet="{{:pet.name}}-{{:potion.name}}" />
                    </td>
                {{/}}
            </tr>
        {{/}}
    </table>
    <h4>{{t("rarePets")}}</h4>
    <table>
        <tr>
            <td><app:pets:stable-pet potion='Veteran Wolf' pet="Wolf-Veteran" /></td>
            {{#if gt(_user.backer.tier,79)}}<td><app:pets:stable-pet potion='Cerberus Pup' pet="Wolf-Cerberus" /></td>{{/}}
        </tr>
    </table>

    <!--<menu type="list">
        <li class="customize-menu">
            <menu>

            </menu>
        </li>
    </menu>-->

<stable-pet:>
    <div rel="tooltip" title="{{@tooltip}}">
        {#if ownsPet(@pet, _user.items.pets)}
            <button class="pet-button Pet-{{@pet}} {#if equal(_user.items.currentPet.name, @string)}active{/if}" data-pet="{{@pet}}" x-bind="click:choosePet"></button>
        {else}
            <button class="pet-button pet-not-owned" data-pet="{{@pet}}"><img src="/img/PixelPaw.png"/></button>
        {/}
    </div>