<!-- $avatar-template -->
<avatar:>
    <div class="avatar {{#if @main}}main-avatar{{/}} {{#if @party}}party-avatar{{/}}" data-toggle='{{#if @main}}modal{{/}}' data-target='{{#if @main}}#customizations-modal{{/}}'>
        {#unless @minimal}{#if @profile.items.pet}<img src='img/BrowserQuest/habitrpg_mods/{@profile.items.pet.icon}' />{/}{/}
        <div class='character-sprites'>
            {#with @profile.preferences as :p}
            <span class='{:p.gender}_skin_{:p.skin}'></span>
            <span class='{:p.gender}_hair_{:p.hair}'></span>
            <span class="{equipped(@profile, 'armor')}"></span>
            <span class="{equipped(@profile, 'head')}"></span>
            <span class='{:p.gender}_shield_{@profile.items.shield}'></span>
            <span class='{:p.gender}_weapon_{@profile.items.weapon}'></span>
            {/}
        </div>
        {{#unless @minimal}}
        <div class="lvl"><span class="badge badge-info">Lvl {@profile.stats.lvl}</span></div>
        {{/}}
    </div>

<profile:>
    <div class='row-fluid'>
        <div class='span6'>
            {#if _profileEditing}
            <a class='btn btn-success' x-bind="click:profileSave">Save</a>
            <!-- TODO use photo-upload instead: https://groups.google.com/forum/?fromgroups=#!topic/derbyjs/xMmADvxBOak -->
            <div class="control-group">
                <label class="control-label" for="profileImageUrl">Photo Url</label>
                <div class="controls">
                    <input type="url" id="profileImageUrl" value="{_user.profile.imageUrl}" placeholder="Image Url"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="profileFullName">Full Name</label>
                <div class="controls">
                    <input type="text" id="profileFullName" placeholder="Full Name" value="{_user.profile.name}" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="profileBlurb">Blurb</label>
                <div class="controls">
                    <textarea id="profileBlurb" placeholder="Blurb" >{_user.profile.blurb}</textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="profileWebsite">Websites</label>
                <div class="controls">
                    <form x-bind="submit:profileAddWebsite">
                        <input type="url" id="profileWebsite" value="{_newProfileWebsite}" placeholder="Add Website"/>
                    </form>
                </div>
                <ul>
                    {#each _user.profile.websites as :website}
                    <!-- would prefer if there were and index in #each, instead using data-website to search with indexOf -->
                    <li>{:website} <a data-website="{:website}" x-bind="click:profileRemoveWebsite"><i class='icon-remove'></i></a></li>
                    {/}
                </ul>

            </div>
            <a class='btn btn-success' x-bind="click:profileSave">Save</a>
            {else}
            <h3>
                {#if @user.profile.name}{@user.profile.name}
                {else}{username(@user.auth)}
                {/}
                {#if @main}<a class='btn pull-right' x-bind="click:profileEdit">Edit</a>{/}
            </h3>
            {#if @user.profile.imageUrl}
            <img src="{@user.profile.imageUrl}" />
            {/}
            {#if @user.profile.blurb}
            <p>{@user.profile.blurb}</p>
            {/}
            {#if @user.profile.websites}
            <ul>
                {#each @user.profile.websites as :website}
                <li>{:website}</li>
                {/}
            </ul>
            {/}

            {/}
        </div>

        <div class='span6'>
            <h3>Badges</h3>
            <p>Coming Soon</p>
        </div>

    </div>