<modals:>
    <app:modals:modal modalId='max-gear-achievement-modal' header="Achievement Unlocked!">
        <p>
            <div class='achievement achievement-armor'></div>You have earned the "Ultimate Gear" Achievement for upgrading to the maximum gear set!
        </p>
        <@footer>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </@footer>
    </app:modals:modal>


<rewards-column:>
    <div class="module rewards-module">
        <div class="task-column rewards">
            <!-- cash or gems -->
            <span class='option-box pull-right wallet'>
                <div class="money">
                    {gold(floor(_user.stats.gp))}
                    <span class='shop_gold' rel='tooltip' title='Gold'></span>
                </div>
                <div class="money">
                    {silver(_user.stats.gp)}
                    <span class='shop_silver' rel='tooltip' title='Silver'></span>
                </div>
            </span>

            <app:tasks:task-list header="Rewards" type="reward" inputValue="{_newReward}" placeHolder="New Reward" list={_rewardList} >
                <@extra>
                    <!-- Static Rewards -->
                    <ul class='items {#unless _user.flags.itemsEnabled}hidden{/}'>
                        <app:rewards:item item={_items.next.weapon} />
                        <app:rewards:item item={_items.next.armor} />
                        <app:rewards:item item={_items.next.head} />
                        <app:rewards:item item={_items.next.shield} />
                        <app:rewards:item item={{_items.potion}} />
                        <app:rewards:item item={{_items.reroll}} />
                    </ul>
                </@extra>
                <@ads><a href="http://www.amazon.com/gp/product/1594484805/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1594484805&linkCode=as2&tag=ha0d2-20">Drive: The Surprising Truth About What Motivates Us</a><img src="//www.assoc-amazon.com/e/ir?t=ha0d2-20&l=as2&o=1&a=1594484805" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></@ads>
            </app:tasks:task-list>
        </div>
    </div>



<user-gems:>
  <a class="pull-right gem-wallet" rel='popover' data-trigger='hover' data-title='Gems' data-content="Used for buying special items (reroll, eggs, hatching potions, etc). You'll need to unlock those features before being able to use Gems." data-placement='bottom'>
    <span class="task-action-btn tile flush bright add-gems-btn" x-bind="click:showStripe">＋</span>
    <span class="task-action-btn tile flush neutral"><div class="Gems"></div> {gems(_user.balance)} Gems
  </a>



<item:>
  <li class="task reward-item {#if @item.hide}hide{/}">
    <!-- right-hand side control buttons -->
    <div class="task-meta-controls">
        <span rel="popover" data-trigger="hover" data-placement="left" data-content="{@item.notes}" data-original-title="{@item.text}" class='task-notes'><i class="icon-comment"></i></span>
    </div>

    <!-- left-hand size commands -->
    <div class="task-controls">
      {#if equal(@item.type,'reroll')}
        <a class="task-action-btn btn-reroll" data-toggle="modal" data-target="#reroll-modal"><i class='icon-repeat'></i></a>
      {else}
        <a class="money btn-buy item-btn" x-bind=click:buyItem data-type={@item.type} data-value={@item.value} data-index={@item.index}>
            <span class="reward-cost">{@item.value}</span>
            <span class='shop_gold'></span>
        </a>
      {/}
    </div>
    <!-- main content -->
    <span class="shop_{@item.classes} shop-sprite item-img"></span>
    <p class="task-text">{@item.text}</p>
  </li>
