//div(modal='user.stats.hp <= 0', options='{backdrop:true, keyboard:false, backdropClick:false}')
script(type='text/ng-template', id='modals/death.html')  
  .modal-body
    .row-fluid
      .span4
        figure.notification-character
          .GrimReaper
      .span8
        h2=env.t('youDied')
    .row-fluid
      .span4
        p
          a.btn.btn-danger.btn-large.notification-action(ng-click='user.ops.revive({})')=env.t('continue')
      .span8
        p=env.t('dieText')
