div(modal='user.stats.hp <= 0', options='{backdrop:true, keyboard:false, backdropClick:false}')
  .modal-body
    .row-fluid
      .span4
        figure.notification-character
          .GrimReaper
      .span8
        h2 You Died!
    .row-fluid
      .span4
        p
          a.btn.btn-danger.btn-large.notification-action(ng-click='user.ops.revive({})') Continue
      .span8
        p
          | You've lost a Level, all your Gold, and a random piece of Equipment. Arise, Habiteer, and try again! Curb those negative Habits, be vigilant in completion of Dailies, and hold death at arm's length with a Health Potion if you falter!
