//div(modal='user.stats.hp <= 0', options='{backdrop:true, keyboard:false, backdropClick:false}')
script(type='text/ng-template', id='modals/death.html')  
  .modal-body
    .row
      .col-md-3
        figure.notification-character
          .GrimReaper
      .col-md-9
        h2=env.t('youDied')
    .row
      .col-md-3
        p
          a.btn.btn-danger.btn-large(ng-click='user.ops.revive({}); $close()')=env.t('continue')
      .col-md-9
        p=env.t('dieText')
