script(type='text/ng-template', id='modals/dropsEnabled.html')  
  .modal-header
    h4=env.t('dropsEnabled')
  .modal-body
    p
      figure
        .item-drop-icon(class='Pet_Egg_Wolf')
      span!=env.t('firstDrop', {eggText: "{{Content.eggs.Wolf.text()}}", eggNotes: "{{Content.eggs.Wolf.notes()}}"})
    br
    p
      figure
        .item-drop-icon(class='Pet_Currency_Gem')
      span!=env.t('useGems')
  .modal-footer
    button.btn.btn-default(ng-click='$close()')=env.t('close')