div(modal='modals.login')
  .modal-header
    h3 Login / Register
  .modal-body
    //a(href='/auth/facebook')
      img(src='/img/facebook-login-register.jpeg', alt='Login / Register With Facebook')
    //h3 Or
    tabset
      tab(heading='Login')
        form(ng-controller='AuthCtrl', ng-submit='auth()')
          .control-group
            input(type='text', ng-model='loginUsername', placeholder='{{useUUID ? \'UUID\' : \'Username\'}}')
          .control-group
            input(type='{{useUUID ? "text" : "password"}}', ng-model='loginPassword', placeholder='{{useUUID ? \'API Token\' : \'Password\'}}')
          .control-group
            label.checkbox
              input(type='checkbox', ng-click='useUUID = !useUUID')
              | Use UUID / API Token (For Facebook Users)
          .control-group
            input.btn.btn-primary(type='submit', value='Login')

      tab(heading='Register')
        form(ng-controller='AuthCtrl', ng-submit='register()', name='registrationForm')
          .control-group
            input(type='text', ng-model='registerVals.username', placeholder='Username', required)
          .control-group
            input(type='email', ng-model='registerVals.email', placeholder='Email', required)
          .control-group
            input(type='password', ng-model='registerVals.password', placeholder='Password', required)
          .control-group
            input(type='password', ng-model='registerVals.confirmPassword', placeholder='Password Confirm', required)
          .control-group
            input.btn.btn-primary(type='submit', value='Register')


  .modal-footer
    button.btn.btn-warning.cancel(ng-click='modals.login = false') Cancel


