div(ng-controller='MemberModalCtrl')
  #memberModal(modal='modals.member')
    .modal-header(bindonce='profile')
      h3
        span {{profile.profile.name}}
        span(bo-if='profile.contributor.level')  - {{contribText(profile.contributor, profile.backer)}}
    .modal-body(bindonce='profile')
      .row-fluid
        .span6
          img(bo-show='profile.profile.imageUrl', bo-src='{{profile.profile.imageUrl}}')
          markdown(bo-show='profile.profile.blurb', ng-model='profile.profile.blurb')
          ul.muted.unstyled(bo-if='profile.auth.timestamps', style='margin-top:10px;')
            li {{profile._id}}
            li(bo-show='profile.auth.timestamps.created') - Member since {{timestamp(profile.auth.timestamps.created)}} -
            li(bo-show='profile.auth.timestamps.loggedin') - Last logged in {{timestamp(profile.auth.timestamps.loggedin)}} -
          h3 Stats
            include ../profiles/stats
        .span6
          include ../header/avatar
          h3 Achievements
          include ../profiles/achievements
    .modal-footer
      button.btn.btn-default(ng-click='modals.member = false') Ok
