div(modal='modals.moreGems', header='Out Of Gems')
  .modal-header
    h3 Out Of Gems
  .modal-body
    include ../gems
    p.
      Oops, out of Gems, which are used to buy special items! Habit is an open source project, and can use all the help
      it can get - buy more Gems to receive this pet, and consider it a donation to the contributors.
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.moreGems = false') Cancel