script(id='partials/options.social.party.quest-rewards.html', type='text/ng-template')
  hr
  h5 {{header}}
  table.table.table-striped
    tr(ng-repeat='drop in quest.drop.items')
      td {{quest.drop.text}}
    tr
      td {{quest.drop.exp}} 
        =env.t('experience')
    tr
      td {{quest.drop.gp}} 
        =env.t('gold')

div(modal='user.party.quest.completed', ng-controller='InventoryCtrl')
  .modal-header
    h3 "{{Content.quests[user.party.quest.completed].text}}" 
      =env.t('completed')
  .modal-body
    p {{Content.quests[user.party.quest.completed].completion}}
    quest-rewards(key='{{user.party.quest.completed}}', header=env.t('youReceived'))
  .modal-footer
    button.btn.btn-default.btn-primary(ng-click='set({"party.quest.completed":""})')=env.t('accept')

div(modal='modals.showQuest', ng-controller='InventoryCtrl')
  .modal-header
    h3 {{selectedQuest.text}}
  .modal-body
    .pull-right(class='quest_{{selectedQuest.key}}')
    p {{selectedQuest.notes}}
    quest-rewards(key='{{selectedQuest.key}}')
    hr
    div(style='clear:left;clear:right')
      .npc_ian.pull-left
      p=env.t('questSend')
  .modal-footer
    button.btn.btn-default.btn-small.btn-cancel(ng-click='closeQuest()')=env.t('cancel')
    button.btn.btn-default.btn-primary(ng-click='questInit()')=env.t('inviteParty')

div(modal='party.quest.key && !party.quest.active && !questHold && party.quest.members[user._id] == undefined')
  .modal-header
    h3=env.t('questInvitation')
      | {{Content.quests[party.quest.key].text}}
  .modal-body
    p {{Content.quests[party.quest.key].notes}}
    quest-rewards(key='{{party.quest.key}}')
  .modal-footer
    button.btn.btn-default.btn-small.btn-cancel(ng-click='questHold = true')=env.t('askLater')
    button.btn.btn-default.btn-small.btn-cancel(ng-click='party.$questReject()')=env.t('reject')
    button.btn.btn-default.btn-primary(ng-click='party.$questAccept()')=env.t('accept')