div(ng-controller='SettingsCtrl')
  div(modal='modals.reset')
    .modal-header
      h3 Reset
    .modal-body
      p This resets your entire account - your tasks will be deleted and your character will start over.
      p This is highly discouraged because you'll lose historical data, which is useful for graphing your progress over time. However, some people find it useful in the beginning after playing with the app for a while.
    .modal-footer
      button.btn.btn-default.cancel(ng-click='modals.reset = false') Close
      button.btn.btn-danger(data-dismiss='modal', ng-click='reset()') Reset

  div(modal='modals.restore')
    .modal-header
      h3 Restore
    .modal-body
      p HabitRPG is quite Beta-quality at present, and many find they need to restore character attributes as a result. Enter your numbers here and it will be applied automatically to your character. This will be removed once Habit is more stable.
      div.restore-options
        form#restore-form.form-horizontal
          h3 Stats
          .option-group.option-medium
            input.option-content(type='number', step="any", data-for='stats.hp', ng-model='restoreValues.stats.hp')
            span.input-suffix HP
          .option-group.option-medium
            input.option-content(type='number', step="any", data-for='stats.exp', ng-model='restoreValues.stats.exp')
            span.input-suffix Exp
          .option-group.option-medium
            input.option-content(type='number', step="any", data-for='stats.gp', ng-model='restoreValues.stats.gp')
            span.input-suffix GP
          .option-group.option-medium
            input.option-content(type='number', data-for='stats.lvl', ng-model='restoreValues.stats.lvl')
            span.input-suffix Level
          h3 Items
          .option-group.option-medium
            input.option-content(type='number', data-for='items.weapon', ng-model='restoreValues.items.weapon')
            span.input-suffix Weapon
          .option-group.option-medium
            input.option-content(type='number', data-for='items.armor', ng-model='restoreValues.items.armor')
            span.input-suffix Armor
          .option-group.option-medium
            input.option-content(type='number', data-for='items.head', ng-model='restoreValues.items.head')
            span.input-suffix Helm
          .option-group.option-medium
            input.option-content(type='number', data-for='items.shield', ng-model='restoreValues.items.shield')
            span.input-suffix Shield
          h3 Streak Achievements
          .option-group.option-medium
            input.option-content(type='number', data-for='achievements.streak', ng-model='restoreValues.achievements.streak')
            span.input-suffix 21-Day Streak
          h3 Other
          a.btn.btn-small.btn-warning(ng-controller='FooterCtrl', ng-click='addMissedDay()') Trigger New Day
    .modal-footer
      button.btn.btn-primary(ng-click='restore()') Save & Close

  div(modal='modals.delete')
    .modal-header
      h3 Delete Account
    .modal-body
      p.
        Woa woa woa! Are you sure? This will seriously delete your account forever, and it can never be restored. If you're absolutely certain, type <strong>DELETE</strong> into the text-box below.
      p
        input(type='text', ng-model='_deleteAccount')
    .modal-footer
      button.btn.btn-default(ng-click='modals.delete = false') Cancel
      button.btn.btn-danger.btn-small(ng-disabled='_deleteAccount != "DELETE"', ng-click='delete()') Delete Account
