div(modal='modals.whyAds')
  .modal-header
    h3 Why Ads?
  .modal-body
    p.
      Habit is an open source project, and can use all the help it can get - consider this a donation to the contributors. You also get 20 Gems from the purchase, which you can use to buy special items.
    p
      | "Hey, I backed the Kickstarter!" - follow 
      a(target='_blank', href='http://community.habitrpg.com/node/22') these instructions.
  .modal-footer
    button.btn.btn-default.cancel(ng-click='modals.whyAds = false') Ok