.achievements-container
  // <div class='achievement achievement-sword'></div>
  // <div class='achievement achievement-tree'></div>
  // <div class='achievement achievement-comment'></div>
  // <div class='achievement achievement-cave'></div>
  // <div class='achievement achievement-sun'></div>
  // <div class='achievement achievement-boot'></div>
  // <div class='achievement achievement-coffin'></div>
  // <div class='achievement achievement-alien'></div>
  // <div class='achievement achievement-ninja'></div>
  // <div class='achievement achievement-cactus'></div>
  // <div class='achievement achievement-bow'></div>
  // <div class='achievement achievement-shield'></div>
  // <div class='achievement achievement-karaoke'></div>

  .achievement.achievement-helm(ng-if='profile.backer.npc')
  div(ng-if='profile.backer.npc')
    h5
      span.label.label-success {{profile.backer.npc}} NPC
    small Backed the Kickstarter project at the maximum level!
    hr

  .achievement.achievement-firefox(ng-if='profile.backer.contributor')
  div(ng-class='{muted: !profile.backer.contributor, hidden: user.id!=profile.id}')
    h5
      span.label.label-inverse(ng-if='profile.backer.contributor') {{profile.backer.contributor}}
      span.label(ng-if='!profile.backer.contributor') Contributor
    small
      | Has contributed to HabitRPG (code, design, pixel art, legal advice, docs, etc). Want this badge? Fix a bug :)
    hr

  .achievement.achievement-heart(ng-if='profile.backer.tier')
  div(ng-if='profile.backer.tier')
    h5 Kickstarter Backer - ${{profile.backer.tier}} Tier
    small Backed the Kickstarter Project
    hr

  .achievement.achievement-thermometer(ng-show='profile.achievements.streak')
  div(ng-class='{muted: !profile.achievements.streak, hidden: user.id!=profile.id}')
    h5 {{profile.achievements.streak || 0 }} Streak Achievement(s)
    small
      | Has performed {{profile.achievements.streak || 0 }} 21-day streaks on Dailies
    hr

  .achievement.achievement-cake(ng-if='profile.achievements.originalUser')
  div(ng-if='profile.achievements.originalUser')
    h5 Original User
    small
      | Goes way back to the Habit's days of yore (bless them for soldiering through bugs!)
    hr

  .achievement.achievement-armor(ng-show='profile.achievements.ultimateGear')
  div(ng-class='{muted: !profile.achievements.ultimateGear, hidden: user.id!=profile.id}')
    h5 Ultimate Gear
    small Has upgraded to the maximum weapon and armor set
    hr

  .achievement.achievement-rat(ng-show='profile.achievements.beastMaster')
  div(ng-class='{muted: !profile.achievements.beastMaster, hidden: user.id!=profile.id}')
    h5 Beast Master
    small Has found all 90 pets (insanely difficult, give this user props!)
    hr

  .achievement.achievement-tree(ng-if='profile.achievements.helpedHabit')
  div(ng-if='profile.achievements.helpedHabit')
    h5 Helped Habit Grow
    small
      | Has helped HabitRPG grow by filling out
      a(href='http://community.habitrpg.com/node/290', target='_blank') this survey.
    hr