h4.stats-equipment Equipment
table.table.table-striped
  tr(ng-repeat='(k,v) in user.items.gear.equipped', ng-init='piece=Content.gear.flat[v]', ng-show='piece')
    td
      strong {{piece.text}}:&nbsp;
      span(ng-repeat='stat in ["str","con","per","int"]', ng-show='piece[stat]') {{piece[stat]}} {{stat.toUpperCase()}}&nbsp;

h4 Stats
table.table.table-striped
  tr
    td
      strong Health
      | : {{profile.stats.hp | number:0}} / 50
  tr
    td
      strong Gold
      | : {{profile.stats.gp | number:0}}
  tr
    td
      strong Level
      | : {{profile.stats.lvl}}
  tr
    td
      strong Experience
      | : {{profile.stats.exp | number:0}} / {{Shared.tnl(profile.stats.lvl)}}

h4 Attributes
table.table.table-striped
  tr(ng-repeat='(k,v) in {str:"Strength",int:"Intelligence",con:"Constitution",per:"Perception"}')
    td
      strong {{v}}: {{profile._statsComputed[k]}}
    td
      ul(style='list-style-type:none')
        li
          i.icon-question-sign(popover-title='Level Bonus', popover-trigger='mouseenter', popover-placement='top', popover="Each attribute gets a bonus equal to half your Level.")
          |  Level: {{(profile.stats.lvl - 1) / 2}}&nbsp;
        li
          i.icon-question-sign(popover-title='Equipment', popover-trigger='mouseenter', popover-placement='top', popover="Attribute bonuses provided by your equipped battle gear. See the Equipment tab under Inventory to select your battle gear.")
          |  Equipment: {{Content.gear.flat[profile.items.gear.equipped.weapon][k] + Content.gear.flat[profile.items.gear.equipped.armor][k] + Content.gear.flat[profile.items.gear.equipped.head][k] + Content.gear.flat[profile.items.gear.equipped.shield][k] || 0}}&nbsp;
        li
          i.icon-question-sign(popover-title='Class Equipment Bonus', popover-trigger='mouseenter', popover-placement='top', popover="Your class uses its own equipment more effectively than gear from other classes. Equipped gear from your current class gets a 50% boost to the attribute bonus it grants.")
          |  Class Equip Bonus: {{profile._statsComputed[k] - profile.stats.buffs[k] - ((profile.stats.lvl - 1) / 2) - Content.gear.flat[profile.items.gear.equipped.weapon][k] - Content.gear.flat[profile.items.gear.equipped.armor][k] - Content.gear.flat[profile.items.gear.equipped.head][k] - Content.gear.flat[profile.items.gear.equipped.shield][k]}}&nbsp;
        li
          i.icon-question-sign(popover-title='Allocated Points', popover-trigger='mouseenter', popover-placement='top', popover="Attribute points you've earned and assigned. Assign points using the Character Build column.")
          |  Allocated: {{profile.stats[k] || 0}}&nbsp;
        li
          i.icon-question-sign(popover-title='Buffs', popover-trigger='mouseenter', popover-placement='top', popover="Attribute bonuses provided by abilities you or your party members have used. The abilities you can use are found in the Rewards column on your Tasks page.")
          |  Buffs: {{profile.stats.buffs[k] || 0}}&nbsp;
  tr(ng-if='profile.stats.buffs.stealth')
    td
      strong Stealth: {{profile.stats.buffs.stealth}}&nbsp;
        i.icon-question-sign(popover-title='Stealth', popover-trigger='mouseenter', popover-placement='right', popover="When a new day begins, you will avoid damage from this many missed Dailies.")
    td
  tr(ng-if='profile.stats.buffs.streaks')
    td
      strong Streaks Frozen&nbsp;
        i.icon-question-sign(popover-title='Streaks Frozen', popover-trigger='mouseenter', popover-placement='right', popover="Streaks on missed Dailies will not reset at the end of the day.")
    td

h4 Pets
table.table.table-striped
  tr
    td
      strong Pets Found
      | : {{profile.petCount}}
// Dunno why this doesn't work //
//  tr
    td
      strong Mounts Tamed
      | : {{profile.mountCount}} //
