h4.stats-equipment Equipment
p(ng-repeat='(k,v) in user.items.gear.equipped', ng-init='piece=Content.gear.flat[v]', ng-show='piece')
  strong {{piece.text}}:&nbsp;
  span(ng-repeat='stat in ["str","con","per","int"]', ng-show='piece[stat]') {{piece[stat]}}{{stat}}&nbsp;

h4 Stats
p
  strong Health
  | : {{profile.stats.hp | number:0}} / 50
p
  strong Gold
  | : {{profile.stats.gp | number:0}}
p
  strong Level
  | : {{profile.stats.lvl}}
p
  strong Experience
  | : {{profile.stats.exp | number:0}} / {{Shared.tnl(profile.stats.lvl)}}

h4 Attributes
i.icon-question-sign(popover-title='Attributes Breakdown', popover-trigger='mouseenter', popover-placement='right', popover="Attributes are calculated as (allocated stat-points) + (gear stats) + (buffs) + (1.5% bonus if your class's gear")
p(ng-repeat='(k,v) in {str:"Strength",int:"Intelligence",con:"Constitution",per:"Perception"}')
  strong {{v}}: {{profile._statsComputed[k]}}

h4 Pets
p
  strong Pets Found
  | : {{profile.petCount}}