// variables

gpColor = #FBEFC0
gpText = #786938
hpColor = #f2dede
hpText = #b94a48
lvlColor = #d9edf7
lvlText = #3a87ad
xpColor = #DCC0FB
xpText = #635673
borderDarken = 20%

// alert styles

.alert-gp
  background-color: gpColor
  border-color: darken(gpColor,borderDarken)
  color: gpText

.alert-hp
  background-color: hpColor
  border-color: darken(hpColor,borderDarken)
  color: hpText

.alert-lvl
  background-color: lvlColor
  border-color: darken(lvlColor,borderDarken)
  color: lvlText

.alert-xp
  background-color: xpColor
  border-color: darken(xpColor,borderDarken)
  color: xpText

// alert icons

.icon-gp
  background: url("img/BrowserQuest/habitrpg_mods/shop_sprites.png") no-repeat
  background-size: 400px
  background-position: -386px 0
  width: 14px
  height: 14px