// basic avatar sprite group
.avatar
    cursor: pointer
    position: relative
    width: 90px
    height: 90px

    .character-sprites
        position: absolute

    .lvl
        position: absolute
        bottom: 0px
        right: 10px

// main and party avatars
.main-avatar, .party-avatar
  .character-sprites
    top: -15px


.character-sprites span
    position: absolute