// $customizations-modal layout

.avatar-window
  margin: 0
  border: 1px solid darkgrey;
  width: 107px;
  float: right;

  .char-name
    margin-top: 6px;
    border-top: 1px solid darkgrey;
    text-align: center



table.customize td
  padding: 10px
  
table.customize td div
  cursor: pointer
  -webkit-transition: 0.5s ease-out
  -moz-transition: 0.5s ease-out
  transition: 0.5s ease-out

table.customize td div:active
  background-color: rgb(255, 242, 204);
  -webkit-transition: none
  -moz-transition: none
  transition: none