.full-width
    width: 100%

.border-right
    border-right: 1px solid #ddd

.game-tabs a
    cursor:pointer

.tab-notification
    color: #fff;
    background-color: #51a351

.tavern-pane
    position:relative
    height:500px