/* CSS Reset */
@import "../base";

html,body,p,h1,ul,li,table,tr,th,td {
  margin: 0;
  padding: 0;
}
ins {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #000;
  background: #f7f7f7;
}
body,h1 {
  font: 13px/16px Arial, sans-serif;
}
a {
  color: #01c;
}


/* Page styles */

h1 {
  font: 26px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 12px;
  color: #111;
  text-shadow: 0 1px #f7f7f7;
}
h1 > span {
  color: #444;
  font-weight: 200;
  margin-left: 6px;
}

#head {
  background: #ddd;
  background: -webkit-gradient(linear,0 0,0 100%,from(#e7e7e7),to(#d0d0d0));
  background: -moz-linear-gradient(#e7e7e7, #d0d0d0);
  background: -ms-linear-gradient(#e7e7e7, #d0d0d0);
  background: -o-linear-gradient(#e7e7e7, #d0d0d0);
  background: linear-gradient(#e7e7e7, #d0d0d0);
  -webkit-box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7;
  -moz-box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7;
  box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7;
  padding: 12px 16px;
  white-space: nowrap;
}

/**------------ Habits.styl ------------ */
/*****************************************/

.color-worst { background-color: rgb(230, 184, 175);  }
.color-worse { background-color: rgb(244, 204, 204);  }
.color-bad { background-color: rgb(252, 229, 205);   }
.color-neutral { background-color: rgb(255, 242, 204); }
.color-good { background-color: rgb(217, 234, 211); }
.color-better { background-color: rgb(208, 224, 227); }
.color-best { background-color: rgb(201, 218, 248); }
.done { background-color: rgb(217, 217, 217); color: rgb(153, 153, 153); }
.reward { background-color: white; }

.task {
  list-style:none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding:5px;
  text-shadow:none;
}

.task:hover {
  cursor: move;
}

.task-controls, .task-text {
  display:inline;
  margin-right:10px;
}

.task-meta { float:right; }

.task-meta .edit-link {
  display: none;
}


.vote-up, .vote-down {
  text-decoration:none;
}

.buy-link {
  background-color:#DEE5F2;
  padding:2px;
  margin-right:10px;
  border-radius: 5px;
}

.buy-link img {
  height:20px;  
}

.container {
  margin: 0 auto;
  width: 920px;  
}



#top-links {
  float:right;
}

#character img {
  height: 60px; 
}

#character td {
  text-align: center;
}
  
#tnl-bar { border: 1px solid black; background-color:white; margin-top:10px;}
#tnl { float:right; margin:5px; }

#hp-bar { border: 1px solid black; background-color:white;}

#hp { float:right; margin:5px; }

#money { float:right; }

li:hover .task-meta .edit-link {
  display: inline;
}

#wrapper {
  padding: 0 20px 20px 20px;
}

#footer {
  clear:both;
}
