@import "nib/vendor";
@import "../bootstrap-responsive";

html,body,p,h1,ul,li,table,tr,th,td
  margin: 0
  padding: 0
  
#head
  background: #ddd
  background: -webkit-gradient(linear,0 0,0 100%,from(#e7e7e7),to(#d0d0d0))
  background: -moz-linear-gradient(#e7e7e7, #d0d0d0)
  background: -ms-linear-gradient(#e7e7e7, #d0d0d0)
  background: -o-linear-gradient(#e7e7e7, #d0d0d0)
  background: linear-gradient(#e7e7e7, #d0d0d0)
  -webkit-box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7
  -moz-box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7
  box-shadow: inset 0 1px #f7f7f7, 0 1px #888, 0 2px #e7e7e7
  padding: 12px 16px
  white-space: nowrap

.color-worst pre
  background-color: rgb(230, 184, 175)
.color-worse pre
  background-color: rgb(244, 204, 204)
.color-bad pre
  background-color: rgb(252, 229, 205)
.color-neutral pre
  background-color: rgb(255, 242, 204)
.color-good pre
  background-color: rgb(217, 234, 211)
.color-better pre
  background-color: rgb(208, 224, 227)
.color-best pre
  background-color: rgb(201, 218, 248)
.completed pre
  background-color: rgb(217, 217, 217)
  color: rgb(153, 153, 153)
.reward pre
  background-color: white
  
.todos h1, .rewards h1
  float:left
  margin-right:15px
  
.todos
  .nav-pills > .active > a, .nav-pills > .active > a:hover
    color: #005580
    background-color: #DEE5F2

.help-icon
  float:right;

.task:hover
  cursor: move
  
li:hover .task-meta-controls .hover-show
  display: inline  

.task
  list-style:none

  pre
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 13px
    line-height: 18px
    color: black

  .task-meta-controls
    float:right
    i
      margin-left:5px    
    
  .task-controls,.task-text
    display:inline
    margin-right:10px

  .task-meta-controls .hover-show
    display: none;

  .vote-up, .vote-down
    text-decoration:none;

  .buy-link, .item-buy-link
    background-color: #DEE5F2
    padding: 2px
    margin-right: 10px
    border-radius: 5px
  
    img
      height:20px  
      
   .item-buy-link
     background-color: #ccffcc
  
#character 

  td#avatar
    vertical-align: top
    text-align: center
    
    .avatar-sprites
      position: relative
        
      .weapon
        position: absolute
        z-index: 200
        left: -13px
        bottom: 7px
      .weapon-0
        left: -7px
      .weapon-5
        left: -16px
      .weapon-6
        left:-20px
  td#bars
    padding: 10px 0 0 10px

#bars 
  width: 400px
  .progress
    position: relative
    height: 25px
  .bar
    height: 25px 
    border: 1px solid black
  .progress-text
    position: absolute
    right: 5px
    top: 3px 
    color: black

/* ----- Items, Weapons, Armor -----*/
.item-store-popover img
  float:left
  padding-right:7px;

.item .task-text img
  max-height: 16px

#dead-modal img
  float:left
  padding-right:10px
  
/* Footer
-------------------------------------------------- */

.footer ul li
  list-style:none
  float:left
.footer ul li:after
  content: "\00A0\00A0|\00A0\00A0"
.footer ul li:last-child:after
  content: ""
.footer table td                                                                                                                                                                                                                        
  vertical-align: top 
  
/* Bootstrap website boilerplate */
.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* Customizations to make footer sticky */
/*html, body {height: 100%;}*/                                                                                                                                                                                                                   
#wrap {min-height: 100%;}                                                                                                                                                                                                                    
#main                                                                                                                                                                                                                                        
  /*overflow:auto;*/                                                                                                                                                                                                                             
  padding-bottom: 250px; /* don't know why this works, sticky footers are weird */                                                                                                                                                                             
