/* ----- Items, Weapons, Armor -----*/
.item-store-popover img
  float:left
  padding-right:7px;

.item .task-text img
  max-height: 16px

.buy-link, .item-buy-link
    background-color: #DEE5F2
    padding: 2px
    margin-right: 10px
    border-radius: 5px

    img
      height:20px

  .item-buy-link
    background-color: #ccffcc

.item
    position:relative

.shop-table
    position:absolute
    top: 0
    left: 50px

#money
    position:relative
.shop_gold, .shop_silver, .shop_copper
    float:right
.money-table
    position:absolute
    top: 0

.shop-pet
    mouse: pointer
.shop-pet-owned-check
    position:absolute
    right:0px
    bottom:0px
