.badge {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: $gray-100;

  padding: 0.25rem 0.5rem;
  box-shadow: 0 1px 3px 0 rgba($black, 0.12), 0 1px 2px 0 rgba($black, 0.24);
}

.badge-pill {
  border-radius: 12px;
}

.badge-round {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
}

.badge-default {
  background: $gray-600;
  box-shadow: none;
}

.badge-dialog {
  position: absolute;
  left: -16px;
  top: -16px;

  .badge-pin {
    width: 36px;
    height: 36px;
    padding: 0.5rem;
  }
}

.badge-item {
  position: absolute;
  top: -9px;
}

.badge-top {
  position: absolute;
  left: calc((100% - 24px) / 2);
  top: -12px;
}

.badge-purple {
  position: absolute;
  color: $white;
  background: $purple-400;
  line-height: 1.2;
  font-size: 10px;
}
