.dropdown > .btn {
  padding: 0.219rem 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.dropdown-toggle:hover {
  --caret-color: #{$purple-300};
}

.dropdown.show > .dropdown-toggle:not(.btn-success) {
  color: $purple-200;
  border-color: $purple-400 !important;
  box-shadow: none;

  &::after {
    --caret-color: #{$purple-300};
  }
}

.dropdown-toggle::after {
  border-top-color: var(--caret-color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  vertical-align: 0;
  margin-left: 1rem;
  margin-bottom: 0.1rem;
}

.dropdown-menu {
  padding: 0px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(26, 24, 29, 0.16), 0 3px 6px 0 rgba(26, 24, 29, 0.24);

}

// shared dropdown-item styles
.dropdown-item {
  // header items & not selectList-items

  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 14px;
  line-height: 1.71;
  color: $gray-50 !important;
  cursor: pointer;

  &:focus {
    outline: none;
    background-color: inherit;
  }

  &:active, &:hover, &:focus, &.active {
    background-color: inherit !important;
    color: var(--hover-color, $purple-300) !important;
  }

  &:hover {
    background-color: var(--hover-background, rgba($purple-600, 0.25)) !important;
  }

  &.dropdown-inactive {
    cursor: default;

    &:active, &:hover, &.active {
      background-color: inherit !important;
      color: inherit !important;
    }
  }

  .with-icon {
    display: flex;
    align-items: center;

    .svg-icon {
      margin: 0 0.5rem 0 0;
    }
  }

  &:not(:hover) {
    .with-icon .svg-icon {
      color: $gray-200;
    }
  }
}

.dropdown + .dropdown {
  margin-left: 12px;
}

.dropdown-label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  margin-right: 20px;
  margin-left: 20px;

  height: 1.5rem;
  font-stretch: normal;
  font-style: normal;
  text-align: right;

  margin-top: calc(0.25rem + 1px); // Padding of the dropdown buttons + button border width
  margin-bottom: 0.25rem;
}

.dropdown-icon-item {
  .svg-icon {
    margin: 0px 16px 0px 0px;
    vertical-align: middle;
  }

  .text {
    vertical-align: middle;
  }
}

.inline-dropdown {
  width: 100%;

  .dropdown-toggle {
    width: 100% !important;
    height: 32px;
    text-align: left;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 12px;
    top: 14px;
  }

  .dropdown-menu.show {
    min-width: 100% !important;
  }
}

// selectList.vue items sizing
.selectListItem .dropdown-item {
  padding: 0.25rem 0.75rem;
  height: 32px;

  &:active, &:hover, &:focus, &.active {
    color: $purple-300;
  }

  &:hover {
    background-color: rgba($purple-600, 0.25);
  }
}
