.task {
  &-worst { // dark red
    &-control {
      &-bg {
        background: $maroon-100 !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $maroon-100 !important; }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($red-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $red-1 !important; }
    }

    &-modal {
      &-bg { background: $maroon-100 !important; }
      &-icon { color: $maroon-100 !important; }
      &-text { color: $red-1 !important; }
      &-text::placeholder { color: $red-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $red-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $maroon-100 !important; }
        .option-item-label { color: $maroon-50 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $maroon-100;
          }
          .habit-option-icon, .habit-option-label { color: $maroon-100 !important; }
        }
      }
    }
  }

  &-worse { // light red
    &-control {
      &-bg {
        background: $red-100 !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $red-100 !important; }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($red-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $red-1 !important; }
    }

    &-modal {
      &-bg { background: $red-100 !important; }
      &-icon { color: $red-100 !important; }
      &-text { color: $red-1 !important; }
      &-text::placeholder { color: $red-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $red-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $red-100 !important; }
        .option-item-label { color: $red-10 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $red-100;
          }
          .habit-option-icon, .habit-option-label { color: $red-100 !important; }
        }
      }
    }
  }

  &-bad { // orange
    &-control {
      &-bg {
        background: $orange-100 !important;
        .habit-control:hover { background: rgba($orange-1, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $orange-100 !important; }
      &-inner-habit { background: rgba($orange-1, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($orange-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $orange-1 !important; }
    }

    &-modal {
      &-bg { background: $orange-100 !important; }
      &-icon { color: $orange-100 !important; }
      &-text { color: $orange-1 !important; }
      &-text::placeholder { color: $orange-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $orange-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $orange-100 !important; }
        .option-item-label { color: $orange-1 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $orange-100;
          }
          .habit-option-icon, .habit-option-label { color: $orange-100 !important; }
        }
      }
    }
  }

  &-neutral { // yellow
    &-control {
      &-bg {
        background: $yellow-100 !important;
        .habit-control:hover { background: rgba($yellow-1, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $yellow-100 !important; }
      &-inner-habit { background: rgba($yellow-1, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($yellow-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $yellow-1 !important; }
    }

    &-modal {
      &-bg { background: $yellow-100 !important; }
      &-icon { color: $yellow-100 !important; }
      &-text { color: $yellow-1 !important; }
      &-text::placeholder { color: $yellow-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $yellow-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $yellow-100 !important; }
        .option-item-label { color: #bf7d1a !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $yellow-100;
          }
          .habit-option-icon, .habit-option-label { color: $yellow-100 !important; }
        }
      }
    }
  }

  &-good { // green
    &-control {
      &-bg {
        background: $green-100 !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $green-100 !important; }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($green-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $green-1 !important; }
    }

    &-modal {
      &-bg { background: $green-100 !important; }
      &-icon { color: $green-10 !important; }
      &-text { color: $green-1 !important; }
      &-text::placeholder { color: $green-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $green-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $green-10 !important; }
        .option-item-label { color: #1ca372 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $green-100;
          }
          .habit-option-icon, .habit-option-label { color: $green-100 !important; }
        }
      }
    }
  }

  &-better { // teal
    &-control {
      &-bg {
        background: $teal-100 !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $teal-100 !important; }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($teal-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $teal-1 !important; }
    }

    &-modal {
      &-bg { background: $teal-100 !important; }
      &-icon { color: $teal-100 !important; }
      &-text { color: $teal-1 !important; }
      &-text::placeholder { color: $teal-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $teal-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $teal-100 !important; }
        .option-item-label { color: $teal-10 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $teal-100;
          }
          .habit-option-icon, .habit-option-label { color: $teal-100 !important; }
        }
      }
    }
  }

  &-best { // blue
    &-control {
      &-bg {
        background: $blue-100 !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-bg-noninteractive { background: $blue-100 !important; }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-habit-noninteractive { border: 1px solid rgba($blue-1, 0.5) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox, &-icon { color: $blue-1 !important; }
    }

    &-modal {
      &-bg { background: $blue-100 !important; }
      &-icon { color: $blue-100 !important; }
      &-text { color: $blue-1 !important; }
      &-text::placeholder { color: $blue-1 !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $blue-1 !important; }
      &-option-disabled:hover {
        .svg-icon { color: $blue-50 !important; }
        .option-item-label { color: $blue-10 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $blue-100;
          }
          .habit-option-icon, .habit-option-label { color: $blue-100 !important; }
        }
      }
    }
  }

  &-purple { // purple, only used in modals
    &-control {
      &-bg {
        background: $purple-task !important;
        .habit-control:hover { background: rgba($black, 0.5) !important; }
        .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
      }
      &-inner-habit { background: rgba($black, 0.25) !important; }
      &-inner-daily-todo { background: rgba($white, 0.5) !important; }
      &-checkbox { color: $purple-task !important; }
    }

    &-modal {
      &-bg { background: $purple-300 !important; }
      &-icon { color: $purple-300 !important; }
      &-text { color: $black !important; }
      &-text::placeholder { color: $black !important; }
      &-input:focus, &-input:active { box-shadow: 0 0 0 1px $black !important; }
      &-option-disabled:hover {
        .svg-icon { color: $purple-300 !important; }
        .option-item-label { color: $purple-200 !important; }
      }
      &-habit-control-disabled {
        .habit-option-button {
          border: 2px solid $gray-300;
        }
        &:hover {
          .habit-option-button {
            border: 2px solid $purple-300;
          }
          .habit-option-icon, .habit-option-label { color: $purple-300 !important; }
        }
      }

    }
  }

  &-reward {
    &-control {
      &-bg {
        background: rgba($yellow-100, 0.15) !important;
        .small-text { color: $yellow-1 !important; }

        &:hover { background: rgba($yellow-100, 0.25) !important; }
      }
      &-bg-noninteractive {
        background: rgba($yellow-100, 0.15) !important;
        .small-text { color: $yellow-1 !important; }
      }
    }
  }

  &-disabled {
    &-habit {
      &-control {
        &-bg { background: $gray-600; }
        &-inner {
          border: 1px solid $gray-300;
          opacity: 0.75;

          .negative, .positive {
            color: $gray-200;
          }
        }
      }
    }

    &-daily-todo {
      &-control {
        &-bg {
          background: $gray-200 !important;
          .daily-todo-control:hover { background: rgba($white, 0.75) !important; }
        }
        &-bg-noninteractive {
          background: $gray-200 !important;
        }
        &-inner { background: rgba($white, 0.5) !important; }
        &-checkbox { color: $gray-10 !important; }
        &-content {
          background: $gray-600;

          .task-title, .task-notes {
            color: $gray-300 !important;
          }
        }
      }
    }
  }
}

.task-control {
  width: 28px;
  height: 28px;
}

.habit-control {
  border-radius: 100px;
  color: $white;

  &-negative {
    &-enabled {
      padding-top: 13px;
    }
    &-disabled {
      padding-top: 12px;
    }
  }

  &-positive {
    &-enabled {
      padding-top: 9px;
    }
    &-disabled {
      padding-top: 8px;
    }
  }

  .svg-icon {
    width: 10px;
    height: 10px;
    margin: 0 auto;
  }

  .lock {
    margin-top: 7px;
    height: 12px;
    width: 10px;

    &.disabled {
      color: $gray-10;
    }
  }
}

.daily-todo-control {
  &:hover {
    .svg-icon.check {
      display: block;
    }
  }

  .svg-icon.check {
    display: none;

    &.display-check-icon {
      display: block;
    }
  }

  .svg-icon.lock {
    margin: 8px auto;
    height: 12px;
    width: 10px;
  }
}
