extends ./layout

block extraHead
  - var socialPage = 'achievement'
  - var socialTitle = 'Earned an Achievement!'
  - var socialDescription = 'I earned a new Achievement! In Habitica, badges recognize players for changing their lives for the better.'

block content
  include ./landing-page
