extends ./layout

block extraHead
  - var socialPage = 'achievement'
  - var socialTitle = 'Earned an Achievement!'
  - var socialDescription = 'I earned a new Achievement on Habitica for working to improve my life!'

block content
  include ./landing-page
