extends ./layout

block extraHead
  - var socialPage = 'hatch-pet'
  - var socialTitle = 'New Pet!'
  - var socialDescription = 'I\'ve worked hard and gotten myself a new pet! In Habitica, you earn cute companions as you accomplish real-world tasks.'

block content
  include ./landing-page
