extends ./layout

block extraHead
  - var socialPage = 'hatch-pet'
  - var socialTitle = 'New Pet!'
  - var socialDescription = 'In Habitica, you earn cute companions as you accomplish real-world tasks. I\'ve worked hard and gotten myself a new pet!'

block content
  include ./landing-page
