.text-center
  #intro(style='padding-bottom:3rem')
    h1=env.t('imagine1')
    ul.lead
      li=env.t('landingCopy1')
      li=env.t('landingCopy2')
      li=env.t('landingCopy3', {userCount:userCount})
  .mobile-container
    .row
      .col-md-6
        .row
          img.img-rendering-auto.center-block.img-responsive(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/intro.png')
        .row
          .avatar_variety.img-rendering-auto.center-block.img-responsive
      .col-md-6
        +registrationForm
        .row
          a(ng-click='playButtonClick()')=env.t('alreadyHaveAccount')
    .row
      .presslogos
        =env.t('featuredIn')
        br
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/lifehacker.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/nyt-logo.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/makeuseof.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Forbes_logo.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Cnetlogo.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Fast-Company-logo.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/kickstarter-logo.png')
        img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/discover-logo.png')
