extends ./layout

block extraHead
  - var socialPage = 'level-up'
  - var socialTitle = 'Level Up!'
  - var socialDescription = 'I earned a new level with my accomplishments! In Habitica, your avatar grows in strength as you improve your real-life habits.'

block content
  include ./landing-page
