extends ./layout

block extraHead
  - var socialPage = 'level-up'
  - var socialTitle = 'Level Up!'
  - var socialDescription = 'In Habitica, your avatar grows in strength as you improve your real-life habits. I\'ve attained a new level with what I\'ve accomplished!'

block content
  include ./landing-page
