doctype html
html
  head
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@habitica')
    meta(name='twitter:title' content='Level Up!')
    meta(name='twitter:description' content='In Habitica, your avatar grows in strength as you improve your real-life habits. I\'ve attained a new level with what I\'ve accomplished!')
    meta(name='twitter:image' content='')
    meta(property='og:url', content='https://habitica.com/social/level-up')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Level Up!')
    meta(property='og:description', content='In Habitica, your avatar grows in strength as you improve your real-life habits. I\'ve attained a new level with what I\'ve accomplished!')
    meta(property='og:site_name', content='Habitica')
    meta(property='og:image', content='')
    meta(property='fb:app_id', content='128307497299777')
