extends ./layout

block extraHead
  - var socialPage = 'login-incentive-unlocked'
  - var socialTitle = 'Unlocked a reward'
  - var socialDescription = 'I have kept consitent with my new goals and have been rewarded!'

block content
  include ./landing-page
