doctype html
html
  head
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@habitica')
    meta(name='twitter:title' content='Raised a Pet into a Mount!')
    meta(name='twitter:description' content='In Habitica, collectible pets grow along with you as you advance you real-life goals. My progress has turned a pet into a trusty mount!')
    meta(name='twitter:image' content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo.png')
    meta(property='og:url', content='https://habitica.com/social/raise-pet')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Level Up!')
    meta(property='og:description', content='In Habitica, collectible pets grow along with you as you advance you real-life goals. My progress has turned a pet into a trusty mount!')
    meta(property='og:site_name', content='Habitica')
    meta(property='og:image', content='https://s3.amazonaws.com/habitica-assets/assets/gryphon_logo_300x300.png')
    meta(property='fb:app_id', content='128307497299777')
