extends ./layout

block extraHead
  - var socialPage = 'raise-pet'
  - var socialTitle = 'Raised a Pet into a Mount!'
  - var socialDescription = 'I grew a pet into a trusty mount! In Habitica, collectible pets grow along with you as you advance your real-life goals.'

block content
  include ./landing-page
