extends ./layout

block extraHead
  - var socialPage = 'unlock-quest'
  - var socialTitle = 'Unlocked a Quest!'
  - var socialDescription = 'I discovered a new Quest! In Habitica, you can battle fearsome monsters and devious villains using your real-life productivity.'

block content
  include ./landing-page
