extends ./layout

block extraHead
  - var spcialPage = 'unlock-quest'
  - var socialTitle = 'Unlocked a Quest!'
  - var socialDescription = 'In Habitica, you can defeat fearsome monsters and devious villains with real-life productivity. I\'ve earned just such a Quest with my progress!'

block content
  include ./landing-page
