extends ./layout

block extraHead
  - var socialPage = 'won-challenge'
  - var socialTitle = 'Won a Challenge!'
  - var socialDescription = 'I stood out from the pack and won a Challenge! In Habitica, users can challenge one another to accomplish goals in all areas of life.'

block content
  include ./landing-page
