extends ./layout

block extraHead
  - var spcialPage = 'won-challenge'
  - var socialTitle = 'Won a Challenge!'
  - var socialDescription = 'In Habitica, users can challenge one another to accomplish goals in all areas of life. I\'ve won just such a Challenge!'

block content
  include ./landing-page
