/* HabitRPG Custom CSS
-------------------------------------------------- */

.footer
    padding-top: 20px
    margin-top: 40px
    padding-bottom: 20px
    border-top: 1px solid #e5e5e5
    background-color: #f5f5f5
