@import "nib"
//@import "nib/vendor"

// Vendor Includes - include first so we can override
// Import only styles that do not have urls to images! Include them directly in the page!
@import "../bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css"
@import "../bower_components/angular-loading-bar/build/loading-bar.css"
@import "../bower_components/select2/select2.css"

// Custom includes
@import "./global-colors.styl"
@import "./global-modules.styl"
@import "./tasks.styl"
@import "./avatar.styl"
@import "./customizer.styl"
@import "./items.styl"
@import "./inventory.styl"
@import "./alerts.styl"
@import "./helpers.styl"
@import "./header.styl"
@import "./filters.styl"
@import "./scrollbars.styl"
@import "./game-pane.styl"
@import "./groups.styl"
@import "./npcs.styl"
@import "./challenges.styl"
@import "./classes.styl"
@import "./quests.styl"
@import "./shared.styl"
@import "./footer.styl"
@import "./menu.styl"
@import "./options.styl"
@import "./no-script.styl"
@import "./loading-screen.styl"

html,body,p,h1,ul,li,table,tr,th,td
  margin: 0
  padding: 0

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: "Lato", sans-serif

hr
  border-top: 0
  border-bottom: 1px solid #ddd
  border-color: rgba(0,0,0,0.1)

/* Customizations to make footer sticky */

html, body
  height: 100%

#wrap
  z-index:-1
  padding: 0 15px // Required by Bootstrap 3 when using .container-fluid
  min-height: 100%
  height: auto !important

@media (max-width: 600px)
  #wrap
    margin-top: 0
    padding: 0 4px;
    overflow-x: hidden;

/* Gems
-------------------------------------------------- */
/* Adaptation of GH's social-count for Gems */

.gem-cost
  border: 1px solid #D4D4D4;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 7px 5px;
  line-height: 20px;
  margin-left: 8px;
  border-radius: 3px;
  color: #333;
  background-color: #FAFAFA;
  position: relative;

.gem-cost::before
  content: ""
  display: block
  width: 0
  height: 0
  border: 6px solid #D4D4D4
  border-color: transparent #D4D4D4 transparent transparent
  position: absolute
  right: 100%
  margin-right: 0
  top: 50%
  margin-top: -6px

.gem-cost::after
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid #FAFAFA;
  border-color: transparent #FAFAFA transparent transparent;
  position: absolute;
  right: 100%;
  margin-right: -1px;
  top: 50%;
  margin-top: -6px;

/* Misc
-------------------------------------------------- */
//move
.new-stuff-modal // a .modal-body
  h2, h3
    font-weight: 700
    font-size: 14px
    margin-top: 10px

.modal-fixed-height
  overflow-y: auto
  max-height: 400px // Taken from Bootstrap 2.3.2 css, may need to change

// notification-character used only by death modal's figure, move

.modal-body
  figure
    float: left
    padding: 15px

    &.herobox
      padding-right: 0px
      padding-left: 0px

.death-modal // a .modal-body
  margin: 10px

a
  cursor: pointer

a span.glyphicon
  color: #333 // Takes base color from bootstrap

  &.text-danger
    color: #a94442 // Allows glyphicon to use text-danger class

a.label
  color: #fff

.label .glyphicon
  color: #fff

.muted
  color: #999

.btn
  margin-right: 5px
.panel-heading .btn // Fixing improper vertical alignment of buttons in panel headers
  margin-top: -8px

.vertical-align
  vertical-align: middle
.inline-block
  display: inline-block

// Buttons in groups should not have a 5px margin between them; suppress margin for buttons in groups.
.btn-group .btn
  margin-right: 0px

// Class for buttons with long text allowing wrapping
.btn-wrap
  white-space: normal

.modal-indented-list
  margin-left: 10px;
  padding-left: 10px;

.buy-gems
  .nav-tabs
    margin-top: 0.5em
  .gem-wallet
    padding: 0
    cursor: default
    .task-action-btn
      border-radius: 0 4px 0 0;
      border: 1px solid rgba(0,0,0,0.2);

// Add badges' classes
.badge-info
  background-color: #428bca
.badge-success
  background-color: #47a447

.white, .white a
  color: #fff !important
.line-through
  text-decoration line-through

.markdown-preview markdown code
  white-space inherit

// By default everything should render as pixelart
*
  image-rendering: pixelated

.img-rendering-auto, .img-rendering-auto *, .habitica-emoji
  image-rendering: auto

// Vertically centered modals
div[window-class="vertically-centered-modals"]
  text-align: center
  padding: 0!important

div[window-class="vertically-centered-modals"]:before
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -4px // Adjusts for spacing

div[window-class="vertically-centered-modals"] .modal-dialog 
  display: inline-block
  text-align: left
  vertical-align: middle

