@require "./variables/screen-size.styl"

.npc_alex_container
  margin-bottom: 20px

.npc_matt
  margin-bottom: 20px

.toolbar-bailey-container
  width:55px
  margin-right:0.618em
  position:relative
  @media screen and (max-width: $xs-max-screen-width)
    margin-right:0px
.npc_bailey
  float:left
.npc_bailey_broken
  float:left
.npc_bailey_head
  position: absolute
  top: -17px
  height:39px !important
  cursor: pointer
// Tour (Justin)
.npc_justin.float-left
  float: left
  margin-right: 5px
  margin-bottom: 5px
.npc_justin_broken.float-left
  float: left
  margin-right: 5px
  margin-bottom: 5px

.static-popover
  z-index 0
  display block
  position:relative

.popover-navigation {clear:both;}
