.create-task-area {
  position: absolute;
  right: 24px;
  top: -24px;
  z-index: 999;
  align-items: center;
}

.slide-tasks-btns-leave-active, .slide-tasks-btns-enter-active {
  max-width: 320px;
  transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
}

.slide-tasks-btns-enter, .slide-tasks-btns-leave-to {
  max-width: 0;
  opacity: 0;
  overflow-x: hidden;
}

.diamond-btn {
  margin-left: 24px;
  background: $white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba($black, 0.16), 0 1px 4px 0 rgba($black, 0.12);
  cursor: pointer;
  color: $gray-200;
  transform: rotate(45deg);

  &:hover:not(.create-btn) {
    color: $purple-400;
    box-shadow: 0 1px 8px 0 rgba($black, 0.12), 0 4px 4px 0 rgba($black, 0.16);
  }

  .svg-icon {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);

    &.icon-habit {
      width: 24px;
      height: 16px;
    }

    &.icon-daily {
      width: 21.6px;
      height: 18px;
    }

    &.icon-todo {
      width: 18px;
      height: 18px;
    }

    &.icon-reward {
      width: 23.4px;
      height: 18px;
    }
  }
}

.create-btn {
  color: $white;
  background-color: $green-10;
  height: 48px;
  width: 48px;

  .svg-icon {
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
    transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  }

  &.open {
    background: $gray-200 !important;

    .svg-icon {
      transform: rotate(-90deg);
    }
  }
}
