.nested-field {
  padding-left: 1.5rem;
}

// Inputs and texteares

input, textarea, input.form-control, textarea.form-control {
  padding: 10px 16px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.43;
  color: $gray-200;
  border: 1px solid $gray-400;

  &:hover:not(:disabled) {
    border-color: $gray-300;
  }

  &:active:not(:disabled), &:focus:not(:disabled) {
    border-color: $purple-500;
    color: $gray-50;
    outline: 0;
  }

  &:disabled {
    opacity: 0.64;
    background: $gray-500;
  }

  &.input-search { // TODO Abstract to work with all icons 
    background-repeat: no-repeat;
    background-position: center left 16px;
    background-size: 16px 16px;
    background-image: url(~client/assets/svg/search.svg);
    padding-left: 40px;
  }

  &.input-valid, &.input-invalid {
    background-repeat: no-repeat;
    background-position: center right 16px;
  }

  &.input-valid {
    padding-right: 37px;
    background-image: url(~client/assets/svg/check.svg);
    background-size: 13px 10px;
  }

  &.input-invalid {
    padding-right: 40px;
    background-image: url(~client/assets/svg/alert.svg);
    background-size: 16px 16px;
  }
}

// Checkboxes and radios
.custom-control-description {
  padding-top: 3px;
  padding-left: 3px;
}


// TODO reuse some for radio buttons with custom-control instead of custom-checkbox
.custom-checkbox, .custom-radio {
  & .custom-control-indicator {
    width: 18px;
    height: 18px;
    background-size: 75% 75%;
    background-color: transparent;
    border: 2px solid $gray-200;
  }
}

.custom-checkbox {
  & .custom-control-indicator {
    border-radius: 2px;
  }
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: $purple-400;
  border-color: $purple-400;
}

$bg-focused-active-checkbox: #4f2993;

.custom-control-input {
  &:focus:not(:checked)~.custom-control-indicator, &:active:not(:checked)~.custom-control-indicator  {
    box-shadow: 0 0 0 6px rgba($bg-focused-active-checkbox, 0.1);
  }

  &:focus:checked~.custom-control-indicator, &:active:checked~.custom-control-indicator  {
    box-shadow: 0 0 0 6px rgba($bg-focused-active-checkbox, 0.1);
    border-color: $purple-400;
    background-color: $purple-400;
  }
}

.custom-control-input:active~.custom-control-indicator {
  background-color: inherit;
}