.svg-icon {
  display: block;
  transition: none !important;
  fill: currentColor;

  svg {
    display: block;
  }

  * {
    transition: none !important;
  }

  &.color {
    svg path {
      fill: currentColor;
    }
  }
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-10 {
  width: 10px;
  height: 10px;
}

.inline {
  display: inline-block;
}

.toggle-up, .toggle-down {
  cursor: pointer;

  .svg-icon {
    width: 20px;
  }
}
