// Variables and Functions
@import './utils';
@import './colors';

* {
  transition-duration: .15s;
  transition-property: border-color, box-shadow, color;
  transition-timing-function: ease-in;
}

// Generic components
@import './page';
@import './loading-screen';

// Global styles
@import './typography';
@import './markdown';
@import './form';
@import './button';
@import './badge';
@import './dropdown';
@import './popover';
@import './tooltip';
@import './item';
@import './stats';
@import './icon';
@import './task';
@import './categories';
@import './dragdrop';
@import './banner';
