.items > div {
  display: inline-block;
}

.items > div:last-of-type {
  margin-right: 0px;
}

.item-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 12px;
}

.items-one-line .item-wrapper {
  margin-bottom: 8px;
}

.item {
  position: relative;
  width: 94px;
  height: 92px;
  border-radius: 2px;
  background: $white;
  box-shadow: 0 2px 2px 0 rgba($black, 0.15), 0 1px 4px 0 rgba($black, 0.1);

  &-empty {
    background: $gray-10;
    box-shadow: none;
    cursor: auto;
  }

  &:hover {
    box-shadow: 0 4px 4px 0 rgba($black, 0.16), 0 1px 8px 0 rgba($black, 0.12);
    border: solid 1px #d5c8ff;

    & .item-content {
      top: 21px;
      right: 25px;
    }
  }
}

.item .item-content {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 4px;
  top: 22px;
  right: 26px;
  display: block;
}

.item-label {
  display: block;
  width: 94px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: $gray-400;
  margin-top: 4px;
}

.item > .badge {
  cursor: pointer;
  display: none;
  position: absolute;
  top: -12px;
  left: -12px;
  color: $gray-400;
  background: $white;
  padding: 2px 6px;
  box-shadow: 0 1px 1px 0 rgba($black, 0.12);

  &.item-selected-badge {
    display: block;
    background: $teal-50;
    color: $white;
  }
}

.item:hover > .badge {
  display: block;
}