.markdown {
  p {
    margin-bottom: 8px;
  }

  h1 {
    margin-bottom: 10px;
    margin-top: 14px;
    line-height: 1.17;
  }

  h2 {
    margin-bottom: 6px;
    margin-top: 10px;
  }

  h3 {
    margin-bottom: 4px;
    margin-top: 6px;
    color: $gray-10;
  }

  h1, h2, h3 {
    font-weight: normal;
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  a {
    color: $blue-10;

    &:hover, &:active, &:focus {
      color: $blue-10;
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}
