html, body {
  height: 100%;
  background: $gray-700;
}

.standard-sidebar {
  background: $gray-600;
  padding: 24px;
  font-size: 14px;
  line-height: 1.43;
}

.standard-page {
  padding: 24px;
}

.page-header {
  color: $purple-200;
}
