html {
  overflow-x: hidden;
}

html, body {
  height: calc(100% - 56px); // 56px is the menu
}

body {
  background: $gray-700;
}

.standard-sidebar {
  background: $gray-600;
  padding: 24px;
  font-size: 14px;
  line-height: 1.43;
  width: 236px;
}

.standard-page {
  padding: 24px;
  flex: 1;
}

.page-header {
  color: $purple-200;
}
