.popover {
  border-radius: 4px;
  background-color: rgba($gray-10, 0.96);
  box-shadow: 0 2px 2px 0 rgba($black, 0.16), 0 1px 4px 0 rgba($black, 0.12);

  &::after, &::before, .arrow {
    display: none;
  }

  .popover-header {
    display: none;
  }
}

.popover-body {
  padding: 12px 16px;
  text-align: center;
  color: $gray-500;
  font-size: 12px;
  line-height: 1.33;
}

.popover-content-title {
  color: $white;
  line-height: 1.14;
}

.popover-content-text:not(:last-child) {
  margin-bottom: 16px;
}

.popover-content-title:last-child {
  margin-bottom: 0px;
}
.popover-content-text:last-child {
  margin-bottom: 0px;
}

.attributes-group {
  // unless we have a way to give a popover an id or class, it needs expand the attributes area
  margin: -13px -17px;
  display:flex;
  flex-wrap: wrap;
}

.popover-content-attr {
  font-weight: bold;
  width: calc(50% - 1px);
  background-color: #4e4a57;

  &:nth-of-type(even) {
    margin-left: 1px;
  }

  &:nth-child(1), &:nth-child(2) {
    margin-bottom: 1px;
  }
}

.group-content {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 4px 12px;
  width: 100%;
}

.popover-content-attr-cell {
  width: 50%;
  text-align: left;

  font-family: Roboto;

  &:nth-of-type(even) {
    text-align: right;
  }

  &.key {
    color: $white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
  }

  &.label {
    font-size: 10px;
    line-height: 1.2;
    color: #a5a1ac;
  }

  &.label.bold {
    font-weight: bold;
  }

  &.label.value {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    text-align: right;

    &.green {
      color: $green-10;

      &:before {
        content: '+';
      }
    }
  }
}
