.popover {
  border-radius: 4px;
  background-color: rgba($gray-10, 0.96);
  box-shadow: 0 2px 2px 0 rgba($black, 0.16), 0 1px 4px 0 rgba($black, 0.12);

  &::after, &::before, .arrow {
    display: none;
  }

  .popover-header {
    display: none;
  }
}

.popover-body {
  padding: 12px 16px;
  text-align: center;
  color: $gray-500;
  font-size: 12px;
  line-height: 1.33;
}

.popover-content-title {
  color: $white;
  line-height: 1.14;
}

.popover-content-text:not(:last-child) {
  margin-bottom: 16px;
}

.popover-content-title:last-child {
  margin-bottom: 0px;
}
.popover-content-text:last-child {
  margin-bottom: 0px;
}

.popover-content-attr {
  width: 50%;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 4px;

  &-key {
    color: $white;
  }

  &-val {
    color: $green-10;
  }
}
