.left-control {
  &:hover {
    .daily-todo-control {
      .svg-icon.check {
        display: block !important;
      }
    }
  }
}

.daily-todo-control {
  .svg-icon.check {
    display: none;

    &.display-check-icon {
      display: block;
    }
  }
}

.task {
  &-control {
    transition-duration: 0.15s;
    transition-property: background;
    transition-timing-function: ease-in;
  }

  // for editing rewards or when a task is created
  &-purple {
    background: $purple-300;

    &-color {
      color: $purple-300;
    }

    &-control-habit {
      background: $purple-300;
    }
  }

  &-worst {
    background: $maroon-100;

    &-color {
      color: darken($maroon-100, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: rgba($black, 0.24);
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }

    &-control-daily-todo {
      color: $maroon-100;
    }
  }

  &-worse {
    background: $red-100;

    &-color {
      color: darken($red-100, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: rgba($black, 0.24);
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }

    &-control-daily-todo {
      color: $red-100;
    }
  }

  &-bad {
    background: $orange-100;

    &-color {
      color: darken($orange-100, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: $orange-10;
    }

    &:hover {
      .task-control {
        background: #b75a1c; // not in the palette or derived by other colors
      }
    }


    &-control-daily-todo {
      color: $orange-100;
    }
  }

  &-neutral {
    background: $yellow-100;

    &-color {
      color: darken($yellow-100, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: $yellow-10;
    }

    &:hover {
      .task-control {
        background: #bf7d1a; // not in the palette or derived by other colors
      }
    }

    &-control-daily-todo {
      color: $yellow-100;
    }
  }

  &-good {
    background: $green-10;

    &-color {
      color: darken($green-10, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: rgba($black, 0.24);
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }

    &-control-daily-todo {
      color: $green-10;
    }
  }

  &-better {
    background: $blue-100;

    &-color {
      color: darken($blue-100, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: rgba($black, 0.24);
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }

    &-control-daily-todo {
      color: $blue-100;
    }
  }

  &-best {
    background: $teal-50;

    &-color {
      color: darken($teal-50, 24%);
    }

    &-control-habit, &-control-daily-todo {
      background: rgba($black, 0.24);
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }

    &-control-daily-todo {
      color: $teal-50;
    }
  }

  &-reward {
    background: rgba($yellow-500, 0.48);
  }

  &-daily-todo-disabled {
    background: $gray-400;

    &-control-daily-todo {
      background: rgba($black, 0.24);
      color: $white;
    }

    &:hover {
      .task-control {
        background: rgba($black, 0.48);
      }
    }
  }

  &-daily-todo-content-disabled {
    background: $gray-600;

    * {
      color: $gray-300 !important;
    }
  }

  &-habit-disabled {
    background: $gray-600;
    color: rgba($black, 0.12);

    &-control-habit {
      color: rgba($black, 0.12) !important;
      border: 1px solid rgba($black, 0.12);
    }
  }
}

.task-control {
  width: 28px;
  height: 28px;
}

.habit-control {
  border-radius: 100px;
  color: $white;

  .svg-icon {
    width: 10px;
    margin: 0 auto;
  }

  .positive {
    margin-top: 9px;
  }

  .negative {
    margin-top: 13px;
  }
}
