body {
  font-family: 'Roboto', sans-serif;
  color: $gray-50;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.43;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  line-height: 1.67;
  color: $purple-200;
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
  color: $gray-10;
  margin-bottom: 16px;
}

h3 {
  font-size: 16px;
  line-height: 1.5;
  color: $gray-50;
  margin-bottom: 9px;
}

h4 {
  font-size: 14px;
  line-height: 1.43;
  color: $gray-10;
}