@font-face {
  font-family: 'fontelico';
  src: url('../font/fontelico.eot?7274479');
  src: url('../font/fontelico.eot?7274479#iefix') format('embedded-opentype'),
       url('../font/fontelico.woff?7274479') format('woff'),
       url('../font/fontelico.ttf?7274479') format('truetype'),
       url('../font/fontelico.svg?7274479#fontelico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontelico';
    src: url('../font/fontelico.svg?7274479#fontelico') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontelico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 120%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-crown:before { content: '\e800'; } /* '' */
.icon-crown-plus:before { content: '\e801'; } /* '' */
.icon-crown-minus:before { content: '\e802'; } /* '' */
.icon-spin6:before { content: '\e804'; } /* '' */
.icon-spin5:before { content: '\e805'; } /* '' */
.icon-spin4:before { content: '\e806'; } /* '' */
.icon-spin3:before { content: '\e807'; } /* '' */
.icon-spin2:before { content: '\e808'; } /* '' */
.icon-spin1:before { content: '\e809'; } /* '' */
.icon-marquee:before { content: '\e80a'; } /* '' */
