extends ./layout
block vars
  - var layoutEnv = env
  - var menuItem = 'contact'
block title
  title=env.t('contact')
block content
  // Probably just add linkks to the respective contact locations?
  // Bugs? Github
  // Feature requests? Trello
  // Enterprise? Click the "pricing" tab
  /// etc