<import: src="head">
<import: src="header">
<import: src="../app/footer">

<Title:>
    HabitRPG | Gamify Your Life

<Head:>
    <app:head:head active="front"/>

<Body:>
    <div id="wrap">
        <app:header:header />


        <div class='jumbotron masthead'>
        <div class='container'>
            <h1><img src="/img/logo/habitrpg_pixel.png" alt="HabitRPG"/></h1>
            <p>A habit building program which treats your life like a Role Playing Game. Level up as you succeed, lose HP as you fail, earn money to buy weapons and armor.</p>
            <a href="/?play=1" class='btn btn-primary btn-small'>Play</a>
        </div>
        </div>
        <div class='container'>
            <p style="height:600;"><iframe src="http://player.vimeo.com/video/57639356" width="960" height="539" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>

        </div>
    </div>
    <app:footer:footer />