<header:>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand {{#if equal(@active,'front')}}active{{/}}" href="/static/front">HabitRPG</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">

                        <li class="{{#if equal(@active,'about')}}active{{/}}">
                            <a href="/static/about">About</a>
                        </li>

                        <li class="">
                            <a target="_blank" href="http://habitrpg.tumblr.com/">Blog</a>
                        </li>
                        
                         <li class="">
                            <a target="_blank" href="http://community.habitrpg.com/">Community</a>
                        </li>

                        <li class="{{#if equal(@active,'team')}}team{{/}}">
                            <a href="/static/team">Team</a>
                        </li>

                        <li class="{{#if equal(@active,'extensions')}}active{{/}}">
                            <a href="/static/extensions">Extensions</a>
                        </li>

                        <li class="{{#if equal(@active,'faq')}}active{{/}}">
                            <a href="/static/faq">FAQ</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>-->
