<head:>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
    <link href="/css/static-pages.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $.getScript("//s7.addthis.com/js/250/addthis_widget.js#pubid=lefnire");
    </script>