//Trick needed to pass 'env' to ./layout
block vars
doctype 5
html

  head
    block title
      title HabitRPG | Your Life the Role Playing Game

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // CSS
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap.css')
    // Keep this out of build because the one after has some images and would like not to override it
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(href='/bower_components/bootstrap/docs/assets/css/docs.css', rel='stylesheet')
    
    link(rel='stylesheet', href='/build/static.css')

    // JS
    - if(layoutEnv.NODE_ENV == 'production'){
      script(type='text/javascript', src='/build/static.js')
    - }else{
      // Remember to update the file list in Gruntfile.js!
      script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
      script(type='text/javascript', src='/bower_components/habitrpg-shared/dist/habitrpg-shared.js')
      script(type='text/javascript', src='/bower_components/angular/angular.min.js')
      script(type='text/javascript', src='/bower_components/bootstrap/docs/assets/js/bootstrap.min.js')

      script(type='text/javascript', src='/js/static.js')
      script(type='text/javascript', src='/js/services/userServices.js')
      script(type='text/javascript', src='/js/controllers/authCtrl.js')
    -}

    script(type='text/javascript').
      $.getScript("//s7.addthis.com/js/250/addthis_widget.js#pubid=lefnire");

  body
    block content

  include ../shared/footer