doctype 5
html

  head
    block title
      title HabitRPG | Your Life the Role Playing Game

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // CSS
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(href='/bower_components/bootstrap/docs/assets/css/docs.css', rel='stylesheet')
    link(href='/css/static-pages.css', rel='stylesheet')
    link(href='/css/footer.css', rel='stylesheet')

    // FIXME we gotta get rid of all these requirements in userServices. we don't need habitrpg-shared, lodash, moment, etc here
    // and habitrpg-shared alone is ~700kb

    // JS
    - if(env.NODE_ENV == 'production'){
      script(type='text/javascript', src='build/static.js')
    - }else{
      // Remember to update the file list in Gruntfile.js!
      script(type='text/javascript', src='bower_components/jquery/jquery.min.js')
      script(type='text/javascript', src='bower_components/habitrpg-shared/dist/habitrpg-shared.js')
      script(type='text/javascript', src='bower_components/angular/angular.min.js')
      script(type='text/javascript', src='bower_components/bootstrap/docs/assets/js/bootstrap.min.js')

      script(type='text/javascript', src='js/static.js')
      script(type='text/javascript', src='js/services/userServices.js')
      script(type='text/javascript', src='js/controllers/authCtrl.js')
    -}

    script(type='text/javascript').
      $.getScript("//s7.addthis.com/js/250/addthis_widget.js#pubid=lefnire");

  body
    block content

  include ../shared/footer