doctype 5
html

  head
    block title
      title HabitRPG | Your Life the Role Playing Game

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // CDN
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/css/docs.css', rel='stylesheet')
    link(href='/css/static-pages.css', rel='stylesheet')
    link(href='/css/footer.css', rel='stylesheet')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    script(type='text/javascript').
      $.getScript("//s7.addthis.com/js/250/addthis_widget.js#pubid=lefnire");
  body
    block content

  include ../shared/footer