extends ./layout

block vars
  - var layoutEnv = env
  - var menuItem = 'plans'

block title
  title Group Plans

block content
  h2 Group Plans

  p For individuals, HabitRPG is free to play. Even for small interest groups, free (or cheap) <a href='http://habitrpg.wikia.com/wiki/Guilds' target='_blank'>guilds</a> and <a href='http://habitrpg.wikia.com/wiki/Challenges' target='_blank'>challenges</a> can be used to motivate participants in behavioral modification. Think writing groups, art challenges, and more.
  p But some group leaders will want more control, privacy, security, and support. Examples of such groups are families, health and wellness groups, employee groups, and more. These plans provide private instances of HabitRPG for your group or organization, secure and independent of <a href='http://habitrpg.wikia.com/wiki/Habitica' target='_blank'>Habitica</a>. See below for additional plan perks, and contact us for more information!

  .subscription-features
    table.table.table-striped
      tr
        th.feature-name
        th.feature-name.muted Family (Coming Soon)
        th.feature-name.muted Group (Coming Soon)
        th.feature-name Organization
      tr
        th
          span.dashed-underline(popover="Members of the organization participate outside of HabitRPG proper, providing focus for your participants.",popover-trigger='mouseenter',popover-placement='right')
            | Private Organization
        td.muted
          i.icon-ok
        td.muted
          i.icon-ok
        td
          i.icon-ok
      tr
        th
          span.dashed-underline(popover="Dedicated Hosting: you get your own database and server hosted by HabitRPG, or optionally we'll install it in your organization's network. If not checked, the plan uses \"Shared Hosting\": your organization uses the same database as HabitRPG proper while performing independently Habitica. Your members are shielded from Tavern & Guilds, but still on the same server/database.",popover-trigger='mouseenter',popover-placement='right')
            | Dedicated Hosting
        td
        td
        td
          i.icon-ok
      tr
        th
          span.dashed-underline(popover="We can optionally give you your own domain for the installation.",popover-trigger='mouseenter',popover-placement='right')
            | Custom Domain
        td
        td
        td
          i.icon-ok
      tr
        th
          span.dashed-underline(popover="The maximum number of players in your private organization.",popover-trigger='mouseenter',popover-placement='right')
            | Max Participants
        td.muted 10
        td.muted 75
        td Unlimited
      tr
        th
          span.dashed-underline(popover="First to be provided for with support.",popover-trigger='mouseenter',popover-placement='right')
            | Priority Support On Tickets & Hosting
        td
        td
        td
          i.icon-ok
      tr
        th
          span.dashed-underline(popover="We will provide support for training, bugs, installation, and feature requests. Additional hours available at an hourly rate.",popover-trigger='mouseenter',popover-placement='right')
            | Support Hours / Month
        td.muted -
        td.muted 5
        td 10
      tr
        th
          h5 Game features:
          ul
            li Ads disabled for members
            li
              span.dashed-underline(popover="Members will be able to purchase gems with gold, meaning none of your participants need to buy anything with real money.",popover-trigger='mouseenter',popover-placement='right')
                | Gems purchasable with gold
            li
              span.dashed-underline(popover="We will provide the organization leaders with as many gems as they need, for things like challenge prizes, guild-creation, etc.",popover-trigger='mouseenter',popover-placement='right')
                | Infinite leader gems
        td.muted
          i.icon-ok
        td.muted
          i.icon-ok
        td
          i.icon-ok
      tr
        th
          //| Price
        td
          a.btn(href='https://docs.google.com/forms/d/17torT7OlxgtbHAPdBDRQNG2lTdIQyrGXk4O2YXvUMig/viewform',popover="Plan not yet available, but click to contact us and we'll keep you updated.",popover-placement='right',popover-trigger='mouseenter') Contact Us
        td
          a.btn.muted(href='https://docs.google.com/forms/d/17torT7OlxgtbHAPdBDRQNG2lTdIQyrGXk4O2YXvUMig/viewform',popover="Plan not yet available, but click to contact us and we'll keep you updated.",popover-placement='right',popover-trigger='mouseenter') Contact Us
        td
          a.btn.btn-primary(href='https://docs.google.com/forms/d/12Jqj_8f3oQS0B3ZUHewHbK61uLjBdzBeB0zyEqB9lxM/viewform') Contact Us