<import: src="head">
<import: src="header">
<import: src="../app/footer">

<Title:>
    HabitRPG | Terms

<Head:>
    <app:head:head active="about"/>

<Body:>
    <div id="wrap">
        <app:header:header />
        <div class='container'>
            <div class="page-header">
                <h1>Terms of Use</h1>
            </div>
            <p>
                Last updated September 2, 2012
            </p>
            <p>
                HabitRPG (or "we") provides services through our 
                software applications for various devices and platforms ("HabitRPG 
                Applications") and the HabitRPG.com domain, and any sub domains thereto 
                (the "Sites"). Individually or collectively, HabitRPG Applications and 
                Sites may be referred to as the "Services".
            </p>
            <p>
                Please read the following terms and conditions ("Terms of 
                Service") carefully. These Terms of Service govern your access to and 
                use of the Services and HabitRPG Content (defined below) and set forth 
                the legally binding terms for your use of the Services and HabitRPG 
                Content, whether or not you have registered as a Member.
            </p>
            <p>
                Certain areas of the Services (and your access to or use of 
                HabitRPG Content) may have different terms and conditions posted or may 
                require you to agree with and accept additional terms and conditions. If 
                there is a conflict between these Terms of Service and terms and 
                conditions posted for a specific area of the Services or HabitRPG 
                Content, the latter terms and conditions will take precedence with 
                respect to your use of or access to that area of the Services or HabitRPG 
                Content.
            </p>
            <p>
                YOU ACKNOWLEDGE AND AGREE THAT, BY CLICKING ON THE "I AGREE" OR 
                "I ACCEPT" BUTTON, OR BY ACCESSING OR USING THE SERVICES OR BY 
                DOWNLOADING OR POSTING ANY CONTENT FROM OR ON THE SITES OR THROUGH THE 
                SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO 
                BE BOUND BY THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED AS A MEMBER, 
                AND AGREE TO OUR PRIVACY POLICY AS DESCRIBED BELOW. IF YOU DO NOT AGREE 
                TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SERVICES OR 
                HABITRPG CONTENT.
            </p>
            <p>
                <strong>Modification</strong>
                <br>
                HabitRPG reserves the right, at its sole discretion, to modify, 
                discontinue or terminate the Services, including any portion thereof on 
                a global or individual basis, or to modify these Terms of Service, at 
                any time and without prior notice. If we modify these Terms of Service, 
                we will update the "Last Updated Date" above and post the modification 
                on the Sites and perhaps elsewhere within the Services. By continuing to 
                access or use the Services after we have posted a modification to these 
                Terms of Service or have provided you with notice of a modification, you 
                are indicating that you agree to be bound by the modified Terms of 
                Service. If the modified Terms of Service are not acceptable to you, 
                your only recourse is to cease using the Services. 
            </p>
            <p>
                <strong>Eligibility and HabitRPG Account Registration</strong>
                <br>
                In order to access certain features of the Sites and Services, and to 
                post any Public User Content (defined below) on the Sites or through the 
                Services, you must register to create an account ("HabitRPG Account") and 
                become a "Member". In compliance with privacy laws, we do not allow 
                people below the age of 14 to create accounts; please see our Privacy 
                Policy for further information. During the registration process, you 
                will be required to provide certain information and you will establish a 
                username and a password. You agree to provide accurate, current and 
                complete information during the registration process and to update such 
                information to keep it accurate, current and complete. HabitRPG reserves 
                the right to suspend or terminate your HabitRPG Account if any 
                information provided during the registration process or thereafter 
                proves to be inaccurate, not current or incomplete. If you are not a 
                Member you may browse all areas of the Sites or use the parts of the 
                Services that are not limited to Members only. You are responsible for 
                safeguarding your password. You agree not to disclose your password to 
                any third party and to take sole responsibility for any activities or 
                actions under your HabitRPG Account, whether or not you have authorized 
                such activities or actions. You agree to immediately notify HabitRPG of 
                any unauthorized use of your HabitRPG Account. We are not liable for any 
                damages or losses caused by someone using your account without your 
                permission.
            </p>
            <p>
                <strong>Privacy</strong>
                <br>
                See HabitRPG's Privacy Policy at http://www.HabitRPG.com/privacy for 
                information and notices concerning HabitRPG's collection and use of your 
                personal information. If you have any questions about the HabitRPG 
                Privacy Policy, please contact HabitRPG at privacy AT HabitRPG.com. By 
                accessing the Services you are agreeing to the terms of our Privacy 
                Policy.
            </p>
            <p>
                <strong>Content</strong>
                <br>
                Certain types of content are made available through the Services. 
                "HabitRPG Content" means, collectively, the text, data, graphics, images, 
                illustrations, forms and look and feel attributes, HabitRPG trademarks 
                and logos and other content made available through the Services, 
                including any technology or code making up the Services, excluding User 
                Content. "Public User Content" means the text, data, graphics, images, photos, 
                video or audiovisual content, hypertext links and any other content uploaded, 
                transmitted or submitted by a Member via the Services with the intent to share 
                with other users. "Private User Content" means data created through the services 
                exclusively for personal use or private sharing. 
                This includes tasks and related data created in HabitRPG Tasks that have not 
                been explicitly shared publicly. 
                You understand that by using any of the Services, you may encounter content 
                that may be deemed offensive, indecent, or objectionable, which content 
                may or may not be identified as having explicit language, and that the 
                results of any search or entering of a particular URL may automatically 
                and unintentionally generate links or references to objectionable 
                material. Nevertheless, you agree to use the Services at your sole risk 
                and that we shall not have any liability to you for content that may be 
                found to be offensive, indecent, or objectionable.
            </p>
            <p>
                <strong>Ownership</strong>
                <br>
                The Services and HabitRPG Content are protected by copyright, trademark, 
                and other laws of the United States and foreign countries. Except as 
                expressly provided in these Terms of Service, HabitRPG and its licensors 
                exclusively own all right, title and interest in and to the Services and 
                HabitRPG Content, including all associated intellectual property rights. 
                You will not remove, alter or obscure any copyright, trademark, service 
                mark or other proprietary rights notices incorporated in or accompanying 
                the Services or HabitRPG Content.
            </p>
            <p>
                <strong>HabitRPG License</strong>
                <br>
                Subject to your compliance with the terms and conditions of these Terms 
                of Service, HabitRPG grants you a limited, non-exclusive, 
                non-transferable license, without the right to sublicense, to access, 
                use, view, download and print, where applicable, the Services and any 
                HabitRPG Content solely for your personal and non-commercial purposes. 
                You will not use, copy, adapt, modify, prepare derivative works based 
                upon, distribute, license, sell, transfer, publicly display, publicly 
                perform, transmit, stream, broadcast or otherwise exploit the Services 
                or HabitRPG Content, except as expressly permitted in these Terms of 
                Service. No licenses or rights are granted to you by implication or 
                otherwise under any intellectual property rights owned or controlled by 
                HabitRPG or its licensors, except for the licenses and rights expressly 
                granted in these Terms of Service. With respect to HabitRPG Applications, 
                your license is limited to use of such applications on platforms and 
                devices that you own or control, and you may not distribute or make the 
                HabitRPG Applications available over a network where it could be used by 
                multiple devices at the same time.
            </p>
            <p>
                <strong>Public User Content</strong>
                <br>
                By making available any Public User Content through the Services, you hereby 
                grant to HabitRPG a worldwide, irrevocable, perpetual, non-exclusive, 
                transferable, royalty-free license, with the right to sublicense, to 
                use, copy, adapt, modify, distribute, license, sell, transfer, publicly 
                display, publicly perform, transmit, stream, broadcast and otherwise 
                exploit such Public User Content only on, through or by means of the Services. 
                HabitRPG does not claim any ownership rights in any such Public User Content and 
                nothing in these Terms of Service will be deemed to restrict any rights 
                that you may have to use and exploit any such Public User Content. 
            </p>
            <p>
                You acknowledge and agree that you are solely responsible for all 
                Public User Content that you make available through the Services. Accordingly, 
                you represent and warrant that: (i) you either are the sole and 
                exclusive owner of all Public User Content that you make available through the 
                Services or you have all rights, licenses, consents and releases that 
                are necessary to grant to HabitRPG the rights in such Public User Content, as 
                contemplated under these Terms of Service; and (ii) neither the User 
                Content nor your posting, uploading, publication, submission or 
                transmittal of the Public User Content or HabitRPG's use of the Public User Content (or 
                any portion thereof) on, through or by means of the Services will 
                infringe, misappropriate or violate a third party's patent, copyright, 
                trademark, trade secret, moral rights or other intellectual property 
                rights, or rights of publicity or privacy, or result in the violation of 
                any applicable law or regulation.
            </p>
            <p>
                Copyrighted Materials: No Infringing Use. You will not use the 
                Services to offer, display, distribute, transmit, route, provide 
                connections to or store any material that infringes copyrighted works or 
                otherwise violates or promotes the violation of the intellectual 
                property rights of any third party. HabitRPG has adopted and implemented 
                a policy that provides for the termination in appropriate circumstances 
                of the accounts of users who repeatedly infringe or are believed to be 
                or are charged with repeatedly infringing the rights of copyright 
                holders.
            </p>
            <p>
                <strong>Notify Us of Infringers</strong>
                <br>
                If you believe that something on the Services violates your copyright, 
                notify our copyright agent in writing. The contact information for our 
                copyright agent is at the bottom of this section.
            </p>
            <p>
                In order for us to take action, you must do the following in your 
                notice:
            </p>
            <p>
                (1) provide your physical or electronic signature; (2) identify 
                the copyrighted work that you believe is being infringed; (3) identify 
                the item on the Services that you think is infringing your work and 
                include sufficient information about where the material is located on 
                the Services (including which website and URL) so that we can find it; 
                (4) provide us with a way to contact you, such as your address, 
                telephone number, or e-mail; (5) provide a statement that you believe in 
                good faith that the item you have identified as infringing is not 
                authorized by the copyright owner, its agent, or the law to be used on 
                the Services; and (6) provide a statement that the information you 
                provide in your notice is accurate, and that (under penalty of perjury), 
                you are authorized to act on behalf of the copyright owner whose work is 
                being infringed.
            </p>
            <p>
                Here is the contact information for our copyright agent:
            </p>
            <p>
                Copyright Enforcement
                <br>
                OCDevel
                <br>
                98 Morrison Ave #2
                <br>
                Somerville, MA 02144
                <br>
                Phone: (805) 975-5236
                <br>
                E-Mail: tylerrenelle at gmail dot com
            </p>
            <p>
                Again, we cannot take action unless you give us all the required 
                information.
            </p>
            <p>
                <strong>Ratings and Comments &amp; Feedback.</strong>
                <br>
                You can rate and make comments about content made available through the 
                Services ("Comments"). HabitRPG advises you to exercise caution and good 
                judgment when leaving such Comments. Once you complete and submit your 
                Comments to the Services you will not be able to go back and edit your 
                Comments. You should also be aware that you could be held legally 
                responsible for damages to someone's reputation if your Comments are 
                deemed to be defamatory. Without limiting any other terms of this Terms 
                of Service, HabitRPG may, but is under no obligation to, monitor or 
                censor Comments and disclaims any and all liability relating thereto. 
                Notwithstanding the foregoing, HabitRPG does reserve the right, in its 
                sole discretion, to remove any Comments that it deems to be improper, 
                inappropriate or inconsistent with the online activities that are 
                permitted under these Terms of Service. We welcome and encourage you to 
                provide feedback, comments and suggestions for improvements to the 
                Services ("Feedback"). You may submit Feedback by emailing us at support 
                AT HabitRPG.com. You acknowledge and agree that all Comments and Feedback 
                will be the sole and exclusive property of HabitRPG and you hereby 
                irrevocably assign to HabitRPG and agree to irrevocably assign to HabitRPG 
                all of your right, title, and interest in and to all Comments and 
                Feedback, including without limitation all worldwide patent rights, 
                copyright rights, trade secret rights, and other proprietary or 
                intellectual property rights therein. At HabitRPG's request and expense, 
                you will execute documents and take such further acts as HabitRPG may 
                reasonably request to assist HabitRPG to acquire, perfect, and maintain 
                its intellectual property rights and other legal protections for the 
                Comments and Feedback.
            </p>
            <p>
                <strong>Interactions between Users</strong>
                <br>
                You are solely responsible for your interactions (including any 
                disputes) with other users. You understand that HabitRPG does not in any 
                way screen HabitRPG users, except to only allow people aged 14 and over 
                to create accounts. You are solely responsible for, and will exercise 
                caution, discretion, common sense and judgment in, using the Services 
                and disclosing personal information to other HabitRPG users. You agree to 
                take reasonable precautions in all interactions with other HabitRPG 
                users, particularly if you decide to meet a HabitRPG user offline, or in 
                person. Your use of the Services, HabitRPG Content and any other content 
                made available through the Services is at your sole risk and discretion 
                and HabitRPG hereby disclaims any and all liability to you or any third 
                party relating thereto. HabitRPG reserves the right to contact Members, 
                in compliance with applicable law, in order to evaluate compliance with 
                the rules and policies in these Terms of Service. You will cooperate 
                fully with HabitRPG to investigate any suspected unlawful, fraudulent or 
                improper activity, including, without limitation, granting authorized 
                HabitRPG representatives access to any password-protected portions of 
                your HabitRPG Account.
            </p>
            <p>
                <strong>General Prohibitions</strong>
                <br>
                You agree not to do any of the following while using the Services or 
                HabitRPG Content:
                <br>
            </p>
            <ul>
                <li>
                    Post, upload, publish, submit or transmit any text, graphics, 
                    images, software, music, audio, video, information or other material 
                    that: (i) infringes, misappropriates or violates a third party's 
                    patent, copyright, trademark, trade secret, moral rights or other 
                    intellectual property rights, or rights of publicity or privacy; (ii) 
                    violates, or encourages any conduct that would violate, any applicable 
                    law or regulation or would give rise to civil liability; (iii) is 
                    fraudulent, false, misleading or deceptive; (iv) is defamatory, 
                    obscene, pornographic, vulgar or offensive; (v) promotes 
                    discrimination, bigotry, racism, hatred, harassment or harm against any 
                    individual or group; (vi) is violent or threatening or promotes 
                    violence or actions that are threatening to any other person; or (vii) 
                    promotes illegal or harmful activities or substances (including but not 
                    limited to activities that promote or provide instructional information 
                    regarding the manufacture or purchase of illegal weapons or illegal 
                    substances).
                </li>
                <li>
                    Use, display, mirror, frame or utilize framing techniques to 
                    enclose the Services, or any individual element or materials within the 
                    Services, HabitRPG's name, any HabitRPG trademark, logo or other 
                    proprietary information, the content of any text or the layout and 
                    design of any page or form contained on a page, without HabitRPG's 
                    express written consent; 
                </li>
                <li>
                    Access, tamper with, or use non-public areas of the Services, 
                    HabitRPG's computer systems, or the technical delivery systems of 
                    HabitRPG's providers;
                </li>
                <li>
                    Attempt to probe, scan, or test the vulnerability of any 
                    HabitRPG system or network or breach any security or authentication 
                    measures;
                </li>
                <li>
                    Avoid, bypass, remove, deactivate, impair, descramble or 
                    otherwise circumvent any technological measure implemented by HabitRPG 
                    or any of HabitRPG's providers or any other third party (including 
                    another user) to protect the Services or HabitRPG Content;
                </li>
                <li>
                    Attempt to access or search the Services or HabitRPG Content or 
                    download HabitRPG Content from the Services through the use of any 
                    engine, software, tool, agent, device or mechanism (including spiders, 
                    robots, crawlers, data mining tools or the like) other than the 
                    software and/or search agents provided by HabitRPG or other generally 
                    available third party web browsers (such as Google Chrome, Microsoft 
                    Internet Explorer, Mozilla Firefox, Safari or Opera);
                </li>
                <li>
                    Send any unsolicited or unauthorized advertising, promotional 
                    materials, email, junk mail, spam, chain letters or other form of 
                    solicitation;
                </li>
                <li>
                    Use any meta tags or other hidden text or metadata utilizing a 
                    HabitRPG trademark, logo URL or product name without HabitRPG's express 
                    written consent;
                </li>
                <li>
                    Use the Services or HabitRPG Content for any commercial purpose 
                    or the benefit of any third party or in any manner not permitted by 
                    these Terms of Service;
                </li>
                <li>
                    Forge any TCP/IP packet header or any part of the header 
                    information in any email or newsgroup posting, or in any way use the 
                    Services or HabitRPG Content to send altered, deceptive or false 
                    source-identifying information;
                </li>
                <li>
                    Attempt to decipher, decompile, disassemble or reverse 
                    engineer any of the software used to provide the Services or HabitRPG 
                    Content;
                </li>
                <li>
                    Interfere with, or attempt to interfere with, the access of 
                    any user, host or network, including, without limitation, sending a 
                    virus, overloading, flooding, spamming, or mail-bombing the Services;
                </li>
                <li>
                    Collect or store any personally identifiable information from 
                    the Services from other users of the Services without their express 
                    permission;
                </li>
                <li>
                    Impersonate or misrepresent your affiliation with any person 
                    or entity; Violate any applicable law or regulation; or 
                </li>
                <li>
                    Encourage or enable any other individual to do any of the 
                    foregoing.
                </li>
            </ul>
            <p>
                HabitRPG will have the right to investigate and prosecute 
                violations of any of the above, including intellectual property rights 
                infringement and Services security issues, to the fullest extent of the 
                law. HabitRPG may involve and cooperate with law enforcement authorities 
                in prosecuting users who violate these Terms of Service. You acknowledge 
                that HabitRPG has no obligation to monitor your access to or use of the 
                Services or HabitRPG Content or to review or edit any Public User Content, but 
                has the right to do so for the purpose of operating the Services, to 
                ensure your compliance with these Terms of Service, or to comply with 
                applicable law or the order or requirement of a court, administrative 
                agency or other governmental body. HabitRPG reserves the right, at any 
                time and without prior notice, to remove or disable access to any 
                HabitRPG Content, including, any Public User Content, that HabitRPG, in its sole 
                discretion, considers to be in violation of these Terms of Service or 
                otherwise harmful to the Services.
            </p>
            <p>
                <strong>Links</strong>
                <br>
                The Services may contain links to third-party websites or resources. You 
                acknowledge and agree that HabitRPG is not responsible or liable for: (i) 
                the availability or accuracy of such websites or resources; or (ii) the 
                content, products, or services on or available from such websites or 
                resources. Links to such websites or resources do not imply any 
                endorsement by HabitRPG of such websites or resources or the content, 
                products, or services available from such websites or resources. You 
                acknowledge sole responsibility for and assume all risk arising from 
                your use of any such websites or resources.
            </p>
            <p>
                <strong>Termination and HabitRPG Account; Cancellation</strong>
                <br>
                Without limiting other remedies, HabitRPG may at any time suspend or 
                terminate your HabitRPG Account and refuse to provide access to the 
                Services. In addition, HabitRPG may notify authorities or take any 
                actions it deems appropriate, without notice to you, if HabitRPG suspects 
                or determines, in its own discretion, that you may have or there is a 
                significant risk that you have (i) failed to comply with any provision 
                of these Terms of Service or any policies or rules established by 
                HabitRPG; or (ii) engaged in actions relating to or in the course of 
                using the Services that may be illegal or cause liability, harm, 
                embarrassment, harassment, abuse or disruption for you, HabitRPG Users, 
                HabitRPG or any other third parties or the Services. 
            </p>
            <p>
                You may terminate your HabitRPG Account at any time and for any 
                reason by sending email to support AT HabitRPG.com. Upon any termination 
                by a Member, the related account will no longer be accessible. 
            </p>
            <p>
                After any termination, you understand and acknowledge that we 
                will have no further obligation to provide the Services and all licenses 
                and other rights granted to you by these Terms of Service will 
                immediately cease. HabitRPG will not be liable to you or any third party 
                for termination of the Services or termination of your use of either. 
                UPON ANY TERMINATION OR SUSPENSION, ANY CONTENT, MATERIALS OR 
                INFORMATION (INCLUDING PUBLIC USER CONTENT) THAT YOU HAVE SUBMITTED ON THE 
                SERVICES OR THAT WHICH IS RELATED TO YOUR ACCOUNT MAY NO LONGER BE 
                ACCESSED BY YOU. Furthermore, HabitRPG will have no obligation to 
                maintain any information stored in our database related to your account 
                or to forward any information to you or any third party.
            </p>
            <p>
                Any suspension, termination or cancellation will not affect your 
                obligations to HabitRPG under these Terms of Service (including, without 
                limitation, proprietary rights and ownership, indemnification and 
                limitation of liability), which by their sense and context are intended 
                to survive such suspension, termination or cancellation.
            </p>
            <p>
                <strong>Disclaimers</strong>
                <br>
                THE SERVICES, HABITRPG CONTENT AND PUBLIC USER CONTENT ARE PROVIDED "AS IS", 
                WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT 
                LIMITING THE FOREGOING, HABITRPG EXPLICITLY DISCLAIMS ANY WARRANTIES OF 
                MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR 
                NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR 
                USAGE OF TRADE.
            </p>
            <p>
                HABITRPG MAKES NO WARRANTY THAT THE SERVICES, HABITRPG CONTENT OR 
                PUBLIC USER CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN 
                UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. HABITRPG MAKES NO WARRANTY 
                REGARDING THE QUALITY OF ANY PRODUCTS, SERVICES OR CONTENT PURCHASED OR 
                OBTAINED THROUGH THE SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, 
                COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH THE 
                SERVICES.
            </p>
            <p>
                NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM 
                HABITRPG OR THROUGH THE SERVICES, HABITRPG CONTENT OR PUBLIC USER CONTENT, WILL 
                CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.
            </p>
            <p>
                <strong>Indemnity</strong>
                <br>
                You agree to defend, indemnify, and hold HabitRPG, its officers, 
                directors, employees and agents, harmless from and against any claims, 
                liabilities, damages, losses, and expenses, including, without 
                limitation, reasonable legal and accounting fees, arising out of or in 
                any way connected with Public User Content you submit to HabitRPG, your access 
                to or use of the Services or HabitRPG Content, or your violation of these 
                Terms of Service.
            </p>
            <p>
                <strong>Limitation of Liability</strong>
                <br>
                YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, 
                THE ENTIRE RISK ARISING OUT OF YOUR ACCESS TO AND USE OF THE SERVICES 
                AND CONTENT THEREIN REMAINS WITH YOU. NEITHER HABITRPG NOR ANY OTHER 
                PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES OR 
                HABITRPG CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR 
                CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF 
                GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE 
                COST OF SUBSTITUTE PRODUCTS OR SERVICES, ARISING OUT OF OR IN CONNECTION 
                WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES OR 
                CONTENT THEREIN, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING 
                NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR 
                NOT HABITRPG HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF 
                A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS 
                ESSENTIAL PURPOSE. YOU SPECIFICALLY ACKNOWLEDGE THAT HABITRPG IS NOT 
                LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS 
                OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS 
                ENTIRELY WITH YOU. FURTHER, HABITRPG WILL HAVE NO LIABILITY TO YOU OR TO 
                ANY THIRD PARTY FOR ANY PUBLIC USER CONTENT OR THIRD-PARTY CONTENT UPLOADED 
                ONTO OR DOWNLOADED FROM THE SITES OR THROUGH THE SERVICES.
            </p>
            <p>
                IN NO EVENT WILL HABITRPG'S AGGREGATE LIABILITY ARISING OUT OF OR 
                IN CONNECTION WITH THESE TERMS OF SERVICE OR FROM THE USE OF OR 
                INABILITY TO USE THE SITE, SERVICES OR CONTENT THEREIN EXCEED ONE 
                HUNDRED U.S. DOLLARS ($100). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE 
                ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN HABITRPG AND 
                YOU. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF 
                LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE 
                LIMITATION MAY NOT APPLY TO YOU.
            </p>
            <p>
                <strong>Proprietary Rights Notices</strong>
                <br>
                All trademarks, service marks, logos, trade names and any other 
                proprietary designations of HabitRPG used herein are trademarks or 
                registered trademarks of HabitRPG. Any other trademarks, service marks, 
                logos, trade names and any other proprietary designations are the 
                trademarks or registered trademarks of their respective parties. 
            </p>
            <p>
                <strong>Controlling Law and Jurisdiction</strong>
                <br>
                These Terms of Service and any action related thereto will be governed 
                by the laws of the State of California without regard to its conflict of 
                laws provisions. The exclusive jurisdiction and venue of any action with 
                respect to the subject matter of these Terms of Service will be the 
                courts having jurisdiction over disputes arising in Santa Clara County, 
                California, and each of the parties hereto waives any objection to 
                jurisdiction and venue in such courts.
            </p>
            <p>
                YOU AGREE THAT IF YOU WANT TO SUE US, YOU MUST FILE YOUR LAWSUIT 
                WITHIN ONE YEAR AFTER THE EVENT THAT GAVE RISE TO YOUR LAWSUIT. 
                OTHERWISE, YOUR LAWSUIT WILL BE PERMANENTLY BARRED.
            </p>
            <p>
                <strong>Export Control</strong>
                <br>
                You may not use or otherwise export or re-export the Services except as 
                authorized by United States law and the laws of the jurisdiction in 
                which the Services were obtained. In particular, but without limitation, 
                the Services may not be exported or re-exported (a) into any U.S. 
                embargoed countries or (b) to anyone on the U.S. Treasury Department's 
                list of Specially Designated Nationals or the U.S. Department of 
                Commerce Denied Person's List or Entity List. By using the Services, you 
                represent and warrant that you are not located in any such country or on 
                any such list. You also agree that you will not use these products for 
                any purposes prohibited by United States law, including, without 
                limitation, the development, design, manufacture or production of 
                nuclear, missiles, or chemical or biological weapons.
            </p>
            <p>
                <strong>Entire Agreement</strong>
                <br>
                These Terms of Service constitute the entire and exclusive understanding 
                and agreement between HabitRPG and you regarding the Services and HabitRPG 
                Content, and these Terms of Service supersede and replace any and all 
                prior oral or written understandings or agreements between HabitRPG and 
                you regarding the Services and HabitRPG Content.
            </p>
            <p>
                <strong>Assignment</strong>
                <br>
                You may not assign or transfer these Terms of Service, by operation of 
                law or otherwise, without HabitRPG's prior written consent. Any attempt 
                by you to assign or transfer these Terms of Service, without such 
                consent, will be null and of no effect. HabitRPG may freely assign these 
                Terms of Service. Subject to the foregoing, these Terms of Service will 
                bind and inure to the benefit of the parties, their successors and 
                permitted assigns.
            </p>
            <p>
                <strong>Notices</strong>
                <br>
                You consent to the use of: (i) electronic means to complete these Terms 
                of Service and to deliver any notices or other communications permitted 
                or required hereunder; and (ii) electronic records to store information 
                related to these Terms of Service or your use of the Services. Any 
                notices or other communications permitted to required hereunder, 
                including those regarding modifications to these Terms of Service, will 
                be in writing and given: (x) by HabitRPG via email (in each case to the 
                address that you provide) or (y) by posting to the Sites or Services. 
                For notices made by e-mail, the date of receipt will be deemed the date 
                on which such notice is transmitted.
            </p>
            <p>
                <strong>General</strong>
                <br>
                The failure of HabitRPG to enforce any right or provision of these Terms 
                of Service will not constitute a waiver of future enforcement of that 
                right or provision. The waiver of any such right or provision will be 
                effective only if in writing and signed by a duly authorized 
                representative of HabitRPG. Except as expressly set forth in these Terms 
                of Service, the exercise by either party of any of its remedies under 
                these Terms of Service will be without prejudice to its other remedies 
                under these Terms of Service or otherwise. If for any reason a court of 
                competent jurisdiction finds any provision of these Terms of Service 
                invalid or unenforceable, that provision will be enforced to the maximum 
                extent permissible and the other provisions of these Terms of Service 
                will remain in full force and effect.
            </p>
            <p>
                <strong>Contacting Us</strong>
                <br>
                If you have any questions about these Terms of Service, please contact 
                us at tylerrenelle@gmail.com.
            </p>
            <div id="home_static_footer">
                © 2012 OCDevel
            </div>

        </div>
    </div>
    <app:footer:footer />
