doctype html
html(ng-app="habitrpg")
  head
    title=title
    link(rel='shortcut icon', href='#{env.getBuildUrl("favicon.ico")}?v=3')

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')

    // .slice(0).push('user') is to clone the array,
    // to be surethat  `user` is never available to other requests' env
    // TODO does it need only `user` in clientVars, not the others?
    -
      clientVars = env.clientVars.slice(0);
      clientVars.push('user');

    script(type='text/javascript').
      window.env = !{JSON.stringify(env._.pick(env, clientVars))};

    != env.getManifestFiles("app")

    script(type='text/javascript').
      window.habitrpg
      .controller('StaticAvatarCtrl', ['$scope', function($scope){
        $scope.profile = window.env.user;
      }])

    //webfonts
    link(href='//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic', rel='stylesheet', type='text/css')

  body(ng-cloak)
    include ./shared/avatar/index
    div(ng-controller='StaticAvatarCtrl')
      +herobox({main:true})
