fieldset.option-group(ng-if='task.type=="todo" && canEdit(task)')
  legend.option-title=env.t('dueDate')
  input.option-content.datepicker(type='text', ng-model='task._edit.date',
    datepicker-popup='{{::user.preferences.dateFormat}}', is-open='datepickerOpened',
    ng-click='datepickerOpened = true')

