div(ng-if='user.flags.dropsEnabled')
  h4(class=mobile?'item item-divider':'')=env.t('pets')

  table.table.table-striped
    +basicRow('petsFound','{{_.size(profile.items.pets)}}')
    +basicRow('beastMasterProgress','{{profile.petCount}}/90')

  h4(class=mobile?'item item-divider':'')=env.t('mounts')

  table.table.table-striped
    +basicRow('mountsTamed','{{_.size(profile.items.mounts)}}')
    +basicRow('mountMasterProgress','{{profile.mountCount}}/90')
