<div class="user-menu">
    <button ng-hide="loggedIn" class="task-action-btn tile solid" href="#" data-target="#login-modal" data-toggle="modal">Login / Register</button>
    <ul ng-show="loggedIn" class="nav site-nav">
        <li class="flyout">
            <h1 class="task-action-btn tile solid user-reporter"><i ng-show="user.party.invitation" class='icon-bell'></i>{{username(user.auth, user.profile.name)}}</h1>
            <ul class="flyout-content nav stacked">
                <li><a class="task-action-btn tile solid" data-target="#settings-modal" data-toggle="modal">Settings</a></li>
                <li><a class="task-action-btn tile solid" data-target="#party-modal" data-toggle="modal"><i ng-show="user.party.invitation" class='icon-bell'></i>Party</a></li>
                <li><a class="task-action-btn tile solid" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>