.background {
    background: teal;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

.component-showcase {
    position: absolute;
    margin: 20px;
    width: calc(100% - 40px);
}
