option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 900
commands:
  01_sym_node:
    command: "ln -sf $(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin/node /bin/node"
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/41update_npm.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      $(ls -td /opt/elasticbeanstalk/node-install/node-* | head -1)/bin/npm install -g npm@5
container_commands:
  01_makeBabel:
    command: "touch /tmp/.babel.json"
  02_ownBabel:
    command: "chmod a+rw /tmp/.babel.json"
  03_installGulp:
    command: "$NODE_HOME/bin/npm install -g gulp"
  04_runGulp:
    command: "$NODE_HOME/lib/node_modules/gulp/bin/gulp.js build"
