// Place all the styles related to the Habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bad, .bad a{ 
  background-color:rgb(224, 102, 102); 
  color:white !important;
  }
.iffy { background-color:rgb(246, 178, 107); }
.ok { background-color:rgb(255, 217, 102); }
.good { background-color:rgb(147, 196, 125); }
.done { background-color:rgb(201, 218, 248); }

.panel {
  vertical-align:top;
  min-width: 300px;
}

.panel ul {
  padding:0px;
  margin-left:0px;
}

.habit {
  list-style:none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding:5px;
  text-shadow:none;
}

.habit:hover {
  cursor: move;
}

.up, .down, .check {
  text-decoration:none;
}

.up, .down { font-weight: bold; }

.edit { float:right; }
