mixin simpleAchiev(achiev)
  div(popover-title='{{achiev.title}}',
    data-popover-html='{{achiev.text}}',
    popover-trigger='mouseenter',
    popover-placement='left',
    popover-append-to-body='true')&attributes(attributes)

    button.pet-button
      .achievement(ng-class='achiev.icon + "2x"', ng-if='achiev.earned')
        .counter.badge.badge-info.stack-count(ng-if='(achiev.optionalCount)')
          {{::achiev.optionalCount}}
      .achievement(class='achievement-unearned2x', ng-if='!(achiev.earned)')


.container-fluid
  .row
    .col-md-12(ng-repeat='(key,cat) in achievements', ng-init='heading=env.t(key+"Achievs")')
      h4 {{heading}}
      menu.pets.inventory-list(type='list')
        li.customize-menu
          menu
            div(ng-repeat='achiev in cat.achievements | toArray | orderBy: "index"')
              +simpleAchiev('achiev')

hr

include ./achievs/challenges
include ./achievs/quests
