if mobile
  .item.item-divider=env.t('achievements')

include ./achievs/special-achievs

include ./achievs/basic-achievs

include ./achievs/seasonal-achievs

include ./achievs/challenges

include ./achievs/quests
