script(type='text/ng-template', id='partials/groups.tasks.actions.html')
  div(ng-if="group.leader._id === user._id")
    strong Assign Task
    group-members-autocomplete(ng-model="assignedMembers")
  
