script(type='text/ng-template', id='partials/groups.tasks.approvals.html')
  .panel-group(ng-repeat="approval in approvals")
    .panel.panel-default
      .panel-heading
        span {{approvalTitle(approval)}}
        a.btn.btn-sm.btn-success.pull-right(ng-click="approve(approval.group.taskId, approval.userId._id)")=env.t('approve')
