script(type='text/ng-template', id='partials/groups.tasks.approvals.html')
  .panel-group(ng-repeat="approval in approvals")
    .panel.panel-default
      .panel-heading
        | {{approval.text}} for user: {{approval.userId.profile.name}}
        a.btn.btn-sm.btn-success(ng-click="approve(approval.group.taskId, approval.userId)") Approve
      .panel-body
