include ./create-group

script(type='text/ng-template', id='partials/options.social.groupPlans.html')
  div(ng-show='activePage === PAGES.BENEFITS')
    +groupPlansBenefits
    
    br
    br
    .row
      .col-sm-6.col-sm-offset-3
        a.btn.btn-primary.btn-lg.btn-block(ng-click="changePage(PAGES.CREATE_GROUP)")=env.t('createAGroup')

  div(ng-show='activePage === PAGES.CREATE_GROUP')
    h2.text-center=env.t('createAGroup')
    
    .col-xs-12
      +groupCreateForm
    
    br
    br
    .row
      .col-sm-6.col-sm-offset-3
        a.btn.btn-primary.btn-lg.btn-block(ng-click="createGroup()", ng-disabled="!newGroupIsReady()")=env.t('create')

  div(ng-show='activePage === PAGES.UPGRADE_GROUP')
    h2.text-center=env.t('upgradeTitle')
    
    .row.text-center
      .col-md-6.col-md-offset-3
        a.purchase.btn.btn-primary(ng-click='upgradeGroup(PAYMENTS.STRIPE)')=env.t('card')
        a.purchase(ng-click='upgradeGroup(PAYMENTS.AMAZON)')
          img(src='https://payments.amazon.com/gp/cba/button', alt=env.t('amazonPayments'))
     //-  .col-xs-4
     //-    a.purchase(href='/paypal/subscribe?_id={{user._id}}&apiToken={{User.settings.auth.apiToken}}&sub={{_subscription.key}}{{_subscription.coupon ? "&coupon="+_subscription.coupon : ""}}&groupId={{group.id}}', ng-disabled='!_subscription.key')
     //-      img(src='https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-small.png',alt=env.t('paypal'))
