
script(type='text/ng-template', id='partials/options.social.groupPlans.html')
  div(ng-show='activePage === PAGES.BENEFITS')
    +groupPlansBenefits

    br
    br
    .row
      .col-sm-6.col-sm-offset-3
        a.btn.btn-primary.btn-lg.btn-block(ui-sref="options.social.newGroup")=env.t('createAGroup')

    .row
      .col-md-6.col-md-offset-3
        br
        .text-center=env.t('groupSubscriptionPrice')

