<!--<ng-include src="'views/modals/main.html'" />-->
<!--<ng-include src="'views/alerts/new-stuff.html'" />-->

<div class="header-wrap">
    <!--{#if _undo}<a x-bind="click:undo" class='label undo-button'>Undo</a>{/}-->
    <ng-include src="'views/account/menu.html'"></ng-include>
    <ng-include src="'views/header.html'"></ng-include>
</div>

<br/>

<div id="notification-area"></div>
<div id="wrap">
  <!--<app:alerts:flash />-->
  <div id="exp-chart" style="display:none;"></div>
  <div id=main class="grid">
    <ng-include src="'views/tasks/tasks.html'"></ng-include>
  </div>
</div>


<ng-include src="'views/footer.html'" />
