extends ./layout
//-Trick needed to pass 'env' to ./layout
block vars
  - var layoutEnv = env
  - var menuItem = 'contact'

block title
  title=env.t('contactUs')

block content
  .row
    .col-md-12
      .page-header
        h1=env.t('contactUs')
      p
        =env.t('reportAccountProblems')
        | &colon;&nbsp;
        a(href='mailto:admin@habitica.com') admin&commat;habitica&period;com
        br
        =env.t('reportBug')
        | &colon;&nbsp;
        a(target='_blank', href='https://github.com/HabitRPG/habitrpg/issues?q=is%3Aopen') GitHub
        br
        =env.t('reportCommunityIssues')
        | &colon;&nbsp;
        a(href='mailto:admin@habitica.com') admin&commat;habitica&period;com
        br
        =env.t('subscriptionPaymentIssues')
        | &colon;&nbsp;
        a(href='mailto:admin@habitica.com') admin&commat;habitica&period;com
        br
        =env.t('generalQuestionsSite')
        | &colon;&nbsp;
        a(target='_blank', href='http://habitica.wikia.com/wiki/The_Keep:The_Newbies_Guild') Newbies Guild
        br
        =env.t('businessInquiries')
        | &colon;&nbsp;
        a(href='mailto:vicky@habitica.com') vicky&commat;habitica&period;com
        br
        =env.t('merchandiseInquiries')
        | &colon;&nbsp;
        a(href='mailto:store@habitica.com') store&commat;habitica&period;com
        br
        =env.t('marketingInquiries')
        | &colon;&nbsp;
        a(href='mailto:leslie@habitica.com') leslie&commat;habitica&period;com
