extends ./layout
//-Trick needed to pass 'env' to ./layout
block vars
  - var layoutEnv = env

block title
  title=env.t('overview')

block content
  .row
    .col-md-12
      .page-header
        h1=env.t('overview')
      p
        =env.t('needTips')

      - var stepsNum = ['1', '2', '3']
      - for step in stepsNum
        h3=env.t('step'+step)
        p
          !=md.unsafeHTMLRender(env.t('webStep'+step+'Text'))
        hr
      !=md.unsafeHTMLRender(env.t('overviewQuestions'))
