extends ./layout

block vars
  - var layoutEnv = env // needed to pass env variable to ./layout

block title
  title Habitica &VerticalLine;&nbsp;
    =env.t('passwordResetPage')

block content
  .row(ng-controller='AccordionCtrl')
    .col-md-12
      .page-header
        h1=env.t('passwordResetPage')
      if message
        p.lead(class=hasError ? 'text-danger' : 'text-success')=message
        hr
      if hasError || !message
        form
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Email')
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
          .checkbox
            label
              input(type='checkbox')
              |  Check me out
          button.btn.btn-default(type='submit') Submit
