extends ./layout

block vars
  - var layoutEnv = env // needed to pass env variable to ./layout

block title
  title Habitica &VerticalLine;&nbsp;
    =env.t('passwordResetPage')

block content
  .row(ng-controller='AccordionCtrl')
    .col-md-12
      .page-header
        h1=env.t('passwordResetPage')