<div id="progressbar" style="width:30%;"><span id="tnl">(Level 1)&nbsp;&nbsp;&nbsp;<%= score %>/100</span></div>
<script>
$(function() {
  $( "#progressbar" ).progressbar({
    value: <%= score %>
  });
});
</script>