<%= link_to 'Back', habits_url %>

<table id="layout">
  <tr>

    <td class="panel">
      <div class="block">
        <div class='content'>
          <h2 class='title'>Completed</h2>
          <div class='inner'>
            <ul id="daily">
            <% @one_time.each do |habit| %>
              <%= render :partial => "habit", :locals => { :habit => habit } %>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </td>
    
  </tr>
</table>
