
<%= link_to 'New Habit', new_habit_path %>

<table>
  <tr><td>
  <div id="habits">
    <h2>Habits</h2>
    <ul>
    <% @habits.each do |habit| %>
      <li><%= render :partial => "habit", :locals => { :habit => habit } %></li>
    <% end %>
    </ul>
  </div>
  </td>
  
  <td>
  <div id="daily">
    <h2>Daily</h2>
    <ul>
    <% @todos.each do |habit| %>
      <li><%= render :partial => "habit", :locals => { :habit => habit } %></li>
    <% end %>
    </ul>
  </div>
  </td></tr>
  
</table>
