<div id="habits"></div>

<script type="text/javascript">
  $(function() {
    // HabitTracker is the app name
    window.router = new HabitTracker.Routers.HabitsRouter({habits: <%= @habits.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
