<h1>Score: <span id="score"><%= @score %></span></h1>
<%= link_to 'New Habit', new_habit_path %>

<table id="layout">
  <tr>
    <th>Habits</th>
    <th>Daily</th>
  </tr>
  <tr>
    <td class="panel">
      <ul id="habits">
      <% @habits.each do |habit| %>
        <%= render :partial => "habit", :locals => { :habit => habit } %>
      <% end %>
      </ul>
    </td>
    
    <td class="panel">
      <ul id="daily">
      <% @daily.each do |habit| %>
        <%= render :partial => "habit", :locals => { :habit => habit } %>
      <% end %>
      </ul>
    </td>
  </tr>
</table>
